[2021-03-14 14:15] ferdicus commented on #2617
@yungkittty , should definitely open a PR with that 🙇🏿 👏🏿

[2021-03-14 14:42] sammysium commented on #2607
@ShaunStanley @ZoltanSzokodi likely not what you are looking for but I mocked the component/button which launches it. So the component is GoogleAuth.js in my case. I put GoogleAuth.e2e.js in same folder but mock it to return predefined user. Of course, the idToken will never be valid but if your backend depends on other info, it does work well.

[2021-03-14 15:27] d4vidi commented on #2607
Hot out of the oven is our support for web-views on Android (aka Detox-web). Perhaps that could help you out, at least for Android tests?
- [Release notes](https://github.com/wix/Detox/releases/tag/18.7.0)
- [Pull request](https://github.com/wix/Detox/pull/2538) with API details

[2021-03-14 15:29] sammysium commented on #2607
@d4vidi thanks so much! Looks promising!

[2021-03-14 16:01] franznkemaka commented on #2327
Thanks very much for the explanation @d4vidi

[2021-03-14 16:05] franznkemaka commented on #2327
Since this is the desired behavior, I will close the issue. But it means that the problem can't be solved yet on Android.

[2021-03-14 16:05] #2327 closed

[2021-03-14 16:31] botika commented on #2612
@d4vidi Sorry, I had seen it. Thanks a lot.

[2021-03-14 16:48] d4vidi commented on #2327
You can watch this issue: #1695

[2021-03-14 18:43] sammysium commented on #2607
Gave it a shot with google sign in; it didn't work but might not be a detox issue.

`<input type="email" class="whsOnd zHQkBf" jsname="YPqjbf" autocomplete="username" spellcheck="false" tabindex="0"
aria-label="Email or phone" name="identifier" value="" autocapitalize="none"
id="identifierId" dir="ltr" data-initial-dir="ltr" data-initial-value="">`

this is from google login form. I am then doing:

[2021-03-15 06:44] hamidhadi commented on #2630
@alon-ha Sorry for being late.
Here is an example of the scenario that we're facing. Please let me know if there is something unclear.
https://github.com/hamidhadi/DetoxSynchronisation.

[2021-03-15 11:40] MoeMamdouh commented on #2665
any updates, I'm facing the same issue in iOS
[code]

[2021-03-15 13:35] d4vidi commented on #2607
So what eventually happens when you do this - a timeout? @noomorph

[2021-03-15 15:31] sammysium commented on #2607
it exits with error:  Test Failed: Wait for [com.wix.detox.reactnative.idlingresources.AnimatedModuleIdlingResource] to become idle timed out

[2021-03-15 15:46] d4vidi commented on #2607
That suggests there is an infinite animation running indefinitely, somewhere - regardless of the sign in. A loader, maybe?

[2021-03-15 15:52] sammysium commented on #2607
well when you click the google signin button, it loads a loader on its own then opens the login page...not sure what happens to that loader after the login UI is loaded.

[2021-03-15 16:10] d4vidi commented on #2607
And that's the point where the test hangs? Can you share a screenshot?

[2021-03-15 16:15] olexandr13 commented on #2617
@yungkittty thank you a lot for your solution!

I have configured the tests similar to your code but got error
`Error: ENOENT: no such file or directory, open 'undefined/licenses/android-sdk-arm-dbt-license'`
Did not find solution for now... Setting android_home did not help.

[2021-03-15 16:19] sammysium commented on #2607
yes it shows the login screen, waits for some seconds then displays the error as you see blow

[2021-03-15 16:20] sammysium commented on #2607
![image](https://user-images.githubusercontent.com/46919720/111185797-0ab5d780-85bb-11eb-89b0-feb4f86406f0.png)
![Screenshot_1615825202](https://user-images.githubusercontent.com/46919720/111185870-1d301100-85bb-11eb-85c3-0e819a0782bd.png)
![Screenshot_1615825210](https://user-images.githubusercontent.com/46919720/111185876-1ef9d480-85bb-11eb-827b-77ab843751d4.png)

[2021-03-15 16:21] sammysium commented on #2607
the tap() action opens the google login...no loader is directly attached to it...it just calls signIn() method of google which shows the login UI

[2021-03-15 16:30] sammysium commented on #2607
any chance the google stuff runs on its own process that Detox can't detect? Happy to do a small PR for you to check out.

[2021-03-15 16:36] yusufyildirim commented on #2665
In my case, my app was trying to connect to an endpoint in the background and that endpoint was unreachable due to VPN or firewall, etc. doesn't really matter. It's really easy to miss this kind of situation. So, double-check your background activities. If you're confident that's not because of your code, then check the libraries you use

[2021-03-15 18:40] yungkittty commented on #2617
@ferdicus I'll try to do that when I've some free time. @olexandr13 I don't remember having a similar error, I'd say to double check that the configuration is exactly the same, especially on the action that installs java and the android emulator. I can't help you much more, sorry 🤷‍♂️

[2021-03-15 18:44] olexandr13 commented on #2617
@yungkittty looks like this issue does not depend on configuration.
Your code works great! Thanks )
Will try to fix by myself, don't spend time on it. And thank you again )

[2021-03-15 20:14] d4vidi commented on #2327
@franznkemaka I take it back - you can apply URL blacklisting dynamically using [`device.setURLBlacklist()`](https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#deviceseturlblacklisturls), which should work on Android as well.

[2021-03-15 22:30] franznkemaka commented on #2327
@d4vidi ok thanks I will check it out and let you know!

[2021-03-16 07:01] harshlukka2105 opened #2690 "How to tap on an icon using detox?"
I am using detox, and there is flow in my app, where i need to record a video. In the video screen there are start/stop icons which needs to be tapped. The video screen is in native android, so i cannot add testId to the respective icons. Can you tell me what needs to be done?

[2021-03-16 07:01] #2690 closed

[2021-03-16 08:47] d4vidi commented on #2607
I would advise to temporarily disable sync and resort to sleeps in this case (although not recommended) using [`device.disableSynchronization()`](https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#devicedisablesynchronization) -- however there are issues on Android. I'll sort them out and report back.

[2021-03-16 09:09] d4vidi commented on #2607
On 2nd thought, `AnimatedModuleIdlingResource` being busy suggests a *react native* animation is in-effect. I don't think it's likely that the animation gets somehow incepted by Google... could you please double check your screen components and try to look up an animation component, or even an animation "leak"?

[2021-03-16 12:19] electricmonk commented on #222
@sidferreira did you end up working on this? I have an interesting use case as I wrote [here](https://stackoverflow.com/questions/66654957/testing-share-share-in-react-native-with-detox), where we want to test a flow where a user shares a deeplink to the app. Assuming I'll be able to get Detox to tap the 'copy link' dialog (an assumption I'm not sure is valid), having this feature could really hel

[2021-03-16 14:55] sidferreira commented on #222
@electricmonk Sadly I couldn't. Some last-minute plans changed all my December schedule and still trying to get back on track.

[2021-03-16 16:00] MoeMamdouh commented on #2611
I had the same issue in iOS **release** build event it was working in **debug** build
my current react native version `"react-native": "0.61.5"`

i fix it by add in info.plist file

[code]
which is added by default since react-native version 0.64

[2021-03-16 16:00] MoeMamdouh commented on #2665
I had the same issue in iOS **release** build event it was working in **debug** build
my current react native version `"react-native": "0.61.5"`

i fix it by add in info.plist file

[code]
which is added by default since react-native version 0.64

[2021-03-16 16:02] MoeMamdouh commented on #2568
I had the same issue in iOS **release** build event it was working in **debug** build
my current react native version `"react-native": "0.61.5"`

i fix it by add in info.plist file

[code]
which is added by default since react-native version 0.64

[2021-03-16 16:02] MoeMamdouh commented on #2402
I had the same issue in iOS **release** build event it was working in **debug** build
my current react native version `"react-native": "0.61.5"`

i fix it by add in info.plist file

[code]
which is added by default since react-native version 0.64

[2021-03-16 16:02] MoeMamdouh commented on #2305
I had the same issue in iOS **release** build event it was working in **debug** build
my current react native version `"react-native": "0.61.5"`

i fix it by add in info.plist file

[code]
which is added by default since react-native version 0.64

[2021-03-16 16:03] MoeMamdouh commented on #2251
I had the same issue in iOS **release** build event it was working in **debug** build
my current react native version `"react-native": "0.61.5"`

i fix it by add in info.plist file

[code]
which is added by default since react-native version 0.64

[2021-03-16 21:02] watadarkstar opened #2692 "Detox Crash Signal 5 - iOS"
### Description
We have been getting a weird intermittent crash on iOS Detox (latest version 18.7.1 but was occurring in v17 too). It happens right after the app launches.

[code]

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction

We started to see this crash start to occur in Detox when we upgraded Apollo from v2 to v3. So I imagine the steps m

[2021-03-17 11:44] d4vidi commented on #2611
@MoeMamdouh Setting `NSAllowsArbitraryLoads` to `true` enables _all_ unsecure HTTP traffic and is therefore a bad approach. It can get your app to fail app-store reviews. Read all about it [here](https://developer.apple.com/documentation/bundleresources/information_property_list/nsapptransportsecurity/nsallowsarbitraryloads). Consider using [NSAllowsLocalNetworking](https://developer.apple.com/doc

[2021-03-17 11:45] d4vidi commented on #2665
@MoeMamdouh Setting `NSAllowsArbitraryLoads` to `true` enables _all_ unsecure HTTP traffic and is therefore a bad approach. It can get your app to fail app-store reviews. Read all about it [here](https://developer.apple.com/documentation/bundleresources/information_property_list/nsapptransportsecurity/nsallowsarbitraryloads). Consider using [NSAllowsLocalNetworking](https://developer.apple.com/doc

[2021-03-17 11:46] d4vidi commented on #2568
@MoeMamdouh Setting `NSAllowsArbitraryLoads` to `true` enables _all_ unsecure HTTP traffic and is therefore a bad approach. It can get your app to fail app-store reviews. Read all about it [here](https://developer.apple.com/documentation/bundleresources/information_property_list/nsapptransportsecurity/nsallowsarbitraryloads). Consider using [NSAllowsLocalNetworking](https://developer.apple.com/doc

[2021-03-18 13:06] #2605 closed

[2021-03-19 15:26] sumukhah opened #2694 "Error: Cannot find module 'mocha/lib/cli/run-option-metadata'"
Configuring Detox on android giving me this error on running `npx detox test --configuration android.emu.release`
* My .detoxrc is written similar to [this](https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md)

Getting this errors
<img width="907" alt="Screenshot 2021-03-19 at 8 56 11 PM" src="https://user-images.githubusercontent.com/23723464/111803925-8c786e80-88f5-11eb-8f54-8d

[2021-03-19 18:14] noomorph commented on #2694
I'll check if Mocha has changed anything in their folder structure.

[2021-03-19 18:16] noomorph commented on #2694
What version of Mocha do you use? @sumukhah

[2021-03-19 18:19] sumukhah commented on #2694
I am not using Mocha at all.(In my project)

[2021-03-19 18:20] noomorph commented on #2694
@sumukhah , there's something wrong with your `testRunner` property in your Detox config then.

[2021-03-19 18:24] sumukhah commented on #2694
I have generated it through detox init -r jest. So I believe it's correct.

[2021-03-19 18:26] sumukhah commented on #2694
Yes. testRunner is set to : "jest-circus/runner" in e2e/config.json

[2021-03-20 10:52] sammysium commented on #2607
@d4vidi you have a valid point but the animation is out of the google-sigin library itself. When i click button, i transition animation kicks in to open the google signin form. the app never goes into idle for detox to continue. If I interrupt the google sign in form (tapping on back button of the emulator), detox reports "app is idle" and tries to find the IdenfiterId form element. Does that make

[2021-03-20 15:02] sumukhah opened #2695 "Error: -[UITouch setIsTap:]: unrecognized selector sent to instance 0x7fa53ad53b50"
Running tests throw this error on ios
[code]

[2021-03-20 17:41] sammysium commented on #2607
i don't think i am being helpful for some reason but i am getting error Test Failed: No activities in stage RESUMED. Did you forget to launch the activity. (test.getActivity() or similar)?
       await web.element(by.web.cssSelector('#identifierId')).typeText('email');

at this stage, the google form is fully visible. but thanks for helping me figure out the animation issue.

[2021-03-20 21:51] sammysium commented on #2607
@d4vidi https://discuss.appium.io/t/espresso-driver-noactivityresumedexception/30012/2                does it makes sense? the scenarious are quite similar. Given detox still uses espresso for android (right?), perhaps it is limited by limitations of espresso?

[2021-03-21 09:00] d4vidi commented on #2607
Ouch. So, as it appears, the sign-in takes place in an independent google-made activity, `com.google.android.gms.auth.api.signin.internal.SignInHubActivity`. This kind of ruins things for us. Unless there's a way to start the sign-in flow inside the original activity, I don't see a way for this to work. I'm really sorry.

[2021-03-21 09:25] sammysium commented on #2607
@d4vidi yeah kinda figured it is a dead end as well.

[2021-03-21 16:19] d4vidi commented on #2558
Hey @kg-currenxie! According to the logs, something is keeping Espresso from properly injecting the finger-down & finger-up event of the tap on _password_. Would you mind enabling taps animation and the pointer-location bar and send us the recorded from the CI execution? Execute this:
[code]

To record videos, you can pass the `--record-video all` argument to `detox test`. The recorded videos will

[2021-03-21 16:21] d4vidi commented on #2558
Also, as a secondary course of action, would you mind adding a ~100 sleep between the two taps (user and password) -- to see whether it solves anything (please report back...)

[2021-03-22 09:10] noomorph commented on #2695
@sumukhah, you do realize that your bug report is incomplete, right?

What is your test doing (expectations, actions on the element) and could you please attach logs (run Detox with `--record-logs all`)?

[2021-03-22 09:18] d4vidi opened #2696 "just checking, please ignore"
will close soon

[2021-03-22 09:18] #2696 closed

[2021-03-22 10:04] d4vidi opened #2697 "just checking, round 2"

[2021-03-22 10:04] #2697 closed

[2021-03-22 16:44] noomorph commented on #2694
@sumukhah, actually I've been actually inquiring about your `detox.config.js` (or `.detoxrc.json`, ...), and not `e2e/config.json`.

[2021-03-22 17:18] sumukhah commented on #2694
Oh sorry...
My .detoxrc.json is

[code]

[2021-03-22 18:06] noomorph commented on #2694
@sumukhah , so this is exactly where I would expect to see:

[code]

Due to compatibility reasons, default runner for Detox is `mocha`, although de facto we recommend `jest`.

[2021-03-22 18:09] noomorph commented on #2694
@sumukhah , could you run `which mocha` in your terminal, please?

[2021-03-22 18:17] sumukhah commented on #2694
No i haven't installed mocha globally

[2021-03-22 18:22] noomorph commented on #2694
Thanks, now I get why I could not reproduce this issue. 👍
I'll improve the error message soon.

[2021-03-22 18:24] noomorph commented on #2694
Action items for the pull request:

- [ ] print a warning about an undefined `testRunner` property
- [ ] throw an error if the test runner cannot be resolved (have you installed?...)

[2021-03-22 18:46] chrisfinch opened #2699 "Simulate NFC scan event in Android with Detox"
Hi,

Thanks for providing this open source software, your effort is really appreciated.

The android app I want to test responds to scans of NFC tags;

 - A tag is scanned and depending on the status of that tag navigation and data loading occurs in the app.

 In order to test the app I need to simulate the scan event of different types of tags in order to trigger all my navigation routes.

From a

[2021-03-22 22:13] ckcollab opened #2700 "Mocking API backend, no effect?"
First of all: thanks so much for all the hard work, docs, etc. in Detox. I appreciate it hugely and tried hard to find a solution to this but I am rather new to React Native dev.

I've tried a series of tools to mock an API backend while running Detox, following all of their installation instructions a few times from scratch and am still failing. I've tried Mock Service Worker and Mirage at least,

[2021-03-23 09:31] olexandr13 opened #2701 "longPress method does not accept duration parameter"
### Description
`longPress` method does not accept the **duration** parameter, but this parameter is present in the documentation.

#### Environment (please complete the following information):
 - Detox: 18.7.1

[2021-03-23 09:35] #2701 closed

[2021-03-24 20:13] ericschaal commented on #2611
Same problem, I am using Trustkit with "kTSKSwizzleNetworkDelegates: @YES"!

[2021-03-25 08:29] onnerfors commented on #2648
Hello, sorry for the delay, @d4vidi I tried the same thing with version 17.14.9 and the issue reproduced 19 times out of the 20 I tried, it's the following code that fails:

[code]

@alon-ha I wish I could set up something similar to have you guys try it yourselves, but I don't have the RN skills for that yet

[2021-03-26 00:53] watadarkstar commented on #2692
Could you look at this issue @LeoNatan? 🤞

[2021-03-26 07:29] saransh-malik opened #2704 "Enable location with high accuracy on android"
I have an app that needs to use location at high accuracy and I am unable to test app with that on android. On iOS things work fine, but on android as and when I try to fetch location, I see this on the screen

<img width="394" alt="Screenshot 2021-03-26 at 12 59 59 PM" src="https://user-images.githubusercontent.com/56735972/112597567-48282980-8e33-11eb-9b69-b3b42babdae7.png">

Is there a way to a

[2021-03-26 09:55] anisimov74 commented on #2358
@LeoNatan thanks for the `detoxDebugVisibility` parameter! Is it possible somehow to configure the path where screenshots will be saved?

[2021-03-26 12:29] mikehardy commented on #2692
I was able to reproduce this while collaborating with @watadarkstar - but Adrian, I think what's happening here is that Signal 5 is just "trap", saying "there is something that registered an exception handler and we've trapped the exception and we're handing it off" - I think Detox just registered an exception handler and is not actually responsible for the stack, rather it is a bystander here

Th

[2021-03-26 15:01] watadarkstar commented on #2692
@mikehardy Thanks for the input! We have a few others working on this issue on our team, they think its due to a Sentry upgrade we made in January that's causing this. We are in the process of downgrading Sentry to see if it solves the issue.

Otherwise we will try to use Hermes for iOS but my fear is that its fairly cutting edge and might lead to other problems. It definitely will need more heavy

[2021-03-26 15:26] mikehardy commented on #2692
It is of course possible that any change to the javascript can trigger the JSC error, and it may be that whatever pathological thing that is happening in the JSC is triggered by the sentry thing, so backing that down could unstick you. Hermes is of course something that would require testing,

But this is an issue in the detox repo, so everything I write here is in that context - "what is useful h

[2021-03-26 15:31] watadarkstar commented on #2692
@mikehardy Yeah I'm now following, Detox being a bystander in all this. I just don't know where to file this issue sigh.

@LeoNatan Feel free to close this issue if you agree that its a JSC issue.

[2021-03-27 19:37] MFrat opened #2706 "Signal 11 was raised"
### Description
All tests fails very fast with `Signal 11 was raised`. Sometimes it works, but as soon as some test need reinstall app, it breaks.

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction
1. Build iOS .app
2. Start tests
3. All tests will fail very fast

#### Environment (please complete the following information):
 - Detox: 18.7.1
 - R

[2021-03-27 21:01] Vannevelj commented on #2661
Not stale, active feature request.

[2021-03-29 10:00] #2695 closed

[2021-03-29 14:37] dani-mp commented on #2630
Hey, @alon-ha & @d4vidi. We put together the project showcasing the issue, do you think you have time to take a look?

Otherwise, do you prefer we create a separate issue for this?

Thanks a lot for your help.

[2021-03-29 16:08] sumukhah opened #2708 "app binary not found at /<my-path>/android/build/app-debug.apk"
* I can run build (`detox build -c android.debug`) but i could not run `detox test -c android.debug`.
* When i manually navigate to /<my-path>/android/build/app-debug.apk , it is not showing any .apk files at all.

this is my detox setup `"android.debug": {
        "test-runner": "jest",
        "type": "android.emulator",
        "binaryPath": "android/app/build/outputs/apk/debug/app-debug.apk",

[2021-03-29 18:53] sumukhah commented on #2708
Sorry. It was my mistake.
I did not set `binaryPath` to the correct location where apk will be built.

[2021-03-29 18:53] #2708 closed

[2021-03-29 19:38] saransh-malik opened #2709 "Detox test hangs sometime on CI"
### Description
My test cases run fine most of the times, but some times oddly it just can't run tests at all. It works fine on my local always. I tried to put trace mode on to see what exactly was going wrong and logs attached below just keep on repeating. If I just start it all over again, the issue won't repeat and tests go just fine. Any ideas on what could be messing up here

- [x] I have tes

[2021-03-30 05:28] kg-currenxie commented on #2558
Seems we've found a way that seems more consistent:

Previous:
[code]

New:
[code]

We can close this issue :)

[2021-03-30 11:55] noomorph commented on #2550
Can we close this issue now?

[2021-03-31 07:47] sachgar opened #2710 "Test with renderRow of native base <List> component"
Hello,
I have defined testID on my <List> component and in his renderRow to implement detox tests, but this latter failed.

I want to test if the components exist or if they are visible.

Moreover, I have also tested with the <FlatList> component of RN but the error is same.

My screen :

[code]

tests.e2e.ts :

[code]

Error :

[code]

Thank you in advance for any help!

[2021-03-31 07:54] naum43312016 opened #2711 "Detox test on iOS hangs because of healthkit permission"
When I run detox test on iOS I got health access popup and because of it detox hangs, I have `permissions: { health: 'YES' }}); `when I am launching my app, but I am trying to run it on CI, and my test always hangs because of this. Every time on new virtual machine I get this problem. Image
<img width="389" alt="Screen Shot 2021-03-30 at 4 18 52 PM" src="https://user-images.githubusercontent.com/3

[2021-03-31 08:45] deermichel commented on #2706
I have a similar issue with Xcode 12.4, Big Sur 11.2.3, Detox 18.9.0, RN 0.64, iPhone 11 Simulator with iOS 14.4:

[code]

Works perfectly with Detox 17.14.9.

[2021-03-31 10:05] deermichel commented on #2706
**EDIT**
I tracked it down to the `@react-native-firebase/perf` package. Removing it solved the crashes for me.

somewhat related:
https://github.com/wix/Detox/issues/2627
https://github.com/wix/Detox/issues/2641
https://github.com/wix/DetoxSync/issues/5
https://github.com/firebase/firebase-ios-sdk/issues/7277

[2021-03-31 12:34] MFrat commented on #2706
@deermichel, nice catch. But what did you mean by removing? You just don't call or remove it entire from dependencies?

[2021-03-31 13:07] deermichel commented on #2706
I removed it from the deps for we didn't really use it anyways.

[2021-03-31 19:01] d4vidi commented on #2550
By all means. Of course, we can now also go ahead and create actual presets, to be used as skeleton configs =>
simplify `detox init`, maybe documentation (setup), etc...

[2021-03-31 19:21] d4vidi commented on #2641
All, we are currently on a break and a bit short-staffed at the moment, in general. We hope to get on top of this within 1-2 weeks. Here are similar discussions that could be relevant, in the meantime:
* https://github.com/wix/Detox/issues?q=label%3A%22z_domain%3A+detox18%22+crash
* https://github.com/wix/DetoxSync/issues/5

[2021-03-31 19:36] d4vidi commented on #2692
All, we are currently on a break and a bit short-staffed at the moment, in general. We hope to get on top of this within 1-2 weeks.

[2021-03-31 19:37] d4vidi commented on #2692
@watadarkstar was v7 a typo, referring to v17?

[2021-03-31 19:40] d4vidi commented on #2630
@dani-mp Thanks a million - we will take look, no need for a separate issue 🙏🏻
We are currently on a holiday break, I hope to get to this soon enough.

[2021-03-31 20:06] watadarkstar commented on #2692
@d4vidi Yes it was a typo (corrected it to v17). Thank you for responding!

[2021-03-31 21:23] #2706 closed

[2021-04-01 09:59] dani-mp commented on #2630
@d4vidi enjoy your holiday!

We did use Detox 17 and I believe we had the same issue, but I'm not 100 % sure. Then we transitioned to 18 to see if it was fixing it. We went back to 17 for some time because of some problems we had in CI (some extra flakiness), but we understood that it wasn't caused by the version and moved back to 18.

[2021-04-02 14:22] Andarius opened #2712 "Android build fails for libs with minSdkVersion 17 with react-native 0.64"
### Describe the bug
The following command fails after upgrading to RN 0.64

`./gradlew assembleDebug assembleAndroidTest -DtestBuildType=debug`

With the following message (only this library seems to fail).

[code]

Running `./gradlew assembleDebug`  or `./gradlew bundleRelease` then `npx react-native run-android --variant=release` works fine.

Maybe this issue should be posted in the [react-nati

[2021-04-02 16:55] #2650 closed

[2021-04-04 09:10] d4vidi commented on #2358
@anisimov74 unfortunately now. The screenshots are saved to the Desktop folder.

[2021-04-04 09:21] d4vidi commented on #2704
@saransh-malik This kind of popups is invisible to Detox (and Espresso), I'm afraid. As a different strategy, may I suggest enabling location in advance, so as to avoid having the popup appear in the first place: try to follow [this discussion](https://android.stackexchange.com/questions/40147/is-it-possible-to-enable-location-services-via-shell). Note that in Detox - which can run on multiple dev

[2021-04-04 09:25] d4vidi commented on #2709
@saransh-malik seems there's an issue with your app, perhaps a race-condition that keeps it from loading. It doesn't seem like an issue with Detox (rather, Detox seems to report the status quite clearly).

[2021-04-04 09:25] #2709 closed

[2021-04-04 09:35] d4vidi commented on #2558
@kg-currenxie it doesn't seem like we can close the issue just yet, as your code suggests something might be unstable with `element.typeText()`.

Could you please assist a bit further, and do some/all of the following? -
1. Provide the *device* logs so we could get a better look into where things fail
2. Switch to an [AOSP emulator](https://github.com/wix/Detox/blob/master/docs/Introduction.Androi

[2021-04-04 10:41] d4vidi commented on #2663
@alon-ha any ideas where this could be coming from?

[2021-04-04 10:58] d4vidi commented on #2630
@dani-mp in the meantime, do note that the construct:
[code]
is scarce.

You need to apply a termination command, such as `withTimeout()` in order for it to have an effect:

[code]

[2021-04-04 15:21] dani-mp commented on #2630
@d4vidi yup, we're now aware of this. I think the sample provided respects this, it's just the original description of the issue what is wrong.

[2021-04-05 09:35] saransh-malik commented on #2704
I'll try to work this out. But I guess if not last resort is just mocking location lib somehow. Thanks for your help :)

[2021-04-05 09:35] #2704 closed

[2021-04-05 21:29] Andarius opened #2713 "Test Fail with "Wait for UIModuleIdlingResourceto become idle timed out""
### Describe the bug

When running test in release mode (with the following build: `cd android  && ./gradlew clean && ./gradlew assembleRelease assembleAndroidTest -DtestBuildType=release && cd ..`), tests often fail with ` DetoxRuntimeError: Test Failed: Wait for [com.wix.detox.reactnative.idlingresources.UIModuleIdlingResource] to become idle timed out`

### Steps To Reproduce

- [X] I have test

[2021-04-06 09:17] d4vidi opened #2714 "Unify debug-sync logs between platforms"
**Is your feature request related to a problem? Please describe.**
Related to #1788.
At the moment, debug-sync logs are quite different on Android and iOS. The experience of a user using both platforms intermittently or simultaneously, can therefore be inconsistent and confusing.

Android:
![Screen Shot 2021-04-06 at 12 15 26](https://user-images.githubusercontent.com/9818880/113688550-13895d00-96

[2021-04-06 11:57] noomorph commented on #2714
This is a good place to start the discussion.
Let's clarify how many idling resources we have in iOS and Android, what their names are and what extra properties we could have extracted from them if we wanted.

@d4vidi, @alon-ha

[2021-04-06 13:44] DenysMoro commented on #2083
It will be very nice to have it for Android as well

[2021-04-06 16:01] noomorph commented on #2645
Resolved in [18.10.0](https://github.com/wix/Detox/releases/tag/18.10.0). 😌

[2021-04-06 16:01] #2645 closed

[2021-04-07 08:03] wilhelmeek commented on #2692
@watadarkstar  If this helps, we've recently started seeing crashes with the same signature on our simulators (though curiously not on Detox). Similar to you, we also started seeing these crashes as we adopted `@apollo/client`.

I believe there may be an incompatibility with either the client itself, or with the nature of the data we're requesting.

[2021-04-07 12:38] watadarkstar commented on #2692
@wilhelmeek interesting! Do you also use Sentry? We think the issue is either with Sentry or Apollo... But we haven't been able to pinpoint it exactly.

[2021-04-08 06:55] wilhelmeek commented on #2692
@watadarkstar we do also use Sentry! Interestingly, our crashes have become more frequent after increasing our usage of `useQuery`. It's possible that a Sentry upgrade may have introduced some weird interaction with Apollo, and we hadn't noticed it until our use of Apollo became more widespread. No crashes have been noticed on devices, or when the sim is attached to debugger.

[2021-04-08 10:48] d4vidi commented on #2183
Closing in favour of #1788

[2021-04-08 10:48] #2183 closed

[2021-04-08 11:07] d4vidi opened #2717 "Detox CLI autocompletion"
Improve usability of Detox' CLI by offering an autocompletion script.
One good example is the autocompletion of configs names.

[2021-04-08 11:57] ZoltanSzokodi commented on #2605
Any news on this?

[2021-04-08 14:14] naum43312016 opened #2718 "Test is not starting on release mode"
### Describe the bug

When i try to run test on Android release the tests just get stuck. App is just idle and the test times out.
For this to work i need manually start metro, but in release its should be unnecessary, on IOS everything work fine locally and in bitrise, but android is not working on release mode.
Maybe I am mistaken and i should start metro before test, but in IOS its working with

[2021-04-08 14:33] noomorph commented on #2718
Could you please retrieve the logs after upgrading to the latest Detox version? They might be a bit more informative. Thanks

[2021-04-08 16:11] noomorph commented on #2657
Will be resolved in [detox@18.10.1](https://github.com/wix/Detox/releases/tag/18.10.1), thanks to PR https://github.com/wix/Detox/pull/2719 (by @alon-ha).

[2021-04-08 16:11] #2657 closed

[2021-04-08 23:52] wilhelmeek commented on #2692
@watadarkstar I've set up a build of our app without Sentry at all, and crashes persist. At least for our case I'd say I'm reasonably confident that Sentry does not have any involvement in these crashes.

[2021-04-09 08:21] onnerfors commented on #2528
Getting this too

[2021-04-09 08:42] ZoltanSzokodi opened #2720 "Tests won't start on Android emulator after the second release build."
Hi, as described in the title my problem is that my test cases won't start after the second Android release build. The emulator opens but after a few seconds all the tests fail.  When I delete the build folder and rebuild the app from scratch it works fine. I would appreciate some hints or just point me to the best similar thread. Many thanks in advance!

I cannot provide a demo at this time but m

[2021-04-09 09:19] noomorph commented on #2720
**So far, it would be good to compare logs from the good run and from the bad one.** 🤷‍♂️

I guess, the root of your problem stems from here — if you try to run this command (I copied it and adapted from the log you have attached), you are likely to see this output (again, according to your logs):

[code]

If I compare with an expected output of the instrumentation (from our example app in the Det

[2021-04-09 10:41] ZoltanSzokodi commented on #2720
Hi @noomorph,

Thanks for looking into this. After the first build when I execute
`adb shell am instrument -w -r -e detoxServer ws://localhost:8099 -e detoxSessionId e0a23f49-2605-96b0-537b-fa818bf22811 -e debug false com.leoninestu`

I get what what you shared as expected output:

[code]

Interestingly after the second I get this:

[code]

I will have to look into this more deeper.

[2021-04-09 12:38] ZoltanSzokodi commented on #2720
As a temporary solution (or maybe it's a keeper, give me better options) I added `./gradlew clean` to my build script. This will increase the build time. Mine is still within 2 mins which is fair.

I am still open for suggestions. Thanks!

[2021-04-10 18:38] #2619 closed

[2021-04-10 19:25] noomorph commented on #2671
Could you attach logs (--record-logs all), please?

[2021-04-11 06:34] naum43312016 commented on #2718
Hi i tried to run ws://localhost:${port} on device, it did not work, i am sending logs after upgrading to last version of detox. Thanks @noomorph
[detox_pid_51114.json.log](https://github.com/wix/Detox/files/6291286/detox_pid_51114.json.log)
[detox_pid_51114.log](https://github.com/wix/Detox/files/6291287/detox_pid_51114.log)
[emulator-19626 2021-04-11 06-30-03Z.startup.log](https://github.com/wix

[2021-04-11 15:29] alon-ha commented on #2648
@onnerfors Hey, Sorry for the delay. We have a new mechanism in detox 18 to track when the application is idle.
Since you are using Lottie, maybe we don't track the animation at all.. I can set up a basic project myself, but I need at least the json for the button so I can test it.. Otherwise there is no way that I will guess what's the problem is:/
Let us know if you can provide the json for the

[2021-04-12 06:50] naum43312016 commented on #2718
The packager does not seem to be running as we got an IOException requesting its status: Failed to connect to /10.0.2.2:8081.
@noomorph it is error that i get, what can i do with that?
Thanks

[2021-04-13 07:06] ZoltanSzokodi commented on #2720
I still wasn't able to find the source of the problem but as a temporary solution I added `./gradlew clean` to my Android release build command in my detox config. This increases the build time but in my case it is still within 2 minutes which is acceptable. If anyone has answer why this problem occurs I am all ears.

[2021-04-13 08:26] noomorph commented on #2718
@d4vidi , the logs leave me confused. I clearly see that Detox was trying to send "login" but never succeeded despite the fact that DetoxServer port had been reversed.

@naum43312016 , first of all, I was asking you to check not `ws://...` protocol, but HTTP:

![image](https://user-images.githubusercontent.com/1962469/114520899-936f7400-9c4a-11eb-90e1-57ccebe4c3ca.png)

Next time, check what rando

[2021-04-13 08:35] naum43312016 commented on #2718
@noomorph Thank you, i will try to connect to http, and let you know if this works (on desktop and in emulator).

[2021-04-13 08:36] onnerfors commented on #2648
Hi @alon-ha, sure, I've attached the `.tsx` of the button as well as the `Animated.View` from the screen it's a part of. Let me know if there's anything else you need.

**OnboardingContinueButton.tsx**

[code]

**Animated.View** from `OnboardingScreen.tsx`

[code]

[2021-04-13 08:43] noomorph commented on #2648
@onnerfors, may I kindly ask you to check the issue with the latest Detox version?

The thing is, @alon-ha recently fixed something very curious in React Native queue status interrogation mechanism, and I just wonder if that has changed anything about your particular issue.

[2021-04-13 08:48] noomorph commented on #2671
@olexandr13, unfortunately your bug report lacks something, because I am not able to reproduce it as-is:

[code]

![image](https://user-images.githubusercontent.com/1962469/114524710-1e05a280-9c4e-11eb-9d42-26677914e2ce.png)

Please get back to us with new details.

[2021-04-13 09:04] noomorph commented on #2636
@alon-ha, I'll remove stale label, if you don't mind.

[2021-04-13 09:19] naum43312016 commented on #2718
@noomorph i can connect on desktop and in emulator
<img width="407" alt="Screen Shot 2021-0
[detox_pid_53670.json.log](https://github.com/wix/Detox/files/6302609/detox_pid_53670.json.log)
[detox_pid_53670.log](https://github.com/wix/Detox/files/6302610/detox_pid_53670.log)
[emulator-15260 2021-04-13 09-18-07Z.startup.log](https://github.com/wix/Detox/files/6302611/emulator-15260.2021-04-13.09-18-0

[2021-04-13 09:20] naum43312016 commented on #2718
screenshot from emulator
<img width="407" alt="Screen Shot 2021-04-13 at 12 13 46 PM" src="https://user-images.githubusercontent.com/31067029/114529406-953d3580-9c52-11eb-92f0-cf20b2169d17.png">

[2021-04-13 10:20] IPWright83 commented on #2712
I'm wondering @Andarius (seen we're using the same reps). Did you close this because you felt the issue was down to the dependencies?

What I've found interesting here is that:

1. Detox builds in a different way to the actual build of the app (which works and runs fine).
2. Despite the error the workarounds it suggests don't work
     - the minSdkVersion defined in your project build.gradle seems

[2021-04-13 10:27] Andarius commented on #2712
@IPWright83, yes, I felt that the issue was more related to `react-native-pager-view` and not Detox.
I'm not sure why it only failed with Detox indeed.

[2021-04-13 10:39] IPWright83 commented on #2712
@LeoNatan I know you've shared your views on this library in the past - I'd be interested to know though if you could share any insight into why builds via Detox might fail in this way and why all the suggested workarounds don't work?

I've got a [StackOverflow question](https://stackoverflow.com/questions/67021833/struggling-to-get-android-build-working-due-to-minsdkversion/67069959#67069959) whe

[2021-04-13 10:40] avgurf opened #2722 "Can't install detox on ios Sig"
### Description
I have updated recently to macOs BigSur 11.2.3 and installed xcode v12.4, and updated my packages using `yarn update` when i try to install detox i get the following error:

[code]

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction
couldn't test it onther machines so i wonder if anyone else with big sur and xcode 12 had experience

[2021-04-13 12:18] onnerfors commented on #2648
Good point @noomorph, in fact I thought I was running the latest version, that npm updated the package automagically on `npm install`. The issue persists with **18.11.1** though.

[2021-04-13 13:16] noomorph commented on #2648
@onnerfors thanks for the clarification!! 👍

[2021-04-13 13:43] d4vidi commented on #2718
@naum43312016 May I suggest going over [this](https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md#problem-the-app-loads-but-tests-fail-to-start-in-sdk--28) Android troubleshooting section: Setting up exclusions for unsecured HTTP traffic.
Also, from the device logs, I see that there is/are timers consistently in-flight, waiting for expiration periods. That keeps the app from ever

[2021-04-13 13:51] naum43312016 commented on #2718
@d4vidi thanks for your reply, i already have android:usesCleartextTraffic="true" , i will look up for timers, i thought that i disabled all animations, setInterval and timeouts, but the problem is that Detox server is not connected, but on ios everything works perfect,
Thank you

[2021-04-13 13:58] shamilovtim commented on #2641
Hello, any updates on this? We are sorely in need of a Firebase upgrade (the old version of Firebase is actually causing bugs in our app) but we can't bump Firebase until this gets resolved.

[2021-04-13 14:17] d4vidi opened #2727 "detox project@wix test1"

[2021-04-13 14:33] alon-ha opened #2728 "Save screenshots of failing taps etc under artifacts"
Today screenshots of tailing taps being saved under ~/Desktop which causing issues when running under bare metal machines.
Let's change it to be saved under artifacts like other failing tests records

[2021-04-13 14:50] badsyntax opened #2729 "Do parallel tests work on android?"
The docs don't mention anything about `--workers `(with jest) being only supported on iOS: https://github.com/wix/Detox/blob/master/docs/Guide.ParallelTestExecution.md

But the cli help mentions that `--workers` is "iOS Only". Running `./node_modules/.bin/detox test --help` shows:

[code]

So this is rather confusing. Do parallel tests work on Android?

[2021-04-13 14:55] huzaifaaak opened #2730 "Change test folder from e2e to src"
Hi,

I can't seem to change the test folder from `e2e` to `src`. I have my test written in src and it does not check in it. On the cli it says:

[code]

[2021-04-13 15:03] adamivancza commented on #2729
Yeah I'm struggling with the same issue - any help is highly appreciated!

[2021-04-13 15:21] noomorph commented on #2718
@naum43312016, please keep an eye on Detox: when our CI finishes and releases `18.11.2` — try to re-run your app again and give me the new logs (from Node.js, not the Android app, e.g: `detox_pid_51114.json.log`, `detox_pid_51114.log`). I want to know if the app succeeds to set up at least an anonymous web socket or not.

[2021-04-13 15:28] #1788 closed

[2021-04-13 16:04] d4vidi opened #2731 "React Native .64 (iOS)"

[2021-04-13 16:04] #2731 closed

[2021-04-13 16:08] d4vidi opened #2732 "React Native 0.64 (Android)"
## Description

Add/verify support for the React Native 0.64 release:
- [x] Check (and migrate) Detox test app on developer env
- [x] Upgrade demo apps
- [ ] Upgrade associated CI job config to always use 0.64
- [ ] Update support table in main README.md

[2021-04-13 16:11] d4vidi opened #2733 "React Native 0.64 (iOS)"
## Description

Add/verify support for the React Native 0.64 release:
- [x] Check (and migrate) DetoxSync's test app
- [x] Check (and migrate) Detox test app on developer env
- [x] Upgrade demo apps (`demo-react-native`, then check `demo-react-native-jest` and `detox-react-native-detox-instruments`)
- [x] Upgrade associated CI job config to always use 0.64
- [x] Update support table in main README

[2021-04-13 16:13] d4vidi opened #2734 "Bintray sunsetting"
Bintray sunsetting - prepare for meltdown:
- [x] Switch to d/l'ing test butler from maven local (+ upgrade from 2.1.0 to 2.2.1)
- [ ] Remove from repositories list in Gradle script

[2021-04-13 17:13] alimtunc opened #2735 "Settings notifications permission to 'YES' not working with launchApp"
### Description
A clear and concise description of what the bug is.

I'm trying to set notification permissions to 'YES' with launchApp but it's not working. I have the system alert popup appear every time and blocking my tests.. But if I allow it manually during the test, my tests are working good.

- [X] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduct

[2021-04-13 19:12] wdospinal commented on #2641
Hi, an advice on this, the app is having the issue when trying to add firebase and segment to the project

[2021-04-13 20:24] badsyntax commented on #2193
@d4vidi Regarding the --cleanup arg, when you mention "we've instructed devs to manually apply a killall in scripts, but that doesn't scale.", can you provide an example of this? I'm not entirely sure how to manually kill the detox server

[2021-04-14 04:30] noomorph commented on #2641
@alon-ha, pinging you just for visibility.

Personally, I think this is an important issue since many RN users are using Firebase including our teams as well if I am not mistaken.

Let's check if we already have clear instructions on how to reproduce the crash. @wdospinal, @shamilovtim could you help to locate any demo project crashing with that error or create one?

I think Alon will get back to

[2021-04-14 04:39] shamilovtim commented on #2641
From what I could tell based on shallow research the issue might be caused by monkey patching in HTTP libraries. That's supposedly how it appeared in KTOR: https://github.com/firebase/firebase-ios-sdk/issues/7277

I've seen other tickets in the ecosystem also blaming the same thing in various ways

[2021-04-14 04:41] shamilovtim commented on #2641
Also related: https://github.com/JetBrains/kotlin-native/pull/4569 (blame was again monkey patching)

[2021-04-14 04:43] noomorph commented on #2641
@shamilovtim, what but isn't that Android-related there?

[2021-04-14 04:51] shamilovtim commented on #2641
I believe it was kotlin-native (compiles to iOS) so that's why it was iOS relevant. The underlying issue caused a bug in iOS code but it connected to kotlin code.

[2021-04-14 07:26] noomorph commented on #2641
@shamilovtim ah, I never realized that Firebase was using there kotlin-native, okay, cool. 👍

[2021-04-14 08:31] d4vidi opened #2736 "(WIP) Replace fbsimctl with AppleSimUtils' setLocation"
## Description
Integrate new location API in AppleSimUtils, and with that - eliminate the last usage of `fbsimctl`, and thus remove it as a dependency.

- [x] In the process, need to clean location related e2e test from specific refs to `fbsimctl`, and thus make it always runnable.
- [ ] Warn about running in headless mode (where setLocation doesn't work)

Related to #1371

[2021-04-14 08:55] d4vidi opened #2737 "Remove support for jest-jasmine"
## Description

Remove support in using Jest with `jasmine` as the underlying runner, in favour of `jest-circus`.

[2021-04-14 10:05] d4vidi opened #2738 "Debug-sync output improvement"
Make debug-sync output more details on Android, so as to provide more specific data. For example:
- [ ] In-flight network requests (URL's).
- [ ] Pending timers' target-time
- [ ] Animations association with component ID's (A huge feature, standing in its own right...)

[2021-04-14 10:12] d4vidi opened #2739 "Invoke2 for Android (kill js-generator proj)"
Switch to the new invocation mechanism, already applied for iOS, on Android.

The side-effect here is to eliminate the `generation` project, as it will no longer be necessary.

[2021-04-14 10:18] d4vidi opened #2740 "Multiple Apps Testing"
## Description

Introduce full-blown support for the testing multiple apps in a single test:

- Provide an API to actively switch between the predeclared apps, moving one to the foreground each time (unless running in a side-by-side most, such as in tablets).
- Possibly, provide an API to "attach" to one of the predeclared apps (e.g. in a use case where app2 is launched by tapping a button in app1

[2021-04-14 10:21] d4vidi opened #2741 "XCUITests phase 1"
## Description

End-goal: execute a single, sanity-level test-flow of a single app, executing a simple action (e.g. tap), over the XCTest framework.

Implicitly, this requires the integration of XCTest and command execution through the system's "proxy process".

Good luck 😄

Additional ref: #2614

[2021-04-14 10:27] #2626 closed

[2021-04-14 10:51] d4vidi opened #2742 "Android 11 & 12"
## Description

- Verify support in Android 11, and upgrade emulators on CI (Genycloud, actually).
- Support the upcoming release of Android 12.

[2021-04-14 11:01] d4vidi opened #2743 "Detox init using Yeoman"
@noomorph please describe what you think should be the scope here (preferably, that is feasible within the timeframe...)

[2021-04-14 11:03] #2658 closed

[2021-04-14 11:03] d4vidi commented on #2658
Closed in favour of #2733 and #2732

[2021-04-14 11:12] d4vidi commented on #2576
Ain't seen it for a while. Closing for now.

[2021-04-14 11:12] #2576 closed

[2021-04-14 12:11] ZoltanSzokodi commented on #2612
I can confirm the patch solution posted by @franek-dev has fixed my issue as well.

In my case the problem was:

[code]

After applying the patch on @react-native-community/masked-view@0.1.10 it is gone.

Thank you for posting this.

[2021-04-14 12:55] plaa commented on #2712
I'm facing the same issue after upgrading RN 0.63.3 --> 0.64.  I think it's related to the fact that RN 0.64 has dropped support for Android versions 16-20, even though I have `minSdkVersion = 23`.

[code]

After I upgraded `appcenter` (the newer version also happens to require API level 21) it didn't fail there, but on the next package (in my case `react-native-haptic-feedback`):

[code]

If you'

[2021-04-14 13:01] Andarius commented on #2712
@plaa for us the fix was to make sure that the library we were using (react-native-pager-view) had the right configuration (https://github.com/callstack/react-native-pager-view/pull/319/files#diff-197b190e4a3512994d2cebed8aff5479ff88e136b8cc7a4b148ec9c3945bd65a) in the `android/build.gradle` file.

Looking at the library you are using you are facing the same issue.
In this file https://github.com/

[2021-04-14 16:40] walterholohan commented on #2611
@ericschaal I have the same problem. I am using Trustkit with `"kTSKSwizzleNetworkDelegates: @YES"`. Were you able to fix the issue?

[2021-04-14 16:54] walterholohan commented on #2611
We have SSL pinning setup in our app using TrustKit. We have followed the approach outlined in https://itnext.io/react-native-security-ssl-pinning-cde086210d58

[2021-04-14 18:59] dbilgin opened #2744 "Detox on Bitrise stuck animation pending"
#### Reproduction

Started happening with `18.12.0`, the previous version we were using is `17.14.6`.
Initially we had react-native-splash-screen, I removed this dependency thinking this is causing the problem, but even after getting rid of this splash screen completely I kept having this problem.

The tests are spamming
[code]
It works all fine when I run the tests locally even when I try it wind

[2021-04-15 02:35] shamilovtim commented on #2641
Please see here: #270

There is a track record of this kind of swizzling / reflection causing issues and breaking Firebase. I assume the fix is probably pretty similar

[2021-04-15 07:15] plaa commented on #2712
The rabbit hole gets deeper than I thought...  😱

@Andarius 's instructions fixed the react-native-haptic-feedback library, thanks a lot for that.  Then the next library, react-native-navigation-bar-color failed, but that library *does* [check the root project minSdkVersion](https://github.com/thebylito/react-native-navigation-bar-color/blob/master/android/build.gradle#L23).  However, it uses `roo

[2021-04-15 07:53] Andarius commented on #2712
@plaan, I don't have issues when the library is using `rootProject.ext.get(prop)` (for instance https://github.com/software-mansion/react-native-gesture-handler/blob/master/android/build.gradle).
Maybe there is something else wrong with your configuration ?

[2021-04-15 08:00] Andarius commented on #2732
Hi @d4vidi, there is an issue that some of us are encountering with RN 0.64 (https://github.com/wix/Detox/issues/2712).
I first closed it has the fix was related to another library but since others are having the same issue I reopened it.
Maybe you will have more insights on what's going on.

[2021-04-15 08:02] IPWright83 commented on #2712
@plaa I think that depends on the root `build.gradle` file in your project. Normally located in `/android/build.gradle`. Mine has an `ext` section.

[code]

[2021-04-15 08:12] plaa commented on #2712
Yes, I have exactly the same:
[code]

I even tried adding an embedded `ext` dictionary in the hope of making `rootProject.ext` work, but it didn't:
[code]

[2021-04-15 08:51] plaa commented on #2712
This is actually even weirder than I thought:

[code]

So `rootProject.ext.minSdkVersion` is defined correctly, but for some reason `rootProject.ext.hasProperty('minSdkVersion')` returns null indicating that [the property does not exist](https://docs.groovy-lang.org/latest/html/groovy-jdk/java/lang/Object.html#hasProperty(java.lang.String)).

[2021-04-15 09:00] noomorph commented on #2735
![image](https://user-images.githubusercontent.com/1962469/114843147-327aa400-9de2-11eb-9b70-dcdb40eddbd1.png)

??

[2021-04-15 09:07] noomorph commented on #2743
1. Refactor → all things that `detox init` does currently, they should stay the same but under Yeoman's umbrella.
2. Add logic to mess with `android/` folder if it roughly follows the structure of RN boilerplate project:
  * add DetoxTest.java
  * maybe add CustomJUnitRunner
  * add paths to APKs
  * add clearTextTraffic things, etc.

[2021-04-15 09:12] noomorph commented on #2740
Mmmm, but we have `device.selectApp()` ?
Also, I wonder if we can automatically detect the foreground app... ?

[2021-04-15 09:15] noomorph commented on #2712
@plaa, maybe `ext` has custom `getProperty` which delegates it to the owner, but `hasProperty` is just using `ext`'s own metaClass to check inside it? I don't think that is very weird, it just Groovy.

[2021-04-15 09:20] noomorph commented on #2601
I can certainly expand the `AsyncWebSocket` implementation so it has two queues: sync requests (99%) and async requests (CurrentStatus, as far as I can tell). It can throw errors if we are attempting to send something while the app has not responded to the previous something.

[2021-04-15 09:24] plaa commented on #2712
Yeah, I was able to dig out that `ext` is of type [DefaultExtraPropertiesExtension](https://github.com/kevinyang0906/gradle/blob/master/subprojects/core/src/main/groovy/org/gradle/api/internal/plugins/DefaultExtraPropertiesExtension.java), which implements `getProperty` but does not implement `hasProperty`.

This basically means that `rootProject.ext.hasProperty` does not work at all.  Next trying

[2021-04-15 10:09] andrea-11fs commented on #2611
Having the same issue, I am using Trustkit with "kTSKSwizzleNetworkDelegates: @YES" as well.

Has anyone found the solution to this ?

[2021-04-15 12:18] MikePodgorniy opened #2745 "Infinite scroll on Android"
### Describe the bug

On Android Detox is trying to scroll down without throwing an exception if `CardContainer_${id}` doesn't exist in ScrollView
[code]
### Expected behavior
Throwing an exception like behavior on ios.

### Detox Trace-Logs
[code]

[2021-04-15 12:56] plaa commented on #2712
After much digging around I figured out that `rootProject.ext.hasProperty` [always returns null](https://github.com/gradle/gradle/issues/16853) (bug report by me), which caused me a lot of confusion.  It's not [documented](https://docs.gradle.org/current/dsl/org.gradle.api.plugins.ExtraPropertiesExtension.html) to work, but it's very confusing that it doesn't throw an exception.

Essentially RN li

[2021-04-15 14:06] ZoltanSzokodi commented on #2720
After debugging in Android Studio it turned out to be some missing imports and incorrect package paths. Irrelevant to Detox. Thank you for looking into this.

[2021-04-15 14:06] #2720 closed

[2021-04-15 14:09] ericschaal commented on #2611
@walterholohan unfortunately the only solution I found was to downgrade Detox to v17.

[2021-04-15 15:41] walterholohan commented on #2611
@d4vidi do you think this issue will be fixed in the near future?

At the moment we have the following two options when it comes to using Detox and TrustKit SSL pinning:

1. Downgrade to v17 and keep using TrustKit swizzling
2. Refactor our app's SSL pinning strategy to not use sizzling (At the moment RN does not expose an API to accept a custom Network interface on iOS, that is the reason why we

[2021-04-15 15:45] noomorph commented on #2744
What can you see on videos and screenshots from there?

[2021-04-15 16:33] alimtunc commented on #2735
Sorry, didn't thinked it could help.  Here it is :
https://gist.github.com/alimtunc/50328cbb013d0cdf6afa7d9ea161c27d

[2021-04-15 16:44] noomorph commented on #2735
@alon-ha, so far, I see this weird status:

[code]

Do you see? AppleSimUtils prints something about Invalid device state. Any clues on what's going on?

@alimtunc, arm yourself with patience — it will take a while until we get to the root of the issue due to our team's limited capacity.
Try other simulators, runtimes, Xcode versions if you can. Maybe it will help... 🤔 This is the best I can come

[2021-04-15 17:18] alimtunc commented on #2735
@noomorph Thank you 🙏
I'm already using the 0.9.2 version, I've already tried other simulators.. We'll see with different XCode version. Actually it's working good on Android, I can work on my test using Android simulator but it's annoying if it's not working on IOS..

Teşekkür ederim 😄

[2021-04-18 08:52] d4vidi commented on #2671
@olexandr13 please report back soon with full details, so we could try to help.
Also, regarding the environment info provided:

`14.13.1` is invalid. Could you provide the actual RN version you've used? If it's .64, could you try RN .63.x?

[2021-04-18 09:02] d4vidi commented on #2722
Hey @avgurf, sorry for the late response. Could you please try to run `detox rebuild-framework-cache` and then reinstall node modules from scratch?

[2021-04-18 09:20] d4vidi opened #2746 "Detox bugs reporting repro (skeletal/template) demo app"
## Describe

Quite often, we find that it is hard for us to get to the bottom of reported issues, just by relying on logs and general info. When this happens, we usually resort to explicitly asking for a light demo app, where the issue is reproduced.

While legitimate, this request is not trivial to pursue, and hence is not always fulfilled (or is addressed after a long delay). In an attempt to ta

[2021-04-18 09:24] d4vidi commented on #2746
As per implementation, I think we could reuse previously submitted demo apps: Take the original code, have it strip down to the bare minimum (1 landing screen + 1 test running on both platforms) and submit. We could definitely throw in prebaked `npm scripts`, etc.

[2021-04-18 09:37] d4vidi commented on #2648
@onnerfors Thanks for all the info, and for bearing with us.
Since this case is a bit unusual (odd set of events + fails even with Detox17), would you mind setting up a very simple, light demo app containing the lottie animation and button in question (or equivalents), where this is reproduced? That would provide a serious boost in our so-far-futile attempts to solve this.

[2021-04-18 09:54] #2730 closed

[2021-04-18 11:10] d4vidi commented on #2729
Parallel testing on Android has been operative for quite a while now. I've updated the messages provided by our CLI.
Thanks for noticing the discrepancy!

[2021-04-18 11:12] d4vidi commented on #2718
An update to @noomorph's comment: Please try Detox `18.12.0` instead, as it would add the necessary info I've mentioned with respect to debugging apps busy/freezing states (#2703). Thanks!!!

[2021-04-18 11:19] d4vidi commented on #2193
Hey @badsyntax! You are not required to kill the detox server. Rather, this was referring to the killing of the running emulators. For example, on CI builds that run tests on Android emulators, and immediately thereafter on iOS simulators, you'd wish to clean up the environment before the iOS suite starts running (namely, killing all locally-hosted, currently running Google emulators).
One way to

[2021-04-18 11:21] naum43312016 commented on #2718
Thank you I will send new logs in 30 minutes

[2021-04-18 11:34] #2729 closed

[2021-04-18 11:47] naum43312016 commented on #2718
@d4vidi new logs after upgrading to 18.12.0, thanks.
[detox_pid_79531.json.log](https://github.com/wix/Detox/files/6331163/detox_pid_79531.json.log)
[detox_pid_79531.log](https://github.com/wix/Detox/files/6331164/detox_pid_79531.log)

[2021-04-18 11:56] d4vidi commented on #2718
As suspected - the work in #2703 indeed now tells the story. There is a vast amount of consequent logs showing what's holding things back:
[code]
As suspected, there are timers being enqueued endlessly. Please revisit the JS code involving the main screen. There has to be something - even if indirectly, that triggers and retriggers timers endlessly.

Also, note the device seems to be able to conne

[2021-04-18 12:11] naum43312016 commented on #2718
Thank you for your help, I will look for timers on the main screen

[2021-04-18 13:06] d4vidi commented on #2732
@Andarius thank you. I've already scanned through it, but I haven't been able to dive in. I'll try to take care of it this week (sorting out a common solution to all).

[2021-04-18 13:08] d4vidi commented on #2718
My suggestions: try to swizzle `setTimer()` and `setInterval()` globally, making the original call alongside a preliminary call to `console.trace('setTimer or setInterval')`. The resulted stacktrace may convey the source.

[2021-04-18 16:24] d4vidi opened #2748 "Device locking leaks"
### Describe the bug

Whenever a worker's (jest terminology) execution is terminated abruptly - possibly, due to a timeout, Detox' clean-up code isn't properly triggered, rendering the associated device locked in the lock-file until the end of the entire execution.

In turn, that can trigger the launch of addition devices (emulators / simulators) in consequently running worker. It's basically down

[2021-04-18 16:29] d4vidi commented on #2612
@botika Although the log doesn't seem to make sense - at least in two place, I think I can deduce nevertheless that something happened that caused the execution of the first suite, to time-out. We have a [known issue](https://github.com/wix/Detox/issues/2748) (now also reported...) that could explain this behaviour.

Consider increasing the time-out you have set up for the test. Assuming you're us

[2021-04-18 16:37] d4vidi opened #2749 "Increase concurrent simulators count on Detox CI"
## Description

With DetoxSync integrated in, we should be able to increase the amount of concurrently used simulators on Detox' own CI.

We need to do this for 2 reasons:
1. Reduce execution time on iOS.
2. Try to learn the nature of the improvement DetoxSync introduces (if any).

[2021-04-19 06:10] onnerfors commented on #2648
@d4vidi no worries and I have a workaround for now so it's all good, I have some spare time at work now actually, so I will look into setting up an example with a Lottie animation so you guys can debug it. Will get back to you

[2021-04-19 08:59] badsyntax commented on #2193
Thanks for the clarification @d4rky-pl

[2021-04-19 23:47] cdavie-weconnect opened #2750 "detox-cli silently infinite spawns itself when installed locally rather than globally"
### Description
If you install detox-cli locally (`npm install detox-cli`) instead of globally (`npm install -g detox-cli`), running the `detox` command will spawn itself infinitely.

I suspect this is the same problem reported in #1376.

- [X] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction

1. `npm install detox detox-cli`
2. `detox help`

#### Exp

[2021-04-20 08:29] noomorph commented on #2750
The report might be legit — I assume this is not a blocker, but indeed is worth fixing.
I am not available this week, but I can look into it next week.
Thanks for taking the time to raise the issue!

[2021-04-20 08:40] d4vidi commented on #2612
@TheWirv Could you please update us on the status of your problem? @noomorph and I have added quite a few improvements to the logs in the last couple of [releases](https://github.com/wix/Detox/releases). Could you please set your project up with Detox `18.12.0` and try again, with the `--debug-synchronization 2000` argument added to `detox test`? Attach the new and improved logs back here (both De

[2021-04-20 08:42] d4vidi commented on #2682
@noomorph and I have added quite a few improvements to Detox logs related to problem solving and troubleshooting. Please be sure to use the latest Detox version (`18.12.0` or newer) before submitting new issues.

[2021-04-20 08:46] d4vidi commented on #2665
@harshlukka2105 could you please report back with logs generated using the latest Detox version (`18.12.0`)? It would make it easier for us to help, as we've greatly improved logging related to troubleshooting. Be sure to apply an `--debug-synchronization 2000` argument to `detox test`.

[2021-04-20 08:54] #2671 closed

[2021-04-20 11:04] TheWirv commented on #2612
Hey @d4vidi, not kidding, I had that on my roadmap already because I was browsing through the changelog a few days ago! :) I will keep you posted on the progress.

[2021-04-20 16:10] devinjameson commented on #2700
Having the same issue.

[2021-04-20 16:27] d4vidi commented on #2743
@noomorph can this be merged with https://github.com/wix/Detox/pull/2512?

[2021-04-20 16:50] noomorph commented on #2743
@d4vidi, I guess so. Basically the same goal there and there. Mind that this is an issue, and #2512 is a PR 😄

[2021-04-20 17:50] harshlukka2105 commented on #2665
This issue is actually solved for me, it wasn't an actual detox issue, but an issue on my native side of app. Closing this issue. Thanks btw.

[2021-04-20 17:50] #2665 closed

[2021-04-21 05:03] chevonc commented on #2733
Any chance this will be done soon? I'm hitting what might be some RN 0.64.0 related bugs, and would like to see if the sample app setup hits the same

[2021-04-21 07:39] TiavinaRakotobe opened #2753 "PropTypes package errors"
Invariant Violation: Calling PropTypes validators directly is not supported by the `prop-types` package. Use `PropTypes.checkPropTypes()` to call them. Read more at http://fb.me/use-check-prop-types.

"detox": "^18.12.0",
"react": "16.11.0",
"react-native": "0.62.2",

![Screenshot from 2021-04-21 10-38-32](https://user-images.githubusercontent.com/58861550/115515428-c8ed1080-a28d-11eb-9986-ab033ef

[2021-04-21 08:42] #2753 closed

[2021-04-21 15:49] #2744 closed

[2021-04-21 20:19] #2617 closed

[2021-04-21 20:46] ckcollab commented on #2700
@devinjameson I'll let you know if I figure this out, will probably look at it again this week.. I think it's likely a misunderstanding in how this is all spun up

[2021-04-21 22:54] crutchcorn commented on #1886
@d4vidi where's the Slack/Discord you were referring to? I am having the HARDEST time getting Detox working and have spent now 8+ hours trying to get the last bit of config working and need some help. GitHub issues don't feel appropriate for this support request

[2021-04-22 08:42] tyronet-sportsbet opened #2754 "Custom keyboard elements are never visible"
### Description
First of all thank you all for your hard work on Detox, it absolutely rules. As for the issue... on iOS you can supply completely custom `inputView`s on any responder, essentially allowing you to create custom keyboards. Problem is any elements that are subviews of this `inputView` are erroneously considered "not visible" by Detox.

I'm not familiar with the internals of Detox, but

[2021-04-22 15:02] TiavinaRakotobe opened #2756 "onPress button function didn't get triggered with tap() function"
![Screenshot from 2021-04-22 17-59-27](https://user-images.githubusercontent.com/58861550/115737540-e789ff00-a394-11eb-8c96-83c905c51ff0.png)
![Screenshot from 2021-04-22 18-00-01](https://user-images.githubusercontent.com/58861550/115737567-ed7fe000-a394-11eb-88a9-9934845ddcfe.png)

<RButton /> component is an alias for react-native Button (import {Button as RButton} from 'react-native')
react-na

[2021-04-22 15:05] d4vidi opened #2757 "Multiapps config: undescriptive error in case of missing device config"
## Description
In a use case where a configuration is defined with an app in the new format (i.e. with an `app` or even `apps` field), but a `device` is not specified (rather, an explicit `type` is used - e.g. `"type": "ios.simulator"`), the resulted error is this:

[code]

Which isn't helpful. Need to consider this use case in the config validation, and output a clearer error.

[2021-04-22 17:23] awinograd commented on #2452
I had a similar issue here, my workaround was to disable minification for my productFlavor. Here are the relevant changes I made:

// app/build.gradle
[code]

// package.json
[code]

[2021-04-23 10:48] #2756 closed

[2021-04-24 07:35] HasanKhan999 opened #2759 "Is there a way I can find an element in a FlatList using Detox"
So while testing my application, I am using a data set. Since the data set has many entries, I am using FlatList to display my list. After creating the list, I want to be able to verify and tap on certain list items. Below, I have attached the code which I am trying to use and it does not work for me. If anyone has a better idea to do this, please let me know.

The approach I think should be taken

[2021-04-25 11:44] #2734 closed

[2021-04-25 11:54] d4vidi opened #2761 "Remove Bintray-sunset hacks"
## Description

During work on omitting Bintray (`jfrog`) from the repos list (#2734), some hacks were introduced in order to cope with the fact that not all artifacts are available on maven-central (in all versions). This is a follow-up on that. In particular, 2 main things to reiterate:
1. Revisit the need for the now-proprietarily stored (on Github) `proguard-annotations.jar` artifact (which is

[2021-04-25 13:16] d4vidi commented on #2612
@TheWirv Glad to hear it - I would really appreciate being able to pin down the source of the problem in order to get it fixed. I'm confident that whatever it is you're getting, it probably happens to others, and some of them do not report that to us.

[2021-04-25 13:21] d4vidi commented on #2750
@noomorph `detox-cli` was never meant to work / ever being installed non-globally. I don't think there's much to do here.

[2021-04-25 13:22] d4vidi commented on #2743
True that! So maybe we ought to change the title, etc.?

[2021-04-25 13:24] d4vidi commented on #2665
@harshlukka2105 I'm happy to hear.
Nevertheless, I would appreciate going over the logs _with_ the problem being in-effect, to see whether we've managed to improve the experience by better pin-pointing the source in the logs... 🙏🏻

[2021-04-25 13:27] d4vidi commented on #2733
@chevonc yes, we've prioritized this, and hope to sort it out soon. Would you mind sharing some of the problems/errors you've come across?

[2021-04-25 13:30] d4vidi commented on #2648
@onnerfors great, keep us posted!

[2021-04-25 13:44] d4vidi commented on #2699
@chrisfinch So I'm taking this as a feature suggestion -- but also, seems like you'd be interesting on introducing this feature into Detox yourself? If so, that would be amazing and we'll do our best to support that.
In any case, offhand, the intent-based solution seems the most black-box-ish, and probably aligns with what is required by the app in order to support NFC tags regardless of Detox. Wd

[2021-04-25 13:51] d4vidi commented on #2700
@ckcollab thanks for the kind words!
Regarding the mocking itself - have you tried looking into our [mocking guide](https://github.com/wix/Detox/blob/master/docs/Guide.Mocking.md)? It's slightly out of date, but the general guidelines still apply.
In essence, you can't mock anything without applying the equivalent adjustments in the app itself. Typically, this is done by refactoring various server

[2021-04-25 13:51] #2700 closed

[2021-04-25 14:00] d4vidi commented on #2452
@awinograd Thanks for sharing this - some may find it useful. However, I cannot personally recommend that as other than a last-resort solution, because the interest is to be able to run Detox as close as possible to the actual production app you'd eventually be uploading to the store -- and in the production one, you really do want minification enabled.

[2021-04-25 14:03] d4vidi commented on #2754
@tyronet-sportsbet thanks for this well-articulated submission! I'm backlogging this, hopefully we'll get to it soon enough!

[2021-04-25 14:50] #2759 closed

[2021-04-26 03:11] ckcollab commented on #2700
What I ended up doing, for future folks, was exactly as @d4vidi recommended (a separate `*.e2e.js` file hitting a different endpoint during tests)

Here's how I am running an express server during tests .. this may be stupid, but works!

[code]

[2021-04-26 07:17] #2749 closed

[2021-04-26 11:15] #2754 closed

[2021-04-26 11:23] d4vidi commented on #2601
Sounds good - best to have this solved on the JS (tester) side. However, if not feasible, I'm confident we could sort this out on the device' end.

[2021-04-26 11:37] d4vidi commented on #2611
Hey I've added this to the backlog, I hope we could handle it soon 🙏🏻

[2021-04-26 11:43] walterholohan commented on #2611
Fantastic @d4vidi. I will buy you a beer if you manage to fix it for us.

[2021-04-26 17:50] awinograd commented on #2452
@d4vidi . Thanks for your feedback. yes, it's not ideal that the app isn't running as close to prod as possible. When I tried your proposed solution in https://github.com/wix/Detox/issues/2452#issuecomment-739782477 I got a "No instrumentation runner found on device" error which I wasn't able to resolve. Granted, I'm no expert, and may not have known how to address it! I tried setting testBinaryPa

[2021-04-27 08:33] HasanKhan999 commented on #2759
I have asked this question on Stack Overflow with the **detox** tag. However, I haven't received anything there. I am posting the link here so maybe someone over here can help me out :(

[2021-04-27 09:29] d4vidi commented on #2700
@ckcollab That was exactly the point 👍🏻

[2021-04-27 09:32] d4vidi commented on #2611
LOL, I highly appreciate the offer, but if anything, @alon-ha would be address for this. In any case, it's not quite needed! Wix takes good care of us in that sense 🍻

[2021-04-27 09:36] d4vidi commented on #2452
I understand. The proper solution is to pinpoint the missing minification (R8/Proguard) rules and add them in the right place. I'm afraid that's easier said than done (see my [blogpost](https://medium.com/wix-engineering/configuring-proguard-for-android-instrumentation-tests-120d58cba155) on this), but it should bring you up to speed with running on the *real*-ish app.

[2021-04-27 18:06] jayshah123 opened #2764 "Ability to run detox tests with just Android APKs (app & test apk)"
There are third party tools e.g. https://www.browserstack.com/docs/app-automate/espresso/getting-started
which are based on espresso and allow the same with just uploading the actual apk and test apk.

Since Detox itself is based on espresso, is there any chance to be able to run detox tests, without the need of spinning up anything else (like node server etc)?

This is similar to running android

[2021-04-27 21:54] Vannevelj commented on #2661
Still not stale

[2021-04-27 22:08] #1886 closed

[2021-04-27 22:09] cs01 commented on #1886
Closing issue in favor of discussion on discord.

[2021-04-28 07:04] jayshah123 commented on #2764
I think the same question goes for other cloud based automation test providers like firebase test lab: https://firebase.google.com/docs/test-lab/android/get-started

[2021-04-28 10:59] danilobuerger commented on #2733
@d4vidi I upgrade to rn 0.64.0 and detox 18.12.1. I have the following config:
[code]
When I run the build command directly in my shell, everything works. When I run it with `yarn run detox build --configuration ios.sim.release`, it errors out with:
[code]

[2021-04-29 09:21] alon-ha opened #2766 "Add toBeFocused expectation"

[2021-04-29 09:23] alon-ha commented on #2766
The iOS implementation for issue ##2667

[2021-04-29 16:21] dani-mp commented on #2630
Hey, @d4vidi! Could you confirm the issue or was it us doing something wrong?

[2021-04-29 21:19] psdewar2 commented on #2712
I'm having a similar problem with the latest version of instabug-reactnative (10.0.0) and react-native (0.64.0):
[code]

Here is what my `android/build.gradle` looks like:
[code]

[2021-04-30 18:48] #2713 closed

[2021-05-02 08:41] #2766 closed

[2021-05-02 11:42] d4vidi commented on #1886
Hey @cs01, couldn't find the discord discussion you were referring to (not even on the RN contribs).
In any case, LMK if you need to reach out in person, we're all ears.

[2021-05-02 12:00] d4vidi commented on #2759
@HasanKhan999 thanks for posting the link. That was the intent, as the bot explains it 😄

[2021-05-02 12:08] d4vidi commented on #2764
Hey @jayshah123, I'm not sure I understand what you mean.
Even with `gradle connectAndroidTest`, you spin up gradle. Simlarly, for Detox to work, the node server must be started. However, Detox can work on preexisting emulators that you've started in advance. Detox looks for running instance and can connect to them (that includes installed the various APK's).

[2021-05-02 12:11] d4vidi commented on #2733
What if you just run `detox build --configuration ios.sim.release`?
Also, is it possible that the `Running script 'Bundle React Native...` log is in fact a collapsed set of of many logs? If so, could you expand it?

[2021-05-02 12:34] d4vidi commented on #2630
@alon-ha and I will take a look today

[2021-05-02 13:25] d4vidi commented on #2630
@dani-mp Looking at the example project, seems that the very call to `device.enableSynchronization()` triggers a wait until the app goes idle. *This is what's blocking your tests* -- not the various assertions.
Whether that's good practice or not, is definitely something to discuss internally. We will "take it offline" and think that through (namely, whether `enableSynchronization()` should just e

[2021-05-02 14:26] #2710 closed

[2021-05-03 09:24] jayshah123 commented on #2764
Sorry my bad in explaining the question.
I think the tests supported by firebase test lab seems to be instrumented tests (tests as a part of test apk I think?): https://developer.android.com/training/testing/unit-testing/instrumented-unit-tests.html
I am wondering how much is possible to be done for app that uses detox to be possible on device farms like Firebase test lab where I have no control o

[2021-05-04 05:44] Arunsankars1436 commented on #2722
same error happening  `was found, but could not find Detox.framework inside it. This means that the Detox framework build process was interrupted.`

[2021-05-04 12:08] d4vidi commented on #2761
Well looks like we could soon remove hacks much easier than we thought:
[code]
https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

[2021-05-04 13:10] jayshah123 commented on #2764
From what I have understood, one needs control of the host machine to run the detox/js scripts that execute tests.
Closing this issue.
Would be nice if the test running process was well documented: something like:
There would be three explicit entities: host running node/detox process, app under test apk, and the test apk that communicates with detox runner.

[2021-05-04 13:10] #2764 closed

[2021-05-04 16:42] danilobuerger commented on #2733
@d4vidi Running `./node_modules/.bin/detox build --configuration ios.sim.release` works.

Removing `xcpretty` and running with `yarn run` reveals:
[code]

[2021-05-05 01:02] nhoughto commented on #2655
Would be great to support a way of hooking into geny motion device naming too, we want to create a fallback device cleanup process to cleanup devices whose CI job has completed, but the `Detox-<timestamp>-<jest index>` can't be related back to a CI job, so there is no way of knowing which device is for which job.

As we cant guarantee that the detox device cleanup process will _always_ fire a fall

[2021-05-06 03:02] chelovekdrakon commented on #2750
Run into the same issue. Had to go inside and debug ...
Not nice to spend time on such issues, when you are just trying to the init script 📦

[2021-05-06 03:43] baqirhabsyi opened #2769 "Detox Test Won't Run on Release Builds"
### Describe the bug

I've been trying to setup Detox on my project, for debug build Detox has been running successfully. However, every time I want to test release builds, Detox immediately exits citing Instrumentation not found error.

### Steps To Reproduce

1. Run `detox build -c release`
2. Run `detox test -c release`

### Expected behavior

Detox test should run normally.

### Detox Trace-Lo

[2021-05-06 08:33] noomorph commented on #2750
Thanks, guys! The fix will land soon.

[2021-05-06 08:34] noomorph commented on #2757
Yeah, will do. Thanks.

[2021-05-06 16:43] drash-course opened #2772 "detox test hangs when starting the Android emulator (Apple Silicon)"
### Describe the bug

We upgraded our Detox machine to the new M1 Mac mini and ran into this issue. `detox build -c android.emu.debug` succeeds without problems. `detox test -c android.emu.debug` starts but then hangs when the emulator window opens. The app does not launch. Here is the printout.

[code]

Building and running the iOS tests works. Both iOS and Android tests build, run and pass on ou

[2021-05-07 08:29] drash-course commented on #2769
Do you use proguard? Maybe it removed `checkParameterIsNotNull` since it's used through reflection.

[2021-05-07 15:04] noomorph commented on #2750
Resolved in [18.13.0](https://github.com/wix/Detox/releases/tag/18.13.0).

[2021-05-09 12:31] watadarkstar commented on #2692
It's not stale. The way we got around it was using Hermes in testing builds.

[2021-05-10 09:19] d4vidi commented on #2722
Could you try to add detox manually to your `package.json` and then install node modules from scratch? (delete `node_modules` beforehand).
@alon-ha anything else you can advise?

[2021-05-10 09:28] d4vidi commented on #2558
@kg-currenxie could you please try again using the latest Detox (v18), alongside the `--debug-synchronization 3000` argument to your `detox test` command?

[2021-05-10 10:21] jhd-lego opened #2773 "Detox times out on device.launchApp"
I have just set up detox for our project, and it seems to time out before it even hits the test cases.
We have an iOS react-native 0.64 app.
[code]

The app _has_ launched and the packager _is_ running. The app also works fine. I do get some output mentioning Dispatch Queue, Run Loop and One-time events, that look fine.
But unable to figure out what is wrong and why it will not continue past this.

[2021-05-10 10:35] d4vidi commented on #2764
@jayshah123 while it may not be well approachable, our document regarding [how detox works](https://github.com/wix/Detox/blob/master/docs/Introduction.HowDetoxWorks.md) could help you out. Could you please try to visit it?

[2021-05-10 10:49] d4vidi commented on #2733
@danilobuerger so there was a problem somewhere along the way yarn executes detox? Did you sort the problem, ultimately?

[2021-05-10 10:53] d4vidi commented on #2655
Hey @nhoughto, quite exciting to see interest in this feature so soon (hasn't yet officially launched...)
Detox does take care of cleaning up all used Genymotion-cloud instances. You have to issue a call to `detox.globalInit()` in Jest's global init script, and an equivalent `detox.globalCleanup()` call in Jest's global teardown.

When all of this is mature enough, we will properly document it (as

[2021-05-10 11:03] danilobuerger commented on #2733
@d4vidi No, not resolved yet. I have no idea why node / nvm fails in this scenario.

[2021-05-10 11:07] d4vidi commented on #2772
Hey @drash-course,
I'm suspecting some environment setup issues, so here are some (related) follow-up questions:

1. What happens if you run `"/Users/fleetback-ci/Library/Android/sdk/emulator/emulator" -version` in a shell, regardless of Detox?

2. It seems as though your emulator is launched, but something is slightly broken - because the `adb` server cannot find it. Can you try to launch an emul

[2021-05-10 11:10] jhd-lego commented on #2773
@FloEder Thanks, sadly no luck with that either 😞
I tried copying your files in, but I get the same result.

[2021-05-10 11:17] d4vidi commented on #2773
@jhd-lego your logs show that there are in-flight network requests that haven't been reponded:
[code]
Detox waits for everything to settle down in each step, including app launch. Does this give you a lead?

[2021-05-10 11:17] nhoughto commented on #2655
Yeah I figured it wasn’t quite finished yet, still works quite well.

globalCleanup is useful, but can’t solve the entire problem as depending on what CI system you use you can’t ensure the cleanup is actually fired, the job may fail, process run out of memory etc and never run.. would be useful be able to name the device so a cleanup task could relate device to ci job. 👍🏼

[2021-05-10 11:38] d4vidi commented on #2692
@watadarkstar unfortunately Leo is not longer involved with the project.

Generally, I tend to agree with @mikehardy. Seems like the top of the stacktrace is of the last-resort Detox crash handler that only tries to report back the error so it could be nicely logger (and then follows the crash, through).

@alon-ha could you assert that indeed this is what the top of the stacktrace does, in a nutsh

[2021-05-10 11:44] d4vidi commented on #2692
Update: I checked the swift code myself, looks like I was right. I'm going to have to close the issue, then - but of course, will keep it for further discussions.

As a general note, we've more than once found that Detox - being an executor of frequently run (automated) use cases (similar to any other testing framework), surfaces such issues.

[2021-05-10 11:45] #2692 closed

[2021-05-10 11:49] nhoughto commented on #2655
Yeah adding tags to the devices would be better, failing that jamming context into the only place we have would work too =)
On 10 May 2021, 9:48 PM +1000, d4vidi ***@***.***>, wrote:

[2021-05-10 11:56] d4vidi commented on #2655
I understand of course :)

[2021-05-10 11:57] drash-course commented on #2772
`"/Users/fleetback-ci/Library/Android/sdk/emulator/emulator" -version` still prints `emulator: Android emulator version 30.3.5.0 (build_id 7036990) (CL:N/A)` after the update to 30.6.5 with the SDK manager. I'll try with a clean install of Android.

[2021-05-10 11:58] alon-ha commented on #2722
Try to clean and build from xcode

[2021-05-10 12:52] drash-course commented on #2772
Found a solution here: https://stackoverflow.com/questions/67230200/emulator-appearing-offline-on-m1-mac-after-the-last-update-of-arm64-v8a

[2021-05-10 12:57] jhd-lego commented on #2773
Yeah, apparently we have a hanging network connection that "never" terminates. Stupid workaround hacks due to firewall rules 😂
Thank you! That is why the test never wanted to run.

[2021-05-10 12:57] #2773 closed

[2021-05-10 13:33] d4vidi commented on #2772
Kudos!!! Does this work with Detox, then?

[2021-05-10 13:53] drash-course commented on #2772
Yes it works! Here are my steps if someone gets the same problem:

- Uninstall the Android SDK
- Downgrade to Android Studio 4.1.2 or 4.1.3
- Install the ARM64 images from API 30 (R)
- download the API 31 (S) from here https://dl.google.com/android/repository/sys-img/google_apis_playstore/arm64-v8a-S_r02-darwin.zip

The google_api image was not working for me, from the `idea.logs` it complained ab

[2021-05-10 13:59] #2772 closed

[2021-05-10 14:04] drash-course commented on #2772
I found this to download Android Studio 4.1.2.
https://www.techspot.com/downloads/downloadnow/6831/?evp=af65680fbea01bb42441cce8f4af7424&file=2

The page title is wrong though, it does download 4.1.2 and not 4.1.3.

[2021-05-10 14:29] d4vidi commented on #2630
We've decided to keep as-is (actually, it is not really possible to do otherwise). [This](https://github.com/wix/Detox/commit/dd1d5c7deedf379aecf9841e00db80157e83ba99) closes this issue.

[2021-05-10 15:10] d4vidi commented on #2772
You can invoke port reversing [through Detox](https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#devicereversetcpport-android-only) as well.

As for Android Studio versions, I'd recommend to try to look up a Google archive.

[2021-05-10 15:13] drash-course commented on #2772
Indeed, here is my `environment.js` for reference.

[code]

[2021-05-11 05:35] hmsdtak opened #2774 "how to fix Process crashed while executing runDetoxTests.java.lang.NoClassDefFoundError: Failed resolution of: Lcom/facebook/react/modules/core/Timing"
when I try to run detox test -c android.emu.release --loglevel trace, in the middle of the execution, process is crashing with following error. detox build is successful.
[code]
any ideas?

[2021-05-11 06:21] MFrat commented on #2706
Any news about this issue?

[2021-05-11 11:35] hmsdtak commented on #2774
hey @d4vidi ,Thanks for your reply.
react-native: 0.63.3
detox version: 14.9
and debug mode also not working.

[2021-05-11 13:18] ASchwad commented on #2665
I had a similar issue and `--debug-synchronization 2000` solved it for me. Thank you!

[2021-05-11 18:17] MFrat commented on #2706
@d4vidi i will investigate more, but this error only occurrs during detox tests. But i think this has something to do with Firebase perf as mentioned earlier, i use it here.

I will post results here as soon as i finish investigating.

[2021-05-12 03:11] #2663 closed

[2021-05-12 09:30] nitinthiteITWOX opened #2777 "Trying to implement DETOX for EXPO CLI react native project but facing error "Error: "detox-cli" package is not meant to be installed locally, exiting... HINT: Remove the local installation and reinstall it globally: npm uninstall detox-cli npm install -g detox-cli""
I am trying to implement DETOC for our EXPO CLI react-native project for firstly android.

Facing error:

'''
Error: "detox-cli" package is not meant to be installed locally, exiting...
HINT: Remove the local installation and reinstall it globally:
  npm uninstall detox-cli
  npm install -g detox-cli
'''

Following is the package JSON:

'''
{
  "main": "node_modules/expo/AppEntry.js",
  "scripts":

[2021-05-12 10:57] #2777 closed

[2021-05-12 13:56] gianpaj commented on #2612
@npoussu would you be able to upload the branch or in another repo the code where you managed to make Detox work with a `ReactInstanceManager` class?
https://github.com/bartgryszko/react-native-example/blob/master/android/app/src/main/java/com/aroundme/MainActivity.java

I have a similar setup and the Detox is not able to launch the app.
We have a MainActivity which extends `AppCompatActivity` whi

[2021-05-12 17:17] josephbaylon commented on #2712
This is also now an issue for us after upgrading to RN 0.64.x. Is a workaround or just need to wait for the fix?

[2021-05-12 17:31] drash-course commented on #2772
This may be off-topic. If you use `gitlab-runner` you may get this error when running your tests.

[code]

Note that `applesimutils` is properly installed with brew. It seems sh cannot follow the simlink. My simple fix is to copy the executable to /usr/local/bin/ like this.

`sudo cp /opt/homebrew/Cellar/applesimutils/0.9.2/bin/applesimutils /usr/local/bin/ `

You should now uninstall it from brew

[2021-05-13 07:37] sam-barker commented on #2641
Is there any update on this? I assume a fair few projects are a major version behind now and still on v17 because of this issue. I know we certainly are

[2021-05-13 11:15] plaa commented on #2712
@josephbaylon The library needs to be fixed so that

    minSdkVersion 16

 (or similar) in `android/build.gradle` is replaced with with

    minSdkVersion rootProject.hasProperty('minSdkVersion') ? rootProject.minSdkVersion : 16

You have three options:

1. Create a bug report / PR and wait for the fix to be released
2. Create a fork of the library and reference it in `package.json` using an http

[2021-05-13 13:11] #2728 closed

[2021-05-13 18:39] #2727 closed

[2021-05-13 21:26] josephbaylon commented on #2712
@plaa Thanks for the tips!

[2021-05-14 06:19] Sonakshi997 opened #2779 ".scrollTo() gets stuck on Android"
I've been using detox from last 4 months and this issue has arisen. On the simulator I cannot see any motion of the scroller. I do not understand any reason for it to not work properly.
The testing screen halts when .scrollTo('bottom') action statement arises.

This is what I get when the screen gets stuck on the .scrollTo('bottom') line and it keeps on going and the test do not even fail.

![Andr

[2021-05-14 06:36] Sonakshi997 commented on #2779
My android version is -
![Android version](https://user-images.githubusercontent.com/79457969/118231426-c0fb4780-b4ac-11eb-9abe-edd4cf31bb57.png)

Also, the .scrollTo() works perfectly on IOS.

[2021-05-15 07:24] bharathraj-91 opened #2780 "My app crashes when I run detox test"
When the app is launched via detox test the app crashes but the app works fine when the app is launched normally in the simulator.

I am attaching my screenshot of the error.

![Simulator Screen Shot - iPhone 11 - 2021-05-15 at 12 53 11](https://user-images.githubusercontent.com/33975215/118351976-87920d00-b57c-11eb-80a0-a596ca21ba36.png)

[2021-05-15 07:36] bharathraj-91 commented on #2780
Below is the logs from detox
[detox_pid_72148.log](https://github.com/wix/Detox/files/6483765/detox_pid_72148.log)

[2021-05-16 03:16] MFrat commented on #2706
@d4vidi, i confirm firebase performance is the root cause. Everything started to work after removing it.

[2021-05-16 14:24] dasDeepankar commented on #2780
I'm also facing the same issue @bharathraj-91 , when I'm trying to run
**detox test --configuration iOS**
I'm using  "detox": "^18.13.0"
![Screenshot 2021-05-16 at 7 48 31 PM](https://user-images.githubusercontent.com/25655346/118400662-2b181600-b680-11eb-8f82-6cfca9c699e6.png)

System:
    OS: macOS 11.2.3
    CPU: (12) x64 Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz
    Memory: 171.06 MB / 16.00 GB

[2021-05-17 02:36] baqirhabsyi commented on #2769
@drash-course @d4vidi,

Thanks for replying to my issue, I've followed the minification guide, this is my release config for release builds.
[code]

If I didn't follow the guide, the app wouldn't build at all.

Thank you in advance.

[2021-05-17 09:30] #2558 closed

[2021-05-17 13:26] dani-mp commented on #2630
@d4vidi thanks, folks, for the update and clarifying it on the docs!

[2021-05-17 15:43] shamilovtim commented on #2641
We've having to work around this in a bad way. Other packages that were depending on Firebase were falling behind to the point of becoming show stoppers. Firebase is not optional in our project, multiple other packages depend on Firebase and Detox is not working with Firebase.

[2021-05-17 18:12] shamilovtim commented on #2641
More logs:

Crash 1:
[code]

Crash two:
[code]

[2021-05-17 18:18] shamilovtim commented on #2706
I provide more context in #2641 with a full crash log

[2021-05-17 21:58] khashaba opened #2782 "detox.cleanup() is not working but --cleanup is working"
I'm trying to invoke detox.cleanup() in some places in my code to make the emulator stop and clean everything
I then restart the emulator again.

- mainly, I do this because the emulator becomes too slow and tests fail.  this is the only way it becomes fast again.

When I use --cleanup in the terminal it works fine
but when I try detox.cleanup() in the after hook or in any other place in my code i

[2021-05-18 00:01] shamilovtim commented on #2641
I have isolated the issue to `UIApplicationDelegate` swizzling. This bug is probably related to both detox and firebase swizzling `UIApplicationDelegate`

[2021-05-18 14:28] d4vidi commented on #2612
@gianpaj Have you defined the single Detox instrumentation test somewhere under `androidTest` - as in the Detox [example project](https://github.com/wix/Detox/blob/master/examples/demo-react-native/android/app/src/androidTest/java/com/example/DetoxTest.java)?

[2021-05-18 14:34] d4vidi commented on #2772
@drash-course I would advise against that. `brew` should set a symlink in `/usr/local/bin` for you. Perhaps trying to reinstall would work.

[2021-05-18 14:57] d4vidi commented on #2779
@Sonakshi997 please resubmit as an Android bug and add the requested info 🙏🏻
We won't be able to help without the essential details...

[2021-05-18 14:57] #2779 closed

[2021-05-18 15:05] d4vidi commented on #2735
@alon-ha could you advise?

[2021-05-18 15:11] d4vidi commented on #2769
@baqirhabsyi which Android version are you running on the Device, btw?

[2021-05-18 15:26] d4vidi commented on #2780
@bharathraj-91 please reopen as an iOS issue with the necessary details. Thanks.

[2021-05-18 15:26] #2780 closed

[2021-05-18 15:30] d4vidi commented on #2706
@MFrat Thanks for posting back. This is a great find. What's your ultimate solution, then?

[2021-05-18 15:32] d4vidi commented on #2641
@alon-ha this could probably give us a good lead as to where the root of the problem is.

[2021-05-18 15:34] #2782 closed

[2021-05-18 17:20] MikePodgorniy commented on #2745
@d4vidi I'll try to record a video of this tomorrow.

[2021-05-18 18:32] MFrat commented on #2706
@d4vidi i will try this solution https://github.com/firebase/firebase-ios-sdk/issues/8095#issuecomment-842728509

[2021-05-19 09:32] snowoliver commented on #2667
When can we expect this to be supported for android as well?

[2021-05-19 12:48] d4vidi commented on #2667
A matter of 1-2 weeks, I presume

On Wed, May 19, 2021 at 12:32 PM snowoliver ***@***.***>
wrote:

--
---- Amit --

[2021-05-19 13:01] d4vidi commented on #2718
@naum43312016 could you enlighten us with any insights?

[2021-05-19 13:46] Montoo opened #2784 "Detox crashes on executing tap action"
### Description
While testing executing the .tap action causes Detox to crash. Detox only crashes when` await element(by.id('existing-user')).tap();` is part of a test. Otherwise it runs fine.

- [X] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the

[2021-05-20 06:31] janaka120 commented on #2605
Any update on this issue. I'm having the same issue.

[2021-05-20 08:39] rajithaswoop commented on #2184
Permission Issue with Android : I have this issue on Detox 18.13.0, React Native 0.63.4, API 30 for my Android emulator. It works perfectly for camera permission on iOS but on Android, whatever I set NO or YES on permissions, they are always enabled.

If I change theses permissions on the app before launching detox test, all permissions are enabled again.
@LeoNatan

[2021-05-20 08:42] rajithaswoop opened #2785 "Camera Permission issue with Detox Android"
Permission Issue with Android : I have this issue on Detox 18.13.0, React Native 0.63.4, API 30 for my Android emulator. It works perfectly for camera permission on iOS but on Android, whatever I set NO or YES on permissions, they are always enabled.

If I change theses permissions on the app before launching detox test, all permissions are enabled again.
@noomorph @d4vidi

[2021-05-20 09:05] noomorph commented on #2785
@d4vidi, do we have those camera permissions correctly implemented for Android?

[2021-05-20 09:41] rajithaswoop commented on #2785
beforeAll(async () => {
    await device.launchApp({newInstance: true, permissions: {camera: ‘NO’}});
    await device.launchApp({ permissions : { location: ‘always’ }})
    await device.launchApp({ permissions : { notifications: ‘YES’ }})
  });
So here camera permissions is not taking NO permission, always camera is shown in ON state when detox test is run
@noomorph

[2021-05-20 10:20] Montoo commented on #2784
Version 17.9.0 seems to not have the issue.

[2021-05-20 10:21] #2784 closed

[2021-05-20 11:26] d4vidi commented on #2785
Hey @rajithaswoop, unfortunately, the `permissions` argument to `launchApp()` is [only applicable on iOS](https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#2-permissionsset-runtime-permissions-ios-only), at the moment. You are welcomed to follow [this issue](https://github.com/wix/Detox/issues/477) for support on Android, in the future. We also accept contributions 😄

[2021-05-20 11:26] #2785 closed

[2021-05-20 16:09] rajathrao opened #2786 "Invoking camera on Android"
**Use Case** - I have to click a lot of photos and wait for the save and then move on to the next steps (android emulator)
**Question** - The moment i tap on the camera icon I believe it is the android camera that opens up. I am unable to grab ID to tap on the camera or save it. Has anyone here been able to do it?

[2021-05-20 19:23] #2711 closed

[2021-05-21 06:07] Sonakshi997 opened #2787 ".scrollTo() gets stuck on Android"
### Describe the bug

I've been using detox from last few months and this issue came into my observation. On the simulator I cannot see any motion of the scroller. I do not understand any reason for it to not work properly.
Can it be the detox version issue?
The scroller was earlier working in all the test files so far till past 2 weeks and now failing in few of the files.

The testing screen halt

[2021-05-21 11:23] nipuniuthpala opened #2788 "Need to get the keyboard back in detox after it hides in ios"
Hi, I have a problem typing the text fields in detox. where I hide the keyboard in the first field and then in the 2nd field keyboard is not appearing. could you please help me with this?
I have used functions like  this
 static async addContentFandomEnter() {
    await newPostPage.lbl_title.atIndex(0).typeText('\n');     //keyboard hides after the 1st filed

  }
  static async addContentFandom()

[2021-05-21 20:14] #2788 closed

[2021-05-21 20:14] nipuniuthpala commented on #2788
closed

[2021-05-21 20:25] ptreitler opened #2789 "Getting Error: "detox-cli" package is not meant to be installed locally when running detox"
I just followed the getting started guide, but running any `detox` command results in this error message:
[code]

I have verified that detox-cli is installed globally and not locally.
Running the above commands doesn't change anything.

Environment:
Windows 10
Node v14.17.0
npm 7.14.0
detox-cli@18.13.0
detox@18.13.0

I found this stackoverflow post: https://stackoverflow.com/questions/67607624/err

[2021-05-22 14:42] #2786 closed

[2021-05-22 14:46] d4vidi opened #2791 "Unlock react-native-webviews version"
Revert locking

[2021-05-22 16:06] d4vidi opened #2792 "adjustSliderToPosition for Android"
**Is your feature request related to a problem? Please describe.**
`adjustSliderToPosition` is supported on iOS, but not on Android.

**Describe the solution you'd like**
Add an equivalent implementation for Android.

**Additional context**
N/A

[2021-05-22 18:38] #2083 closed

[2021-05-23 09:09] d4vidi commented on #2706
@MFrat ok LMK then.

[2021-05-23 09:13] d4vidi commented on #2605
@janaka120 @conor909 this error is terribly generic. Please open Android issues with the requested details - we promise to do our best to help!

[2021-05-23 09:15] d4vidi commented on #2184
@rajithaswoop please read the issue's original description 😄

[2021-05-23 09:45] d4vidi commented on #2769
@baqirhabsyi Although it's worth a try - trying to add the following rule to your app's `proguard-rules.pro`:
[code]
 I'm inclined to say that since we're talking about Kotlin's Intrinsics, the issue is unrelated. Perhaps a better lead would be to double check your Kotlin version - is it sufficiently new, and have you applied the version you expect with 100% certainty?

[2021-05-23 09:50] d4vidi commented on #2769
@baqirhabsyi also, if the above suggestion doesn't work, you may wish to try adding that rule inside a different custom rules file, and apply it in your app's `build.gradle` using `testProguardFile` rather than `proguardFile`.

Please report back 🙏🏻

[2021-05-23 09:53] d4vidi commented on #2784
@Montoo is this the case with Detox 18, as well? Please let us know 🙏🏻

[2021-05-23 10:23] d4vidi commented on #2711
@alon-ha is still applicable? If so, let's reopen

[2021-05-23 10:29] d4vidi commented on #2787
@Sonakshi997 it's really hard to tell what wrong this way. Could you please use the `--take-screenshots all`, `--record-video all` and `--record-logs all` arguments to `detox test` and provide the artifacts generated under the `artifacts/` folder?

[2021-05-23 12:52] Hatko opened #2793 "D8: Cannot fit requested classes in a single dex file"
### Describe the bug
Whenever I'm trying to run the tests on Android using the commands

`detox build --configuration android.emu.release`/`detox build --configuration android.emu.debug`

I'm getting an error:

D8: Cannot fit requested classes in a single dex file (# methods: 90835 > 65536)
com.android.builder.dexing.DexArchiveMergerException: Error while merging dex archives:
The number of method

[2021-05-23 18:55] PawanP1808 commented on #2612
@d4vidi I am facing the same issue where the android app launches and tests dont run. It runs perfectly on iOS. Debug synchronization doesnt yield any logs. As outlined above `masked-view` is not what is causing it for me as I applied the patch and it still doesnt work. I have also checked that I can access the detox-server from the device through its browser. From logging it appears that detox ha

[2021-05-23 19:27] hgvo9 commented on #2789
I have the same issue and couldn't find any solutions..

[2021-05-24 06:19] janaka120 commented on #2605
@d4vidi , Thanks for your reply.

The problem I had was, my  Android SDK version is 29. By default, Google has disabled all clear-text network traffic for SDK >= v28.  So I have to explicitly configure permission. I referred to this documentation(Title - **Problem: The app loads but tests fail to start in SDK >= 28**).

https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md#6-enable

[2021-05-24 07:09] baqirhabsyi commented on #2769
@d4vidi so I've tried adding the `-keep class kotlin.** { *; }` rule to the project's ProGuard file and a separate additional ProGuard file, and the result is still the same. I'm currently using Kotlin version 1.4.32, and I've tried downgrading the Kotlin version to 1.3.72 but the issue still persists. I've tried to use Kotlin version 1.3.0 that's specified on the guide [here](https://github.com/w

[2021-05-24 07:55] d4vidi commented on #2789
Did you try the suggested fix? -
[code]

[2021-05-24 08:08] hgvo9 commented on #2789
![error](https://user-images.githubusercontent.com/62654884/119317046-f86daf00-bc77-11eb-9e9d-d310066949d7.png)

[2021-05-24 10:17] noomorph commented on #2789
@hgvo9 , does it happen on Windows 10 as well in your case?

[2021-05-24 10:21] hgvo9 commented on #2789
Yes, this is correct!

[2021-05-24 10:24] noomorph commented on #2789
@hgvo9 , seems like it. I am checking this theory atm.

[2021-05-24 11:20] #2789 closed

[2021-05-24 11:21] noomorph commented on #2789
I'll release a patch version soon.

[2021-05-24 12:46] hgvo9 commented on #2789
Sweet, thanks a lot

[2021-05-24 13:22] noomorph commented on #2789
@hgvo9 , @ptreitler

[code]

Try again, please. Now you should get the hotfixed version. It should work as expected.

[2021-05-24 13:29] hgvo9 commented on #2789
![screenshot](https://user-images.githubusercontent.com/62654884/119354755-bb6be180-bca4-11eb-9cc8-1a2ea5814877.png)
Working great for me, thanks a lot @noomorph

[2021-05-24 13:37] noomorph commented on #2789
@hgvo9, glad to hear the hotfix helped — of course, it would be awesome to get [global-dirs](https://github.com/sindresorhus/global-dirs) fixed. I'll try to open an issue there soon.

[2021-05-24 18:19] jinhale opened #2796 "How to diagnose `detox[22352] ERROR: [APP_UNREACHABLE]`"
I'm running the following command: `detox test --record-logs all --configuration android.emu.debug`

Changing the timeout value doesn't affect the outcome. I can run the app normally in multiple emulators and is running on devices without error. The build before this I got the following error: `detox[3540] ERROR: [APP_UNREACHABLE]`.

I'm not running the app manually on the emulators while attempti

[2021-05-25 08:34] ptreitler commented on #2789
Works for me as well, thanks a lot for the quick fix @noomorph!

[2021-05-25 10:37] leralera2201 opened #2797 "Detox problem with React Native Navigation(wix)"
I set a custom component for right button and pass onPress function,  also I add testID, and when I tap on this button through my tests, onPress function doesn't work. Click is made because I see a touchable effect. But the function is not called at all. This is my right button:

[code]

How I tap on this button:

[code]

[2021-05-25 11:19] mrados7 opened #2799 "[Android] Tests failing with Reanimated animations"
### Describe the bug
Android tests hanging when there are animations on screen.
``` await device.disableSynchronization()``` does not help.

### Steps To Reproduce
**iOS** is working fine.
Animations are done with Reanimated 2. Some of animations are in endless loop, but I also tried mocking animations to only run once and still application was hanging. As mentioned above ``` await device.disableS

[2021-05-25 11:37] noomorph commented on #2796
I'd suggest looking at app logs from the device – there should be some messages from DetoxManager or at least something about Detox. If there aren't such, there's some problem with the instrumentation runner. Could you attach your logs, pls?

[2021-05-25 11:41] noomorph commented on #2797
Does that happen only during Detox testing session?

If you can reproduce this problem without Detox, by tapping manually on that button, I'd suggest directing your issue to https://github.com/wix/react-native-navigation

[2021-05-25 11:44] noomorph commented on #2793
I am afraid this issue has little to do with Detox itself.

You'll need to dance around your Gradle scripts a bit, I guess.

https://stackoverflow.com/questions/36785014/the-number-of-method-references-in-a-dex-file-cannot-exceed-64k-api-17

If there's something Detox-specific in your issue, please reopen the issue and let me know extra deals. Meanwhile, I have to close this issue. Good luck with

[2021-05-25 11:44] #2793 closed

[2021-05-25 11:44] leralera2201 commented on #2797
Only with Detox. The app works good, but when testing this issue with Detox, the function onPress doesn't work.

[2021-05-25 11:46] noomorph commented on #2799
How exactly your `device.disableSynchronization()` call look like in your code?
Could you provide an excerpt of your test suite, and `detox_pid_NNNN.log` from the artifacts?

[2021-05-25 11:52] noomorph commented on #2757
@d4vidi, could you provide an exact Detox config where this issue reproduces?
Unfortunately, I am not able to reproduce this according to the description.
Let's make bug reports less vague, ok? What would it have costed for you to paste an excerpt of Detox config back then, right? 😊

[2021-05-25 11:55] noomorph commented on #2797
@guyca, does that ring any bells to you? Just in case... 🤷‍♂️

[2021-05-25 12:02] noomorph commented on #2797
Please try to avoid crossposting next time.
@guyca requested an example for the bug reproduction here https://github.com/wix/react-native-navigation/issues/7129.
Be kind to prepare the example and provide it.
Meanwhile, I'll close the issue. You can continue the discussion there on the RNN repo.

[2021-05-25 12:02] #2797 closed

[2021-05-25 12:04] mrados7 commented on #2799
[code]
also tried in beforeAll as:
[code]
detox_pid.log looks something like:
[code]

[2021-05-25 12:29] d4vidi commented on #2757
Hmm. IMO, the description is pretty clear 😄
You can try to edit one of Detox' self configs - have the device removed, and instead add a `type` field. Does it not reproduce this way? 😢

[2021-05-25 14:32] KatieSnell-TomTom commented on #2496
@d4vidi joining this as I would love to see a speedier scroll on Android emulators!

Also, both the `swipe` and `scrollTo` actions are not working on all the scroll views in my app (some work as expected, some do not get scrolled). Do you know how I can figure out what is different and why it is not working"?

[2021-05-25 17:58] drop-andi opened #2801 "DetoxRuntimeError: Failed to reach the app over the web socket connection."
I have this code that works fine and my test passes (--configuration ios):

[code]

As soon as I update the code to this, it throws the error:

[code]

This is my utils.js
[code]

Any idea what might be the issue?

This is verbose log:
[code]

[2021-05-25 21:47] walterholohan opened #2802 "Signal 11 was raised"
### Description
I am getting the following Signal 11 crash intermittently when running tests on iOS Simulator

[code]

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### Environment (please complete the following information):
 - Detox: 18.14.1
 - React Native: 0.63.4
 - Node: 14
 - Device: iOS Simulator 11
 - Xcode: 12.4
 - iOS: 14.4
 - macOS: Big sur

[2021-05-26 10:44] gianpaj commented on #2612
@d4vidi Yes I do.

[code]

`less app/src/androidTest/main/java/com/example/neo/mobility/standalone/parent/DetoxTest.java`
[code]

[2021-05-26 13:56] #2718 closed

[2021-05-26 14:12] dadski72 opened #2803 "Missing interface methods (device.reverseTcpPort) in typings"
Hi,
I need to use the Detox `device.reverseTcpPort()` in typescript, but there is none.
So looks like the method is missing at
[code]

To be sure, I looked at `node_modules/detox/src/devices/Device.js`:

[code]
and can see that it is implemented.

So I tried to use `@types/detox`.
The `reverseTcpPort()` method exists but does not have a port parameter.
[code]

What can be the workarounds for this?

[2021-05-26 14:17] Sonakshi997 commented on #2787
@d4vidi I understand. Here is what you asked for. I hope the issue gets clear now as I am facing this on various different screens now. Also, the `ScrollTo()` works perfectly fine on IOS.

### What is expected from the `ScrollTo()` -> Done manually:

https://user-images.githubusercontent.com/79457969/119674108-8f459180-be59-11eb-9f3a-ba79c8cec8dd.mov

### What Detox is doing via test:

https://use

[2021-05-26 15:24] noomorph commented on #2803
@dadski72, thanks for the report. ETA is tomorrow.

[2021-05-26 19:02] d4vidi commented on #2803
@noomorph kudos for working on a fix. @dadski72 in any case, the method is there - you can use it with a `@ts-ignore`, for the time being.

[2021-05-26 19:22] d4vidi commented on #2605
Ah yes, this is exactly what the guide is for. Perhaps one day we'd be able to provide a better solution for this: #1964 1964

[2021-05-26 19:40] d4vidi commented on #2769
No recommend kotlin version - I was merely postulating that maybe you're using a rather one of the latest kotlin version that we haven't tested yet...

[2021-05-26 19:44] d4vidi commented on #2769
@baqirhabsyi please, if it doesn't bother you too much - drag&drop the resulted *test* apk into Android Studio for inspection, and see whether kotlin's intrinsics are in fact there. If they're not, it ought to be a proguard issue nevertheless (possibly, you'd have to add the "keep kotlin" rule under `testProguardFile` as well).

![Screen Shot 2021-05-26 at 22 42 55](https://user-images.githubuserc

[2021-05-27 07:09] Sonakshi997 opened #2806 "How to tap on markers on MapView React Component"
I have a react native app that includes MapView react component where we are rendering the markers at particular address.
Using detox, I want to test the visibility of those markers and also if they can be tapped or not. Please let me know how can I test this.

![Screenshot 2021-05-21 at 11 38 30 AM](https://user-images.githubusercontent.com/79457969/119780703-c8c4de00-bee7-11eb-90af-6fa84e81a67e.

[2021-05-27 08:01] baqirhabsyi commented on #2769
@d4vidi I've opened the APK built for the testing on Android Studio and the Kotlin Intrinsics are there.

Here's a screenshot of the Android Studio screen.

![image](https://user-images.githubusercontent.com/7018611/119788359-4397f400-befc-11eb-87d3-d8599d5f5523.png)

[2021-05-27 09:19] alakdam07 opened #2807 "Detox header button test fail"
I am relative new to Detox `E2E` testing.  I have header one button which will go back to the previous screen. I made `testID` for this button but I got one Detox error:  `Test Failed: No elements found for “MATCHER(identifier == “close_button”)”`.  I really don't know how to test the header button.  I am sharing my code, hope someone will help me.

**this is the component where I have button**
[c

[2021-05-27 11:23] #2732 closed

[2021-05-27 14:26] d4vidi commented on #2712
All, I'm pleased to say we've migrate our internal projects and now Detox seems to work well on Android with React Native 0.64.x!

Among other things, *we've updated the library's minimal SDK to `21`*, so as to match RN's specs.

Please try to upgrade to Detox [`18.5.0+`](https://github.com/wix/Detox/releases/tag/18.15.0) and remove your hacks 🙏🏻

[2021-05-27 14:28] Andarius commented on #2712
Tahnks @d4vidi !

[2021-05-27 14:29] #2712 closed

[2021-05-27 15:35] #2659 closed

[2021-05-27 15:41] dadski72 opened #2810 "RN could not find id"
Hi,

[code]
 the above will fail on
await expect(element(by.id("fetchPickWalkStatus"))).toExist();

but if I removed the parent Text then it will pass
[code]

this will pass too
[code]

Maybe I am doing it wrong?
Any work around for this?
Thanks

[2021-05-27 21:54] walterholohan commented on #2611
In the meantime, as a workaround, we are disabling SSL pinning when Detox is running. We feel that disabling SSL pinning will not drastically affect our test coverage and the quality of the product we are shipping. @ericschaal this might also be an option for you.

Here is an example of how we are disabling it in `AppDelegate.m`:
[code]

[2021-05-28 09:37] laurentDellaNegra commented on #2801
+1 same issue here:

jest@26
detox@18

[2021-05-28 09:38] alaporterie commented on #2801
Hi,

I got the same issue on Android with Detox 18.15.0

detox[47486] ERROR: [APP_UNREACHABLE] Failed to reach the app over the web socket connection.
...
detox[47486] DEBUG: [WSS_CLOSE] Detox server has been closed gracefully

I launched tests with `--record-logs all` and take a look to artifacts folder.
I just saw in detox_pid_xxx.log:
detox[47846] TRACE: [ARTIFACTS_LIFECYCLE] artifactsManager.o

[2021-05-28 09:57] maxckelly commented on #2712
I'm still seem to be facing this issue.

[code]
[code]

[2021-05-28 11:56] MFrat commented on #2706
@d4vidi Didn't worked :(

[2021-05-28 12:50] alaporterie commented on #2801
Fixed because the path to DetoxTest.java was the wrong path!

So be careful to the path and edit com.example by your com.yourapp

Regards

[2021-05-28 13:30] laurentDellaNegra commented on #2801
thx dude it solved the issue !

[2021-05-28 14:03] ericschaal commented on #2611
Thank you @walterholohan that's a great alternative.

[2021-05-30 19:19] jacargentina opened #2811 "detox[7227] ERROR: [cli.js] Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './build/cli/args' is not defined by "exports" in /..../node_modules/jest-cli/package.json"
`detox test -c ios`

[code]

any advice? Thanks!

[2021-05-30 22:23] jacargentina commented on #2811
It seems jest 27 is not compatible: forcing jest/jest-circut to v26.0.1, it works.

[2021-05-31 06:00] noomorph commented on #2811
@jacargentina , thanks! Working on the fix.

[2021-05-31 08:00] d4vidi commented on #2802
@alon-ha please try to follow the stacktrace and come up with the conditions where this can take place. It seems to be coming from the inside of DetoxSync itself.

[2021-05-31 08:05] d4vidi commented on #2787
@Sonakshi997 this is great, thank you. Please also spot a file called `process.log` under the failing test and upload it as well. Thank you!

[2021-05-31 08:09] d4vidi commented on #2496
@KatieSnell-TomTom please try to follow #2787, if you think it matches your scenarios. If it does, feel free to submit your artifacts and use case details as well, there.

[2021-05-31 10:47] alakdam07 opened #2815 "Detox continue test with other spec file"
I am really new Detox testing. I have two different screen tests. First onboarding screen and second is app screen. I have made two different `e2e` files. One is for Onboarding and one is for app testing. My onboarding files pass all my test but my  app screen failed the the test. I want to keep continue my `e2e` testing after it finish the onboarding testing then continue  my app screen testing w

[2021-05-31 10:55] #2807 closed

[2021-05-31 11:09] d4vidi commented on #2612
@gianpaj according to your device logs, everything if functional, but your app (activity) is started and immediately ended.
Are you sure that you're in fact launching the proper activity, and that you're using the proper app+test binary APK files?

[2021-05-31 11:11] d4vidi commented on #2648
@onnerfors Pretty please? 😄

[2021-05-31 11:12] #2810 closed

[2021-05-31 11:25] d4vidi commented on #2712
@maxckelly please try to completely delete all intermediate build artifacts under your project's `build/` and `app/build/` directories, and [clean up all of Gradle's cache](https://stackoverflow.com/questions/23025433/how-to-clear-gradle-cache).

[2021-05-31 11:26] #2806 closed

[2021-05-31 11:32] d4vidi commented on #2801
@drop-andi by using `require('utils')` you're importing a preinstall module called `utils` ([for example](https://www.npmjs.com/package//utils)) residing somehwere your project's `node_modules`. Use a relative path in order to require project files (for example, `require('../utils`), or even `require('./utils')`).

[2021-05-31 11:33] #2801 closed

[2021-05-31 11:43] d4vidi commented on #2769
@baqirhabsyi it doesn't say so explicitly, but this appears to be your app's `apk`. Could you run the same test with you're *test* `apk` file?

[2021-05-31 11:48] d4vidi commented on #2799
I hate to say this (yet again), but disableSynchronization() doesn't properly work on Android. We have plans of addressing it **very** soon - please keep track of #1513.
Closing in favor of...

[2021-05-31 11:48] #2799 closed

[2021-05-31 13:27] jacargentina commented on #2811
Great! waiting for the release. Thanks!

[2021-05-31 13:27] #2811 closed

[2021-05-31 13:30] noomorph commented on #2811
Okay, I am running the publish build in a few minutes. Thanks for the report! ❤️

[2021-05-31 13:52] noomorph commented on #2757
Resolved in [18.16.0](https://github.com/wix/Detox/releases/tag/18.16.0).

[2021-05-31 13:52] #2757 closed

[2021-05-31 13:53] noomorph commented on #2803
Resolved in [18.16.0](https://github.com/wix/Detox/releases/tag/18.16.0)

[2021-05-31 13:53] #2803 closed

[2021-05-31 16:00] gianpaj commented on #2612
@d4vidi  Alright. I'll double-check if the activity is launched from my side. Thanks

[2021-05-31 16:06] d4vidi commented on #2612
I've noticed you have build flavors. Perhaps detox was configured to use the improper one?

[2021-06-01 01:22] PawanP1808 commented on #2612
@gianpaj this happens because android studio isnt correctly detecting that you have a UI test hooked up. Try running an espresso test that will generate the files you need then place Detox.java in that folder delete the generated file.

[2021-06-01 07:18] onnerfors commented on #2648
Sorry @d4vidi was thrown into a project at work, will try to find some time for it soon

[2021-06-01 07:38] d4vidi commented on #2612
@PawanP1808 Android studio is not a part of the game when running Detox, I'm afraid.

[2021-06-01 10:15] isilher commented on #2733
This seems to be a RN issue that might not be Detox specific. We faced it as well and (temporarily) resolved it by adding a patch for RN as suggested here: https://github.com/react-native-community/upgrade-support/issues/138#issuecomment-811780178

[2021-06-01 10:36] shootermv commented on #2694
i have same problem as @sumukhah

after adding testRunner and runnerConfig rules to detoxrc.json
i started to get:
[code]

[2021-06-01 11:26] noomorph commented on #2694
@shootermv make sure you are using Detox 18.16.0 and above.

[2021-06-02 05:36] Sonakshi997 commented on #2787
I understand @d4vidi . I tried finding this file, but could not. Can you describe in detail where can I find this file. That will help a lot.

[2021-06-02 05:39] Sonakshi997 commented on #2806
https://stackoverflow.com/questions/67631629/is-there-a-way-to-test-markers-on-mapview-using-detox-in-a-react-native-app

Here is the question I asked at stack overflow.
I am really hoping to have a solution for this as most of my work is based on maps only.

Thanks.

[2021-06-02 07:48] MuckT commented on #2083
Getting `TypeError: element(...).getAttributes is not a function` when running `await element(by.id('<elementId>')).getAttributes()` on Android in 18.14.0. Which differs from [the documentation](https://github.com/wix/Detox/blob/master/docs/APIRef.ActionsOnElement.md#methods). Looking at the PR that closed this issue, it doesn't look like the types were updated to support this feature on Android.

[2021-06-02 08:02] d4vidi commented on #2787
Add the `--record-logs all` argument to `detox test`. After the execution completes, you will have such files under an `artifacts/` subdirectory.

[2021-06-02 08:09] d4vidi commented on #2083
Indeed, it is missing from the types list.
Please apply a `// @ts-ignore` for now.

[2021-06-02 10:31] d4vidi opened #2817 "Upgrade to AndroidX-Test 1.4.0"
## Description

Detox currently relies on Espresso and sibling deps corresponding to the [AndroidX-Test 1.2.0](https://github.com/android/android-test/releases/tag/androidx-test-1.2.0) release. Need to upgrade to the most recent stable one - ~[AndroidX-Test 1.3.0](https://github.com/android/android-test/releases/tag/androidx-test-1.3.0)~ [AndroidX-Test 1.4.0](https://github.com/android/android-tes

[2021-06-02 12:25] d4vidi commented on #2667
Perhaps `ViewMatcher.hasFocus()` should be used here: https://github.com/android/android-test/releases/tag/androidx-test-1.3.0 (Espresso 3.3.0)

[2021-06-02 20:48] lindboe opened #2818 "Recommended setup for apps that need Google Play Services"
In the setup instructions, [you recommend using an AOSP emulator](https://github.com/wix/Detox/blob/master/docs/Introduction.AndroidDevEnv.md#android-aosp-emulators), for what seems like a couple of reasons, including the removal of Google Play Services. However, our app appears to require Google Play Services to work (I'm not totally sure why yet, but I'm guessing it's Firebase). If we try to run

[2021-06-03 02:15] #2815 closed

[2021-06-03 16:00] #2742 closed

[2021-06-04 02:02] hqdai opened #2821 "Check enabled/disabled by using getAttributes() for TouchableOpacity"
Please correct me if I'm wrong with the understanding document.
I need to check the button (enabled/disabled) by using getAttributes(), but it seems the enabled value is always returned TRUE, even though I send prop disabled: TRUE to TouchableOpacity.
But I see it works with a View go with prop: pointerEvents="none".

I'm using RN 0.64 vs Detox 18.16.0
MacOS 11.3
iPhone 12 Simulator - iOS 14

<img

[2021-06-04 12:56] chika-kasymov commented on #1873
@jn3qf I had a similar issue. I noticed that the default runner's config path if you don't specify is the `e2e/config.json`. So if you've got the Jest config like me in the `package.json`, then you need to copy paste you Jest configurations to the `e2e/config.json`.

To avoid duplication of configs I created a base config file:
[code]

Then I removed `"jest": ...` from the `package.json` and added

[2021-06-04 18:59] DanielWFrancis commented on #2611
Having this issue during first setup while using Expo RN, disabled `kTSKSwizzleNetworkDelegates` in my `infoPlist` key in `app.json` but still not getting anywhere.

[2021-06-06 12:53] walterholohan commented on #2802
Hey @alon-ha @d4vidi , any update on this issue. It seems to happen more often now. Below is a snippet of the detox logs which might help you debug easier. Do you think it has anything to do with Lottie animations? I have disabled the autoPlay and loop options of all lottie animations in my app.

[code]

[2021-06-06 15:05] d4vidi commented on #2620
@chirag-timetac would you mind sharing what you solution of choice was? Have you decided on Espresso / Espresso+Detox-Native?

[2021-06-07 09:01] sypl commented on #2802
Got the same issue

[code]

Detox: 18.14.1
React Native: 0.63.4
Node: 14
Device: iOS Simulator 11
Xcode: 12.4
iOS: 14.4
macOS: Big Sur 11.3.1

[2021-06-07 14:01] #2796 closed

[2021-06-07 14:36] naum43312016 commented on #2818
I have the same problem, @lindboe did you find a solution for this?

[2021-06-07 20:08] caiangums commented on #2789
Hey! I got the same error at MacOS 😞

Apparently my version of `detox-cli` (global) is `18.14.1`.

I'm using:
- Node v14.17.0
- npm v6.14.13
- yarn v1.22.10

[2021-06-07 20:14] caiangums opened #2825 "Error: "detox-cli" package is not meant to be installed locally, exiting..."
Related issue: https://github.com/wix/Detox/issues/2789

Following the instructions to install Detox, I got the same error from the related issue. I already tried to uninstall and install again but seems that the version is still outdated.

My environment:
- macOS Big Sur (Just updated with everything)
- Node v14.17.0
- npm v6.14.13
- yarn v1.22.10

[2021-06-07 20:23] noomorph commented on #2789
@caiangums , have you got **detox-cli** installed via **yarn**? Please post your output of `npm -g bin` and `which detox` commands.

This is okay that the latest detox-cli version is 18.14.1. There were no new versions of the package since that hotfix.

[2021-06-07 20:24] noomorph commented on #2825
@caiangums , have you got **detox-cli** installed via **yarn**? Please post your output of `npm -g bin` and `which detox` commands.

This is okay that the latest detox-cli version is 18.14.1. There were no new versions of the package since that hotfix.

[2021-06-07 20:40] caiangums commented on #2825
Thanks for the quick response!

No, I installed via `npm` and I'm using `yarn` for my project. I have `detox-cli` installed at the same directory that `npm` installed `yarn` (globally):

[code]

[code]

I just took a look at how you guys managed to solve [at this PR](https://github.com/wix/Detox/pull/2794/files) and just commented out the full `if` statement inside my local version of `detox`. Now

[2021-06-08 08:44] noomorph commented on #2825
@caiangums , could you also run this in your Terminal?

[code]

Just to make sure where exactly `detox-cli` is installed in your environment.

Unfortunately, I haven't been able to reproduce your issue so far. To add clarity, I tried installing Node.js from here: https://nodejs.org/dist/v14.17.0/node-v14.17.0.pkg and then switched via `nvm use system; nvm unload`:

[code]

As you can see, the erro

[2021-06-08 15:01] caiangums commented on #2825
@noomorph Thank you so much for your help! 🙏

The usage of `asdf` seems to solve the issue. Maybe the strive to not use any version manager made me install or configure something wrong and for `detox` this issue happened. I think this issue could be closed for now 😄

[2021-06-09 08:05] danilobuerger commented on #2733
I finally had a chance to track down the issue. It has nothing to do with detox or react-native. It just manifested recently because of how react-native changed the find node script. It turns out that when installing yarn via homebrew, homebrew adds the PREFIX env variable when executing yarn (see https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/yarn.rb#L24). Which in turn causes nvm to

[2021-06-09 09:39] aikewoody commented on #2735
To let the maintainers know I am having the same problem as OP so maybe more people are impacted by this than previously thought.

[2021-06-09 14:52] alon-ha commented on #2641
@shamilovtim Sorry for the delay. Can you please open an example project with both firebase and detox so I will try to solve it?

[2021-06-09 14:54] alon-ha commented on #2802
@walterholohan @sypl I'm trying to reproduce but without any luck. Can one of you open an example project it happens so I can solve it?

[2021-06-09 14:58] alon-ha commented on #2648
Hi, Unfortunately the snippet alone wasn't enough to reproduce. Will be great if you post an example project with Lottie animation which cause it.

[2021-06-09 15:33] shamilovtim commented on #2641
If you have a default starter template you could point me to where you have built out some e2e tests I think it would just be a matter of adding Firebase to it, which I could do no problem. Then that could live on for debugging any future Firebase issues if/when they arise

[2021-06-09 16:14] RodgersRomero opened #2827 "No instrumentation runner found on device {Name Device} for package com.example.app"
Hello i'm trying to execute test in my physical device but i just can't fix this issue

Log

DetoxRuntimeError: No instrumentation runner found on device R58R20X4C4X for package com.shakey.nyarchives.qa

      at ADB.getInstrumentationRunner (../node_modules/detox/src/devices/drivers/android/exec/ADB.js:256:13)
      at Instrumentation.launch (../node_modules/detox/src/devices/drivers/android/tool

[2021-06-10 01:54] russelRajitha commented on #2384
I facing this issue. how to make it work with maps? and I saw another issue with same thing which says caused by firebase notifications. is there any solution for this?

[2021-06-10 03:50] baqirhabsyi commented on #2769
@d4vidi yes, that's the main app `apk` file. I've opened the `androidTest.apk` file and this is the content of the Kotlin intrinsics

![image](https://user-images.githubusercontent.com/7018611/121461709-916f2a80-c9d9-11eb-9a2a-172849dadfd2.png)

[2021-06-10 08:01] phillip-kic opened #2828 "launchApp failure: "The app has unexpectedly disconnected from Detox server""
### Description
When running a jest test suite it fails randomly most of the time on the `launchApp` command. There's no consistency, within the same suite one test may fail and the next one pass.

Fails with this error message:
[code]

Fails during the `isReady` message due to the app exiting (`SESSION_TORN`).
[code]

- [x] I have tested this issue on the latest Detox release and it still reprodu

[2021-06-10 09:31] noomorph commented on #2825
@caiangums , so you were using `brew install`, apparently.
Okay, I'll check a few times more then. Thanks for the feedback.

[2021-06-11 11:18] noomorph commented on #2828
Could you bring also the logs from the device? Run tests with `--record-logs all`, please? Most likely, there is some native crash in your case.

[2021-06-11 19:05] caiangums commented on #2825
@noomorph Yes! I installed Node v14 (LTS), yarn through it and this is apparently causing the issue. If you need any further information just let me know! 😄

[2021-06-12 03:18] phillip-kic commented on #2828
Ran with: `npx detox test --configuration ios.debug --loglevel trace --record-logs all`

Fill trace logs and device logs from second/failed test: [Failure Logs](https://gist.github.com/phillip-kic/e8ee523ddc95e7ae318d9915410a8ba8)

[2021-06-13 08:28] moonjava2005 opened #2830 "[Android] No test found on Firebase TestLab"
After I upgraded to React Native 0.64.x and use the Detox >=18.15.0, I cannot run test with Firebase TestLab. The error always like this
![Screen Shot 2021-06-13 at 15 22 27](https://user-images.githubusercontent.com/16474293/121800382-9cd18880-cc5b-11eb-83e7-b0d6c8ed9217.png)

I have already contacted to Google Firebase for help and thay replied me as follow:

`I’ve got an update regarding your c

[2021-06-13 09:31] d4vidi commented on #2818
Hey @lindboe! Sorry for the delay - we've all been overly busy lately.

It's basically as you said it: AOSP-image-based emulators are strictly a recommendation, for the sake of stability, which is paramount for the success of automated testing environments. If your app requires play services, in the realm of Google emulators, you have no choice but to set up an emulator with the fully-blown Google

[2021-06-13 13:21] d4vidi commented on #2733
Yikes. Thanks @danilobuerger

[2021-06-13 13:32] d4vidi commented on #2735
@alimtunc this is a shot in the dark, but could you try to run `device.launchApp()` with `newInstance: true`? According to the [documentation[(https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#2-permissionsset-runtime-permissions-ios-only) this should work either way, but it's worth a try.

Also, could you run `applesimutils` and share your version of it?

@alon-ha Are there

[2021-06-13 13:33] alon-ha commented on #2641
We currently don't have a starter template. I'm working on one exactly for such cases

[2021-06-14 08:04] badsyntax opened #2831 "test-butler-app link is dead"
### Describe the bug

My CI build is failing because the test-butler download URL is returning 404.

### Steps To Reproduce

Try view this url: https://linkedin.bintray.com/maven/com/linkedin/testbutler/test-butler-app/2.1.0/test-butler-app-2.1.0.apk

### Expected behavior

I should be able to download the test-butler apk from the URL provided in the [README](https://github.com/wix/Detox/blob/mast

[2021-06-14 08:10] badsyntax commented on #2831
Perhaps this is the correct url? https://repo1.maven.org/maven2/com/linkedin/testbutler/test-butler-app/2.2.1/test-butler-app-2.2.1.apk

[2021-06-14 08:56] hqdai opened #2834 "Interactive touch outside React-Native-Navigation Overlay when detox run"
### Description
I'm using React-native-navigation (RNN) with an overlay is showing as alert, my issue is when manual test, I can't touch outside the alert message, that is correct, but when detox runs for automation test, it can touch and scroll outside the alert area.

So, the problem is why Detox can interact outside the overlay area ...

- [x] I have tested this issue on the latest Detox releas

[2021-06-14 09:06] frank505 commented on #1500
having same issue on android too, and it works perfectly fine on IOS

[2021-06-15 08:37] #2667 closed

[2021-06-15 10:26] zanechua opened #2837 "java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/FunctionReference;"
### Describe the bug

I don't particularly need help since I've resolved it but just opening it incase someone runs into the issue too.

Unable to launch release app via detox as app fails with:
[code]

This seems similar to https://github.com/wix/Detox/issues/1994 and the fix for me was found [here](https://stackoverflow.com/questions/61054745/detox-detoxmanager-can-not-find-kotlin-jvm-functions-

[2021-06-15 14:45] #1935 closed

[2021-06-15 20:00] d4vidi commented on #2740
@noomorph ability to detect (and rewire-to) current foreground app might be feasible. We'll have to consider that in the technical discussions.

[2021-06-15 20:03] d4vidi opened #2840 "Multiple Apps Testing (Android): PoC"
Associated with the API-oriented issue, #2740. The scope of this specific issue is Android's technical details in regards.

[2021-06-15 20:08] d4vidi commented on #2740
Note: I've removed this from the planning for Q2 because -
a. We won't make it in time...
b. I think we should first focus on #2840: Namely, we need to sort out the more mechanical aspects of the feature, first -- with hopes to familiarize ourselves with its limitations, or otherwise gain confidence regarding our ability to solve it to begin with. Both might affect the final API...

[2021-06-16 18:39] #2648 closed

[2021-06-16 18:39] #2722 closed

[2021-06-16 18:55] d4vidi opened #2842 "Device allocation issue related to ADB disconnection of Genycloud instances"
### Describe the bug
It appears sometimes Genymotion-cloud instances get disconnected from ADB. When this happens, they appear online but are in fact unreachable:

[code]

To spare some details (todo), when this happens other workers keep on trying to allocate the same already occupied instance and fail to do so, over and over again.

### Steps To Reproduce
- [x] I have tested this issue on the la

[2021-06-16 19:13] d4vidi commented on #2620
After a discussion on this, we decided not to support this. Here's the rationale:

- For native apps: Using Detox is somewhat pointless. We currently don't support that on Android (#2543).
- For greenfield RN apps: No control over native ID's, which again makes it pointless.

So the only relevant use case is greenfield RN apps, which, as it appears, the OP hasn't requested.
That said, had we had a

[2021-06-16 19:13] #2620 closed

[2021-06-16 19:20] onnerfors commented on #2648
Hi guys, it's not likely that I'll find time for this anytime soon unfortunately. Maybe the lack of '+1' comments on this thread means that this problem isn't too common. I might take it up after summer as the project I'm using Detox for might resume then

[2021-06-17 04:58] AshrafRizvi01 opened #2844 "multiple elements found for “MATCHER(identifier == “element”) in action"
### Description
When using atIndex(0) function for an element while doing any actions (i.e. swipe, scroll), the atIndex(0) function is ignored.

Test Failed: Unable to scroll down in “<RCTCustomScrollView: 0x7fd87585d600>” and multiple elements found for “MATCHER(identifier == “my-element”)”
    TIP: To print view hierarchy on failed actions/matches, use log-level verbose or higher.

      23 |

[2021-06-17 12:04] sandeep-bastola commented on #2083
In Detox 18.14.0 this issue is seen in android : Test Failed: com.google.android.material.slider.Slider , when used the function getAttributes(). Anyone faced similar issue ?

[2021-06-17 15:17] d4vidi commented on #2083
@sandeep-bastola could you please submit an android bug with all the details?
https://github.com/wix/Detox/issues/new/choose

[2021-06-18 07:12] #2831 closed

[2021-06-18 07:55] sandeep-bastola opened #2846 "getAttributes() does not work in detox 18.14.0 in Android"
### Describe the bug
The `getAttributes()` function does not work in Android with Detox `18.14.0`.

It throws an error :
`java.lang.ClassNotFoundException: com.google.android.material.slider.Slider`

### Steps To Reproduce

- [x] I have tested this issue on the latest Detox release (18.17.0) and it still reproduces

1. Issue appeared in detox version 18.14.0 . Release note fo this version mentions

[2021-06-18 07:57] sandeep-bastola commented on #2083
https://github.com/wix/Detox/issues/2846

[2021-06-18 08:20] noomorph commented on #2846
Could you provide a code snippet to reproduce that component in React Native?

[2021-06-18 08:25] noomorph commented on #2667
@snowoliver, available in [18.18.0](https://github.com/wix/Detox/releases/tag/18.18.0) for Android.

[2021-06-18 08:26] noomorph commented on #1935
@wouterhund, should be available in the [18.18.0](https://github.com/wix/Detox/releases/tag/18.18.0) release.

[2021-06-18 08:28] noomorph commented on #2842
Looks like this is a separate issue from what #2845 was trying to address. Let's put the CI on observation, provided that workers cannot steal each other devices from now on. We might see some more interesting error messages and learn from them what to address next.

[2021-06-18 09:31] AshrafRizvi01 commented on #2844
Still having this issue, any update on this?

[2021-06-18 10:35] noomorph commented on #2844
I'll take a look in an hour or two. Could you please attach logs in --loglevel trace mode?

[2021-06-18 10:41] sandeep-bastola commented on #2846
`          <ImageBackground style={styles.icon} source={this.props.icon}>
            <Text
              testID={this.props.testID + "_counter_value"}
              style={[styles.value, valueFontSize]}

              {this.props.value}
            </Text>
            <Text style={[sharedStyle.textStyle.small2, styles.title]}>
              {this.props.title}
            </Text>
          </Image

[2021-06-18 11:08] YeeWong11 opened #2847 "Android second test always fails with [TELNET_ERROR] connect ECONNREFUSED 127.0.0.1:23"
### Describe the bug

Android tests on our CI  works if we only run a single test, but when we try to run two tests the second one will always fail with the following error.

(See attach log for more info)
[code]

### Steps To Reproduce

Push to CI with only one test, works
Push to CI with two tests, second one will always fail with above error

### Expected behavior

### Detox Trace-Logs
[detox.l

[2021-06-18 11:52] YeeWong11 opened #2848 "Android release build error DexArchiveMergerException, duplicate classes"
### Describe the bug
Building the Android release build with the following command gives an error. Debug builds works without a problem.
[code]

[code]

If we add an `&&` between the 2 archive commands, the build will work.
[code]

### Steps To Reproduce

### Expected behavior

### Detox Trace-Logs

### Device logs (adb logcat)

### Screenshots

### Environment (please complete the following infor

[2021-06-18 11:56] noomorph commented on #2848
Any idea why this is exactly relevant to Detox? Something in logs?

[2021-06-18 12:01] noomorph commented on #2847
Last time I remember about this bug, there was that `~/.emulator_console_auth_token` file... 🤔
@d4vidi, do you remember if deleting (or emptying) it helped back then?

[2021-06-18 12:02] YeeWong11 commented on #2848
@noomorph Nothing directly pointing Detox, I just thought there could be some relationships between this error and part of the Detox Android setup where we added the Java class DetoxTest.

[2021-06-18 12:06] noomorph commented on #2847
Might be related to https://github.com/wix/Detox/issues/2320#issuecomment-724098246

[2021-06-18 12:08] noomorph commented on #2846
Okay, I'll check if I can reproduce the result.

[2021-06-18 12:09] noomorph commented on #2834
@hqdai, sorry for replying late.
Thanks for providing the example project.
Hopefully we can check it next week.

[2021-06-18 12:14] noomorph commented on #2821
@alon-ha, could you check, please, whether the logic for `enabled` property gets the value from the native view hierarchy code or we have some custom implementation there?

@hqdai, it might be that this is an implementation detail of a specific React Native component. If so, the fix is going to be very debatable and not straightforward. Get some patience with it, it might take longer to look into

[2021-06-18 12:15] noomorph commented on #2827
Cannot help, there is an insufficient amount of debugging information in the report, sorry. 😞

[2021-06-18 12:20] noomorph commented on #2830
I think there aren't enough details here. 😞

I am not really familiar with Firebase TestLab, and I don't see any interesting logs, just some messaging and a generic error message. 🤷‍♂️

@moonjava2005, did it work with Detox before the aforementioned upgrade? 🤨

@d4vidi, @jonathanmos, do you have any good questions that will make @moonjava2005 elaborate on the issue? It looks more like a feature re

[2021-06-18 12:22] noomorph commented on #2837
Okay, if I get it right — you managed to fix your problem.
If so, I wonder do you have any idea how to incorporate that into Detox documentation (e.g. Troubleshooting section), or maybe you see a different way to make it helpful?

[2021-06-18 12:31] snowoliver commented on #2667
@noomorph Thank you!

[2021-06-18 13:26] noomorph commented on #2848
@YeeWong11, and how did your addition look like? e.g...:

[code]

Did it work prior to adding `DetoxTest`? I mean, `... ./gradlew assembleStagingRelease  assembleStagingReleaseAndroidTest ... `...

[2021-06-18 13:37] finalight opened #2849 "run same tests on multiple different devices"
is there a command or a configuration where i can run say, 3 different android devices but with the same test suite?

reason is because different device will show different UI and as such we want to make sure the test cases are able to assert correctly on the different devices

[2021-06-18 14:21] zanechua commented on #2837
Yup. Don't have any issues using Detox with Jest 26 once I applied the proguard line to keep the kotlin classes.

I think perhaps we could have a troubleshooting section anyone who faces anything along the lines of

[code]

then we could suggest them by creating their own proguard rules and applying that along with the proguard rules that come with detox.

[2021-06-18 15:46] noomorph commented on #2849
Hi, @finalight!

This is something we definitely would love to have as a feature, but unfortunately, it requires quite a lot of groundwork. Therefore, I cannot give you any ETA.

At the moment you are limited to 2 options:

### Easy one

[code]

Obviously, it is going to take ×3 longer.

### Complicated one

Basically, this is rather a hack than a good solution. It is justified only if parallelism

[2021-06-18 17:38] noomorph commented on #2844
@AshrafRizvi01 , thanks, I was able to confirm the bug, e.g. the payload tends to be without index:

[code]

[2021-06-18 18:25] noomorph commented on #2844
The fix is on its way.

[2021-06-18 19:41] dbilgin opened #2851 "can't add timeout to waitfor when looking for not.toBeVisible"
The documentation states:
`Every waitFor call must set a timeout using withTimeout(). Calling waitFor without setting a timeout will do nothing.`
So I'm a bit confused about this, when I am calling `waitFor(element(by.id(elementId))).not.toBeVisible()` I can't actually set a timeout using `withTimeout`. Was this intentional if so is there a reason?
I think we used to have this feature before `toBe

[2021-06-18 20:26] SiM07 commented on #2802
I have the same issue, on my own env and in github action env.

[code]

Detox: 18.12.2
React Native: 0.64.1
Node: 14.1
Device: iOS Simulator 11
Xcode: 12.5
macOS: Big Sur (github macos-11)

[2021-06-19 11:49] baskarkarthik commented on #2825
Hi @noomorph
I'm also facing same issue.

Enviroinment:
node: v10.24.1
npm: 6.14.12
yarn: 1.22.10

Kindly help in fixing the issue

[2021-06-19 14:05] noomorph commented on #2851
@dbilgin, could you elaborate, please? I am not sure I understand the question.

In our E2E self-test suite we have the exact situation you are asking about:

https://github.com/wix/Detox/blob/master/detox/test/e2e/05.waitfor.test.js#L23

[code]

...and it passes for both iOS and Android. So, again, what's the problem?

Thanks in advance.

[2021-06-19 14:06] noomorph commented on #2844
Will be released in `detox@18.18.1` either tomorrow or on Monday, I think.

[2021-06-19 14:12] noomorph commented on #2846
Unfortunately, I won't be able to look earlier than Tuesday (22.06.21).
@d4vidi, @jonathanmos — if the stack trace provided makes some sense, you are welcome to take this earlier. 🙏

[2021-06-19 14:19] dbilgin commented on #2851
Hi, thanks for the response @noomorph,
I think I might have missed this test suite, I guess this functionality exists after all. Could it be that the types are missing for this? I was using typescript and I cannot actually call `withTimeout` with the type check.

[2021-06-19 14:21] dbilgin commented on #2851
I get the error `Property 'withTimeout' does not exist on type 'Promise<void>'.`

[2021-06-19 14:26] noomorph commented on #2825
@baskarkarthik, the best I can help you with **right now** is to advise you to install Node.js [via NVM](https://github.com/nvm-sh/nvm). By the way, consider upgrading to Node v12+, at least — v10 is not supported already by anyone.

Since reverting `is-globally-installed` is going to expose another issue, and vice versa, it still might take time to implement another way to detect spawn loops (see

[2021-06-19 14:42] noomorph commented on #2851
Oh, I reckon it must be a TypeScript definition error then. Thanks for
reporting it! I can take that on Tuesday. Hope this is fine with you.

On Sat, 19 Jun 2021 at 17:22, dbilgin ***@***.***> wrote:

[2021-06-19 14:44] dbilgin commented on #2851
@noomorph thanks! totally fine with me, in the meantime I created this PR maybe I can save you the trouble:
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/53939
I'm not sure if it's the correct way to change it, but it worked in my code.

[2021-06-19 14:46] noomorph commented on #2851
@dbilgin, we don't support the external typings. Could you please check whether you have this problem without them? Detox ships its own typings. If the issue is still there, could you make a PR to our repo in that case?

[2021-06-19 14:51] dbilgin commented on #2851
@noomorph oh apologies I was not aware of this, did the typings move to internal support recently? If so could you direct me to that version of detox?

[2021-06-19 14:52] noomorph commented on #2851
Since 18.x, in Dec 2020. Just move to the latest 18.18.0 and check if it is
ok now.

On Sat, 19 Jun 2021 at 17:51, dbilgin ***@***.***> wrote:

[2021-06-19 14:54] dbilgin commented on #2851
yeah it seems to be working just fine now, thank you for your time @noomorph

[2021-06-19 14:54] #2851 closed

[2021-06-19 18:47] YeeWong11 commented on #2847
Update:

Thanks again @noomorph, we've tried deleting `~/.emulator_console_auth_token` but it didn't help.

We found a workaround for now by remove the `--cleanup` flag so the emulator doesn't shutdown between tests. It's probably not ideal for the long term but it gets the tests running again. Maybe the cause of the error is within the `cleanup` steps?

Here are some information that might be use

[2021-06-19 18:47] #2847 closed

[2021-06-19 21:09] noomorph commented on #2847
@d4vidi remind me to link this issue with a similar one about Android and --cleanup flag error

[2021-06-20 07:15] noomorph commented on #2847
Related to: https://github.com/wix/Detox/issues/2574.

[2021-06-20 07:41] alon-ha commented on #2821
@noomorph Yes, we are checking for the native view `userInteractionEnabled`
Can see in those links:
https://github.com/wix/Detox/blob/1e26e4b1d61fea47a6e690d8222dfaa48bf93b30/detox/ios/Detox/Utilities/NSObject%2BDetoxUtils.m#L304
https://github.com/wix/Detox/blob/4531220db9c22692df515c8ffe7fbbd7cd682e18/detox/ios/Detox/Utilities/UIView%2BDetoxUtils.m#L350

[2021-06-20 10:25] moonjava2005 commented on #2830
@noomorph With verion 18.12.2, we can use Test Lab. But from version 18.3.x, we cannot use Test Lab anymore

[2021-06-20 11:59] d4vidi commented on #2846
@noomorph Yes I know where this is coming from. I'm looking into it.

[2021-06-20 12:03] d4vidi commented on #2846
@sandeep-bastola for now, please add this to your android deps (in `app/build.gradle`):

[code]

[2021-06-20 12:11] d4vidi commented on #2846
@sandeep-bastola I've verified that this should in fact work even without adding the `material` dep explicitly.
I think that what you need is to rebuild your project from scratch (e.g. run `./gradlew clean` inside your `android/` directory).

[2021-06-20 12:15] d4vidi commented on #2831
Indeed - newer test-butler version have been uploaded to maven-central instead of bintray, following bintray's announcement of shutting down. In any case, test-butler has been integrated to Detox' `react-native-jest` demo project, and is downloaded regularly in its custom global (Jest) setup [script](https://github.com/wix/Detox/blob/master/examples/demo-react-native-jest/e2e/global-setup.js#L17).

[2021-06-20 12:20] d4vidi commented on #2847
Indeed, `--cleanup` seems to be fairly broken on Android. We will have to revisit as a part of our overhaul.

[2021-06-20 12:34] d4vidi commented on #2648
@onnerfors no problem. Hopefully by then we will have a skeletal project you could use (#2746)

[2021-06-20 14:30] d4vidi commented on #2837
I'm looking into the option of adding these rules to Detox' applicative rules-set.

[2021-06-21 00:03] phillip-kic commented on #2828
Has anyone else experienced this issue or have any idea what's wrong?

[2021-06-21 06:18] Sonakshi997 commented on #2787
Hi @d4vidi . Here is the process.log file you requested. Let me know if anything else is required from my side.

[process.log](https://github.com/wix/Detox/files/6684452/process.log)

[2021-06-21 07:34] sandeep-bastola commented on #2846
Tested with both methods, neither did work.
However this worked:
dependencies {
    // ...
implementation 'com.google.android.material:material:1.2.0-rc01'
}

[2021-06-21 09:27] d4vidi commented on #2837
@zanechua Thanks for reporting this in spite of having it solved! As explained - I do wish to have this solved across the board via Detox itself. A piece of info that could help for that, is to know whether your app uses Kotlin at all (i.e. has the kotlin std-lib defined as its dependency + has the classpath defined), or that it is in fact java-only ([more info](https://developer.android.com/kotli

[2021-06-21 11:31] d4vidi commented on #2802
@SiM07 it seems that, similar to everyone else's cases, your app crashes. However, in your case, the stack-trace doesn't appear to suggest anything related to Detox (the top-most frames are just Detox' crash handler, not related to the source).
@alon-ha please verify...

[2021-06-21 11:45] d4vidi commented on #2830
@moonjava2005 all in all, the response you got back from Firebase' support well describes how Detox works. I understand why they would not consider it under their scope, to a certain extent.

Other than that, there are a few questions I have to ask / requests I need to make in order to get a good perspective on the problem:
1. There was nothing special about Detox changes going from 18.12.x -> 18.

[2021-06-21 11:57] d4vidi commented on #2821
@alon-ha should we be inspecting a different prop, then? With `disabled: true`, it must leave a mark somewhere on the native side such that the view is not tappable. I presume with can be easily checked with xcode's hierarchy analyzer.

[2021-06-21 12:11] zanechua commented on #2837
As far as i know, we only have the classpath defined in the project like you see above in the `build.gradle` that I provided.

There are only 3 references to the keyword `kotlin` in the project., this is excluding node_modules.

* `kotlinVersion = "1.5.10"`
* `classpath "org.jetbrains.kotlin:kotlin-gradle-plugin:$kotlinVersion"`
*  `-keep class kotlin.** { *; }`

I have nothing else in my react-na

[2021-06-21 12:21] d4vidi commented on #2846
I fail to see why. Desperately trying to reproduce, yet in our example project `getAttributes()` works well even without the explicit dep. I suppose we'll have to stick the having the explicit dep as a workaround...

[2021-06-21 14:12] d4vidi commented on #2844
@noomorph thanks for the great job!
@AshrafRizvi01 please revisit this with Detox `18.18.1` and close the issue if it has indeed solved it.

[2021-06-21 14:13] d4vidi commented on #2837
@zanechua please upgrade to Detox `18.18.1` and try to remove your custom minification rule - and report back (or close the issue if it just works! 🤞🏻).

[2021-06-21 14:30] AshrafRizvi01 commented on #2844
Works!
Thank you @noomorph really appreciate the quick fix
Thanks @d4vidi Verified the same on the v18.18.1 and closing it as fixed.

[2021-06-21 14:30] #2844 closed

[2021-06-21 17:48] mikehardy commented on #2712
Please don't spam other modules with requests to pass things through. There is no way the whole ecosystem will support this in a timely manner, and there is a much cleaner way to do this:

**take control of your own dependencies using buitt-in gradle features**

Here's what I mean

In your `android/build.gradle` put these lines:

[code]

Example taken from a project that is open source, you can se

[2021-06-21 18:20] bsalesc commented on #2712
@mikehardy thanks for the tip but still failing, could you share the project's url? thanks!

[2021-06-21 18:32] mikehardy commented on #2712
React-native-firebase tests directory
Thought I pasted it sorry
https://github.com/invertase/react-native-firebase/blob/46556de7ce17ef1d55b52222a907732353addde6/tests/android/build.gradle#L82

[2021-06-21 18:34] bsalesc commented on #2712
Yeah I saw there this piece of code, thanks. No lucky in my project 😔

[2021-06-21 18:35] mikehardy commented on #2712
Then you are doing something wrong. Keep trying. It definitely works. I use it in all my projects.

[2021-06-21 19:09] bsalesc commented on #2712
@mikehardy I'm not sure, this is a basic project and still failing https://github.com/bsalesc/detox-build-failing

`yarn e2e:android:build`

[2021-06-21 19:22] mikehardy commented on #2712
I'm not going to troubleshoot your project. I've linked one that works. Build off that.

[2021-06-22 03:22] moonjava2005 commented on #2830
@d4vidi
1. After I upgrade to RN .64, the Detox 18.12.x cannot run until I upgrade to Detox 18.13.x (I remember that). But since that time, I cannot use Test Lab
2. As Detox 18.12.x, I only need export app.apk and test.apk and then, we upload these files to Firebase Test Lab via their API. We didn't need any extra effort
3. There's no log on Firebase Test Lab because they cannot find any test unit

[2021-06-22 06:18] d4vidi commented on #2830
@moonjava2005 what you said in section 2 doesn't sound right. In order for Detox to run, providing the apk's can't be enough. It's as Firebase' support said it: the test APK holds only *one single test*, which - unless driven by Detox itself (i.e. by running it on a host computer that connects to the device), does absolutely nothing.
It sounds like this has never really worked for you, TBH.

[2021-06-22 06:54] Daha62 commented on #2828
Faced the same problem, no ideas how to fixed

[2021-06-22 07:05] noomorph commented on #2828
Thanks for the reports.

@alon-ha, to be honest, I am not entirely sure whether this comes from some `ws` (Node.js) glitch, or there's a flaw on the native side... 🤔

Let's examine together these logs from @phillip-kic 's report:

[code]

I see that there was a WebSocket connection (`Connection 1`) established, to `localhost:49510`. But it was torn down very soon after that. I haven't seen any `Ac

[2021-06-22 07:14] noomorph commented on #2828
@phillip-kic, @Daha62, do you see that app just suddenly shuts down on your simulator after the launch? Or it still runs?

[2021-06-22 07:39] phillip-kic commented on #2828
It shuts down, doesn't even really open as I guess it just immediately shuts down.

[Video on GDrive](https://drive.google.com/file/d/1p9onkc_o6VQCzVskZSg-8diNrgsVNoo4/view?usp=sharing)
In this video the first test fails, and we see it shut down. Then the second runs successfully.

[2021-06-22 10:29] moonjava2005 commented on #2830
@d4vidi
The screen shot is the last successful test from Test Lab (may be on May 1st). At that time, I had not upgraded to 18.13.x yet (it was on 18.12.x)
![Screen Shot 2021-06-22 at 17 28 33](https://user-images.githubusercontent.com/16474293/122909492-71e3e480-d37f-11eb-88e9-6684557a1925.png)
![Screen Shot 2021-06-22 at 17 28 14](https://user-images.githubusercontent.com/16474293/122909503-74463

[2021-06-22 10:31] ball-hayden commented on #2641
Cross-posting here from https://github.com/wix/DetoxSync/issues/5#issuecomment-865851840

I've put together a minimal reproduction with Firebase Perf enabled: https://github.com/PlayerData/DetoxFirebaseRepro
Worth noting that produces a different trace to that originally reported in this issue - I think there might be multiple issues here that have been combined together.

[2021-06-22 11:33] henninghall commented on #2444
I tried to run it on tvOS, but unfortunately it didn't work, wrote more about it here https://github.com/wix/Detox/discussions/2853

[2021-06-22 15:02] d4vidi commented on #2830
As I understand it, there was nothing tested in that session on Test Lab. 1 Test for 3 sec total = nothing happened.

[2021-06-22 15:13] alon-ha commented on #2802
@SiM07 Whenever you are running detox and your app crash, you will see "Signal 11 was raised", but it doesn't mean the crash was related to detox.. In your case detox only caught it.

[2021-06-22 15:17] alon-ha commented on #2821
I think it's related to how react native "draw" TouchableOpacity view. Maybe it's a view inside another one.

[2021-06-22 17:59] archfz commented on #2712
Still reproduces on detox 18.18.1. In case that the build works for release build, but not with `assembleAndroidTest -DtestBuildType=release` this is clearly a detox issue.

[code]
This reproduces even after a full clean:
[code]

[2021-06-22 18:51] bsalesc commented on #2712
@archfz the problem is the library react-native-orientation that has minSdk 16.

[2021-06-22 19:01] mikehardy commented on #2712
ANY LIBRARY CAN HAVE ANY minSdkVersion! It's not unique to this library. And if the libraries move to 21, then how would all the people still using react-native 0.63 to support API16 feel?

It's not a bug.

TAKE CONTROL OF YOUR DEPENDENCIES by using gradle to raise them during the build.

[2021-06-22 19:01] mikehardy commented on #2712
or use patch-package if you want a hackier solution than gradle - https://github.com/ds300/patch-package

[2021-06-22 20:04] archfz commented on #2712
@mikehardy I still would expect an explanation why the default release build works correctly (in contrast to detox build)? All I am saying is that the `no solution` is the best solution. I believe lots of people will lose time and struggle on this.

---

Anyways I opted in using @mikehardy `s gradle solution. At first it was not working, so I decided to investigate the repository in which he said

[2021-06-22 20:11] plaa commented on #2712
@mikehardy That's a neat workaround. (Haven't tested it myself though.)

Still, it's best practice that libraries pass through `minSdkVersion`.  Every module template / generator I've seen does it.  It's the way things "just work" instead of having to have deep knowledge of gradle.  I recommend sending PR's to projects to make them better.  It's a minority of modules that don't have pass-through a

[2021-06-22 23:48] finalight opened #2856 "example don't work for release mode on android"
### Describe the bug

The example that i'm referring to is in the examples folder -> demo-react-native

### Steps To Reproduce

- npm i
- detox build -c android.emu.release
- detox test -c android.emu.release
- device is opened
- app is not opened
- tests are not running

### Expected behavior

Example should work

### Detox Trace-Logs

[code]

there are no code change in the example folder, so wh

[2021-06-23 00:02] finalight commented on #2856
here's the update so far:
it works on devices with API <28

i've checked the example code and it has the xml for the network security config, so I am not sure why is it not working for API >=28

[2021-06-23 07:23] moonjava2005 commented on #2830
@d4vidi Yes, actually, we only use TestLab for make sure CI build with the production signature whether causes the crash on real device. We run test logic in our side in another phase. But now, we cannot run this crash test any more

[2021-06-23 12:43] jonathanmos commented on #1500
@frank505 I'm not able to reproduce this. Do you have an example project where this happens that you can send?

[2021-06-23 12:57] d4vidi commented on #2830
Ok, for the record, I don't think that makes a lot of sense.
In any case, it doesn't sound like Detox has anything to do with this. Can you try to use the latest Detox + RN 63 and try again?

[2021-06-23 13:14] d4vidi commented on #2830
Also, may I suggest a different strategy: Don't use Detox in this case. Implement just a simple native test that launches the app - similar to what we you did in `DetoxTest.java`, but without initializing Detox. Then, there are ways to execute specific suites, instead of all of them.

[2021-06-23 15:12] ssrinivasKG opened #2859 "Using Detox to automate native iOS and Android versions of the same app"
Hey guys, Im wondering if having detox tests living in a separate central repository for iOS and Android is a good design pattern.
The reason for this is we have mostly the same functionality for both the versions of the app and having the tests for both platforms be located in the same place would make sense from a maintenance perspective.

Hoping for thoughts/ideas/concerns regarding the above a

[2021-06-23 15:48] d4vidi commented on #2840
Initial insights

- Today, in launchApp() we execute the instrumentation and expect for it to launch the app's activity (stated by the test rule), [here](https://github.com/wix/detox/blob/28a34feb5ed6b2f4fb62bda188b12125379337bd/detox/android/detox/src/full/java/com/wix/detox/Detox.java#L197).

In order to support multiple apps - which, among other things, needs to be able to attach onto on-the-fl

[2021-06-23 16:33] lindboe commented on #2818
Thank you for the answer @d4vidi! I appreciate the Genymotion suggestion too.

[2021-06-23 16:33] #2818 closed

[2021-06-24 09:31] zanechua commented on #2837
Just upgraded to `18.18.1` and unfortunately not...

Now the error has just changed to:

`Native stacktrace dump: java.lang.NoClassDefFoundError: Failed resolution of: Lkotlin/jvm/internal/Lambda;`

Not sure if you guys are comfortable with using the wildcard rule for kotlin instead of just the individual function calls

[2021-06-24 11:19] maxckelly commented on #2837
@d4vidi - This has worked for me, thank you.

[2021-06-24 13:48] ThilekSilvadorai-TomTom commented on #2243
@emoller having same issue. Did you find a solution ?

[2021-06-25 01:50] cdavie-weconnect opened #2862 "Ability to NOT pass --maxWorkers to Jest"
**Is your feature request related to a problem? Please describe.**
I want to be able to use Jest's `--runInBand` option. However, that option is [incompatible](https://github.com/facebook/jest/blob/bdd6282c288e58a16f6d2c79b0d2dec80e07f1de/packages/jest-cli/src/cli/args.ts#L14) with passing `--maxWorkers` to Jest — even though `--maxWorkers` will [default to 1](https://github.com/facebook/jest/blob

[2021-06-25 04:12] noomorph commented on #2862
Is there any technical difference between --runInBand and --maxWorkers 1,
Catherine?

On Fri, 25 Jun 2021 at 04:51, Catherine Davie ***@***.***>
wrote:

[2021-06-25 11:23] noomorph commented on #2859
That approach can work, but it is more suitable for production tests (with no or very few mock servers and other mocks) rather than anything else. Also, it is going to be not really trivial to keep in sync the app code and the test code: e.g. you are testing a new feature which can be (or not) included into the built app depending on specific version numbers, or you are missing a `testID` on a scr

[2021-06-25 12:50] #2827 closed

[2021-06-25 13:01] ssrinivasKG commented on #2859
We're working on native iOS and native Android apps. Hence the different repos

[2021-06-25 13:50] #2848 closed

[2021-06-25 14:38] noomorph commented on #2859
@ssrinivasKG, curious. I thought there were unsolved issues in Detox that prevent from running non-RN apps on Android.

[2021-06-25 14:46] ssrinivasKG commented on #2859
Oh! I was not aware of the issues. Read the readme.md, Saw this PR https://github.com/wix/Detox/pull/2835 and some example code supporting this.

[2021-06-25 14:47] noomorph commented on #2859
It is another project, for Java/Kotlin consumers.

The issue for Android is here: https://github.com/wix/Detox/issues/2543 (still open, as of now).

[2021-06-25 14:50] noomorph commented on #2543
@d4vidi any ideas if we have enough capacity for now to take a look at it this summer at least?

[2021-06-25 14:52] ssrinivasKG commented on #2859
Thanks for that!!! We were evaluating Detox, but this seems like something that is not yet supported. Any Idea on when this might get prioritized? Really like the idea of native automation that is not Appium and uses Javascript 😅

[2021-06-25 14:57] noomorph commented on #2859
@ssrinivasKG, well, we have some reinforcement in the person of @jonathanmos (💪 regards to Jonathan) since last month — so I asked @d4vidi in https://github.com/wix/Detox/pull/2835 whether we have some capacity for this summer. Let's move to that discussion. I'm closing this issue since you have an answer that way or another, and it is now a bit duplicating #2835.

[2021-06-25 14:57] #2859 closed

[2021-06-25 17:36] cdavie-weconnect commented on #2862
@noomorph Thanks for the quick reply!

As far as I can tell, there is no technical difference, especially because Jest will set `maxWorkers` to `1` when you use `--runInBand`.

Unfortunately, Jest does not _allow_ you to specify both `--runInBand` and `--maxWorkers=1` at the same time, even though that's exactly what Jest will do behind the scenes for you. If you try to pass both those options tog

[2021-06-25 17:40] noomorph commented on #2862
Nobody actively requested it, to be honest. Probably, you are the first or the second, at most.

Well, I can try to look into it quite soon, next week probably... 🤔 I might sneak it to a pull request when I'll be adding `maxWorkers` support into `.detoxrc` (JS/JSON config).

[2021-06-25 17:51] #2849 closed

[2021-06-25 22:41] cdavie-weconnect commented on #2862
I've submitted a pull request at https://github.com/wix/Detox/pull/2863 (based on the `patch-package` changes that I've been using locally in my own project). Let me know if I can make any changes so that it's easier for you to review or accept!

[2021-06-26 09:03] kanelloc opened #2864 "Detox hangs and timeout on iOS Debug"
### Description
Detox hangs and timeout after 12000ms

#### Reproduction

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the last known version where the issue did not reproduce.

1.  detox build -c ios
2. detox test -c ios --loglevel verbose

#### Expected behavior
A clear and concise description of what you expected to happen.

#### Screenshots

[2021-06-27 09:48] emoller commented on #2243
@ThilekSilvadorai-TomTom we ended up with a stack of self hosted mac-minis running our automation. In the end it was the most straight forward and most easily debuggable solution. Not ideal in any way, but workable.

[2021-06-27 11:06] d4vidi commented on #2864
@kanelloc could you please rerun using `--loglevel trace` and `--record-logs all` and attach everything that's been generated under the `artifacts/` directory?

[2021-06-27 11:12] d4vidi commented on #2862
@cdavie-weconnect please see my [answer on SO](https://stackoverflow.com/a/66669155/453052) regarding the differences between no-workers and `--runInBand`. I'm inclined to say we shouldn't support that in Detox.
May I ask what is the motivation for having this?

[2021-06-27 11:24] d4vidi commented on #2543
It's hard to tell for sure at this point, but it does seem unlikely - at least for ~Q3 area.
Presumably, we'll be busy introducing multi-apps support and doing some refactoring, all-the-while having a slow Q overall (in work-days perspective).

[2021-06-27 11:47] d4vidi commented on #2837
@zanechua Truly interested in finding out what it is about your project that poses such a challenge to Detox' proguard rules files 😂
We're fairly comfortable with wildcards - I believe we could sort that out easily.

[2021-06-27 13:36] zanechua commented on #2837
@d4vidi I would like to know too. hahaha. If I get some free time, I'll go see if I can find which package is being the annoying one but the proguard rule for wildcards for me will have to do for now. 😆

[2021-06-28 00:59] finalight commented on #2844
the fix doesn't work, at least on the androd counter part

the test still scroll downwards, even though when the element is there after scrolling one time

[2021-06-28 07:11] Andarius commented on #2848
@noomorph I'm having a similar issue after upgrading from `18.13.0` to `18.18.1` when running build in release mode for Android

`./gradlew clean && ./gradlew assembleRelease assembleAndroidTest -DtestBuildType=release`

[code]

[2021-06-28 09:42] KatieSnell-TomTom commented on #2736
https://github.com/MobileNativeFoundation/set-simulator-location is a good option for setting location on iOS simulators (not sure if it works on real devices). Could use this instead of `fbsimctl`?

[2021-06-28 10:55] DmitrievAlexander opened #2865 "Introduce longpress(duration) for android"
**Is your feature request related to a problem? Please describe.**
in our app we have a technical page which is opened by longpressing an element for 4000 ms

**Describe the solution you'd like**
would like to have the same behavior for longpress(duration) as for ios

[2021-06-28 16:09] rcwestlake commented on #2590
@ball-hayden @LeoNatan we are running into the same issue. We are consistently getting this:
![image](https://user-images.githubusercontent.com/9679076/123668374-45552000-d7f8-11eb-831c-28ff342bd3e0.png)

The issue seems to be here:
![image](https://user-images.githubusercontent.com/9679076/123668598-7c2b3600-d7f8-11eb-9be6-2a93a107e123.png)

When I remove the `RefreshControl` from the `ScrollView

[2021-06-28 23:00] cdavie-weconnect commented on #2862
@d4vidi I want to use `--detectOpenHandles`, and per https://github.com/facebook/jest/issues/9473#issuecomment-579195412, I should use `--runInBand` with it:

[2021-06-29 07:50] kanelloc commented on #2864
[ios.2021-06-27 11-21-41Z.zip](https://github.com/wix/Detox/files/6731577/ios.2021-06-27.11-21-41Z.zip)
@d4vidi Thank you

[2021-06-29 09:14] ball-hayden commented on #2590
@rcwestlake feel free to fork https://github.com/PlayerData/DetoxSectionlistRepro as a starting point if you'd like.
We haven't been seeing this, but I think we've still got workarounds in some places (disabling the loader when running E2E tests).

[2021-06-30 12:31] alon-ha commented on #2746
I'm happy to sat that a repo for [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) was created. We still need to add it to the doc in Detox, but everyone can fork it and add an example for his/her problem to speed the debug process

[2021-06-30 12:31] #2746 closed

[2021-06-30 12:37] alon-ha commented on #2864
Hi @kanelloc, can you please fork the [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) project and add a senario/test which reproduce the problem?
I can't really help here without an example I can debug

[2021-06-30 12:53] alon-ha commented on #2828
@noomorph I don't see anything in the log which seems like a glitch in the native side. The connection seems to handle like it supposed to from the device log. Hard to tell without debugging it.

@phillip-kic I created a [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) to speed up debugging issues like this one for example.
Any chance you are forking it and add some example which re

[2021-06-30 12:58] alon-ha commented on #2802
@walterholohan @sypl I created a [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) project that you can fork and add an example test which reproduce your issue. It will be great if you can do so and I will be able to solve it by cloning and debug locally.

[2021-06-30 13:33] #1500 closed

[2021-06-30 14:10] alon-ha commented on #2641
@ball-hayden That's great, I will try to look on the example you created.
I created a general template which will help speed bugs like this which we need to reproduce locally.
So next time use [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) :)

[2021-06-30 14:15] hamidhadi opened #2866 "`device.launchApp` doesn't always send `launchArgs` to the app"
### Description
I'm using `device.launchApp` to pass launch arguments to the app. I can get those arguments for the first time of running the app but during my test cases, whenever I launch the app again, those arguments will be `null`.

👇 Haven't tried but couldn't find any changes related to this bug after `v18.14.1`
 [ ] I have tested this issue on the latest Detox release and it still reproduc

[2021-06-30 14:18] alon-ha commented on #2641
@ball-hayden actually in the readme I see that you wrote that we need to setup a firebase project and some plist file..
That's exactly the part I want to skip on and just start to debug it from a point which firebase already setup and the tests failed because of that.. Will be great if you can fork the [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) and do so (just follow the readm

[2021-06-30 14:29] ball-hayden commented on #2641
@alon-ha I'm really sorry - I can't share a private key to do that.

[2021-06-30 15:02] Andarius commented on #2848
I tried passing

[code]
but still get ` Type android.support.v4.app.INotificationSideChannel is defined multiple times`.
Maybe someone more Android savy could see what's wrong here ?

[2021-06-30 15:26] louisdedecker opened #2867 "Android tests yield "[APP_UNREACHABLE] Failed to reach the app over the web socket connection."-error"
### Describe the bug
So far, all the Android tests I ran have returned an "[APP_UNREACHABLE] Failed to reach the app over the web socket connection." error

### Steps To Reproduce
- followed the Android Detox setup process. The project uses Android Flavors.
- tested on both emulator/real Android device
- build the project `detox build --configuration android.emulator.staging.release`
- when I run

[2021-06-30 15:31] ball-hayden commented on #2641
I don't think that would be possible @alon-ha. The missing plist file contains only API keys, and is downloaded from the Firebase Console. I've just tried populating that with fake details and the app fails to start - I assume the Firebase library is validating on startup.

I can fork DetoxTemplate, but after I have added React Native Firebase you would still need to create a Firebase "project" an

[2021-06-30 15:34] alon-ha commented on #2641
I meant that you can open a new account in firebase and set all those things into a fork of DetoxTemplate.
Basically so the fork repo will already include everything.

[2021-06-30 15:39] ball-hayden commented on #2641
Unfortunately, I can't do that as that would still be sharing API keys publically (albeit for a test firebase account).

I'll get a fork ready. Either someone else who is willing to publish keys can do so, or we can exchange keys privately.

[2021-06-30 15:51] shamilovtim commented on #2641
They don't have accounts for OSS? Seems like something like that should exist

[2021-06-30 15:53] ball-hayden commented on #2641
@alon-ha my apologies - I've done a bit more reading into the `GoogleService-Info.plist` file and the contents are unique but considered to be non-secret.

I've pushed one to my original demo project.
I'll also get a fork of the DetoxTemplate fully setup.

[2021-06-30 15:54] ball-hayden commented on #2641
@shamilovtim you'd need a free account to reproduce this - all of the necessary bits are in the free "spark" plan.

[2021-06-30 16:05] ball-hayden commented on #2641
https://github.com/PlayerData/DetoxFirebaseReproTemplate
^ There's a fork with Firebase setup.

The issue is intermittent - I've adapted your provided test to run multiple times. I reliably hit the bug within the first few iterations.

[2021-06-30 16:07] kanelloc commented on #2864
@alon-ha after your suggestion I debugged the project and everything worked fine.
Thanks

[2021-06-30 16:07] #2864 closed

[2021-06-30 17:34] gabriel11447 opened #2868 "testNamePattern set with single quotes on git bash instead of double quotes"
### Describe the bug
By running the command `yarn detox test -c android.emu.debug` on a git bash terminal, we noticed that the configuration [INFO] log, shows the flag testNamePattern defined as `'^((?!:ios:).)*$'` (notice the single quotes).

![image](https://user-images.githubusercontent.com/37315220/123999045-783e1600-d9a8-11eb-8214-778ce836f384.png)

Note: the last line is in pt-BR, it means:

[2021-06-30 17:43] zRelux opened #2869 "TypeError: Cannot read property 'bind' of undefined"
I am facing some issues with running `detox test` with `jest`.
The error I am getting is:
[code]

package.json
[code]

detoxrc.json
[code]

e2e/config.json and enviroment are the default generated from `detox init`

[2021-06-30 17:59] noomorph commented on #2869
Could you please post output of `npm ls` in your project?

[2021-06-30 18:00] zRelux commented on #2869
Here @noomorph
[code]

[2021-06-30 18:01] noomorph commented on #2869
Try with --depth 2. I am checking the versions of dependencies of dependencies this way with you

[2021-06-30 18:03] zRelux commented on #2869
I get this when I run `npm ls --depth 2`
[code]

[2021-06-30 18:05] noomorph commented on #2869
Nothing besides?

[2021-06-30 18:06] noomorph commented on #2869
Try downgrading Jest-* packages and see if it changes anything for you. Let me know your findings. Check the older versions of 27.x and then 26 latest.

[2021-06-30 18:07] zRelux commented on #2869
Sorry updated commented pasted the wrong thing

[2021-06-30 18:07] zRelux commented on #2869
To which version should I downgrade to?

[2021-06-30 18:12] noomorph commented on #2869
Try 27.0.5 and 26.6.3

[2021-07-02 11:10] noomorph commented on #2862
I started my work on the alternative implementation of this feature: https://github.com/wix/Detox/pull/2872 .

After considering many options, I realized that we DON'T NEED to pass `--maxWorkers` **at all**.

That's just silly and redundant — both Mocha and Jest have an option to set max worker count in their config files.
In fact, refraining from passing that CLI argument makes us able to start u

[2021-07-02 13:30] kanelloc opened #2873 "Having problem with github actions"
### Description
Hello guys,
I'm having problem when running detox on CI (github actions).
Detox works perfectly locally but I keep getting errors on the CI after the test command.

I provide below the yaml file with the build/test configuration of detox on the github action.

[code]

### Logs

yarn run v1.22.10
[code]

[2021-07-02 16:02] veronikashavrova commented on #2415
@d4vidi thanks, this tip helped me. Here is full `DetoxTest.java` code which solved `com.wix.detox.common.DetoxErrors$DetoxRuntimeException: Waited for the new RN-context for too long! (60 seconds)` for me.

[code]

[2021-07-03 00:24] jkhusanov commented on #2579
Also, for anyone that could not find animations, make sure things like API calls are not in an infinite loop.

[2021-07-04 10:00] d4vidi commented on #2579
@jkhusanov FYI when running with Detox's `debug-synchronization` feature enabled (on by default), you should be able to get specific logs telling you what's holding the app back from going idle - so as to save your time on inspecting whether these are animations or network calls that are behind it.

[2021-07-04 10:03] d4vidi commented on #2415
@veronikashavrova great, this is as performed in our example project: https://github.com/wix/Detox/blob/master/examples/demo-react-native/android/app/src/androidTest/java/com/example/DetoxTest.java

[2021-07-04 11:33] d4vidi commented on #2828
@alon-ha wdyt about this device-log snippet? -
[code]

[2021-07-04 11:57] d4vidi commented on #2828
@phillip-kic please try rerunning in release mode (i.e without the need for the JS-bundling _metro_ server running in the background), and see if that helps stabilize things. Generally speaking, _release_ is the recommended mode to run Detox in.

[2021-07-04 12:19] d4vidi commented on #2828
@phillip-kic in any case, there's a mismatch between what appears to take place on the video, and what the logs show. While  in the video, the 1st test (`...Where email and password are valid...`) fails (immediate app crash) and the 2nd one succeeds (`...password are invalid...`), the logs show this happens the other way around.
I'm suspecting that your app simply crashes intermittently. Could you

[2021-07-04 12:27] phillip-kic commented on #2828
@d4rky-pl
This occurs in both Release and Debug, doesn't seem to be any difference in how often it occurs.
I recorded the video after asked, not the same run as the logs. It's random which one, if any, will fail. Every time it's run it's a different result.
It's not an intermittent native crash, no crashes like this are observed when not using Detox. This app is in production with many active user

[2021-07-04 12:37] d4vidi commented on #2837
@zanechua I don't mind, in particular, to include all of kotlin's internal - the overhead would be very small. It's more about being able to understand this better, obviously.

[2021-07-04 12:42] d4vidi commented on #2828
@phillip-kic thanks for the info. If you don't mind, could you try to rerun with the following argument: `--debug-synchronization 15000`? If there's any crash or error that can be caused by Detox itself, debug-sync ought to be the reason for it -- and this would tame it down 🙏🏻

[2021-07-04 16:43] d4vidi commented on #2862
@noomorph could you please elaborate? Are you suggesting we should _never_ pass `--maxWorkers`, and strictly use the configuration?

[2021-07-05 01:35] deecewan commented on #2611
it's still relevant

[2021-07-05 07:17] noomorph commented on #2862
@d4vidi, exactly. I came to a conclusion that this was a design mistake — we never actually needed it. All that we had to do is to specify `maxWorkers: 1` in `jest.config.js` and allow passing through its native options `-w, --maxWorkers <N>`, and that's it.

I'd like to deprecate `-w, --workers` in Detox for 19th release.

[2021-07-05 11:44] d4vidi commented on #2611
@alon-ha any updates here, yet?

[2021-07-05 11:50] alon-ha commented on #2733
RN 0.64 officially tested and upgraded with Detox and DetoxSync.
Only examples in DetoxSync were needed to change, all else worked flawlessly

[2021-07-05 11:56] alon-ha commented on #2611
In TrustKit [doc](https://github.com/datatheorem/TrustKit/blob/master/docs/getting-started.md) they specifically mention: "Apps where method swizzling of the connection delegates is already performed by another module or library (such as Analytics SDKs)"
DetoxSync (The mechanism for tracking app status in Detox) swizzling both `NSURLSession` and `NSURLConnection`.
I already check the swizzling in

[2021-07-05 21:50] Zeroxys commented on #2807
@alakdam07  did you solve it ?

[2021-07-06 10:27] alon-ha commented on #2641
@ball-hayden Thank you for the example. I'm hoping to start working on that this week.
I already checked the swizzling in detox and seems that it was done correctly. Hopefully I can fix it in our side, but my best solution might be to open a PR to Firebase. Will keep you guys update

[2021-07-06 10:57] meshaabi commented on #2802
Facing the same issue, sentry caught it as `OutOfMemory : The OS most likely terminated your app because it overused RAM.` : but theres no more context ...

will report if we find more...

[2021-07-06 11:29] alon-ha commented on #2802
Not necessarily related. Signal 11 Raised whenever the app crash. Here the bug related to DetoxSync
`DetoxSync                           0x00000001063d274f -[_DTXTimerTrampoline fire:] + 188`
Post the stack trace to see if it's seems to be the same issue or just a general crash which is not related to detox

[2021-07-06 11:37] annuneetu commented on #2579
@lukewlms I am already using
beforeAll(async() => {
  await device.launchApp()
 })

but still facing the issue defined by you on iOS, the scripts very well on android, any suggestions how can I rectify it ?

[2021-07-06 12:37] #2733 closed

[2021-07-06 13:29] ibrahim7elmasry commented on #2869
Update jest to 26.6.3 or up it works with me

[2021-07-06 14:20] hanno-jonlay commented on #2848
I can confirm that I had the same issue, with much the same environment configuration (including Test Butler), and observed the same solution.

I tried various debugging steps before I found this thread:

- My usual `android build` commands succeeded, and I only experienced the Dex merge failure when I ran my Detox build in release mode for testing - observed both locally and on CI.
- I tried upgr

[2021-07-07 08:56] louisdedecker commented on #2867
Problem found: I had saved DetoxTest.java in
/android/app/androidTest/java/com/project/DetoxTest.java
instead of
/android/app/**src**/androidTest/java/com/project/DetoxTest.java

[2021-07-07 08:56] #2867 closed

[2021-07-07 11:42] alon-ha commented on #2641
@ball-hayden I debugged the Template you provided.
Unfortunately you can't  put the describe inside a for [loop](https://github.com/PlayerData/DetoxFirebaseReproTemplate/commit/be37eb32fe009a1f9c0811f838294d2ebd7f6bd0#diff-75c74b7610d9ef3a5650f1645bce501764378aac1602e6f98fa56da13e4cb879R1), that's not a valid way to run e2e tests - the for loop won't wait for each to finish..
This will fail withou

[2021-07-07 12:13] alon-ha commented on #2611
I created a [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) project that you can fork and add an example test which reproduce your issue. It will be great if someone can do so and add TrustKit / the minimal test which cause this issue.
Then I will be able to solve it by cloning and debug locally.
@deecewan @walterholohan

[2021-07-07 12:43] cpdyj commented on #2869
26.6.3 works for me but 27.0.5 don't.

[2021-07-07 14:31] alon-ha commented on #2866
@noomorph Can you check the JS side?

[2021-07-07 14:42] alon-ha commented on #2735
As far as I know `permissions` should work with or without `newInstance: true`.
@alimtunc  @aikewoody Which version of `applesimutils` you guys are running?
Will try to check it soon

[2021-07-07 15:59] aikewoody commented on #2735
Version `0.9.2`

[2021-07-08 04:33] Sonakshi997 commented on #2787
Hi @d4vidi . I was able to overcome this stuck `.scrollTo()` problem by doing this.

    await element(by.id(scroller_testID)).scroll(scrollValue, 'down')
    await element(by.id(scroller_testID)).tapAtPoint({
      x: 10,
      y: 10,
    })
    await element(by.id(screenView_testID)).tapAtPoint({
        x: 10,
        y: 20,
      })

I believe this is just a temporary solution or a hack to mak

[2021-07-08 09:25] cpdyj opened #2880 "How to skip the visible check?"
Sometimes I need tap or typeText in an invisible Element, but I read all the document, I found nothing about how to do it.
For example, looks Detox doesn't support Webview now. So I try to resolve problem by https://stackoverflow.com/a/52123744/7121473
In another scenes, my application has some component with bad accessbility. But I have no chance to fix it.

Thank you for your help

[2021-07-08 11:33] #2612 closed

[2021-07-08 14:37] nlmazhari commented on #2869
same for me. and all jest packages need to be at the same version.

[2021-07-08 14:48] d4vidi commented on #2648
@onnerfors with #2746 all done and well, we now have [`DetoxTemplate`](https://github.com/wix-incubator/DetoxTemplate) ready for easy reproductions. Perhaps you could work out a reproduction based on it? You can easily fork it and have a project up and running in a breeze.

[2021-07-08 16:18] noomorph commented on #2869
@zRelux, @ibrahim7elmasry, @cpdyj, @nlmazhari

I still cannot reproduce your bug report.
For example, our template repository happily uses Jest 27 without an issue: https://github.com/wix-incubator/DetoxTemplate

Please find out what specific condition triggers this error. I can't help you without extra input. Sorry.

Marking as `user: more info needed`.

[2021-07-08 16:19] noomorph commented on #2866
I'll check tomorrow.

[2021-07-08 16:29] noomorph commented on #2868
The bug report is correct, but at the moment I am a bit busy with other tasks. Could you also muse about a possible solution?

If I remember right, there's a $SHELL variable that can help to distinguish between mingw's bash and CMD.exe, when `process.platform === 'win32'`. I can't understand why this logic is broken in your Windows environment.

Could you debug this function (at least, with some c

[2021-07-08 16:30] noomorph commented on #2862
@cdavie-weconnect , I hope to land the PR tomorrow.

[2021-07-08 17:28] gretzky commented on #2869
I've made a minimal repro here @noomorph

https://github.com/gretzky/detox-circus-legacy-issue-repro

Steps to reproduce:

[code]

[2021-07-08 17:30] vjoby-wavefin opened #2881 "No instrumentation runner found on device"
### Describe the bug

Getting No instrumentation runner found on device emulator-11746 for package

### Steps To Reproduce

- [x] I have tested this issue on the latest Detox release and it still reproduces
"react-native": "0.61.5",
"detox": "^18.18.1",
"jest": "^26.6.3",
"jest-circus": "^27.0.6",

1. Followed all the steps mentioned in the getting started guide for android under detox github page

[2021-07-08 20:32] bipul-yadav opened #2882 "error: cannot find symbol import com.wix.detox.Detox"
React Native version : 0.64.2
Detox version : 18.18.1

Getting
[code]

[2021-07-08 21:50] #2881 closed

[2021-07-08 21:51] vjoby-wavefin commented on #2882
check if you have added the DetoxTest.java file under androidTest folder

[2021-07-08 21:55] rcwestlake commented on #2590
Thanks @ball-hayden, I'll work on getting a repo up.

[2021-07-08 22:54] bipul-yadav commented on #2882
Solved, I just miss this

[code]

[2021-07-08 22:54] #2882 closed

[2021-07-09 00:02] vjoby-wavefin opened #2883 "Timeout issue in detox android"
### Describe the bug

Detox in android keeps timing out and the logtracing doesnt provide enough details for some reason for the crash
Builds correctly and launches and gets hung up in the initial screen
It works as expected in ios though without any issue

### Steps To Reproduce

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### .detoxrc.json configuration

[2021-07-09 07:24] annuneetu commented on #2579
@martintreurnicht could you please advise how you did "after investigating deeper i realized that we show a spinner on the button when submitting", as I am also suspecting the same in the AUT

[2021-07-09 07:56] ball-hayden commented on #2590
@rcwestlake - there is now an official template from @alon-ha - you may be better using that:
https://github.com/wix-incubator/DetoxTemplate

[2021-07-09 08:00] ball-hayden commented on #2641
Interesting. Is it possible that this bug is aggravated by Firebase, but does also exist without?

I've got to tap out for a bit, but I'll happily accept a PR to https://github.com/PlayerData/DetoxFirebaseReproTemplate from anyone else following this thread.

Otherwise, I'll update that repo when I've got some time available again.

I assume that simply duplicating the test file (instead of runnin

[2021-07-09 08:40] arish-panjwani opened #2884 "Detox tests passes if e2e files are executed one by one but fails when trying to run all the e2e test files together"
### Description
if I use the command,
detox test --c ios --reuse Test1.e2e.js
or
detox test --c ios --reuse Test2.e2e.js
that particular e2e test file (eg. Test1.e2e.ls or Test2.e2e.js) passes,
but fails If I try to run them all together by command
detox test --c ios --reuse

Different test cases fail randomly every time.

I have tested this issue on the latest Detox release and it still reproduce

[2021-07-09 08:55] QureshiFaizan opened #2885 "Detox tests get stuck after running few times and needs restart of system(Big Sur 11.0.1,MacBook Air (M1, 2020))"
### Description
detox test --c ios --reuse Test1.e2e.js
After running test cases for a few times with above command
test cases get stuck at

**Determining test suites to run...**
**RUNS  e2e/News_Test.e2e.js**

until system is restarted.

- [ ] I have tested this issue on the latest Detox release and it still reproduces

![image_2021_07_09T08_51_20_674Z](https://user-images.githubusercontent.com/3