[2021-12-13 18:02] shamilovtim commented on #3000
@mikehardy assuming this will this work with `yarn detox test -c`. noticed you pass the exact path to the binary in node_modules

[2021-12-13 19:22] mikehardy commented on #3000
@shamilovtim unknown and I don't want to speculate, sorry - all I know is that I've got at least some mitigation with the change. I think I still see crashes under some circumstances, but I think I've got an improvement if I'm running the experiments I think I'm running and I'm interpreting results correctly. Sincere apologies for being so weasel-y / vague about it. This stuff is subtle and I'm no

[2021-12-13 19:26] shamilovtim commented on #3000
@mikehardy I see, thanks for your efforts on this. Sorry for off topic but is there a reason you execute detox as `node_modules/.bin/detox` rather than `yarn detox` or `npm detox`?

[2021-12-13 19:38] mikehardy commented on #3000
Probably not? Per my bio I attempt to reverse entropy as a full-time thing, but there always seems to be more of it ;-). Most likely that is unnecessary, at least I'm not aware of any reason why we reach into .bin, and I'm aware than in a yarn v2+ future that's non-functional

[2021-12-14 01:15] curtismgt commented on #3123
@fatlinesofcode Are you using any Expo libraries? We're getting this Signal 11 error consistently with an Expo bare-workflow app after upgrading to Expo 43.

[2021-12-14 05:17] fatlinesofcode commented on #3123
yes we're using a few, we ejected originally from v37 but have since upgraded to to rn64

[2021-12-14 13:59] arish-panjwani commented on #2981
@asafkorem
I did call `setBiometricEnrollment(true)` **before** the authentication request was started and
`matchFinger()` / `matchFace()` **after** the authentication request was started.

Firstly, setBiometricEnrollment(true) does not set Biometric Enrollment to true and I have to do it manually from `Features -> Face ID -> Enrolled`.

Secondly, even after doing that, the test gets stuck at matc

[2021-12-14 21:12] gunnartorfis commented on #2576
Same here.

[2021-12-15 00:45] christopherdro commented on #3123
@curtismgt The issue showed up for as well up after upgrading to Expo 43.

[2021-12-15 09:44] arekkubaczkowski commented on #3047
The same here, can we count on some help?

[2021-12-15 09:51] arekkubaczkowski commented on #3047
But actually I have a little different error:
[code]

[2021-12-15 09:55] arekkubaczkowski commented on #3047
these are the logs when taps on this specific element:
[code]

[2021-12-15 10:45] arekkubaczkowski commented on #3047
I am also providing the video of this behavior.
As you can see it taps on the disconnect button and it actually works (we can see that it has been disconnected)
This is the last step of this test scenario so test should be done already but for some reason is still running and throw timeout error at the end.

https://user-images.githubusercontent.com/18654447/146172152-2c7965cf-59f7-4993-a812-fe23e

[2021-12-15 11:10] arekkubaczkowski commented on #3047
It turned out that it happens only on React Native >= 0.64.x
after downgrading to 0.64.3 it work correctly

[2021-12-15 16:32] xavierbrin commented on #2302
In my case I had to remove detox dependency and reinstall it ( i'm using yarn so )
`yarn remove detox`
`yarn add detox`

[2021-12-15 23:15] awinograd commented on #3000
Was previous having this same stacktrace as https://github.com/wix/Detox/issues/3000#issuecomment-992731382

Tried @mikehardy's solution (but beware of the typo in the env variable!) Adding `SIMCTL_CHILD_NSZombieEnabled=YES` to my test script resolved the crash for me (to be determined if it's consistent or just reduces crash rate as indicated in another thread I'm having trouble finding right now

[2021-12-16 01:25] mikehardy commented on #3000
@asafkorem and the folks in the firebase iOS repo deserve the credit but I'm glad it works for you. I'm 100% green in CI with this mitigation

[2021-12-16 05:46] #3058 closed

[2021-12-16 14:52] d4vidi opened #3137 "(iOS) crashes (signal 6) due to missing UI components --"
Try to see whether can be reported by the tester (not only the native side)

TC ref:
http://tc.dev.wixpress.com/viewLog.html?buildId=129976631&tab=buildResultsDiv&buildTypeId=wix_one_groups_r_d774f_02

(artifact: http://tc.dev.wixpress.com/repository/download/wix_one_groups_r_d774f_02/129976631:id/places.ios.release.2021-12-14%2015-20-41Z/44FFE6DA-0F75-4EA7-B554-E90338C48FE4%202021-12-14%2015-22-3

[2021-12-16 15:43] kolganem opened #3138 "Problem with runnig test( artifactsManager.onHookFailure)"
### Description

I use Expo + manage workflow in project. Installed all dev dependencies. Tests are started, the emulator opens, the application runs and opens on emulator, but nothing happens. Waits for a couple of minutes and crashes

### Environment

 - Detox: 19.3.1
 - React Native: 0.64.3
 - Node: 14.17.3
 - Device: Pixel 4 XL API 29
 - OS: WIndows
 - Test-runner : jest

`detox test --logleve

[2021-12-16 16:48] curtismgt commented on #3123
I've created a companion issue in Expo [Expo issue 15595](https://github.com/expo/expo/issues/15595). Hopefully we get some action out of these and work this out. We're blocked entirely with e2e on iOS by this and need to switch to another solution if this isn't resolved.

[2021-12-16 19:56] christopherdro commented on #3123
I'm not sure if this is directly related to Expo but these changes fix the issue for us. https://github.com/wix/Detox/pull/3135

[2021-12-16 20:18] asafkorem commented on #3123
Amazing news @christopherdro!
CC @d4vidi

[2021-12-16 20:37] shamilovtim commented on #3123
@curtismgt are you using Firebase? I don't think this problem is from Expo.

[2021-12-16 21:14] curtismgt commented on #3123
@shamilovtim We are not using Firebase at all. It's possible it's both with the same problem. If you create a new bare Expo app with `expo init -t bare-minimum --npm --name testDetox` and then install Detox and run it against iOS 14.5 or 15.0 it crashes with Signal 11. The exact steps are in the Expo issue I posted up. I wonder if Expo is also doing this swizzling thing and interfering with Detox

[2021-12-16 21:47] fatlinesofcode commented on #3123
thanks for the suggestions, we'll try and them out and let you know if it resolves our issue

[2021-12-16 22:38] CentaureaDev commented on #3138
yep, observe similar problem. Please advice workaround

[2021-12-17 11:39] arekkubaczkowski commented on #2713
@Andarius how did you manage to fix this? I am having similar issue

[2021-12-17 11:53] Andarius commented on #2713
@arekkubaczkowski i'm not sure anymore but I think bumping version

[2021-12-18 13:37] thetin95 commented on #2402
In my case. I disabled the splash screen.

[2021-12-20 09:08] asafkorem commented on #3127
@jb9229 can you try to launch the app with location permissions through the `launchApp` API?
[code]

Also use the `setLocation` API to configure your current position:
https://github.com/wix/Detox/blob/5e2b1d3ddd780af880f949b52ff9dc7e869c02a7/detox/index.d.ts#L611

[2021-12-20 23:43] curtismgt commented on #3123
So we managed to get ours working. Keep in mind we are not using the Firebase libraries but the solution may be similar, I'm not familiar with them.

Our problem is a conflict of some kind with Detox and Expo Updates after the Expo 43 upgrade. Our solution is to disable the expo-updates native module by setting `EXUpdatesEnabled` to `NO` in `Expo.plist`.

[2021-12-21 10:35] kholood-ea opened #3139 "Detox cant find element by RTL text"
### Description
detox cant seem to find element by text when text is written in other then english for ex:

this test passes ✅
[code]
but this one doesn't ❌
[code]
### Environment

 - Detox:19.3.1
 - React Native:0.64.1
 - Node:12.19.0
 - Device: iphone 13 pro max
 - OS: ios
 - Test-runner (select one): `jest-circus`

[2021-12-21 11:17] #1420 closed

[2021-12-21 15:35] jpoisch opened #3141 "Error: Multiple interactions taking place simultaneously on await waitFor"
### Description
A clear and concise description of what the bug is.
When we updated  to  19.3.1, we now get the following error while executing an async await function like below:

Detox doc's example:
`await waitFor(element(by.text('Text5'))).toBeVisible().whileElement(by.id('ScrollView630')).scroll(50, 'down');`

The step in our framework (notice its identical):
[code]

[code]

- [x] I have test

[2021-12-21 16:01] noomorph commented on #2206
@jonathanmos @d4vidi  per reports on Discord of RNN, this issue is still valid.
![image](https://user-images.githubusercontent.com/1962469/146960731-df0836db-44e5-4bf0-ab8a-56e6cdec90d3.png)

[2021-12-22 08:24] #2817 closed

[2021-12-22 08:24] #2899 closed

[2021-12-22 08:24] #3033 closed

[2021-12-22 08:24] #3034 closed

[2021-12-22 09:10] #2802 closed

[2021-12-22 09:10] #3000 closed

[2021-12-22 09:10] #3123 closed

[2021-12-22 09:21] asafkorem commented on #2802
https://github.com/wix/Detox/pull/3135 was merged, it should solve the issue of DetoxSync crashes when Firebase/Performance is integrated, it was tested on the example apps that reproduced this issue.

We will release a version with this change soon.

Once you have updated a version (to the latest/next version), if any of you are still having Signal 11 crashes on DetoxSync, please open a new bug r

[2021-12-22 09:33] asafkorem commented on #2641
https://github.com/wix/Detox/pull/3135 was merged, it should solve the issue of DetoxSync crashes when **Firebase/Performance** is integrated, it was tested on the example apps that reproduced this issue.
@tomphilbin @shamilovtim @wdospinal CC

Once you have updated a version (to the latest/next version), if any of you are still having Signal 11 crashes on DetoxSync when Firebase/Performance is in

[2021-12-22 09:41] asafkorem commented on #3123
#3135 was merged, it should solve the issue of DetoxSync crashes when Firebase/Performance is integrated, it was tested on the example apps that reproduced this issue.
@fatlinesofcode CC

Once you have updated a version (to the latest/next version), if any of you are still having Signal 11 crashes on DetoxSync when Firebase/Performance is integrated, please open a new bug report with the required

[2021-12-22 09:43] asafkorem commented on #3123
@curtismgt sounds like you found a workaround.
Do you think it worth noting in our docs? Maybe we should mention this on our expo doc page: https://wix.github.io/Detox/docs/guide/expo/ (feel free to open a PR if so).

[2021-12-22 09:51] asafkorem commented on #3000
#3135 was merged, it solve (with a workaround) the issue of DetoxSync crashes when Firebase/Performance is integrated, it was tested on the example apps that reproduced this issue.

We will release a version with this change soon.

Once you have updated a version (to the latest/next version), if any of you are still having Signal 11 crashes on DetoxSync, please open a new bug report with the requi

[2021-12-23 10:20] asafkorem commented on #3130
@Vannevelj
Can you please try to add the target button a `testID` and access the button element it by its ID (and not by its text)?

[2021-12-23 10:51] Calinteodor opened #3144 "Network request doesn't finish when testing video/audio conference room"
### Description

I investigate mobile automation tests on Jitsi mobile app with Detox.
I wrote some tests that run as expected on our welcome screen.
The problem is, when I navigate from the welcome screen to the actual conference room, I end up with this, multiple times in the terminal, and the test doesn't move to the next step.

-----
detox[17701] INFO:  Jitsi Meet App: is audio/video muted
det

[2021-12-23 20:52] avanderberg commented on #3130
I get the same error when I execute a test with Detox version 19.3.1:

[code]

I get the issue after this screen is displayed:
![Simulator Screen Shot - iPhone 8 - 2021-12-23 at 20 18 06](https://user-images.githubusercontent.com/215668/147290382-db5c9c11-1550-4a3d-854f-75d8f5dcb89f.png)

The steps the Detox test executes are:
- open this Security screen
- tap on the link "Unpair your device"
- ta

[2021-12-23 20:59] asafkorem commented on #3130
Thanks @avanderberg, I understand the issue you're having and I'm able to reproduce this.
I'm working on a fix for this bug 🙂

[2021-12-24 06:55] sergtimosh commented on #2576
Me too.

[2021-12-24 08:30] sergtimosh opened #3147 "Test failing when trying to use getAttributes() on android"
### Describe the bug
Earlier, when getAttributes() was relevant only for iOS, I was using workaround described in detox-getprops package. Now, when we already have getAttributes available for android I was trying to refactor code to use new api for Android and I still can't due to the next issue:

` DetoxRuntimeError: Test Failed: com.google.android.material.slider.Slider
      70 |             (<

[2021-12-24 09:49] arish-panjwani commented on #2981
@asafkorem any update on this?

[2021-12-25 02:02] #3025 closed

[2021-12-26 08:36] d4vidi commented on #3008
@indradeepchowdhury definitely plausible that like you might have a bug in your app. Would appreciate a deeper inspection on your behalf and otherwise repro using our [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) project 🙏🏻

[2021-12-26 09:33] asafkorem commented on #2981
Hi @arish-panjwani, first - what are `logout()` and `userLogin()`? why they are not in the `beforeAll()`?

Please help me investigate and reproduce this better, I suggest to write a small isolated test that does the minimal actions.

If I understand your flow correctly, it should be something like:
[code]

[2021-12-26 09:42] asafkorem commented on #2981
Also, if it still fails, and you want to expedite the investigation, please reproduce this issue on our [template app](https://github.com/wix-incubator/DetoxTemplate), it will be very helpful.

[2021-12-27 09:48] finalight commented on #2931
wait, why are we reopening this. did anyone attempt to solve it or what?

[2021-12-27 09:56] #3127 closed

[2021-12-27 10:15] tinmar33 commented on #3050
Hey, I have the same problem when running a test on Release on iOS (it's working fine on debug). Any idea ?

[2021-12-27 10:20] d4vidi commented on #2931
@finalight it's been closed by the stale bot. We might have a look at it soon.

[2021-12-27 11:11] annaostapenko22 commented on #3050
I am also facing this issue!

[2021-12-27 11:55] #3130 closed

[2021-12-27 21:10] HackGod2000 opened #3151 "Is there a way to run the e2e test on firebase test lab"
### Description

Is there a way to run the e2e test on firebase test lab , so that i can test my UI test on multiple devices .

### Environment

 - Detox: latest
 - React Native: latest
 - Node:latest
 - Device:
 - OS:
 - Test-runner (select one): `mocha`

[2021-12-28 00:43] CMLCNL commented on #1513
are there any updates? thank you.

[2021-12-28 16:03] d4vidi commented on #1513
None so far.

[2021-12-28 16:05] d4vidi commented on #3151
This issue is related: #2830.
I don't think there's a point in trying to run Detox on firebase test lab, because it runs native tests and in a Detox environment all JS tests are run under that same test, dispatched over and over again.

[2021-12-28 16:05] #3151 closed

[2021-12-28 16:20] d4vidi commented on #3050
Please try with Detox `19.4.1`

[2021-12-29 06:56] shamilovtim opened #3154 "Detox fails launching with error: "Unable to obtain a list of simulators""
### Description
Starting to see far more occurrences of a flakey launch error. It seems to happen when calling

[code]

Based on artifact screenshots / videos, the app is opened successfully but Detox crashes out with that error.

The error is as follows:
[code]

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction

Provide the steps necessary to re

[2021-12-29 07:06] shamilovtim commented on #3154
According to [this post](https://issueexplorer.com/issue/react-native-community/react-native-circleci-orb/43) `sudo` seems to fix the issue. Can that be added to the applesimutils call?

[2021-12-29 07:19] shamilovtim opened #3155 "Detox fails launching with error [NSURL initFileURLWithPath:] in applesimutils"
### Description
Occasionally when starting Detox + iOS emulator on CI it will flake and not run with the following error message. There are a number of people who have reported this problem in the past and some proposed solutions from random contributors but from what I can tell nothing has been applied to the repo yet.

- [x] I have tested this issue on the latest Detox release and it still repro

[2021-12-29 19:10] #3088 closed

[2021-12-30 00:24] antgly commented on #3017
This is a blocker for #2741, so I think this should stay open for contextual reasons.

[2021-12-30 05:09] pqkluan commented on #2636
This issue thrown me off when I setup Detox.
The basic e2e test work fine for Android but not for iOS.

The only work around is using testID to query element, which is a big turn off since I'm trying to writing the tests from user perspective.

[2021-12-30 14:05] d4vidi opened #3157 "Add timestamps to detox-log artifacts"

[2021-12-31 07:05] TesterAuto opened #3159 "Is Detox affected by the log4j vulnerability?"
### Description

Hi,
Just want to confirm, it seems there's a dependency of log4j in the dependency bunyan which is in the dependency list of Detox, will Detox be affected by the log4j vulnerability?
If yes, what should we do to stay away from the risk? Thanks!

### Environment

 - Detox: 17.14.9
 - React Native: 0.64.2
 - Node: v14.16.0
 - Device: iPhone 12 Pro
 - OS: iOS 14.3
 - Test-runner (sel

[2021-12-31 12:33] Sandy-Garrido opened #3160 "Timeout reached - unable to getprop dev.bootcomplete after 300000ms"
### Description

I seem to be running into issues when running `npx detox test --configuration "$DETOX_CONFIG" --cleanup --headless  --loglevel verbose` whilst in AppCenter's CI environment. Used within the appcenter-pre-build.sh.

locally iOS and Android work, Appcenter with the same script works fine for iOS but on Android, it seems to hang when looking for the emulator and here are the last few

[2022-01-01 18:17] antgly commented on #3017
Can we keep this issue open as it’s a blocker for many apps’ system interactions?

[2022-01-01 18:26] antgly commented on #3030
Have you tried using a view hierarchy debugger, such as the one built into Xcode or a tool called Reveal? You might have a view hierarchy that’s blocking interaction. Ongoing animations (usually a big) can also be the culprit as they can interfere with Detox’s expected synchronization if never cleaned up appropriately (as they should be… should be considered a bug otherwise) or mocked out (at wors

[2022-01-02 09:25] jonathanmos commented on #3147
Looks like #2846

Please try adding the following to your app/build.gradle:

    implementation 'com.google.android.material:material:1.3.0'

and check whether it fixes the issue for you

[2022-01-02 12:17] asafkorem commented on #3159
@TesterAuto where have you seen log4j in the dependencies of [bunyan](https://github.com/trentm/node-bunyan)?

[2022-01-02 12:23] asafkorem commented on #3157
@d4vidi how is it different from https://github.com/wix/Detox/issues/3084?

[2022-01-02 12:58] asafkorem commented on #3155
Thanks for the report @shamilovtim, I will look into it.
Does it happens for you only when you set the location permissions through the `launchApp()`?

[2022-01-02 13:01] asafkorem commented on #3154
Is `sudo` fixes [this issue](https://github.com/wix/Detox/issues/3155) for you as well?

[2022-01-02 13:12] asafkorem commented on #3154
Thanks for the report @shamilovtim!

Which CI service do you use? If it happens to be CircleCI with _[react-native-circleci-orb](https://github.com/react-native-community/react-native-circleci-orb)_, it seems like this issue was resolved in version 4.0.4, here: https://github.com/react-native-community/react-native-circleci-orb/pull/47.

[2022-01-02 13:15] asafkorem commented on #3155
@shamilovtim this comment seems to be relevant for this issue as well: https://github.com/wix/Detox/issues/3154#issuecomment-1003714203.

[2022-01-02 13:29] asafkorem commented on #3141
@jpoisch it's a bit hard to understand what is the real issue here, what test-runner do you use?

[2022-01-02 13:35] asafkorem commented on #3141
I'm mostly not sure what `Given(..)` syntax stands for, is that your custom method? is it possible that the passed `function` isn't called with `await`?

[2022-01-02 14:01] d4vidi commented on #3157
@asafkorem Almost. The two issues refer to different bunyan streams: console vs. the (textual) log artifact.
While it's arguable that in the former case it may not always be suitable to have timestamps, IMO it should be a no-brainer regarding the latter, because an artifact can be inspected a posteriori in any convenient tool of choice.

[2022-01-02 20:23] d4vidi commented on #3159
@TesterAuto the question doesn't make a lot of sense IMO. Detox never goes out to production, it's just a tool that runs your apps automatically. In addition, I don't think there are too many ways where Detox could be attacked in build environments.

[2022-01-03 04:50] TesterAuto commented on #3159
I am not quite familiar with node and js. I just find it in the keywords list of the [package.json](https://github.com/trentm/node-bunyan/blob/master/package.json), not sure if this means it depends on it or it's just a description keyword and there's nothing to do with log4j.
I have also submitted an [issue](https://github.com/trentm/node-bunyan/issues/679) to bunyan to confirm.

[2022-01-03 06:09] TesterAuto commented on #3159
Thanks for your clarification! I have a separate automation test project that includes a Detox package.
If there's a chance to access my project in the internet, does it have a risk to be attacked by the log4j vulnerability(if Detox or it's dependency really depends on log4j)?

[2022-01-03 11:51] jonathanmos commented on #3119
[I opened an issue regarding this on the RN project](https://github.com/facebook/react-native/issues/32826)

[2022-01-03 12:26] jpoisch commented on #3141
Hi @asafkorem, the `Given` is just a Cucumber step we use in the feature files. I believe this has nothing to do with the issue. Regardless, we're using the following if it helps to replicate:

`"cucumber": "^6.0.5"`
https://cucumber.io/docs/installation/javascript/

[2022-01-03 23:57] shamilovtim commented on #3154
Hey @asafkorem thanks for responding and for the help. We aren't using that orb. We're using CircleCI with the macOS medium executor, node orb `node: circleci/node@4.7.0`. The commentary on that discussion helped me see that there might be an issue with logging? We're triggering a log right before `launchApp()`, for example: `detox[8324] INFO:  at e2e/server/mock-api/utils/utils.js:77:19  clearMoc

[2022-01-04 09:23] jonathanmos commented on #2787
I was able to reproduce the issue, which looks like it occurs with any view placed before a scrollview. Although I haven't found the root cause yet, I did find that adding style={{flex: 1}} to the parent view seems to fix the problem - e.g.:

      <View testID={'screenView_id'} style={{flex: 1}}>
        <TextInput testID={'textInput_id'} placeholder={'Type here'}/>
        <ScrollView testID={'s

[2022-01-04 14:34] Vannevelj commented on #3130
Sorry for the delayed response, I'm back in the office now. The test as it was already targetted via the `testID`.
I've just given it a try and bumping my test suite to 19.4.1 passes without an issue -- I know you've reverted the changes but just wanted to pass that on.

[2022-01-04 16:02] asafkorem commented on #3130
@Vannevelj Thanks for the update!

[2022-01-04 21:12] sergtimosh commented on #3147
@jonathanmos, thank you, this did the trick for me.

[2022-01-04 21:47] mikehardy commented on #3159
Let's get concrete by searching - pulled the detox repo at current commit and doing a recursive grep of all text, minus references to `log4javascript` because that has nothing really to do with log4j does it?:

[code]

So, you should definitely take this up with bunyan. They look like they might include it. You've done so, so that is good, but having read that issue, it does not appear you have do

[2022-01-04 23:00] Gnarwall19 commented on #2828
@phillip-kic did you end up solving the issue here? I'm having the same exact problem with the latest version of Detox (19.4.1).

[2022-01-04 23:24] phillip-kic commented on #2828
Unfortunately not. We were unable to resolve it and just stopped using Detox

[2022-01-05 09:12] sergtimosh opened #3165 "Retrieve all attributes with getAttributes() method"
**Is your feature request related to a problem? Please describe.**
_This particular case is Android specific._
In my tests I rely on such attributes like _'is-checked'_ for toggle value, another attributes are used for  button state - enabled/disabled which currently ommited in the returning object of getAttributes() method. The only way to retrieve this values is parsing error object like it's be

[2022-01-05 10:01] #3099 closed

[2022-01-05 10:19] #3119 closed

[2022-01-05 10:33] #3147 closed

[2022-01-05 15:47] d4vidi commented on #3119
@jonathanmos Best if we update Detox's documentation on `.toHaveLabel()`. WDYT?

[2022-01-05 15:49] asafkorem commented on #3119
@d4vidi he already updated it: https://wix.github.io/Detox/docs/api/expect/#tohavelabellabel

[2022-01-05 15:49] ball-hayden commented on #2641
Sorry to be the bearer of bad news, but we're still seeing Signal 11's with Detox 19.4.1:

[code]

It looks similar to the original trace on this issue, but happy to open a new one if you'd prefer @asafkorem ?

[2022-01-05 15:51] d4vidi commented on #3165
@sergtimosh please revisit our documentation on [getAttributes](https://wix.github.io/Detox/docs/api/actions-on-element/#getattributes). I think fields such as `enabled` and `value` might be what you're looking for.

[2022-01-05 15:53] asafkorem commented on #2641
Hi @ball-hayden , thanks for the report. Are you running parallel tests?

[2022-01-05 15:55] d4vidi commented on #3119
🤯

[2022-01-05 16:05] psysize commented on #3071
Anyway we can open this up again? I've ran into the exact same issue with Detox 19.4.1.

@ericschaal's _bad_ workaround seems to work nicely with [patch-package](https://github.com/ds300/patch-package) though.

[2022-01-05 16:07] d4vidi commented on #3051
Hey @suark could you report that status here? Are you stuck with Detox v17, or have you managed to solve this issue?

[2022-01-05 16:30] d4vidi commented on #3071
Interesting case. We're struggling ourselves with issues in that area - not with the bootstrap of emulators, but with ADB commands hanging indefinitely. Could you try to recreate the emulator from scratch and set up a working quickboot snapshot for it?

[2022-01-05 16:37] d4vidi commented on #3159
Thanks again @mikehardy.

I take some of what I said back - I think vulnerability of Detox or other utils running on build agents might be mildly exploitable after all. That said, Detox doesn't seem to be on the log4j list, not even through bunyan.

[2022-01-05 16:37] d4vidi commented on #3159
Thanks again @mikehardy.

I take some of what I said back - I think vulnerability of Detox or other utils running on build agents might be mildly exploitable after all. That said, Detox doesn't seem to be on the log4j list, not even through bunyan.

[2022-01-05 16:37] #3159 closed

[2022-01-05 16:42] shamilovtim commented on #3154
@asafkorem Is it possible for applesimutils to log out the stdout it received (rather than what it expected)? The problem I'm having now is that I see nothing in the logs that could indicate something interfering with applesimutils, so I have no real way to debug the message that it's getting instead of the message that it wants.

[2022-01-05 16:59] sergtimoshUptarget commented on #3165
@d4vidi, unfortunately `value` is relevant only for the iOS version of the app. In order to achieve the same on Android the only option is `is-checked` for my case.
Properties from android element:
`{
  identifier: 'header-results-toggle',
  visibility: 'visible',
  visible: true,
  alpha: 1,
  elevation: 0,
  height: 74,
  width: 128,
  focused: false,
  enabled: true,
  text: '',
  length: 0,

[2022-01-05 17:00] sergtimosh commented on #3165
@d4vidi, unfortunately `value` is relevant only for the iOS version of the app. In order to achieve the same on Android the only option is `is-checked` for my case.
Properties from android element:
`{
  identifier: 'header-results-toggle',
  visibility: 'visible',
  visible: true,
  alpha: 1,
  elevation: 0,
  height: 74,
  width: 128,
  focused: false,
  enabled: true,
  text: '',
  length: 0,

[2022-01-06 13:08] samuelvisscher commented on #3127
I'm experiencing the same issue with:

react-native-geolocation-service

When running the app normally it works without a problem, but when running through detox test, with the script suggested by asafkorem (and/or with setLocation) I receive the same error as jb9229.

The permission shows as granted, but no location coordinates are coming through.

[2022-01-06 13:59] Jose24San commented on #2622
I got this when my test was taking a long time to finish ( by design ) so I just needed to pass in a 3rd argument to my test code that specified a longer timeout

Jest modification
`it('should run my test without it timing out before the the timeout I have set', () => {
  // my test code

  // increase of the jest timeout to 2 minutes which solved my issue
}, 200000)`

[2022-01-06 19:59] ball-hayden commented on #2641
We're running with `--workers 2 --keepLockFile`, yes.

[2022-01-06 22:23] sergiomap commented on #2641
we also still have the `Signal 11` error running tests in parallel.

[2022-01-07 17:12] sandeep-bastola opened #3168 "Detox 19.4.1 crash on Android app"
### Describe the bug
The detox crashes with error message "DetoxRuntimeError: Test Failed: java.lang.Integer cannot be cast to java.lang.String" while trying to tap a button in the app. Crashes after tapping the RESTART button on the OS overlay as shown in attached recording.

### Expected behavior

### Detox Trace-Logs

<details>
 <summary>Detox logs</summary>
 <code>
detox[27111] TRACE: [WS_SEND

[2022-01-09 00:14] #3121 closed

[2022-01-10 14:53] d4vidi opened #3170 "Window screenshots"
**Is your feature request related to a problem? Please describe.**
On top of:
[code]

and:

[code]

Introduce the ability to take the screenshot of the _window_.

This would provide a good way to leverage the benefits of the device.takeScreenshot() API, without the need to go through the excruciating time/battery/etc. configuration phase.

[2022-01-12 01:49] sheydarezaee commented on #3050
Same issue, and I am on Detox `19.4.1`

[2022-01-12 02:57] sheydarezaee commented on #3139
experiencing the same ☝🏽

[2022-01-12 04:49] #3113 closed

[2022-01-12 04:49] #3105 closed

[2022-01-12 04:49] #3006 closed

[2022-01-12 04:52] phuongwd commented on #3105
@stale still alive 🥇

[2022-01-13 00:58] #3051 closed

[2022-01-14 00:13] shamilovtim commented on #3155
@asafkorem Do you have any advice for how we could go about fixing this issue? Similar to the problems signal 11 was causing, this is flaking our whole test suite.

[2022-01-14 10:12] Usama11a commented on #3076
@noomorph could you please guide in which file you have made the changes? Please help I'm facing the exact same issue but cannot find the way out.
Thanks

[2022-01-14 10:34] noomorph commented on #3076
@Usama11a , it is likely to be located at `e2e/.mocharc.json` unless you have moved it somewhere else.

[2022-01-14 11:43] Usama11a commented on #3076
Thanks for the response @noomorph.  This is how my .mocharc file look like, but still I'm facing the same issue.

{
    "recursive": true,
    "timeout": 120000,
    "bail": true,
    "file": "e2e/init.js",
    "spec": []
}

[2022-01-14 13:21] noomorph commented on #3076
[code]

[code]

@Usama11a

[2022-01-14 19:13] owjsub commented on #3141
I'm not sure if this helps, but after updating from detox 18.9.0 -> 19.4.1, I noticed some strange behavior in testing with `waitFor` & `whileElement` per https://github.com/nubank/detox/blob/master/docs/APIRef.waitFor.md#whileelementelement:
[code]

In tests where a `describe` has a single `it`, the above works as expected. However, when I had multiple `it`, the test failed on `await expect(eleme

[2022-01-16 04:34] #3056 closed

[2022-01-16 09:32] asafkorem commented on #3155
Hi @shamilovtim, I will try to reproduce this now.

[2022-01-16 09:37] asafkorem commented on #3155
@shamilovtim it's a bit of a problem to reproduce this by myself because we are not using CircleCI. Anyway I'll try to investigate the relevant code and to see if some problem emerge

[2022-01-16 10:44] shamilovtim commented on #3155
Happy to help in any way I can. Maybe I can get a public sandbox for circle and run a development version of applesimutils with extra debug logging

[2022-01-16 18:39] Usama11a commented on #2274
@d4vidi I placed my apk file in the same folder where the .detoxrc file is preset and my binary path is as follow:
/myapk.apk
But when I run "detox test -c android" it show me an error i.e  DetoxRuntimeError: Failed to find the app binary at:
C:\Users\uyounas\AndroidStudioProjects\android\app\build\outputs\apk\debug\app-debug.apk

Please guide me where is the problem.
Thanks

[2022-01-17 08:24] asafkorem commented on #3155
@shamilovtim can you please answer https://github.com/wix/Detox/issues/3155#issuecomment-1003712161?
If you remove the setLocation from the launchApp method, is it still happening?

[2022-01-17 08:39] asafkorem commented on #3154
@shamilovtim it seems like it fails when trying to decode the JSON returned from `xcrun simctl list --json`..
Can you please execute `xcrun simctl list --json` on your CI and provide me with the result here?

[2022-01-17 08:42] asafkorem commented on #3154
Also, can you post here your AppleSimulatorUtils version? (`applesimutils --version`)

[2022-01-17 08:56] asafkorem commented on #3155
@shamilovtim I have a strong feeling that this issue and https://github.com/wix/Detox/issues/3154 are very connected.
We can focus on resolving #3154 and then get back to this one.

[2022-01-17 12:54] jonathanmos commented on #3168
@sandeep-bastola please try with the new version (19.4.2) and check if it solves the issue

[2022-01-17 13:05] noomorph opened #3175 "A quicker way to clean app data than reinstalling"
**Is your feature request related to a problem? Please describe.**

Currently, it takes too long to clean the app data the way we usually do it via uninstalling and installing it again.

**Describe the solution you'd like**

Add some way to tell:

[code]

**Describe alternatives you’ve considered**

`device.installApp({ delete: true })`, but it's too slow.

**Additional context**

iOS: https://sta

[2022-01-17 14:45] sandeep-bastola commented on #3168
@jonathanmos , the issue is resolved in Android. thanks for that.
But in iOS, I have seen the signal 11 crash issue more than earlier versions even though the V19.4.2 has resolution for it.

[2022-01-18 02:16] fatlinesofcode commented on #3123
@asafkorem we confirmed our crash issue are fixed with the detox 19.4.0 update. In the latest version however 19.4.4 the issue has reappeared.

[2022-01-18 08:26] asafkorem commented on #3123
See my comment here: https://github.com/wix/Detox/pull/3167#issuecomment-1015173678.

I will take a look at this today.

[2022-01-18 08:28] asafkorem commented on #3168
@sandeep-bastola are you using Firebase-Performance in your project?
If so, you'll need to upgrade your GoogleUtilities to v7.7 for this fix to work. See https://github.com/wix/Detox/pull/3167
If not, please open a designated issue for this problem with iOS 🙂

[2022-01-18 08:34] sandeep-bastola opened #3176 "Signal 11 crash on iOS in detox 19.4.2"
### Description
iOS app crashes on Detox 19.4.2. As soon as test is started, the app crashes, then detox server could not connect with the app. Hence all tests fail. Signal 11 was raised.
The issue is seen more often in detox 19.4.2 compared to previous versions.

#### Environment

 - Detox: 19.4.2
 - React Native: 0.66.3
 - Node: 14.15.0
 - Device: iPhone 12
 - Xcode: 13.0
 - iOS: 14.5
 - macOS:

[2022-01-18 09:07] asafkorem commented on #3176
So the answer for my question [here](https://github.com/wix/Detox/issues/3168#issuecomment-1015175992) is not?

[2022-01-18 09:10] asafkorem commented on #3168
We'll continue the iOS crash discussion in this issue: https://github.com/wix/Detox/issues/3176
Thanks @jonathanmos for fixing the Android issue 🙏🏼 🚀

[2022-01-18 09:10] #3168 closed

[2022-01-18 10:53] sandeep-bastola commented on #3176
Updating the Firebase-Performance to latest V14.2.2 resolves the crash issue, but app gets stuck many times and timeOut happens.

[2022-01-18 12:16] asafkorem commented on #3176
Only on iOS and when running Detox?

[2022-01-18 15:43] asafkorem commented on #3176
@sandeep-bastola we need more information regarding the the new issue.
Please follow the instructions under [Identifying which synchronization mechanism causes us to wait too much](https://wix.github.io/Detox/docs/troubleshooting/synchronization#identifying-which-synchronization-mechanism-causes-us-to-wait-too-much) & [synchronization debug documentation](https://github.com/wix/DetoxSync/blob/mast

[2022-01-18 18:09] Usama11a commented on #3076
Thanks so much @noomorph !!
A new error is appearing when I run the detox command "npx detox test -c android". Following is the error which I'm facing.

DetoxRuntimeError: The test APK could not be found at path: 'C:\Users\uyounas\androidTest\AndroidCalculator\AndroidCalculator-androidTest.apk'
I'm not sure where to put my apk file to run detox on it. Please guide.

[2022-01-19 01:31] dbilgin commented on #3176
I had the signal 11 issue, after updating the firebase dependencies that got fixed, I just had the occasional problem with the Network Request event waiting for codepush, but that goes away eventually.

[2022-01-19 01:44] dbilgin opened #3178 "how to make use of record-performance"
### Description

I understand that mac instruments for network can be used for real iOS devices, but as far as I know detox doesn't support real iOS devices. I was looking at the [artifacts document](https://github.com/wix/Detox/blob/master/docs/APIRef.Artifacts.md) and there is the `record-performance` option there. I also looked at [this](https://github.com/wix/Detox/issues/1635) issue.

But whe

[2022-01-19 05:36] ShivamJoker commented on #3076
@Usama11a please read the docs properly you'll need two apk files one test and one debug for detox to work. And Windows might not work properly.

[2022-01-19 09:49] d4vidi commented on #3076
@ShivamJoker could you please close the issue if everything is proper? 🙏🏻

[2022-01-19 09:51] d4vidi commented on #3076
@Usama11a please reiterate the getting-start guide or jump right into the [android config guide](https://wix.github.io/Detox/docs/introduction/android).

[2022-01-19 09:54] d4vidi commented on #3178
Hey, thanks for reporting this. Could you by any chance try this out with the latest Detox v17, and see whether it works for you?

[2022-01-19 09:56] ShivamJoker commented on #3076
@d4vidi do we have a fix in latest release for specs?

[2022-01-19 10:12] Usama11a commented on #3076
Thanks for the support guys!!!

[2022-01-19 10:33] d4vidi commented on #3076
@ShivamJoker I was under the impression that you've managed to sort things out and that this was about a typo, ultimately. LMK if the situation is different, otherwise.

[2022-01-19 10:37] d4vidi commented on #3175
@noomorph please merge this with https://github.com/wix/Detox/issues/2537 🙏🏻

[2022-01-19 10:58] d4vidi commented on #3067
@noomorph? bugathon?

[2022-01-19 11:02] d4vidi commented on #2274
@Usama11a please let us know if things do not work out for you after reiterating the Android config guide

[2022-01-19 11:22] dbilgin opened #3179 "Property 'text' does not exist in getAttributes"
### Description

When I'm trying to use the example below in a project with Typescript I am getting an error:
[code]

`Property 'text' does not exist on type 'IosElementAttributes | AndroidElementAttributes | { elements: IosElementAttributes[]; }'`
The error goes away when I try to force the type to be only `IosElementAttributes | AndroidElementAttributes`. Is there a reason for this? And how shou

[2022-01-19 11:23] dbilgin commented on #3178
Sorry what is detox v17? Isn't the latest version 19.4.2?

[2022-01-19 11:28] dbilgin commented on #3178
Ah you mean try it out with the latest version from the v17 back then, okay, I will take a look, thank you for your reply

[2022-01-19 11:51] d4vidi commented on #3178
Exactly. Sorry if I wasn't clear about it.

[2022-01-19 12:29] d4vidi commented on #3179
@dbilgin that makes sense, because in the case where `getAttributes()` returns an elements array, which is applicable, the `text` property doesn't exist, indeed.

The options I see are for you to either force-cast it as you suggested, or introduce a runtime check:
[code]

[2022-01-19 12:51] dbilgin commented on #3179
@d4vidi wow thank you for such fast response and the PR for the Android part! this seems to work for me, so I'll close the issue.

[2022-01-19 12:51] #3179 closed

[2022-01-19 12:52] dbilgin commented on #3179
Just one question though, out of curiosity @d4vidi, why would there be multiple elements returned when we request the attributes of an element?

[2022-01-19 12:54] ShivamJoker commented on #3076
@d4vidi as @noomorph suggested the spec property should be handled by the test runner itself so we should remove the specs overriding from detox.

[2022-01-19 14:34] d4vidi commented on #3179
Easiest to explain through examples -
Example 1: A `by.text('submit')` can match multiple submission buttons
Example 2: Usage of [`by.type()`](https://wix.github.io/Detox/docs/api/matchers#bytypeclassname), which is discourage, can easily match all cards in a list.

etc...

[2022-01-19 14:35] dbilgin commented on #3179
Ah okay, got it, we are passing the result of the query as the "element(s)" after all. Thanks!

[2022-01-19 16:41] dbilgin opened #3181 "scrolling until visible doesn't wait after scroll anymore"
### Description

I was on version `17.14.9` of detox and this was working, I am not trying to upgrade to `19.4.2` and I am having a problem.
I have a `ScrollView` and I want to scroll down until a modal pops up from the bottom. In the last version of detox I think it first checks whether the expected element is visible (it's not because the modal is just coming into view) and then tries to scroll

[2022-01-19 16:51] dbilgin commented on #3181
For now I found the below code to be the solution, but I am not sure if it's a good idea to use it like this:

[code]

[2022-01-19 18:38] dnsmob commented on #3050
i also have that same issue, and i blame my setup which is a bit awkward (brownfield project, loading an initial plain native screen - react native loads in the background). i create a `Release` bundle, so no extra network requests happening as the js in bundled.. but nothing ever completes. with detox 19 i get absolutely nothing, but with 18 it gets one step further. it doesnt solve my problem, b

[2022-01-19 20:42] karthikeyanalaguraja opened #3182 "Finding detox is the right tool for our mobile automation"
I am working in QA, our dev developed native ios code through swift and Android uses Kotlin.  Is detox supports this? or will detox only support react native app?

[2022-01-19 20:44] d4vidi commented on #3116
@asafkorem @noomorph let's reiterate. This sounds like it should be reopened.

[2022-01-19 20:46] d4vidi commented on #3182
Detox doesn't properly support native / brownfield apps on Android, I'm afraid.
iOS might be in better shape in that sense but we can't guarantee that it would stay that way.

[2022-01-19 20:54] karthikeyanalaguraja commented on #3182
Thanks. do you think we can implement detox for ios now?  do you think Wix may drop support for this?

[2022-01-19 21:09] iMaupin commented on #1185
Is this bug fix still in the works?
In the meantime are there any recommended workarounds?

[2022-01-20 09:38] Usama11a commented on #2274
@d4vidi I have follow every step from the documentation but still facing the following 3 issues:
![detox_window_android_errors](https://user-images.githubusercontent.com/85039104/150312772-a94777a2-081e-462a-9c6a-ea59c2f25a17.PNG)

1. DetoxRuntimeError: Failed to run application on the device
2. Detox can't seem to connect to the test app(s)!
3. Command failed: mocha --config e2e/.mocharc.json --c

[2022-01-20 09:59] DanielMarkiel opened #3183 "ProGuard - java.lang.NoClassDefFoundError: Failed resolution of: Ld/s/c/h;"
### Describe the bug

Hi,
I've got a problem after enabling ProGuard in my RN project.
When I run `detox test -c android.emu.release -l trace` command I get the error described in the title.

My production app works perfectly fine after enabling ProGuard.

I was able to fix the detox issue by adding `-dontobfuscate` to the ProGuard rules file (`android/app/proguard-rules.pro`) but I believe that's

[2022-01-20 10:27] dnsmob commented on #3051
i also have the exact same behaviour (might attempted detox v17, but 18 and 19 wont play ball). i do remember a few years ago with some v12.x.y, one of them would work eventually. i have no animation/transition/load/gif/nothing on the first native screen, but it still hangs (i assume it is not getting the 'stable' status, so not sending the right comms over).

i understand awaiting for no changes

[2022-01-20 15:53] SparshaSaha opened #3184 "In Detox Android, tests get stuck at device.launchApp"
### Describe the bug

We have a brownfield application which has both Native and RN parts. I have setup Detox properly with the Android app but when I run my detox test, the app launches correctly in the emulator but the test seems to be stuck at `launchApp` method.

The app that opens up on the emulator seems to be working fine and I can interact with it properly.

The logs suggest that there is

[2022-01-21 10:20] s-aleinik commented on #2641
I've also got interesting behaviour:

[code]

There is **Signal 11** error. But all my tests are running successfully after it.

RN: 0.66.2
Detox 19.4.2

Firebase packages:

@react-native-firebase/analytics: 12.0.0
@react-native-firebase/app: 12.0.0
@react-native-firebase/crashlytics: 12.0.0
@react-native-firebase/dynamic-links: 12.0.0
@react-native-firebase/messaging: 12.0.0
@react-native-firebas

[2022-01-21 10:29] s-aleinik commented on #2641
I've also noticed interesting behaviour:

[code]

When timeout is 60 seconds - crash seems to be appearing on init() function. But if timeout is 120 seconds - crash happens during the tests

[2022-01-21 13:03] dbilgin commented on #3176
Just a small update from my side, I am running these tests on bitrise and I saw that on v19.4.2 the tests are failing too frequently, so I checked it out and it showed that it's getting stuck often with the message below for a very long time:
[code]

I am sure there are no long lasting animations in my app so I decided to make video recordings of the tests as artifacts.
It goes a bit weird, one te

[2022-01-21 19:30] dbilgin opened #3185 "Layer animations pending on bitrise"
### Description
A clear and concise description of what the bug is.

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction

I have firebase analytics and performance in the app, last I had was detox version **17.14.9** and I did not have this problem. Ever since I updated to version **19.4.2** at some point my tests start failing by getting stuck wit

[2022-01-21 23:39] #3047 closed

[2022-01-22 01:20] dbilgin commented on #3185
I was able to track the problem down to the `FlatList`s refreshing prop. The prop changes to true when my screen first comes into view and then false, which supposedly stops the animation, but detox keeps thinking there is an animation.
If I keep this prop false at all times the tests pass just fine.
I saw this issue [here](https://github.com/wix/Detox/issues/2590) and the problem seems to have be

[2022-01-23 10:37] asafkorem commented on #3176
@dbilgin I see that you opened another issue for your problem: https://github.com/wix/Detox/issues/3185, let's continue there.

@sandeep-bastola please open another issue for that crash (sounds unrelated to this issue, which was solved after firebase update) and provide the logs as requested here: https://github.com/wix/Detox/issues/3176#issuecomment-1015539419

I'm closing this one.

[2022-01-23 10:37] #3176 closed

[2022-01-23 10:52] asafkorem commented on #3185
@dbilgin interesting issue. This sounds like a bug with some RN component, which causes an infinite animation..
However, I'm struggling with reproducing the issue you described with `FlatList`. I'd appreciate if you could help me by reproducing this in a minimal way (you can fork and use our [template app](https://github.com/wix-incubator/DetoxTemplate)).

[2022-01-23 13:12] asafkorem commented on #3141
@jpoisch sorry, I'm still missing with some context regarding the issue, the provided test and error message don't give me much information..

Note that it's likely that you are not using `await` on some other `async` method and that what causes the error here. Can you try to execute this test alone? Also, please check your other tests and see if there's another test that doesn't use `await` prope

[2022-01-23 15:39] dbilgin commented on #3181
Is it not possible to add a wait for this?

[2022-01-24 06:28] SparshaSaha commented on #3184
Hi. Please let me know if i can help with some more logs or some other information.

[2022-01-24 09:50] s-aleinik commented on #2641
After updating all the above `@react-native-firebase` packages to `14.2.4` issue was resolved for me

[2022-01-24 11:56] asafkorem commented on #3181
@dbilgin thanks for the report!
I'm not really sure what happened here. Did it tried to continue the scrolling after the modal was already presented?

[2022-01-24 11:58] dbilgin commented on #3181
@asafkorem thanks for your reply. It goes like this:
- it scrolls
- waits for the element (I assume)
- the element is not available right away
- the modal slides in
- tries to scroll again (I could see it)
- cannot scroll and gives error saying it could neither scroll nor see the element

[2022-01-24 12:00] asafkorem commented on #3181
Have you considered the `scrollTo(edge)` API ([here](https://wix.github.io/Detox/docs/api/actions-on-element/#scrolltoedge))?
[code]
Also, please provide the necessary logs as the issue template requires, it will help me to understand the problem better..

[2022-01-24 12:02] dbilgin commented on #3181
I did consider this, but it's an endless paginated flatlist and the modal appears at a certain point on the second page.

The workaround I came up with is working fine right now:
[code]
But I was thinking it's probably not a nice way of doing it.

Let me get the logs for you, sorry about that

[2022-01-24 12:07] asafkorem commented on #3181
OK I can see the problem here, if fails to scroll after he thinks that the element is not visible yet (because it wasn't last time it was tested)..
Well, in that case, your workaround makes some sense (given the existing API).

[2022-01-24 12:20] dbilgin commented on #3181
So these are the logs from when the modal starts appearing (all the logs were immensely huge so I cut this part):

[code]

In the earlier version of detox it was actually waiting for this long enough, thanks for confirming my method of working around this, but I was wondering if it would be logical to add a timeout functionality to this

[2022-01-24 12:25] asafkorem commented on #3181
I understand.. ATM Detox doesn't support the combination of wait-for expectations with both action and timeout, however, the API you suggest sounds reasonable indeed, we are talking about something like:
[code]

[2022-01-24 12:26] dbilgin commented on #3181
yes! exactly something like this

[2022-01-24 13:05] asafkorem commented on #3181
Note that your current workaround will run faster than the suggested API (it will wait for timeout only on the last check), so I'm not convinced if waiting with timeout on each iteration will be the best practice on such cases.
Anyway, thanks, that's really an interesting scenario, I will think about it..

[2022-01-24 13:12] asafkorem commented on #3181
From the view hierarchy it seems like the scroll view is covered with a transition view, but the view that you're waiting for to be visible is not yet visible, so you may also consider something like:
[code]

[2022-01-24 14:00] dbilgin commented on #3181
hmm, I never thought of doing it that way, I thought it would work honestly, but got a similar error again.
As far as I understand, it initially checks if the element is there and because the modal is not yet visible, it is there, then by the time it tries to scroll again, the modal is already there and it cannot scroll, so it fails at the scroll

![image](https://user-images.githubusercontent.com

[2022-01-24 16:55] nguyenhoanglam opened #3186 "Stuck after tap action was called"
### Description
My test case is a login flow. I expect to see the home screen after press the login button. When I run the test, login flow works as expected on simulator but the terminal keep waiting (doest not finish the test) until timeout error.
[code]
I found that the test will finish if:
- remove ```await``` from this line ```await element(by.id('emailLoginButton')).tap();```, and
- remove t

[2022-01-24 22:08] shamilovtim commented on #3154
@asafkorem  Thank you for responding!

https://pastebin.com/emHwTnj4

This command took almost 20 seconds and has some sort of circular JSON. I hit a pastebin.com limit:
"You have exceeded the maximum paste size of 512 kilobytes per paste. PRO users don't have this limit!"

Here it is on gist:
https://gist.github.com/shamilovtim/e928a157bad50f98ace4568ca9e8c989

The first time, this returned an em

[2022-01-24 22:08] shamilovtim commented on #3154
Regarding these bugs, one thing to point out is that the problem is intermittent, happens about 1 or 2 times every 20 test runs (error doesn't always occur, instead it flakes sometimes)

[2022-01-25 13:42] Avinash-Kannan opened #3188 "Can we run Detox directly using apk/ipa independent of react-native app"
### Description

Our Project involves a requirement where we need to generate Artifact( apk/ipa) as part of Dev(react-native app) and **use generated apk/ipa to run detox in emulator for QA independent of any react-native app.**

We generated artifact(apk) and provided .apk file path in **binaryPath** in separate Detox -Jest project (not a react-native project). But we couldn’t run detox test succ

[2022-01-25 15:45] Avinash-Kannan opened #3189 "README is missing for most of the "Detox/examples" project"
## Is your feature request related to a problem? Please describe.
**README file is missing for most of the projects in Detox/examples which makes it difficult to understand the context. Kindly help with README for `Detox/examples/demo-react-native-jest/` project.**

## Describe the solution you'd like
**Kindly create /update  README file  with steps followed for the examples provided. That'll help

[2022-01-25 17:08] pavelsokolov21 opened #3190 "Can't run tests for Android in the debug mode"
### Describe the bug

Hi Team!
I want to create E2E tests for Android. I went through [this guide](https://wix.github.io/Detox/docs/introduction/android/) but I can see the error below after starting testing. The build is successful.

On iOS I don't see this issue. When I build the project and start tests I can see that tests run as expected.

### Steps To Reproduce

1. Setup Detox for Android;
2.

[2022-01-25 18:06] HackGod2000 opened #3191 "Detox build failed"
### Description

I get the following error on running detox build -c ios
my .detoxrc.json is as follows:

{
  "testRunner": "jest",
  "runnerConfig": "e2e/config.json",
  "skipLegacyWorkersInjection": true,
  "apps": {
    "ios": {
      "type": "ios.app",
      "binaryPath": "ios/build/Build/Products/Release-iphonesimulator/TLS.app",
      "build": "xcodebuild -workspace ios/TLS.xcworkspace -sche

[2022-01-25 21:38] iMaupin commented on #2821
@hqdai has there been any movement on this issue? Do we know what the enabled property on a TouchableOpacity is mapped to?

[2022-01-26 06:58] #3144 closed

[2022-01-26 09:55] asafkorem commented on #3144
Hi @Calinteodor, sorry, I totally missed this issue! Is it resolved?

[2022-01-26 15:36] shamilovtim commented on #3155
It looks like using launchApp without any permissions fixes the issue

[2022-01-26 15:36] shamilovtim commented on #3154
It looks like using launchApp without any permissions fixes the issue

[2022-01-26 15:37] #3154 closed

[2022-01-26 15:37] #3155 closed

[2022-01-26 15:47] shamilovtim commented on #3123
I can confirm that we still have Signal 11 after updating both Firebase and Detox

[2022-01-26 17:06] wojewski opened #3192 "Detox test fails in DEBUG mode on x86_64 Mac"
### 🐛 Running detox test in app debug mode fails with RTCFatal error thrown on the screen.

ℹ️ Tests run successfully in release mode
⛔️ Running test in **DEBUG** throws an error:

![simulator_screenshot_EABD8453-2B72-41B2-9EF7-0D798471CEE6](https://user-images.githubusercontent.com/28748785/151210356-61a18cee-a9ab-434e-8c0d-4001dbf25398.png)

### Steps To Reproduce
- Configure detox for React Nat

[2022-01-26 17:12] asafkorem commented on #3123
@shamilovtim thanks for the report,
Can you please open a new issue for that and provide the required information for investigating it?

[2022-01-26 17:14] shamilovtim commented on #3123
@asafkorem  Yeah I'll definitely give my best shot after I've done more triage

[2022-01-26 21:36] professorkolik commented on #3085
Same happens here,
After focus on input need two tap twice on submit button in order to trigger it.

@sajadghawami did you manage to fix it?

[2022-01-27 05:41] Avinash-Kannan commented on #3188
### Any help would be much appreciated. @noomorph @d4vidi @LeoNatan @rotemmiz

[2022-01-27 08:05] noomorph commented on #3188
Make sure to specify also `testBinaryPath` if your `binaryPath` location is custom: https://wix.github.io/Detox/docs/api/configuration/#apps-configurations

[2022-01-27 08:35] Calinteodor commented on #3144
Yes. I managed to fix it. Thanks!

[2022-01-27 08:35] sajadghawami commented on #3085
@professorkolik

unfortunately not.
Are you also using `kitten-ui`?

[2022-01-27 10:07] mrbrentkelly commented on #3188
At Hudl we use the same pre-built APK (and androidTest APK) to run Detox Tests across multiple projects.

As suggested by @noomorph above you need to build an APK as well as an androidTest APK.

Your gradle command to generate these APKs would look something like this...

[code]

This will result in 2 APKs being generated which you can then reference in your `.detoxrc` file...

[code]

For iOS you

[2022-01-27 12:29] Avinash-Kannan commented on #3188
Thanks for your response @noomorph  @mrbrentkelly .Yes, I can sense where we're going regarding Build configuration (Building app). **Just forget the build part.**
 ### My question is : I have an app already (.apk / .ipa) . Now can i directly use this app and run detox test in simple detox project without dummy react-native project. ( refer screenshot attached above)
### If possible , Guide me on

[2022-01-27 13:51] mrbrentkelly commented on #3188
Yes you can. All you need to do is have Detox configured in your project.

Detox works in 2 parts; **build** and **test**. If you already have your Android APKs and iOS app created then you don't need to run the Detox `build` command. All you need to do is make sure your `detoxrc` file is pointed to the location of your app binaries, then run `detox test --configuration <your configuration>` e.g.

[2022-01-27 14:50] professorkolik commented on #3085
@sajadghawami No I'm not. Amd I don't think that `kitten-ui` is the reason.
As a `quick fix` for me helped to decrease xCode version on CI (I use Bitrise). It was 13.1 and on local environment I have 13.0..

Another suggestion would be to tap somewhere before you tap to checkbox, so your input will be unfocused.
That might help to fix your multiTap on CI, so this way you don't need to write differ

[2022-01-27 15:00] noomorph opened #3193 "⚠️ Dropping Mocha support in Detox 20 ⚠️"
Before you think the heading already tells the entire story, I must mention that being **Test Runner Independent** (as noted in README) still remains one of the values of Detox.

At the moment, there's already a considerable feature gap between Mocha and Jest integrations, and since we intend to keep improving the current integration with `jest-circus` and add more important bugfixes and features

[2022-01-27 15:14] rzerr commented on #3190
Hi,

I would suggest to include bundleInDebug true in your app/build.gradle and try again. The same error happened to me and this fixed it.

`project.ext.react = [

enableHermes: false,  // clean and rebuild if changing
bundleInDebug: true,
]`

[2022-01-27 16:07] pavelsokolov21 commented on #3190
That works for me too! Thank you so much!

[2022-01-27 16:23] pavelsokolov21 commented on #3192
Hi,
Looks like, your configuration build is wrong.
It should be
[code]
In my case, my project is `template`. Then:

[code]

[2022-01-27 18:11] wojewski commented on #3192
Hi, thank you for your suggestion. Unfortunately, my project configuration is valid, it's just anonymization for the purpose of reporting an issue.

[2022-01-27 19:10] asafkorem commented on #3144
OK great, glad to hear that

[2022-01-28 17:44] GualbertoVannini opened #3194 "Android Test Failed with unexpected '('"
Trying to test a React-Native project using detox.
I am able to:
- Execute Detox build and test with iOS
- Execute Emulators on Android Studio
- Execute detox build with Android

detox: 19.4.2,
react-native: 0.66.3
Node: v14.17.3
Device: Android Studio emulator: Samsung_Galaxy_8_API_24
OS: Mac
Gradle Plugin VErsion: 4.2.2
Gradle Version: 6.9

command:
`detox test -c android.emu.debug --loglevel tr

[2022-01-30 10:16] d4vidi commented on #3194
Hi,

please try to align your usage of `detoxURLBlacklistRegex` with [this reference](https://github.com/wix/Detox/blob/ed7f68ed33b23d0afb7a57cd3deee78e2c3df4bf/detox/test/e2e/14.network.test.js#L55). Namely, add backslashes before the enclosing parentheses, or - since you only have one expression in your case, remove them altogether 🙏🏻

[2022-01-30 13:33] d4vidi opened #3196 "[Android] Support multiple elements in getAttributes()"
**Is your feature request related to a problem? Please describe.**

As a follow-up action on #3180, we need to not only apply the type fixes for Android (i.e. for `getAttributes()`), but in fact introduce the functionality altogether.

**Describe the solution you'd like**
`getAttributes()` should allow for returning an array of the attributes of all associated elements, given an ambiguous matcher.

[2022-01-30 13:36] d4vidi commented on #2931
not stale

[2022-01-30 13:51] d4vidi commented on #3192
@wojewski we could really use your *device* (native) logs in order to address this, or better yet, a reproduction with the [`DetoxTemplate`](https://github.com/wix-incubator/DetoxTemplate) project (the latter is preferable).

[2022-01-30 14:00] d4vidi commented on #3190
@pavelsokolov21 I think `bundleInDebug` is the wrong direction. The power of debug mode is that you load the JS bundle dynamically from the running packager server. I think that instead of setting `bundleInDebug` to true, you should start a metro-packager server in the back using a `react-native start` command.

[2022-01-30 14:41] jonathanmos opened #3197 "Upgrade to RN 0.67"
# Description
Add/verify support for the React Native 0.67 release:

- [x] Check (and migrate) Detox test app on developer env
- [ ] Upgrade demo apps (demo-react-native, then check demo-react-native-jest and detox-react-native-detox-instruments)
- [ ] Upgrade associated CI job config to always use 0.67
- [x] Update support table in main README.md

[2022-01-30 15:37] d4vidi commented on #3160
@Sandy-Garrido Detox awaits the emulator to finish bootstrapping and it never does. It's not related to the port warning in question.

[2022-01-30 15:40] d4vidi commented on #3184
Sorry, but Detox doesn't well support native/brownfield apps on Android, at the moment. You are more than welcome to track that here - #2543.

[2022-01-30 15:40] #3184 closed

[2022-01-30 15:51] d4vidi commented on #3085
@sajadghawami somehow we've managed to overlook this issue - sorry about that.
Just to be sure I understand correctly: Technically, the _right_ way to write the test is using `.tap()`, not `.multiTap()`. Is that correct? If that is the case, it would be helpful if you could test a theory and add an `await sleep(500)` before the tap and report whether that helps on CI. `sleep` being:
[code]

[2022-01-30 16:08] d4vidi commented on #3138
@kolganem I'm a bit confused. The error message you've provided suggests that Detox has failed to run the app on the emulator. Please try to revisit our [Android setup guide](https://wix.github.io/Detox/docs/introduction/android#setup-%EF%B8%8F) and make sure you've set a `testInstrumentationRunner` and created a proper `DetoxTest.java` file in the proper location in your project.

[2022-01-31 08:13] GualbertoVannini commented on #3194
@d4vidi you got the point! thanks

[2022-01-31 08:25] d4vidi commented on #3194
Happy to hear!

[2022-01-31 08:25] #3194 closed

[2022-01-31 08:47] d4vidi commented on #3188
@Avinash-Kannan Generally, you can use Detox for testing using existing binary files (put in other words, `detox build` is just a convenience, not a mandatory phase). You did however mention that you do not have a react native project. Does that mean your app is a native Android/iOS app? If so, Detox will not work for you very well. As an alternative, you might want to consider a combination of Es

[2022-01-31 10:15] Avinash-Kannan commented on #3188
Thanks for your brief response  @d4vidi .
My App is a `react-native android/ios app`. We generated artifacts (apk and ipa) out of it.
Now, **my requirement is to create a separate e2e Detox project only using the generated (apk and ipa).**
### My question is, similar to Appium, can we use only the path of apk or ipa in detox to run e2e tests?

[2022-01-31 10:18] jamesmcn1 opened #3198 "Any plans to add support for Android bio enrolment?"
We've recently had a bug in production which was related to bio authentication which this only affect android users. We have a suite of bio auth detox tests for iOS but having this for android aswell would be amazing and would have probs prevented this bug from going out into the wild.

Any plans to add support for Android bio enrollment in the future?

[2022-01-31 10:45] asafkorem opened #3199 "Revert: Revert: is-hittable changes."
Revert the removal of is-hittable changes ([here](https://github.com/wix/Detox/pull/3150)), which was removed due to issue in React-Native, and resolved in [RN v.67.1](https://github.com/facebook/react-native/releases/tag/v0.67.1), see fix: https://github.com/facebook/react-native/commit/a46a99e12039c2b92651af1996489d660e237f1b.

This requires from apps to upgrade RN to version ≥ .67.1 when upgrad

[2022-01-31 13:00] d4vidi commented on #3188
In that case, the answer is yet. Here is a [good example](https://github.com/wix/Detox/tree/master/examples/demo-react-native-jest): this is yet another one of our example projects, which, as you can see in [detox.config.js](https://github.com/wix/Detox/blob/master/examples/demo-react-native-jest/detox.config.js#L13), borrows the binaries from a different example project.

[2022-01-31 13:08] d4vidi commented on #3198
Hey there! I'm accepting this as a feature request. We don't have the resources to introduce this any time soon, but we'll try to sort something out. Of course, we highly appreciate contributions.

[2022-01-31 22:07] Kyonru commented on #3191
@HackGod2000 how did you manage to solve it? :/

[2022-02-01 17:46] gabrielmoncea commented on #3197
Is the current version compatible with 0.67?

[2022-02-01 17:47] iMaupin opened #3203 "getAttributes "enabled" property"
### Description

When crafting tests sometimes it is necessary to perform an action if an element is enabled or a different action if it is disabled.

Ideally, if a Button, Selector, ToubableOpacity, Pressable, or other react-native element is disabled, then

`element(by.id("some_element_id)).getAttributes()`

should return an object where "enabled" = false.

Currently, it seems "enabled" _is alwa

[2022-02-02 07:24] SparshaSaha commented on #2543
Hi @d4vidi is there a timeline for this issue to be fixed?

[2022-02-02 13:24] AlexPlekhov commented on #2712
It's quite interesting suggestion. In my team, we had a little discussion about its safety. We came up with that trade-off solution:

[code]

You might ask why? Just to be sure that these older modules still have their versions during building a release type.

[2022-02-03 02:35] #3008 closed

[2022-02-03 02:35] #2981 closed

[2022-02-03 08:04] DanielMarkiel commented on #2837
@zanechua Thank you man! You saved me additional hours spent wondering why my tests are failing.

@d4vidi Is it possible to describe more precisely in the docs the required changes in the configuration if someone wants to use an additional build type solution with flavors [7-proguard-minification-obfuscation)](https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md#7-proguard-minific

[2022-02-03 08:08] DanielMarkiel commented on #3183
I've found the cause of the error.
The solution is described [here](https://github.com/wix/Detox/issues/2837#issuecomment-1028703185)

[2022-02-03 08:08] #3183 closed

[2022-02-03 11:02] asafkorem commented on #3203
Hi @iMaupin, thanks for the report!

In iOS, the `enabled` attribute is `false` if one of the values of [enabled](https://developer.apple.com/documentation/uikit/uicontrol/1618217-enabled) or [userInteractionEnabled](https://developer.apple.com/documentation/uikit/uiview/1622577-userinteractionenabled?language=objc) is `false`, and `true` otherwise.
In Android, we expose the [isEnabled()](https://

[2022-02-03 11:04] asafkorem commented on #3116
Also relevant: https://github.com/wix/Detox/issues/3203 (see [my comment](https://github.com/wix/Detox/issues/3203#issuecomment-1028868514)).

[2022-02-03 17:59] arthuralee commented on #3154
I'm having the same issue in a relatively large codebase. We are also using CircleCI, with applesimutils version 0.9.4. I was able to pull some debug logs and opened an issue in applesimutils: https://github.com/wix/AppleSimulatorUtils/issues/88

[2022-02-05 01:56] shamilovtim opened #3207 "Signal 11 crash still present after SIMCTL_CHILD_NSZombieEnabled=YES + latest Firebase version"
### Description
A clear and concise description of what the bug is.

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction

We still see Signal 11 crashes in our project even after adding both `SIMCTL_CHILD_NSZombieEnabled=YES detox test -c ios.sim.release` as well as updating firebase + firebase perf to the latest versions and ensuring that GoogleUt

[2022-02-05 21:16] asafkorem commented on #3207
Hi @shamilovtim, thanks for the report!

Try replacing `NSZombieEnabled=YES detox test -c ios.sim.release` with `SIMCTL_CHILD_NSZombieEnabled=YES detox test -c ios.sim.release `

Also, note that the flag that we pass as a fix for the Firebase-related Signal 11 deallocation errors is `GULGeneratedClassDisposeDisabled=YES`, which replaced the `NSZombieEnabled` flag that was passed from Detox before

[2022-02-05 22:14] shamilovtim commented on #3207
Hey @asafkorem! Just confirmed that we do pass `SIMCTL_CHILD_NSZombieEnabled=YES` correctly, I had just typed it wrong on the Github ticket. I updated the original ticket to reflect that. <img width="691" alt="Screen Shot 2022-02-05 at 5 12 05 PM" src="https://user-images.githubusercontent.com/3495974/152660662-5ede47c0-0a95-46ed-8631-fd96eda4bbbe.png">

I know that you're passing the more specifi

[2022-02-06 15:46] asafkorem commented on #3207
@shamilovtim ah okay, I see..
Was it working with the zombie-enable workaround before upgrading Detox & Firebase to their latest version?

[2022-02-06 20:59] d4vidi commented on #3197
@gabrielmoncea almost there 😄 Be sure to track this issue

[2022-02-06 23:30] mckjs commented on #2409
Hi

I am currently looking into Detox and it's very new to me.

The app is not loading and it might be due to the launch screen that show "Downloading ...."

I have tried disabling the launch screen but it keep on failing

I am currently working on the following project MyReactNativeApp, you can get it by executing the following command

npx react-native init MyReactNativeApp (https://docs.microso

[2022-02-07 13:32] asafkorem opened #3208 "iOS: XCUITest integration"
## Motivation

Currently, there are several gaps in Detox iOS we would like to eliminate, especially the non-support of these two:
- **Multiple apps flows** (tests that involves multiple applications).
- **Real devices** (running tests on a physical device).

There are other features we would like to implement and support but we are limited to doing so, infrastructure-wise:
- Web-view interactions

[2022-02-07 21:58] harjotmalhi94 opened #3209 "Android E2E build is failing while all other builds work"
### Describe the bug
After upgrading from RN 0.64.1 to 0.66.4, Android E2E builds are failing but iOS E2E builds and regular Android and iOS builds all work fine.

After a lot of investigation, the only noticeable difference I can see is that after upgrading, somewhere in the process the E2E build process is generating an additional file under `/build/generated/res/resValues/androidTest/debug/valu

[2022-02-07 22:04] YugeFresh commented on #3209
Oh man this is exactly what we are experiencing, any more 👀's plz

[2022-02-07 22:12] chirag-rakholiya commented on #3209
having similar issue , any help to resolve it ??

[2022-02-07 22:55] shamilovtim commented on #3207
- On December 17 I added `SIMCTL_CHILD_NSZombieEnabled=YES` to `yarn detox test -c ci.ios.release` in our project.
- On December 29 I introduced Detox 19.4.1 to the project, which is supposed to include this fix inside detox instead of me declaring it as an env var and removed `SIMCTL_CHILD_NSZombieEnabled=YES` from detox test -c. In between this time we still saw signal 11 in the project.
- On Ja

[2022-02-08 11:53] asafkorem commented on #3207
@shamilovtim this sounds like the current Signal 11 errors are more Expo related (and aren't coming from Firebase), based on some previous reports and my gut feeling...

Also, can you tell me if you have some other dependency that uses swizzling in iOS?

That will be hard to investigate based on the logs only, so we must have some project I can work with that reproduces this issue.
I can try and i

[2022-02-08 14:26] d4vidi commented on #3208
This is an amazing summary. Very well articulated. I consider this the new feature Epic, then.

[2022-02-09 10:16] mckjs opened #3213 "Detox launchingAPP"
### Description
`
I am currently looking into Detox and it's very new to me.

The app is not loading and it might be due to the launch screen that show "Downloading ...."

The test install app successfully, when clicking on the app manually it launch successfully

I have tried disabling the launch screen but it keep on failing

I am currently working on the following project MyReactNativeApp, you

[2022-02-09 12:11] 2-b-error-3 commented on #3050
I got the same message when I was testing with Detox in iOS simulator and with every await device.reloadReactNative()  the simulator was displaying System Alert "Sign in with Apple ID".  If I did click manually on the alert after it pops up the message will not appear and the test passes. If don´t close the System Alert the same message will show and Detox tests fail with timeout error. Now I solv

[2022-02-09 12:20] pieter-mobile commented on #3050
Hi @2-b-error-3 , Could you share me the dependencies' version for both `expo` and `detox-cli`?

[2022-02-09 16:31] d4vidi opened #3214 "Detox-server port allocation isn't well mutex'ed"
### Describe the bug

Sometimes dispatching a test run results in errors such as this:

[code]
Having 49152 being the port dynamically allocated for the detox server.

We suspect that the port allocation isn't well protected for usage in a multi-process (worker) environment

[2022-02-09 16:38] d4vidi opened #3215 "Some app crashes do not get reported to the test-runner"
### Describe the bug
Although there is a mechanism to send out app-crash errors to the test-runner, we suspect there might be cases where this doesn't take place.

### Steps To Reproduce

https://wix.slack.com/archives/C1Y4D9BK8/p1643799990442399

[2022-02-12 06:13] #3071 closed

[2022-02-12 15:25] gunnartorfis opened #3218 "thrown: "Exceeded timeout of 120000 ms for a hook."
### Description
When running the tests locally on my machine, the test work as expected. However on CircleCI I receive the described errors.
It seems like the app is being installed and uninstalled in a loop, very strange.

- [x] I have tested this issue on the latest Detox release and it still reproduces

#### Reproduction
I'm not 100% sure how to reproduce this since this is only happening on Ci

[2022-02-13 09:12] asafkorem commented on #3207
@shamilovtim the problem in Firebase/Performance wasn't in Detox end but in their code (they assumed that no other framework does ISA-Swizzling for iOS classes, so it's pretty hard to assume that there is a general solution to the problem from Detox' code.

However, once we'll finish with Detox-iOS transition to XCUITest framework, we may be able to avoid doing ISA swizzling for iOS classes so hop

[2022-02-13 09:23] asafkorem commented on #3207
These definitely sound suspicious 😅  It will be very helpful for us if you'll run [DetoxTemplate](https://github.com/wix-incubator/DetoxTemplate) (or any example RN project) with Detox tests and any of your dependencies that might cause this error, and try to reproduce the bug. I know it might take a lot of time, but it is also hard for me to reproduce this issue with other libraries or frameworks

[2022-02-13 11:05] andreupifarre commented on #3218
I am currently experiencing the same issue in Detox: ^19.4.5

[2022-02-13 11:06] andreupifarre commented on #3218
I am currently experiencing the same issue in Detox: ^19.4.5

[2022-02-13 12:20] jonathanmos commented on #3209
@harjotmalhi94 What gradle version appears in your gradle-wrapper.properties?

[2022-02-14 09:21] d4vidi commented on #2741
Closing in favour of #3208

[2022-02-14 09:21] #2741 closed

[2022-02-14 12:37] d4vidi commented on #3218
Your tests seems to hang trying to run this command:
[code]

Is it possible that [AppleSimUtils](https://github.com/wix/AppleSimulatorUtils) isn't properly installed on the agent you get on circle CI? _Note: it does not come preinstalled on their agents -- you have to set it up yourself by adding it to the beginning on the buildscript._

[2022-02-14 13:54] gunnartorfis commented on #3218
It looks like I'm already installing AppleSimUtils. Here is my CircleCI config:
[code]

[2022-02-14 14:05] harjotmalhi94 commented on #3209
We are using version 7.2
 `distributionUrl=https\://services.gradle.org/distributions/gradle-7.2-all.zip`

[2022-02-14 20:50] shawn-fetanat opened #3220 "ERROR any time I try to build or run detox android configuration"
### Description

I created a new React Native Typescript project with `npx react-native init DetoxDemo --template react-native-template-typescript`. Then I went through the following steps:

- install detox cli
- add detox as dev dependency
- add jest and jest-circus as a dev dependency
- generate test and test files with detox init -r jest

Here is an actual replay of the commands

[code]

Here i

[2022-02-14 22:04] jonathanmos commented on #3209
@harjotmalhi94 Thanks. Could you please try with 6.9 and see whether the issue persists?

[2022-02-15 05:55] RachanaHT opened #3221 "Detox is failing to run"
### Description

getting this worning

detox[11970] WARN:  [DetoxConnection.js/ERROR, #61409] Action dispatched too early, there is no session to use:

HINT: Please report this issue on our GitHub tracker:
https://github.com/wix/Detox/issues

{
  type: 'AppWillTerminateWithError',
  params: [Object],
  messageId: -10000
}
detox[11970] WARN:  [DetoxConnection.js/ERROR, #61409] Action dispatched too

[2022-02-15 13:20] d4vidi commented on #3220
Hey, it's seems you've followed the instructions for setting up Detox a bit _too_ carefully 😄 -
You've set up your detox build command (i.e. in `detoxrc.json`) to work on linux/MacOS (as our guides suggest), but in fact your are running on Windows. Try to replace your `build` configuration to match a Windows shell syntax.

[2022-02-15 13:29] d4vidi opened #3225 "Unify environment info in issue-tracker report schema"
### What happened?

I think we should unify the various info fields (Detox version, RN version, etc.) to a single input box, because  until we do so the issues end up being reported like this (which isn't very convenient):

![image](https://user-images.githubusercontent.com/9818880/154071028-7078a8bc-b061-438a-ab32-dcdb7e000f31.png)

### What was the expected behaviour?

I was thinking about a sin

[2022-02-15 13:33] d4vidi commented on #3221
@RachanaHT please provide the full execution log, and configuration snippets.

[2022-02-15 13:44] gunnartorfis commented on #3218
I SSH'ed into the pipeline machine and ran:
[code]

I got the ID from the output Detox printed:

[code]

[2022-02-15 13:50] d4vidi commented on #3213
Hi and welcome to Detox 😃
Based on your configuration, I see that you are trying to run your app in debug mode on a physical (aka attached) device, which can be a bit tricky.

A few suggestions:
1. After attaching the device, run the `adb devices` command; Locate the unique ID associated with your device and use it as the device name instead of `Galaxy S10`, in your `detoxrc.json` (as explained [h

[2022-02-15 13:53] d4vidi commented on #3218
I think the ID is correct (or the error would have been different). Is it possible that your `applesimutils` in not in your path? Could you try to run `applesimutils -v` and paste the result here?

@asafkorem anything else you can advise?

[2022-02-15 14:19] gunnartorfis commented on #3218
Thanks for the quick responses, really appreciate it.

Here's the output from the build machine:
[code]

[2022-02-15 14:49] asafkorem commented on #3218
Hi @gunnartorfis!

This error makes sense in case you are running this command without the app being installed.

[2022-02-15 15:11] gunnartorfis commented on #3218
Oh, of course. It was a bit hectic interacting with the build machine so I wasn't able to play around with it too much.
This is probably not something related to my OP then.

[2022-02-15 15:12] asafkorem commented on #3218
@gunnartorfis can you please execute:
[code]
in your machine?

[2022-02-15 15:17] shawn-fetanat commented on #3220
Wow thank you so much!!!

[2022-02-15 15:19] asafkorem commented on #3220
@shawn-fetanat If the issue is resolved, feel free to close it 🙂

[2022-02-15 15:29] gunnartorfis commented on #3218
static:repo distiller$ cat ~/Library/Detox/device.registry.state.lock
[{"id":"A8176C67-F1D0-4517-A6B5-A3495829BB1D"},{"id":"1B1C0426-C8CF-404A-B7B9-3619666F5900"},{"id":"6BB8402D-1A75-4E11-AD26-1ED496506DA0"},{"id":"6C49C4D3-AB91-4124-B147-1085ECCBFB28"}]

I had to run the build again to SSH into it, leaving me with different IDs than in the OP I assume.

[2022-02-15 16:34] d4vidi commented on #3220
Try running:
[code]
and
[code]
separately, to see what exactly hits failure.

[2022-02-15 18:25] gunnartorfis commented on #3218
It's still behaving a bit weird, like it's constantly restarting the simulator or something, eventually reaching an error `thrown: "Exceeded timeout of 120000 ms for a hook.
    Use jest.setTimeout(newTimeout) to increase the timeout value, if this is a long-running test."`.

It also might be worth mentioning that when running the tests locally, Detox spins up a new simulator. For example, if I de

[2022-02-16 11:52] jonathanmos commented on #3209
@harjotmalhi94 To help reproduce this issue, could you please write your buildToolsVersion, gradle plugin version and compileSdkVersion?

[2022-02-16 15:40] asafkorem commented on #3225
@jonathanmos also suggested to add these to the list:

[2022-02-16 16:30] harjotmalhi94 commented on #3209
We are using the following:

        buildToolsVersion = "30.0.2"
        compileSdkVersion = 30
        classpath 'com.android.tools.build:gradle:4.2.2'

After removing any references to those assets causing the error, the app builds and tests run just fine. These assets are required for the app icon, splash screen, and more. So it seems that the detox build for some reason is having issues with

[2022-02-17 09:56] d4vidi commented on #3209
@harjotmalhi94 is it possible that you have a reference to those resources from somewhere in your test code (maybe not related to Detox specifically) - any reference at all?

[2022-02-17 10:05] d4vidi commented on #3209
@harjotmalhi94 Something about your project configuration causes the building of the _test_ APK to somehow link up to the projects resources (drawables). It's really not suppose to be that way, because the test APK should only hold test-related _code_ (and that's it). It might be something about your configuration scripts or even project structure.

[2022-02-17 10:07] d4vidi commented on #3225
Well sometimes those are a function of numerous configurations (coming from root and child projects). We can add it while bearing that in mind. In any case, we'd have to properly explain how to retrieve those, if we do.

[2022-02-17 12:48] ca057 commented on #3126
I seem to have the same issue - did you find a solution?

[2022-02-17 23:28] markpar commented on #3221
Anecdotally, I've seen this error on Android 12, but not on Android 11.

[2022-02-18 11:14] Noitham opened #3226 "adjustSliderToPosition not working on @react-native-community/slider package"
### What happened?

When using the `adjustSliderToPosition` on the new `@react-native-community/slider` package target view is not matched, error log here:

[code]
Component attributes:
[code]

If using the [deprecated](https://reactnative.dev/docs/slider) `react-native` package Slider, it works.

Should support be added to the new community package? On iOS it works.

### What was the expected beh

[2022-02-18 20:29] ouoru commented on #2268
@kneza23 did you end up finding a workaround for this?

[2022-02-18 22:52] davidjonesdialexa opened #3227 "How to interact with system alert dialogs"
### Description

Our app calls a `Cancel/Continue` system alert dialog. The Matcher can't seem to locate the button to tap. Any ideas how to handle an element like this?

![Screen Shot 2022-02-18 at 4 08 59 PM](https://user-images.githubusercontent.com/84142414/154771553-7a86d2b2-7fad-4c64-9e69-b4ea918a9da3.png)
![Screen Shot 2022-02-18 at 4 51 21 PM](https://user-images.githubusercontent.com/8414

[2022-02-20 10:53] d4vidi commented on #3178
@dbilgin would love to hear back from you

[2022-02-20 10:57] d4vidi commented on #3182
I wish I could have guarantees, but I do not, at least not at the moment.

[2022-02-20 11:09] d4vidi commented on #3226
IIRC the community slider is used regularly in our regression project.

That seems suspicious. What's the test code like?

[2022-02-20 11:40] dbilgin commented on #3178
@d4vidi will take a look at it soon, sorry about that, been rather busy lately

[2022-02-20 15:31] asafkorem commented on #3227
Hi @davidjonesdialexa, unfortunately, Detox is not supporting interactions with system dialog, we are still working on this as part of [XCUITest](https://github.com/wix/Detox/issues/3208) integration.

In the meanwhile, I can suggest to use a launch argument that will disable the login while testing with Detox.

[2022-02-21 09:56] Noitham commented on #3226
Yep, that's what I think the issue is, the community class name is `com.reactnativecommunity.slider.ReactSlider`,

Test code nothing specific, as soon as using the function `adjustSliderToPosition` and passing the Slider id from the community package, we'll get the error.

[2022-02-22 13:08] d4vidi commented on #3226
Indeed, we should be able to support both packages. Do you think it'd be possible to get some contribution on this? I think that with some reflection logic, this can be solves fairly easily.

[2022-02-22 13:14] d4vidi commented on #3218
@gunnartorfis I'm not sure why your `init.js` is required. Detox init and cleanup is done automatically in a jest-circus environment, such as yourself. That alone might be a source of some of the issues 🤔

[2022-02-22 13:14] #3218 closed

[2022-02-22 14:01] #3221 closed

[2022-02-22 14:01] #3213 closed

[2022-02-22 17:07] pke opened #3232 "Move app to background?"
### Describe your idea

Would it be possible to have a way to move the app to the background and then launch it again with a URL?

[2022-02-22 19:23] harjotmalhi94 commented on #3209
These resources are not specially referenced by any of the test code. It is simply needed for the app icon and splash screen which is used in the app build. Still don't understand how upgrading RN would have caused the issue to occur only now in Detox.

[2022-02-22 19:36] harjotmalhi94 commented on #3209
I attempted another thing which seems to work. Copying all the assets from the `src/res` folder into `assembleTest/res` fixes the issues, but maintaining 2 sets of res folders like this would be hard to maintain.

[2022-02-22 22:33] MuckT commented on #3232
@pke this should work!
[code]

[2022-02-23 01:30] pke commented on #3232
That would be great! Trying out tomorrow!

[2022-02-23 12:50] #3225 closed

[2022-02-23 12:58] dincho-kostadinov commented on #3050
I got the same message when I try to run the tests on android environment . Any ideas or solution?
Thanks in advance!

[2022-02-23 13:01] dincho-kostadinov opened #3233 "Detox can't seem to connect to the test app on android"
`
14:53:08.688 detox[11120] ERROR: [APP_UNREACHABLE] Detox can't seem to connect to the test app(s)!

HINT:

The test app might have crashed prematurely, or has had trouble setting up the connection.
Refer to our troubleshooting guide, for full details: https://wix.github.io/Detox/docs/troubleshooting/running-tests#tests-execution-hangs

14:53:08.698 detox[11120] DEBUG: [WSS_CLOSE] Detox server ha

[2022-02-23 17:46] iMaupin opened #3235 "withAncestor matcher works on iOS devices, but on Android devices it does not"
### Description

Currently I have a test that relies on assertions following this generic archetype:

[code]
I am testing that the child element switches parent elements based on specific use. The above assertion works on iOS, but when I run the same test on android, the test fails with the following message:

`Expected: (view has effective visibility and view.getGlobalVisibleRect() covers at leas

[2022-02-23 20:20] shawn-fetanat commented on #3220
So I gave this another shot. I started fresh with a React Native Typescript template and followed the instructions in the docs. I'm only using one configuration (for Android).

`detoxrc.json`:
Note: I remember you pointing out that I used macOS syntax so I removed the `./` from the gradle build command.
[code]

`config.json`:
[code]

`firstTest.e2e.js`:
[code]
`App.tsx`:

[code]

`DetoxTest.java`:

[2022-02-24 09:07] arnaudambro opened #3236 "error: cannot find symbol TestButlerProbe.assertReadyIfInstalled()"
### What happened?

I try to setup test-butler but when I run
`detox build --configuration android.debug`
with the configuration
[code]
the build fail with
[code]

### What was the expected behaviour?

_No response_

### Was it tested on latest Detox?

- [X] I have tested this issue on the latest Detox release and it still reproduces.

### Did your test throw out a timeout?

- [ ] I have followed

[2022-02-24 09:22] d4vidi commented on #3209
That's a pretty nasty workaround, which indeed doesn't sound maintainable.
Also, just to clarify, the problem doesn't sound related to Detox per se, but to the way the RN upgrade affects the building of the _test_ APK. That's very common to take place, because the RN upgrade usually brings about an upgrade to the various Android build components, such as the Android Gradle Plugin, the build utils

[2022-02-24 09:23] d4vidi commented on #3209
Could you try to set your target- and compile-SDK versions to 31, and also specify here your _gradle_ version (we use `6.9`).

[2022-02-24 09:24] ball-hayden commented on #2641
We're still seeing Signal 11s intermittently.

[2022-02-24 09:36] d4vidi commented on #3232
Thanks @MuckT! @pke please close the issue if it works for you.

[2022-02-24 10:21] d4vidi commented on #3185
@dbilgin will you be able to give it shot - reproducing this on the template app, as suggested? Thank you.

[2022-02-24 10:32] d4vidi commented on #3141
@jpoisch the original problem is clearly due to the introduction of the associated feature in Detox [`19.2.0`](https://github.com/wix/Detox/releases/tag/19.2.0). Would be good to get your _device_ (simulator) logs and see.

[2022-02-24 12:25] d4vidi commented on #3236
`TestButlerProbe` isn't part of test-butler -- just a wrapper we created in our example project, [here](https://github.com/wix/Detox/tree/master/examples/demo-react-native/android/app/src/androidTest/java/com/example). You need to specify it in your project, add the library as a test dependency (in build.gradle) and follow through all installation steps, to the end ([this blogpost](https://medium.

[2022-02-24 12:25] #3236 closed

[2022-02-24 17:45] Livijn opened #3237 "by.text not"
### What happened?

I am getting started with Detox but I am running into an issue. I cannot match an element by text. I can however match the same element using `testID` attribute. But I would like to avoid adding `testID` when possible.

[code]

As you can see, there is a RCTTextView with the correct text. Am I doing something wrong or is this a bug?

### What was the expected behaviour?

_No re

[2022-02-25 04:16] humaidk2 commented on #3190
Hey,

I had the same issue and fixed it by removing flipper,
~~debugImplementation("com.facebook.flipper:flipper:${FLIPPER_VERSION}") {
     exclude group:'com.facebook.fbjni'
}~~
I'm still trying to figure out how to remove flipper only for detox builds.

[2022-02-25 04:25] humaidk2 commented on #3233
If you have flipper installed, maybe you could try disabling it, it fixed it for me.

But probably, you would be better off checking android studio logs for errors

[2022-02-25 08:41] dincho-kostadinov commented on #3233
@humaidk2  thanks for the info bu I dont have flipper . I fixed this problem with some changes in the DetoxTest.java class that I created. It looks like this:
`package com.nameOfTheProject;

import com.wix.detox.Detox;
import com.wix.detox.config.DetoxConfig;

import org.junit.Rule;
import org.junit.Test;
import org.junit.runner.RunWith;

import androidx.test.ext.junit.runners.AndroidJUnit4;
impor

[2022-02-25 08:41] #3233 closed

[2022-02-25 12:59] pke commented on #3232
Works as described! Thanks @MuckT

[2022-02-25 12:59] #3232 closed

[2022-02-27 09:17] asafkorem commented on #3237
Hi @Livijn!

Generally, IMO, matching elements by ID is a better practice than match them by text. Text changes are more likely to happen than ID changes.

I'm not sure what `ABI44_0_0RCTTextView` is. This looks like an Expo swizzled class on top of `RCTTextView` so we weren't able to identify the view type, and to expose its text value.

However, it seems this view has `"Some text"` in exposed it

[2022-02-27 09:45] asafkorem commented on #3235
Hi @iMaupin, thanks for the report!

We would like to assist, but we can't do this without more data. Can you please provide us the logs?

- Detox logs: run your tests using the `--loglevel trace` argument.
- Device logs: run your tests using the `--record-logs all` argument.

Also, can you provide us some more data on the view hierarchy? You can try to locate this view using Android Studio's Layo

[2022-02-27 09:46] noomorph commented on #3193
Not stale, after the war we'll get back to the issue as well. 🇺🇦

[2022-02-28 09:00] Livijn commented on #3237
Yea, I know but sometimes I feel like using text can be easier for fast test prototyping.

So I guess this is an issue with Expo. Using `by.label` worked. Thanks!

[2022-02-28 09:00] #3237 closed

[2022-02-28 09:09] asafkorem commented on #3237
@Livijn Sure thing! I'm glad it was resolved.

[2022-02-28 14:46] codebutler opened #3238 "Android unit tests don't run on MacOS"
### What happened?

Running Android unit tests on MacOS fails with the error below. This is caused by https://github.com/raphw/byte-buddy/issues/732

Upgrading to the latest Mockito fixes the problem.

[code]

### What was the expected behaviour?

Tests should run successfully on MacOS

### Was it tested on latest Detox?

- [X] I have tested this issue on the latest Detox release and it still repr

[2022-03-01 00:03] Livijn commented on #1371
@zacharyweidenbach Did you manage to get this working? I am also experiencing the same issue.

[2022-03-01 00:10] Livijn opened #3240 "Cannot get location using Detox (works without)"
### What happened?

I cannot get the location when running Detox. It works when using launching it normally. I am using expo. I think it might be related to #1371.

I've tried lots of different ways of implementing this (idb, applesimutils, set-simulator-location). Right now I'm running `idb set-location --udid ${device._deviceId} ${coordinates.latitude} ${coordinates.longitude}`. That works for c

[2022-03-01 02:41] MuckT commented on #3240
Have you tried this [device.setLocation(lat, lon)](https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#devicesetlocationlat-lon)?

[2022-03-01 08:39] Livijn commented on #3240
Yea, of course. But that is using the deprecated [fbsimctl](https://github.com/facebook/idb/tree/4b7929480c3c0f158f33f78a5b802c1d0e7030d2/fbsimctl).

[2022-03-01 08:47] aviatam opened #3241 "android application crashes while trying to run detox test"
### Description

once i try to run android test using detox the application crashes , same test seems to work on ios simulator
steps :
1. build android app ---> application opened on the device
2. build detox
3. run detox test on android emulator (Nexus 5X using OS 8.1)
result :
application crashes
with the following log

    DetoxRuntimeError: No instrumentation runner found on device emulator-55

[2022-03-01 09:06] Livijn commented on #3240
I'll close this in favour of #3127

[2022-03-01 09:09] Livijn commented on #3127
I'm experiencing the same issue, however I am using Expo. The error I receive is:

However, if I run the `idb set-location` command when the fetch is in progress, I get a location. But only if I first "refresh" the app (but still launched with Detox).

[2022-03-01 09:42] asafkorem commented on #3240
Thanks for the report @Livijn, we are indeed aware of the issues with set-location..
I wonder if there's a way to make this work on Detox with idb. I will investigate this soon.

[2022-03-01 09:48] Livijn opened #3242 "Using expo-linear-gradient with Detox causes Signal 4 was raised"
### What happened?

When I tap an element with [`<LinearGradient>`](https://docs.expo.dev/versions/latest/sdk/linear-gradient/) Detox throws:

If I remove the `<LinearGradient>` it works. It is wrapped in a `<TouchableOpacity>`.

### What was the expected behaviour?

_No response_

### Was it tested on latest Detox?

- [X] I have tested this issue on the latest Detox release and it still reproduce

[2022-03-01 10:34] Livijn commented on #3242
I just realized that the `<LinearGradient>` just needs to exist for the crash to happen. So, it doesnt have to be on the tapped element.

[2022-03-01 16:18] Matteo-Peronnet opened #3243 "Run system command"
### Description

Hello,

I would like to know if it is possible to execute a system command from a hook. For example in `beforeEach`?

Like Cypress does with `exec`?
https://docs.cypress.io/api/commands/exec

### Your environment

Detox version:
React Native version:
Node version:
Device model:
OS:
Test-runner (select one): jest-circus / jest+jasmine / mocha / other

[2022-03-01 16:35] N3TC4T opened #3244 "v19.5.0 Missing files in NPM package"
### Describe your idea

Hi

it seems in the latest release (v19.5.0) some files are not included while packaging.

`Detox-android` directory and `Detox-ios.tbz`, `Detox-ios-src.tbz` files seems missing.

https://diff.intrinsic.com/detox/19.4.5/19.5.0

 @d4vidi

[2022-03-01 16:48] #3244 closed

[2022-03-01 16:57] Matteo-Peronnet commented on #3243
I'v found a solutions by using :

[code]

Thanks !

[2022-03-02 18:34] papa-jake opened #3246 "My tests only pass when I enable "debug with chrome""
### What happened?

I have a very small test suite which used to run and pass. However, recently the tests have stopped passing. After considerable investigation I figured out that if I run the tests, wait for the app to load, trigger the shake gesture (open dev menu), and then tap "debug with chrome" the individual test will suddenly pass. I've disabled flipper, however that hasn't changed anythi

[2022-03-03 16:37] d4vidi commented on #3246
Hey there, thanks for reaching out. I think the chrome debugging thing sort out distracts you from the real issue.
Could you rerun your tests in _release_ mode (i.e. JS code bundled into the app + no metro-server running in the backgroun)?

[2022-03-03 19:28] papa-jake commented on #3246
Thanks for the reply. I've tried running the app with the release configuration, and unfortunately the problem still exists. I was mostly hoping someone here might have some insight into how best to track down what might be creating the timer. We don't have any of this type of timer being created by our own code, so I'd suspect some dependency of ours. Unfortunately a lot has changed since the las

[2022-03-04 13:57] #3246 closed

[2022-03-06 00:26] lisa710junyi opened #3248 "How to test on verifying identity ?"
### Description

It is connected to firebase. After the sign up page, it will verify user identity. The verify method includes choosing the pictures that have trains, etc.

I don't know how to continue this verification with detox.

### Your environment
![Screen Shot 2022-03-05 at 10 33 45 PM](https://user-images.githubusercontent.com/83738368/156908098-1c20ce07-2257-4d4f-8371-eb02b6dd9157.png)

D

[2022-03-06 02:33] lisa710junyi opened #3249 "How to choose flag for <PhoneInput> Component ?"
### Description

This is PhoneInput component, I want to choose other country' flag
[code]
After I tap this testID, I can't open flag list. It will only allow enter phone number.

![Screen Shot 2022-03-05 at 9 32 50 PM](https://user-images.githubusercontent.com/83738368/156906673-14290e11-a4c6-4731-8f2f-ee65b2f3f942.png)

What should I do with detox ?

### Your environment

Detox version:
React Na

[2022-03-06 09:34] asafkorem commented on #3249
Hey @lisa710junyi, I'm not familiar with this component, so I'm not sure what exactly are you trying to achieve UI-wise.
However, I can only **guess** what is required here:
* The dependency (`PhoneInput`) needs to expose a `testID` for the flag element (which I guess what opens the list of countries), then you can tap this element after matching it by id (`await element(by.id('...')).tap();`).
*

[2022-03-06 09:38] asafkorem commented on #3248
Hey @lisa710junyi, you can use [launch-arguments](https://wix.github.io/Detox/docs/api/launch-args) to disable this verification step while testing the app (for example, by passing some flag that disables it).

[2022-03-06 12:45] asafkorem commented on #3199
not stale

[2022-03-06 14:27] lisa710junyi commented on #3249
Thank you for helping me.
[code]
    it('Enter phone number, tap send code and enter verification code',async()=>{
    await element(by.id('PhoneNumber')).tap()
    await element(by.id('PhoneNumber')).typeText('123456')
    await element(by.id('sendCode')).tap()
  })
[code]

[2022-03-07 01:22] dkoudrinhc opened #3251 "Detox 19.5.2 appears broken"
### Description

My detox is trying to update to 19.5.2 (latest version) but appears to fail while the npm run build command is running. Here is the log output:

Extracting Detox framework...
tar: Error opening archive: Failed to open '/Users/dmitrikoudrin/hazardco_app_mobile_nativescript/node_modules/detox/Detox-ios.tbz'
child_process.js:651
    throw err;
    ^

Error: Command failed: /Users/dmi

[2022-03-07 03:09] cortisiko commented on #3227
@davidjonesdialexa As a work around maybe you can you try something like this:

`element(by.label("Continue")).atIndex(0).tap();`

[2022-03-07 05:14] mfazekas commented on #3251
@dkoudrinhc we've also started to see this errors since yesterday in our CI

https://github.com/rnmapbox/maps/runs/5441028901?check_suite_focus=true

[code]

[2022-03-07 08:26] asafkorem commented on #3251
Hi @dkoudrinhc and @mfazekas. Thank you for the reports!
Indeed this version is broken, please use detox v19.5.1 until a new version will be released. We are working to fix this.

[2022-03-07 10:14] #3251 closed

[2022-03-07 10:20] asafkorem commented on #3249
Hi @lisa710junyi, I'm closing the issue.

As I mentioned, in order to open the flag list you must be able to access the flag element by test-id, which should be provided by the maintainers of this component.

Let me know if there's anything help we can help with! 🙂

[2022-03-07 10:20] #3249 closed

[2022-03-07 14:30] lisa710junyi commented on #3248
@asafkorem  thank you for helping.  Finally my team let me add
[code]
to the auth page.
I works.
I am trying your way, still not figure out how to. Once I have more time, I will deep into it.

[2022-03-07 21:03] #3248 closed

[2022-03-08 00:02] dbilgin commented on #3185
@d4vidi for the life of me, I couldn't reproduce this with a clean project, so I came to the conclusion that our main project has some weird config somewhere that's causing this, I just disabled the loading animation on `FlatList` during tests to avoid this as a workaround sadly.
I even created a new Bitrise account and everything and couldn't reproduce this. If somehow I manage to find this out,

[2022-03-08 00:02] #3185 closed

[2022-03-08 00:36] dbilgin commented on #3178
Okay, I created a clean project, reinstalled the detox instruments, I managed to open the application and watch the instruments do their thing from the Detox Instruments application, which didn't work before, but when I ran `detox test --configuration ios.sim.release --record-performance all` the artifact folders are still empty. I feel like I am missing a config or something somewhere

[2022-03-08 00:46] #3181 closed

[2022-03-08 21:19] lisa710junyi opened #3255 "How to choose the element in autocomplete"
### Description

I use google autocomplete component. After I tap it. It shows a drop down list and I want to choose one of them. How can I do it ?
![Screen Shot 2022-03-08 at 4 16 34 PM](https://user-images.githubusercontent.com/83738368/157326798-5c0d6bbb-66cf-4fbc-b2dc-3d4a8bc21baf.png)

Thank you

### Your environment

Detox version:
React Native version:
Node version:
Device model:
OS:
Test-r

[2022-03-09 01:12] MuckT commented on #2981
Was able to get this working with [react-native-touch-id](https://www.npmjs.com/package/react-native-touch-id) here: [DetoxTemplate-biometrics](https://github.com/MuckT/DetoxTemplate/tree/tomm/biometrics); however, I did run into some issues with the `device.unmatch()` timing out as I couldn't interact with the system dialog.

In attempting to [implement biometrics](https://github.com/valora-inc/w

[2022-03-09 05:54] #3189 closed

[2022-03-09 05:54] #3186 closed

[2022-03-09 14:52] iMaupin commented on #3235
Hi @asafkorem,

Thanks for the reply. The functionality above seems to be isolated to a single case. I have confirmed that the views in question are nested as expected through the Layout Inspector on Android Studio. I think that the issue is perhaps related to how the views are built within our app. The views follow this archetype:

`<Text testId='parent'>{conditionalLogic && <View testID='child'/

[2022-03-09 15:41] ball-hayden commented on #3207
We're seeing this, I can maybe narrow down a bit as we intersect with some of those dependencies.

We're using bits of Expo and CodePush.

We also use `reanimated` (which I see in your dependency list) and our tests do seem to fail with Signal 11s around about places where there are animations - would that match up with what you're seeing @shamilovtim?

[2022-03-09 15:53] asafkorem commented on #3235
@iMaupin I'm not sure if the Text element is the issue here..
Is it a copy paste from the code? it looks like you have some typo, please try to replace `testId` occurrences with `testID`.
Specifically,

[2022-03-09 18:32] Himani33 commented on #477
Is any update on this issue? How can we setPermission to NO in Android device for example in launch() API we want to set {Camera: No}

[2022-03-10 11:10] asafkorem commented on #3235
@iMaupin we need more information to figure what causes the issue.
Have you tried to reproduce this issue without the conditional-logic?
Can you see the elements on the screen while the test is failing (`--take-screenshots failing` / `--record-videos failing`)?

[2022-03-10 12:46] asafkorem commented on #3235
@iMaupin
After consulted with @jonathanmos, and a small investigation led by him, we found that nested components inside RN `Text` component are not being handled as sub-views in Android, therefore the View (`child`) is not a descendant of the Text (`parent`), but you are still able to locate them by their test-IDs.

They have some doc regarding how they handle [nested text components](https://rea

[2022-03-10 16:00] iMaupin commented on #3235
@asafkorem

Cool thanks, we already had such a view in place that I could use which makes the test pass. I appreciate your looking into this.

[2022-03-10 17:45] asafkorem commented on #3235
Glad to help! 😄

[2022-03-10 17:45] #3235 closed

[2022-03-11 10:34] Thomas0c commented on #2848
Experiencing similar issue.
* Detox: `19.5.1`.
* React Native: `0.64.3`.
* `react-native-screens` installed.

https://github.com/wix/Detox/issues/2848#issuecomment-874803711 alleviated the problem.

[2022-03-13 08:46] jonathanmos commented on #3241
@aviatam could you please run it with `--loglevel trace` and post the logs?

[2022-03-13 09:05] aviatam commented on #3241
@jonathanmos thanks for reaching out , managed to resolve the issue with bumping our sdk version and using latest detox version

[2022-03-13 09:05] #3241 closed

[2022-03-13 18:08] #3192 closed

[2022-03-13 18:08] #3160 closed

[2022-03-13 18:08] #3085 closed

[2022-03-13 18:08] #3138 closed

[2022-03-13 18:08] #3203 closed

[2022-03-13 18:08] #3188 closed

[2022-03-14 05:49] Sjshijie opened #3258 "app crashes on ios simulator"
### Description

detox[38536] DEBUG: [WSS_CREATE] Detox server listening on localhost:62873...
detox[38536] DEBUG: [WSS_CONNECTION, #62874] registered a new connection.
detox[38536] TRACE: [WS_OPEN] opened web socket to: ws://localhost:62873
detox[38536] TRACE: [WS_SEND] {"type":"login","params":{"sessionId":"8038ff62-cbca-8f31-d663-c2207a4f7196","role":"tester"},"messageId":0}
detox[38536] TRACE:

[2022-03-14 05:50] Sjshijie opened #3259 "app crashes on ios simulator"
### Description

detox[38536] DEBUG: [WSS_CREATE] Detox server listening on localhost:62873...
detox[38536] DEBUG: [WSS_CONNECTION, #62874] registered a new connection.
detox[38536] TRACE: [WS_OPEN] opened web socket to: ws://localhost:62873
detox[38536] TRACE: [WS_SEND] {"type":"login","params":{"sessionId":"8038ff62-cbca-8f31-d663-c2207a4f7196","role":"tester"},"messageId":0}
detox[38536] TRACE:

[2022-03-14 05:53] #3258 closed

[2022-03-14 09:19] #3197 closed

[2022-03-14 09:37] #3259 closed

[2022-03-16 16:55] Himani33 commented on #3144
Hi @Calinteodor... I am interested to know how did you resolve the issue as I am facing the same failure in detox Mobile tests where my mobile app also settings the "Microphone" permission in launchApp() and settings device.setURLBlacklist(['.*browser.com*' ]);

Thank you in advance!

[2022-03-16 17:14] Himani33 commented on #3144
Ok thanks for the reply :)

[2022-03-17 01:23] rajathrao opened #3266 "Signal 6 was raised - After upgrading from Detox 17.X to 19.1"
### What happened?

Detox tests were running fine locally on debug version of the ios.sim. But,  after upgrade to 19.1 I get the following error -

Test suite failed to run now past the splash screen . It loads for a bit and crashes.

    DetoxRuntimeError: The pending request #-1000 ("isReady") has been rejected due to the following error:

    The app has crashed, see the details below:

[code]

[2022-03-17 13:13] francois-spectre commented on #2802
I got one
[code]

with `"detox": "^19.5.3",`

[2022-03-17 13:27] francois-spectre commented on #2802
Finally I realized that I had to manually open the IOS simulator on macos to see what's happening. (btw it is a weird behavior to get the IOS simulator headless by default since on Android the emulator is opened by default).
So the issue happens because I didn't build the app with the js and the app was expecting the react-native dev server to be running.

[2022-03-18 00:57] rajathrao commented on #2802
I am getting similar issues too put a bug already !! I am getting Signal 6. I upgraded from Detox 17.x to 19.1 . Getting issues on debug version on local. Release version seems fine.

[2022-03-18 09:22] dietpizza commented on #3190
@humaidk2 did you figure out how to disable flipper for detox builds? I'm having the same issue.

[2022-03-18 10:04] humaidk2 commented on #3190
Yeah,

I noticed they added the property, testBuildType while building detox test builds for android
[code]
So I just checked if that property was set in build.gradle in android/app
[code]
and only installed flipper if it was true:

[code]

Though, I was kinda hoping the new release would fix it, cause I saw some build fixes there [19.5.7](https://github.com/wix/Detox/releases/tag/19.5.7)

[2022-03-18 10:07] dietpizza commented on #3190
Thanks a lot bro, I'll try it out and let you know!

[2022-03-18 17:36] rajathrao commented on #3255
Did you try by index ?

[2022-03-18 17:38] rajathrao opened #3267 "Do we have have a Discord channel for Detox ?"
### Description

I know that Detox is open source and often we cannot expect ans immediately . But, It will be helpful if experienced folks and some Detox users like us or on the discord channel to resolve issues quickly.

### Your environment

Detox version: 19
React Native version: .64
Node version:
Device model:
OS:
Test-runner (select one): jest-circus / jest+jasmine / mocha / other

[2022-03-18 18:39] davidjonesdialexa commented on #3208
how we looking on this? I saw we now have android web view support. so close to bailing on appium...

[2022-03-18 18:53] guzmanoj commented on #3208
Are you guys planning to use [EarlGrey 2](https://github.com/google/EarlGrey/blob/earlgrey2/docs/setup.md) for achieving this?
This is such an important feature. There's a huge enterprise opportunity with the adoption of Ionic. Being able to interact with a Webview would be key for Ionic apps :)

[2022-03-19 04:05] kbgar24 commented on #3266
For additional context:

- Our Splash screen runs a number of Javascript promises in the background. We suspect that Detox might be losing synchronization with these initial JS promises
- Probably related to new Detox synchronization implementation?
- Issue occurs in any Detox version > 17.x

[2022-03-19 22:02] #3214 closed

[2022-03-20 10:16] d4vidi commented on #3214
Fixed via #3216

[2022-03-21 03:04] lisa710junyi commented on #3255
I use by.text()
 await element(by.text('3401 Cardinal Court, Lakewood, NJ, USA')).tap()
and it works

[2022-03-21 03:04] #3255 closed

[2022-03-21 12:18] boazpoolman commented on #3191
@HackGod2000 Would love some insight on this as well.
Having the exact same issue here.

[2022-03-21 12:39] boazpoolman commented on #3191
Thanks @HackGod2000
That would be great

[2022-03-22 10:36] wangghon commented on #3266
We are in a similar situation as @kbgar24, we found the app doesn't take any responses of any network requests when it is being launched by detox.

The issue was introduced after 18.0.0-next.1, it can be reproduced on 18.0.0-next.3.
https://github.com/wix/Detox/compare/18.0.0-next.1...18.0.0-next.3

[2022-03-22 11:38] chancesmith opened #3269 "expo go quit unexpectedly"
### Description

I'm set up with the Ignite boilerplate and trying to run `yarn test:e2e`

only test is in `firstTest.spec.js`

[code]

The simulator appears to download Expo Go and then an error message pops up saying...

details listed:
[code]

### Your environment

Detox version: 17.14.5
React Native version: 0.64.3
Node version: 16.8.0
Device model: iPhone 13 Pro
OS: Monterey 12.1
Test-runner

[2022-03-22 12:32] vliedel opened #3270 "(WIP) detoxEnableSynchronization argument not working on android."
### What happened?

When adding `detoxEnableSynchronization: 0,` to the launchArgs of `launchApp()`, it was still waiting for a network request.
Manually calling `disableSynchronization()` afterwards is already too late for my use case.
In this case, I could work around it with `detoxURLBlacklistRegex`, but that won't work for everything.

### What was the expected behaviour?

Network request not

[2022-03-22 16:29] rajathrao commented on #3266
I am curious if you are using debug/release variant ! I am beginning to think this is def a bug !! Detox is really hard sometimes . I often wonder if solutions like Appium would make our life easier.

[2022-03-22 16:30] rajathrao commented on #3266
@asafkorem  can someone help us here ? or point in the right direction ?

[2022-03-22 22:05] wangghon commented on #3266
@rajathrao We use release build to run e2e test.

[2022-03-22 22:40] rajathrao commented on #3266
weird, our release version seems to work on 19.1 but the debug version crashes

[2022-03-23 00:16] sierisimo commented on #3141
Hi, I'm having a similar issue. From my side, the thing started just after I added a second `it(..., async () => { ... })` to my tests, even when I'm using `await` like: `await expect(element(by.id(...))).toBeVisible()`  my tests fail with the legend:

Strangely the lines suggested by Detox about the problem include the await and everything:

[code]

...and my understanding is that @jpoisch and @o

[2022-03-23 04:21] wangghon commented on #3266
Another way I am thinking is maybe that we haven't utilised the latest configuration, like detoxEnableSychromization.

I tried the below way, still no luck.

`beforeAll(async () => {
    await detox.init(detoxConfig, {});
    await device.launchApp({newInstance: true, launchArgs: { detoxEnableSynchronization: 1 }, permissions: {camera: 'YES', notifications: 'YES'}});
    // await device.enableSync

[2022-03-23 06:53] tomasfly commented on #2483
I'm getting a similar issue

[code]

When trying to run: `await expect(element(by.id('UniqueId203'))).toBeVisible();`

The rest of the Detox functions such as finding elements and clicking on them are working as expected.

I've posted this question in Stackoverflow:

https://stackoverflow.com/questions/71582804/java-lang-nosuchmethodexception-no-such-accessible-method-matcherforsufficient

[2022-03-23 09:11] asafkorem commented on #3266
@rajathrao
You seem to be using Firebase (I guess through [React Native Firebase](https://rnfirebase.io/)). What version do you have? (please try to upgrade to the latest)

[2022-03-23 12:27] d4vidi commented on #3208
@guzmanoj this would allow for web-views testing, as well, in due time!

[2022-03-23 12:45] guzmanoj commented on #3030
Are you guys planning to use [EarlGrey 2](https://github.com/google/EarlGrey/blob/earlgrey2/docs/setup.md) for achieving this?
This is such an important feature. There's a huge enterprise opportunity with the adoption of Ionic. Being able to interact with a Webview would be key for Ionic apps :)

[2022-03-23 14:46] asafkorem commented on #3030
@guzmanoj generally, we plan to use XCUITest framework directly without EarlGrey for achieving this 🙂

[2022-03-23 15:22] amq opened #3272 "Add ability to change language for Android"
### Describe your idea

Following up on https://github.com/wix/Detox/issues/683 and https://github.com/wix/Detox/pull/873 which implemented the ability to change language between tests on iOS.

Would be great to have the same functionality also on Android.

My use cases:
- testing i18n
- making screenshots for stores

[2022-03-23 22:59] wangghon commented on #3266
@rajathrao @asafkorem
I can reproduce the signal 6 crash in our test.

The app crashed when trying to scroll to the bottom

Mac OS: 12.3
Xcode 13.3
react-native:064.2
detox: 17.14.9
react-native-firebase: 14.5.0

`detox[44523] TRACE: [Artifact.js/STOP] stopping SimulatorScreenshot
detox[44523] DEBUG: [exec.js/EXEC_CMD, #14] applesimutils --byId F9826F9A-022C-403B-A1C7-BD1C02E895A5 --biometricEnrol

[2022-03-23 23:05] rajathrao commented on #3266
I think detox 17.x does not support iOS 15. @wangghon

[2022-03-23 23:25] wangghon commented on #3266
@rajathrao We couldn't reproduce the signal 6 crash when we upgrade detox to 19.5.7.

@asafkorem do you have an idea about the issue @kbgar24 and I mentioned not wait for JS promises to be resolved?

[2022-03-24 12:36] jamesmcn1 commented on #2718
Hey was there a fix to this? We are getting this error now. Detox tests working fine locally but not on Bitrise with release mode. Seems to be lots of logs saying:
[code]

[2022-03-24 16:56] jamesmcn1 opened #3273 "Android App test stall under release config on CI - possible sync issues (looperidlingresource)"
### Description

Hey guys :)

Recently we've been having some trouble with our Detox tests on Bitrise. These are running fine locally under the debug config. I've run the test command with the `--debug-synchronization` flag and it shows the app is busy with LooperIdlingResource until the test times out. I've ran this flag on iOS and there was alot of mentions of enqueued timers eg:
[code]

Would a

[2022-03-25 01:11] shaliniatwork opened #3274 "IOS 12 Test app might have crashed prematurely, or has had trouble setting up the connection."
### What happened?

Hi I am working on running detox on multiple ios versions 12.4, 13, 14 and 15.2. Except iOS 14, remaining are failing due to the titled error. I have added debug synchronisation as well and could not find anything important. I am able to launch the simulator and app without any issue. But when the detox launches the app, it immediately closes the app and wait until jest timeout

[2022-03-25 07:34] shaliniatwork commented on #2815
Whats the solution here? Me too facing same error. It works if it runs in the same file. Else it raises Signal 11 and quit

[2022-03-25 17:03] rajathrao commented on #3266
@asafkorem we upgraded the firebase and still same error !!

[2022-03-25 18:13] MuckT opened #3275 "Test Butler unable to dismiss QuickStep ANR's in Detox 19.5.7"
### What happened?

After updating to Detox `19.5.7` from `Detox 19.4.5` [Test Butler](https://github.com/linkedin/test-butler) has been unable to dismiss QuickStep ANR Modals.

### Screenshot
<img src="https://user-images.githubusercontent.com/26950305/160176491-584d1a17-a643-4f96-b0b6-c155910bba59.png" width="50%" height="auto" />

### What was the expected behaviour?

QuickStep ANR system modal

[2022-03-25 19:12] cchristman-shell opened #3276 "pipeline - detox build error"
### What happened?

Github pipeline:
run "detox build --configuration android.emu.release" failed

"android.emu.release": {
        "binaryPath": "android/app/build/outputs/apk/dev/release/app-dev-release.apk",
        "build": "cd android; ./gradlew --stacktrace assembleDevRelease assembleAndroidTest -DtestBuildType=release; cd ..",
        "type": "android.emulator",
        "name": "Pixel_API_2

[2022-03-27 15:24] timabilov opened #3278 "How can i force wait synchronization for retry requests (timeout retry)"
### Description

I don't want to be released right after first failed (timeout) request. Because i have to retry that request. Otherwise i get the error. Considering that i have a (central) http middleware where every failed timeout request getting retried, what are the possible optimal solutions here? Can i even use some manually exposed  `countingidlingresource` objects from native java as an ex

[2022-03-28 07:56] ball-hayden commented on #2641
Still seeing this.
I still haven't been able to narrow it down though.

[2022-03-28 12:00] sandipgupta55 commented on #3276
"build": "cd android; ./gradlew --stacktrace assembleDevRelease assembleAndroidTest -DtestBuildType=release; cd ..",

need to change from assembleAndroidTest to assembleDevAndroidTest

[2022-03-28 12:59] d4vidi commented on #3209
@harjotmalhi94 @YugeFresh @chirag-rakholiya would be happy to hear from you

[2022-03-28 13:04] d4vidi commented on #3275
Hey @MuckT! Could you also share how test butler is utilized in your environment? Namely, whether prebaked into your emulator images, or rather installed dynamically via Detox's `utilBinaryPath`? See [this blogpost](https://medium.com/wix-engineering/how-to-execute-android-ui-tests-on-ci-and-stay-alive-eb9089d88c1f) for more info.

[2022-03-28 13:17] d4vidi commented on #3266
@rajathrao @kbgar24 to either confirm or deny the promises-await theory, you can try to add long sleeps after launch and see whether it helps stabilize things. In any case, these things are tested regularly so I slightly doubt that (could be wrong, of course).

In any case, what seems slightly fishy is the combo of calling `detox.init()` and `launchApp()` from your `CustomDetoxEnvironment`. Best i

[2022-03-28 13:31] PavelRazumov opened #3279 "Can't run tests for Android in the debug mode after change port"
### Description

Hi Team!
I want to create E2E tests for Android. I went through [this guide](https://wix.github.io/Detox/docs/introduction/android/).

- run build with configaration - detox build -c android.emu.staging.debug -> get success build apk.
- After it, run react-native start --port=8087 (Can't use default port, because it busy security programm McAfee)
- Run test with configuration - de

[2022-03-28 14:03] IlSassone opened #3280 "questions about native modules"
### Description

In my appication i have the need to implement various native modules on which the app is based on, so they cant be mocked because i need to test their behaviour.
But there could be some occasions in which the native modules remain pending (eg. connecting to a grpc server that could be offline) and then give a request timeout.
Is there a way to ignore the monitoring of the native m

[2022-03-28 14:42] d4vidi commented on #3278
Hi @timabilov, Detox provides that out of the box, technically. As long as there is something happening in the system -- be it an in-flight network request, or a retry-timer, Detox awaits. Could you provide more details as to what made you think otherwise?

[2022-03-28 14:53] shamilovtim commented on #3207
We can't really nail down the cause. What version `reanimated` are you on?

[2022-03-28 15:55] ball-hayden commented on #3207
We're running `reanimated: ^2.3.1`

[2022-03-28 16:00] ball-hayden commented on #2641
Yeah - @d4vidi there's some more information in #3207.

Both myself and @shamilovtim are struggling to isolate what causes this, so I appreciate there isn't a huge amount that can be done at the moment.

It is still an issue, however, so IMHO shouldn't be marked as stale.

[2022-03-28 17:40] MuckT commented on #3275
@d4vidi We install it dynamically [here](https://github.com/valora-inc/wallet/blob/main/packages/mobile/package.json#L298-L300) via `utilBinaryPath`. You can see our whole repo at [valora-inc/wallet](https://github.com/valora-inc/wallet) as it's open source. Running the e2e tests can be a bit difficult without access to a few things, but we are working on replacing that code with mocks to make out

[2022-03-28 21:36] dannyMattr opened #3281 "Build failure for Android release binary"
### What happened?

When running the `detox build` command for the below detox configuration,
`"android.release": {
      "type": "android.apk",
      "binaryPath": "android/app/build/outputs/apk/releaseE2E/app-releaseE2E.apk",
      "build": "cd android ; ./gradlew assembleReleaseE2E assembleAndroidTest -DtestBuildType=releaseE2E && cd .."
   }`
build fails with the following message:
`> Task :ap

[2022-03-28 23:05] MuckT commented on #3273
@jamesmcn1 this looks similar to what I am seeing in the logs for https://github.com/wix/Detox/issues/3275.

[code]

Can you take a screenshot of your failing tests with `--take-screenshots=failing` and see if an ANR is being served?

[2022-03-29 07:51] Brma1048 opened #3282 "launchArgs does not effect Android Emulator"
### What happened?

In my .detoxrc.json I added under apps > android.release > launchArgs: { "dns-server":"<example-dns>"} but it doesn't affect my emulator, I also tried it via the cli: detox test -c android --app-launch-args="-dns-server \"<example-dns\"" but both attempts didn't work. Only when I launch the emulator in another terminal before the test with "emulator -avd "EMULATOR_NAME" -dns-se

[2022-03-29 07:57] ball-hayden commented on #3207
Possibly, although I can't help but feel it might be animation-timing related given the places we see this are always slightly after an animation has completed.

I've tried creating a project based on the Detox Repro Template that has Expo and reanimated in it but I haven't managed to get it to crash yet.

Something I have noticed is that the amount of time it takes Detox to "react" (i.e. continue

[2022-03-29 10:28] d4vidi commented on #3273
According to your log file, the JS thread is constantly occupied, which blocks Detox from moving forward, eventually resulting in a time out:
[code]

Nothing comes to mind ATM that could be related to Bitrise or Detox specifically -- it's more of an app-specific thing. I'd suggest stripping down the app to the point where the problem disappears, and through that zeroing-in on the root of the probl

[2022-03-29 11:05] #3273 closed

[2022-03-29 11:14] d4vidi commented on #3282
I think you might have had `launchArgs`/`--app-launch-args` mixed up with `--device-launch-args`: https://wix.github.io/Detox/docs/api/detox-cli/#test

[2022-03-29 11:15] #3282 closed

[2022-03-29 11:17] d4vidi commented on #3279
@jonathanmos can help you out with this

[2022-03-29 11:33] PavelRazumov commented on #3279
Yes, i create post in stack-overflow - https://stackoverflow.com/questions/71661245/cant-run-tests-for-android-in-the-debug-mode-after-change-port

[2022-03-29 11:36] PavelRazumov commented on #3279
@d4vidi, Can you please tell me, i don't understand, where @jonathanmos will help me on stackoverflow or here ?

[2022-03-29 11:58] d4vidi commented on #3275
Well there are a few things that come to mind:
1. It is possible that while you have test-butler installed, it's service isn't running. Dive deeper into the the section on test-butler in the [blogpost](https://medium.com/wix-engineering/how-to-execute-android-ui-tests-on-ci-and-stay-alive-eb9089d88c1f) to see what's missing.
2. Since it's _Quickstep_ that isn't responding (the device's launcher) a

[2022-03-29 12:04] jamesmcn1 commented on #3273
Yeah i think the issue is more on running the android emulator in a VM environment than detox. I've changed my CI workflow to use Bitrise's off the shelf AVD Manager step which seemed to have sorted the issues. Cheers everyone!

[2022-03-29 12:05] shamilovtim commented on #3207
Are you using the template in CI? Do you have your code up somewhere so i can pull it or add to it?

We only get these crashes in CI fyi

[2022-03-29 12:13] d4vidi commented on #3280
First thing's first, there are built-in mocking capabilities in RN you can use, and we even have a [guide](https://wix.github.io/Detox/docs/guide/mocking/) for that (a bit out of date, sorry).
In addition, you might want to consider using the [disableSynchronization](https://wix.github.io/Detox/docs/api/device-object-api/#devicedisablesynchronization) API.

[2022-03-29 12:13] #3280 closed

[2022-03-29 12:28] d4vidi commented on #3276
@cchristman-shell your gradle build command failed. I'd focus on resolving:
[code]

There are multiple messages of that sort.

Try to run `./gradlew assembleDevRelease` and `./gradlew assembleAndroidTest -DtestBuildType=release` separately and see. Also, try to use `testBuildType=debug` instead of `release.`

[2022-03-29 12:29] #3276 closed

[2022-03-29 16:09] ball-hayden commented on #3207
^ that is a point. I don't think I've ever seen it locally.

Fighting some other fires, but I'll get the template pushed somewhere when I can.

[2022-03-29 19:55] shamilovtim commented on #3207
@asafkorem I wonder if we can add reanimated, gesture handler and react navigation to the official Detox e2e tests? By adding all of the common dependencies it might help to catch some of this crashing. What CI provider do you guys use for the project?

[2022-03-30 07:10] noomorph commented on #3207
@shamilovtim

Buildkite + Macstadium

[2022-03-30 07:15] noomorph commented on #3279
@d4vidi @jonathanmos guys, actually I'm inclined to tell you that we might have never checked this (exotic or not, no idea) scenario, so... I wouldn't hurry to close it.

Also, I think we might have hardcoded 8081 somewhere. Correct me if I'm wrong.

[2022-03-30 14:46] dooleyb1 commented on #3186
@nguyenhoanglam Did you manage to resolve this issue? Having the exact same problem also on `Detox: 19.4.2`

[2022-03-30 17:50] harjotmalhi94 commented on #3209
@d4vidi we have opted to go with the workaround for now and will revisit this later.

[2022-03-30 19:30] jamesmcn1 opened #3284 "Possible bug with "Detox has detected multiple interactions taking place simultaneously" error?"
### What happened?

Hey guys :)

I seem to get this error alot "Detox has detected multiple interactions taking place simultaneously", which seems to be a mistake.

Before I had Detox 17+, this would have worked fine:
[code]

However after migrating to Detox 19.15.7 I get this error complaining that there are multiple interactions happening simultaneously. The docs suggest this is due to `await` k

[2022-03-30 19:49] jamesmcn1 commented on #3141
I am getting a similar error. Have raised it in a seperate issue https://github.com/wix/Detox/issues/3284

[2022-03-31 12:23] d4vidi commented on #3284
@jamesmcn1 could you please rerun your test with the `--loglevel trace` argument to `detox test` and paste the logs? Thanks

[2022-03-31 12:25] d4vidi commented on #3141
@jpoisch / others, we would very much appreciate you rerunning your tests with the `--loglevel trace` argument to `detox test`, then pasting the logs here 🙏🏻
Or better yet, use our [template project](https://github.com/wix-incubator/DetoxTemplate) in order to reproduce in a clean, shared environment.

[2022-03-31 12:33] d4vidi commented on #3209
For what it's worth, a suggestion, nevertheless: When building your APK's (app, test), be sure to use `-DtestBuildType=debug` instead of `-DtestBuildType=release`. For example:

[code]

Note that this would not affect your app's build type (debug / release), rather, only the test code's.

[2022-03-31 15:01] PavelRazumov commented on #3279
Hi team, I tried Jon's solutiuon in stackoverlow, change port with Settings->Debug Server host on 10.0.2.2:8087, then reload and change port with adb reverse. After it i had success build bundle and same timeout error and test stuck on launchApp()

[2022-03-31 15:13] asafkorem commented on #3274
@shaliniatwork thanks for the report. Looking into it.

[2022-03-31 15:18] asafkorem commented on #3274
iOS 12.x support dropped in Detox v18.

[From the migration guide:](https://wix.github.io/Detox/docs/guide/migration/#180)

[2022-03-31 15:19] #3274 closed, assigned to nobody

[2022-03-31 15:55] jonathanmos commented on #3279
@PavelRazumov can you try with localhost:8087?

[2022-03-31 16:35] asafkorem commented on #3267
Hi @rajathrao!

Great question, we do have plans to establish one.
We just decided to prioritize this, also thanks to your question. I will post the link here soon.

[2022-03-31 19:09] rajathrao commented on #3266
@d4vidi  long sleeps wont work too. it just does not go past the splash screen

[2022-03-31 19:28] #3182 closed

[2022-03-31 23:16] sierisimo commented on #3141
I was not able to reproduce the bug in the template project and also my project magically started working for some reason, I think some dependency related to jest or something changed but I'm unable to identify what was the change since I originally had the issue.

Thanks for your help @d4vidi

[2022-04-01 04:10] MuckT commented on #3275
@d4vidi Thanks for the quick response! I went thought the blogpost and ended up setting up an Android snapshot with [Test Butler](https://github.com/linkedin/test-butler) enabled that we use in CI; since doing so I haven't seen a QuickStep ANR served 🤞. I've also moved away from launching Android Emulators on our own to having Detox launch them and that's it's working well with the aforementioned

[2022-04-01 04:10] #3275 closed

[2022-04-01 07:33] PavelRazumov commented on #3279
I checked it, and have same error, launchApp stuck.

![image](https://user-images.githubusercontent.com/28491189/161216825-cde346c6-d864-44bc-ae3d-184b33eb361b.png)

[2022-04-01 08:38] Livijn commented on #3242
This is very much still relevant.

[2022-04-01 08:38] Livijn commented on #3240
This is very much still relevant.

[2022-04-01 11:59] noomorph commented on #2737
Duplicate of https://github.com/wix/Detox/issues/2469

[2022-04-01 11:59] #2737 closed

[2022-04-01 16:10] jamesmcn1 commented on #3284
Ah in the end, we release that some of our helpers weren't returning promises properly, which meant async/await wasn't working as expected. Stuff like this:
[code]

Instead of this:
[code]

All good now! thanks

[2022-04-01 16:11] #3284 closed

[2022-04-01 17:08] #3267 closed

[2022-04-03 14:18] d4vidi commented on #3275
Beautiful, thank you!

[2022-04-03 14:25] d4vidi opened #3292 "Clean up lint warnings"
### Describe your idea

Simply put, I think we've had enough of seeing this in every PR:

![image](https://user-images.githubusercontent.com/9818880/161432472-153bb69e-a538-40d5-949f-a05750b7645f.png)

[2022-04-03 14:59] d4vidi commented on #3284
Oh great find. Kudos

[2022-04-03 15:46] #3126 closed

[2022-04-04 08:13] noomorph commented on #2337
We have some progress on this part. @d4vidi we can elaborate here, I think.

[2022-04-04 11:52] d4vidi commented on #2337
Thank to @noomorph, we've managed to integrate the Allure reporter internally. The fundamentals were fairly easy to set up; It's the integration of our test artifacts (screenshots, videos) that were not very trivial.

I hope we could open source it soon.

[2022-04-04 15:21] cchristman-shell opened #3294 "detox test: App crashed on Android emulator"
### Description

**detox configurations in package.json:**

[code]

**Run detox build in GitHub pipeline:**
`detox build --configuration android.emu.debug`

Build is successful but it logs the following warnings, not sure these are the reasons for the following test failures.

[code]

**Run detox test in GitHub pipeline:**
`detox test --configuration android.emu.debug --headless --cleanup --loglev

[2022-04-05 07:25] PavelRazumov commented on #3279
@jonathanmos , Hi I checked hardcode port in node_modules/detox and nothing find. Plus i have a question how detox's tests understand which port used for running build, may be it's configuration during detox build and can change it?
![image](https://user-images.githubusercontent.com/28491189/161700362-dde18c15-cea7-49a9-889d-82af89434a68.png)

[2022-04-05 09:38] d4vidi opened #3297 "Add item color assertion"
### Describe your idea

We could theoretically add that the `getAttributes()`, although, I'd like to take a guess that the RN-side prop doesn't necessarily easily map to the native equivalent (as we've seen in the past).

Nevertheless, this is definitely something we could accept as a feature.

[2022-04-05 12:23] #3294 closed

[2022-04-06 08:05] #3129 closed

[2022-04-06 11:12] immohanrajmuthu1502 opened #3301 "Add expect methods to check all the accessibility properties"
### Describe your idea

Currently detox supports to check the accessibility label, text and value.
Please provide expect methods to check the accessibilityHint and accessibilityRole

[2022-04-06 16:54] olegderecha commented on #3266
Paired with @rajathrao and we found the answer.
Based on this link https://githubhot.com/repo/wix/Detox/issues/2944 author advised to use `--loglevel trace` to get the most extended log. The log is really very extended and before the crash point is says:

`{"messageId":-10000,"type":"AppWillTerminateWithError","params":{"exceptionReason":"You must override the `supportedEvents` method of VydiaRNFi

[2022-04-06 21:36] jonathanmos commented on #3279
@PavelRazumov I've reproduced this and had some success with reversing the port and setting the debug server host - the packager at that point can communicate with the emulator and load the bundle. To get the tests to run properly will probably also require increasing the rnContextLoadTimeoutSec in DetoxConfig, although I haven't had the chance to do this yet. I'll try tomorrow and hopefully we ca

[2022-04-07 11:22] jonathanmos commented on #3279
@PavelRazumov Please perform the following steps.

Locate your `DetoxTest.java` file and insert the following lines:

At the top of the class:

        private static final String RN_DEBUG_HOST_KEY = "debug_http_host";

and inside the `runDetoxTests` method:

        Context context = InstrumentationRegistry.getInstrumentation().getTargetContext().getApplicationContext();

        SharedPreference

[2022-04-07 11:25] PavelRazumov commented on #3279
@jonathanmos , thank you very match, I'll try to check solution today or tomorrow

[2022-04-07 12:43] wangghon commented on #3266
@olegderecha Hi Oleg, do you have any idea about the issue mentioned by @kbgar24?

[2022-04-07 19:04] SMJ93 opened #3309 "Add a command line flag to disable `_getStatusSign`"
### Describe your idea

I am trying to automate the generation and uploading of screenshots for my app using Detox and [fastlane](https://docs.fastlane.tools/getting-started/ios/screenshots/).

I have managed to build the path fastlane requires by passing in a custom artifacts location `--artifacts-location ios/fastlane/screenshots/` and naming my tests appropriately: `ios/fastlane/screenshots/hi/

[2022-04-08 12:34] cchristman-shell commented on #3294
Can anyone help me with this problem?  I posted in Stack Overflow as well but I have not received any response.

[2022-04-08 12:51] ball-hayden commented on #3207
@shamilovtim sorry for the delay.

https://github.com/PlayerData/DetoxReanimatedRepro

Just trying to set up GitHub actions to see if that might result in a reproduction.

[2022-04-08 16:28] SMJ93 opened #3311 "Option to overwrite artifacts if they exist"
### Describe your idea

It would be great if we overwrite artifacts such as screenshots or videos by passing through a flag e.g. `--overwrite-artifacts`.

I've managed to get this working locally by adding the following [patch](https://github.com/ds300/patch-package#readme) to `node_modules/detox/src/artifacts/templates/artifact/FileArtifact.js` -> `moveTemporaryFile` method:
[code]

It checks if

[2022-04-08 16:54] zacharyweidenbach opened #3312 "Error: Can't open file: /data/local/tmp/detox/Application.apk while running in github actions"
### What happened?

While running the release variant of the detox android configuration, the tests pass successfully. However, when running in CI (github actions in this case), tests fail at the `detox.init()` stage.

### What was the expected behaviour?

Tests would execute and pass in CI the same as they would locally.

### Was it tested on latest Detox?

- [X] I have tested this issue on the l

[2022-04-08 18:52] zacharyweidenbach commented on #3312
I think I can rule out permissions as a possibility
After following the steps here:
https://stackoverflow.com/a/36266874/16318310

I added a step to the github action workflow and the returning permissions looked good:
[code]

[2022-04-09 06:29] noomorph commented on #3312
@d4vidi interesting perspective. Looks like a workaround with `adb push` and consequent installation via shell has its own glitches sometimes.

[2022-04-09 06:30] noomorph commented on #3311
Could you explain your scenario a bit more? 🙏

[2022-04-09 06:35] noomorph commented on #3309
Well, you can override that logic, I guess, if you specify your own path builder implementation. It is not brilliantly documented, probably, but we do have some docs on it:

https://wix.github.io/Detox/docs/api/artifacts/#:~:text=pathBuilder (in **Configuration Object** section)

Also, some code:

https://github.com/wix/Detox/blob/master/examples/demo-react-native-jest/e2e/detox.pathbuilder.js
htt

[2022-04-09 06:36] noomorph commented on #3292
Well, part of them will go away with Detox 20, but every item needs some groundwork to be resolved.

[2022-04-09 06:37] noomorph commented on #3272
@jonathanmos could you comment on this, please?

[2022-04-09 06:39] noomorph commented on #3178
@d4vidi shall we mark this feature as obsolete, maybe? in Detox 20 or 21? Let's be straight, we support neither actively nor passively this feature for more than a year... 🤷‍♂️  It's creating a bad smell.

[2022-04-09 06:43] noomorph commented on #2610
It's a good candidate to be solved in Detox 21.x

[2022-04-09 06:44] noomorph commented on #3199
What's the status here?

[2022-04-09 06:45] noomorph commented on #3301
Could you add a few lines of code to illustrate what you mean? These days I am working far from the matchers / expectations domain and I need some refreshal. 🙏  Thanks.

[2022-04-09 06:56] noomorph commented on #1331
We'll try to take it in Detox 20, but not promising...

[2022-04-10 10:57] d4vidi commented on #3175
@jonathanmos does this in fact align with https://github.com/wix/Detox/issues/2534?

[2022-04-10 11:56] d4vidi commented on #1331
Well 1st thing's 1st, I don't understand the use case for `--reuse` other than for local dev time, as long as reinstalling is the only means for cleaning things up between tests/suites/files. So with that, I'm inclined to say that #2534 is the only optimization we need at the moment. Maybe we ought to put our efforts into doing something similar for iOS, rather than in more easily enabling discour

[2022-04-10 11:58] jonathanmos commented on #3175
@d4vidi Not exactly. We aren't providing an api to clear app data in #2534, rather we're clearing app data behind the scenes where possible to avoid reinstallation.

[2022-04-10 12:13] d4vidi commented on #3175
But technically `resetAppState()` is going to be a public API, wouldn't it be equivalent?

[2022-04-10 12:54] d4vidi commented on #3301
Closing in favor of #3116 (will reopen on account of objections).

[2022-04-10 12:54] #3301 closed

[2022-04-10 12:54] d4vidi commented on #3116
Also, `accessibilityRole` (and probably `accessibilitySubrole`) could definitely be also relevant while we're at it (as suggested in #3301).

[2022-04-10 12:57] d4vidi commented on #3199
We're waiting for the associated upgrade to take place internally. Then we could move fwd with this all across the board*.

_* assuming here that this bug was transient in a 66 version that was patched._

[2022-04-10 12:59] d4vidi commented on #2610
Let's discuss in the associated discussion then! 👌🏻

[2022-04-10 13:07] d4vidi commented on #3240
@Livijn we've already removed `fbsimctl` from the project, and now use a custom impl. via `AppleSimUtils`. Have you tried this with a fairly up to date version of Detox?

[2022-04-10 13:09] d4vidi commented on #3294
https://stackoverflow.com/questions/71757919/how-to-resolve-app-crash-issues-in-detox-test

[2022-04-10 15:53] SMJ93 commented on #3311
Hey @noomorph, sure.

I use Detox `device.takeScreenshot` to generate screenshots for my iOS and Android app:

- 5 devices (iphone8Plus, iphone11ProMax, iPadPro12Inch, pixel4, pixelTablet)
- 15 languages
- 6 screenshots per device

I am currently uploading all 450 screenshots to the App Store and Google Play Store manually.

The plan is to automate the entire screenshot generation and upload proce

[2022-04-10 15:54] SMJ93 commented on #3309
Cheers @noomorph, I will try to find some time over the next few weeks and create a PR 👍

[2022-04-10 20:06] kadut opened #3317 "Apparent framework build errors"
### Description

Getting Apparent framework build errors for ios, which may be impacting gesture recognition.

A simple test that I have shaved down to the below will pass without the tap() line (so the element is visible) but times out with it:
[code]

test video shows that the button actually is tapped successfully and the app then moves to the next screen as expected - behavior is all correct.

[2022-04-11 09:27] Maxim-Filimonov opened #3318 "How to clear lock file before test run ?"
### Description

I run detox as part of `cucumber-js` setup and noticed that cucumber won't run `AfterAll` hooks when run is interrupted from console by SIGINT.
[code]
Which leads to detox not releasing lock from the lock file and launching new simulators all the time.
I do manually remove file with the following code:
[code]
And run this before I started detox which guarantees that the lock file

[2022-04-11 10:33] ball-hayden opened #3319 "Debugging in Xcode During Detox Tests guide does not work"
### What happened?

Following [Debugging in Xcode During Detox Tests](https://github.com/wix/Detox/blob/master/docs/Guide.DebuggingInXcode.md) results in the test not running (and just timing out).

### What was the expected behaviour?

The test should run with XCode Debugger connected

### Was it tested on latest Detox?

- [X] I have tested this issue on the latest Detox release and it still repr

[2022-04-11 10:38] ball-hayden commented on #3319
Aside, I also get the following error from XCode when building:

[code]

Doing what it says (i.e. changing the build order) makes that error go away, but is annoying.

[2022-04-11 10:49] ball-hayden commented on #3207
@shamilovtim can I ask, do you run multiple simulators at once in CI (as in, do you use the `--max-workers` flag)?

[2022-04-11 11:09] ball-hayden commented on #3207
Running https://github.com/PlayerData/DetoxReanimatedRepro/pull/4 locally, Detox is consistently not waiting for animations to finish for _some_ workers (between 1 and 3).

It doesn't, however, Signall 11

[2022-04-11 11:11] d4vidi commented on #3317
@asafkorem I'm not sure what's really behind:
[code]
Which resource does this refer to?

[2022-04-11 11:19] d4vidi commented on #3292
Great. I think lifting the restrictions over ToDo's would make a huge difference, for starters.

[2022-04-11 11:29] noomorph commented on #3309
@SMJ93 do you mean PR to the docs or something else?

[2022-04-11 12:59] ball-hayden opened #3320 "Documentation Issue Type"
### Describe your idea

I have a documentation issue to report - it's not an enhancement, or an iOS or Android bug.

Please can we have an issue type for generic documentation?

[2022-04-11 13:00] ball-hayden opened #3321 "Discord Join Link Invalid"
Following the Discord link at the bottom of the Detox documentation page fails:

![Screenshot 2022-04-11 at 14 00 26](https://user-images.githubusercontent.com/1596233/162744681-f215cbf5-fb28-4080-af3c-015d8015da76.png)

[2022-04-11 13:36] SMJ93 commented on #3309
@noomorph this would require adding another CLI flag so a PR would need to update the docs + code.

e.g. Add `--disable-status-sign`.

[code]

[2022-04-11 14:18] #3321 closed

[2022-04-11 14:47] asafkorem commented on #3320
Rethinking about this, it's pretty rare to have a documentation bug (for example, broken link), and in most cases it's quite easy to open a PR to fix it (this case was a bit unique). The "enhancement" issue type can fit most issues related to documentation..
Maybe any of you guys have a different opinion @wix/detox-team?

[2022-04-11 15:32] shamilovtim commented on #3207
I wonder if this has something to do with software rendered, slow CI VMs? Maybe the VM is so slow that `timer` times out and gets GCCed or whatever like you said? Which is why we don't see this on Detox running on bare metal instances

[2022-04-11 15:34] ball-hayden commented on #3207
Our CI doesn't use VMs but instead a pair of slightly ageing Mac Minis (2018) so the same theory holds.

[2022-04-11 17:24] noomorph commented on #3320
Yes, docs belong to `enhancement` type.

[2022-04-11 19:46] sajadghawami commented on #3085
@d4vidi  Thanks for the reply and sorry for the late response.
So we had to remove the e2e tests for a while, but now i came back to test it with the sleep method you provided... and strangely, everything seems to be working now - without using sleep 🤷‍♂️...
I am not sure and how and why it disappeared.

Anyway, its working now and thank you 🙏.

[2022-04-12 04:03] 5i77 commented on #3240
@d4vidi
I upgraded to the latest version(19.6.5), but it still uses `fbsimctl`
https://github.com/wix/Detox/blob/19.6.5/detox/src/devices/common/drivers/ios/tools/AppleSimUtils.js

[2022-04-12 07:11] d4vidi commented on #3085
@sajadghawami well, that's good news, although ideally I would like to know the root cause for this inconvenience 😅 Anyways, thanks for letting us know!

[2022-04-12 07:14] d4vidi commented on #3320
I was proposing to Asaf that we would have the option of a "bug report - other" template, seeing that the limitation to iOS/Android is a bit simplistic to my taste. WDYT?

[2022-04-12 07:55] ball-hayden commented on #3207
Couple of patches I tried yesterday.

Firstly, this change which guards against the returned `proxy` being null.

[code]

This didn't help, which kinda makes sense - there _should_ always be a proxy at this point if I've understood properly.

The more interesting change is this one:

[code]

All this change is doing is re-enabling some of the commented out logging (and adding a little bit extra).

[2022-04-12 10:28] PavelRazumov commented on #3279
Hi team, excuse me, that late with the answer, I checked this solution, all work great in debug mode.
Thank you very much!! And in stackoverflow attached link

[2022-04-12 10:57] #3279 closed

[2022-04-12 12:57] GuillaumeHemmen opened #3325 "Parallel Test Execution on iOS"
### Description

Hello everyone,

I don't know if it's a bug or not but when I try to run parallel testing with iOS I have, as documented, some devices booted to match the number of runners (in my case 2).

As the tests run I see that detox stops using the running emulators to start a new one and does not reuse the existing ones.

At the end of my test, I end up with 6 (sometimes more) emulators i

[2022-04-12 14:43] shamilovtim commented on #3207
I wonder if in all of these methods if we create a new timer from the old one that would be good enough to prevent the reference nulling out from its parent?

[2022-04-12 15:41] ball-hayden commented on #3207
I am very much not an Objective C programmer, but my assumption is that a local variable wouldn't be enough to prevent GC (from past similar experiences with Swift).

I wonder if we can keep a reference within `DTXTimerProxy` though?

I didn't have time to look further into this today - tomorrow is a new day, and hopefully I can find time again.

[2022-04-12 18:30] shamilovtim commented on #3207
This article might help:
https://stackoverflow.com/questions/4945028/repeating-nstimer-weak-reference-owning-reference-or-ivar

[2022-04-13 03:58] kadut commented on #3317
Thanks for looking at this.

This is using vanilla https://callstack.github.io/react-native-paper/ for the button, and in general that framework certainly works with Detox, so I don't think it is a general low level Apple related implementation issue.

You don't think is related to the framework build errors on the mismatched linkage between 8.0 and 9.0 targets?

[2022-04-13 08:39] noomorph commented on #3325
In your `e2e/config.json` do you have `maxWorkers: 1` ?

[2022-04-13 08:41] GuillaumeHemmen commented on #3325
Hello @noomorph, yes I can see `maxWorkers: 1` should I remove this line? I would have expected it to have the line overwritten if I pass the `workers` parameter to the CLI.

[2022-04-13 08:43] noomorph commented on #3325
Nope, I'm just checking if you have the fuse against running one-simulator-per-file situtation. Okay, you do have. I'll get back soon.

[2022-04-13 08:58] noomorph commented on #1354
Interesting issue... @jonathanmos  @d4vidi WDYT?

[2022-04-13 09:02] noomorph commented on #3325
What is your runner config and do you have `setupFilesAfterEnv` in your Jest config?

[2022-04-13 09:09] GuillaumeHemmen commented on #3325
Hello @noomorph,

I am not 100% sur of what you are asking for with `setupFilesAfterEnv` so here are my configs from the e2e folder:
 - [config.json](https://pastebin.com/3PrFdU0N)
 - [environment.js](https://pastebin.com/0D8d30K9)

Also, my [.detoxrc.json](https://pastebin.com/hjVveTER).

[2022-04-13 09:14] noomorph commented on #3325
Okay, interesting. Now I eliminated all other possibilities regarding the integration with test runners. I'll get back later.

[2022-04-13 09:24] noomorph commented on #3325
I think the problem is that you use:

[code]

Change `name` to `type`.

[2022-04-13 09:27] noomorph commented on #3325
I'll explain what happens. Detox when it does not find a free device matching the criteria (you have 2 workers, one of which is occupying the said device), it creates a clone of such a device with `${name}-Detox`.

But the problem is that the next query (provided that the free device has `${name}-Detox` name) won't list it in the array of available simulators. That's why you again will be creating

[2022-04-13 09:35] noomorph commented on #3311
Ah, hehe, interesting... I'll think. :)

[2022-04-13 09:48] GuillaumeHemmen commented on #3325
Hello @noomorph,

This is my understanding: I would need to have X device with the name `iPhone 12` where X is my number of workers. Only then detox will be able to reuse these phones without having to create a phone with another name (here `${name}-Detox`).

Is my understanding correct?

[2022-04-13 09:50] noomorph commented on #3325
@GuillaumeHemmen no, you misunderstood me.

That is the fix for your situation. Fix your config:

[code]

[2022-04-13 09:52] GuillaumeHemmen commented on #3325
Ah ok, I completely misunderstood you. Now it's crystal clear! Thanks a million for your support and patience! I'll close the ticket.

Have a lovely day.

[2022-04-13 09:52] #3325 closed

[2022-04-13 09:57] asafkorem commented on #3320
Resolved here: https://github.com/wix/Detox/pull/3327.
Thanks @ball-hayden

[2022-04-13 09:57] #3320 closed

[2022-04-13 10:04] noomorph commented on #3325
Postmortem: shall we warn people about using `name` with multiple workers or shall we not append `-Detox` all the time? @d4vidi @asafkorem @jonathanmos Actually this is an interesting thing to muse over.

[2022-04-13 14:17] ball-hayden commented on #3207
So - turns out I was just "lucky".

Rebuilt the branch with the logging changes today and it did segfault still.
I guess the good news is that I now have those logs.

Slightly redacted / filtered version here: [device-redacted.log](https://github.com/wix/Detox/files/8482185/device-redacted.log)

[2022-04-13 14:19] ball-hayden commented on #3207
Do we maybe need some sort of synchronisation logic between `fire` and `untrack`?

[2022-04-13 16:11] karimdjemai opened #3330 "Testing deep-linking on android fails, app stays on splashscreen"
### What happened?

When trying to launch the app with a specified deep-link url, it hangs on the splash screen and the tests fail because they can not see the expected elements.

Usage:
`await device.launchApp({
      newInstance: true,
      url: <url>,
    })`

In my metro logs I find this:
`ERROR  [TypeError: Cannot read property 'url' of undefined]`
with no further information

### What was t

[2022-04-13 16:24] karimdjemai commented on #3330
device logs:
<details>
18:06:08.705 detox[42211] INFO:  [test.js] DETOX_CONFIGURATION="android.emu.debug" DETOX_LOGLEVEL="trace" DETOX_RECORD_LOGS="all" DETOX_REPORT_SPECS=true DETOX_START_TIMESTAMP=1649865968698 DETOX_USE_CUSTOM_LOGGER=true jest --config e2e/config.json --testNamePattern '^((?!:ios:).)*$' --maxWorkers 1 e2e/2_0/RX/testRXOrders.e2e.js
18:06:09.894 detox[42212] TRACE: [DETOX_CREATE

[2022-04-13 20:14] activebiz commented on #3227
Tried this but doesnt work.

[2022-04-13 23:50] cortisiko opened #3331 "Detox fails to run on xcode v13.3.1"
### What happened?

Updating from Xcode v13.2.1 to v13.3.1 breaks detox. The app builds successfully but the test do not run. I get a bunch of `Application termination failed` errors

### What was the expected behaviour?

The tests should run irrespective of Xcode version.

### Was it tested on latest Detox?

- [X] I have tested this issue on the latest Detox release and it still reproduces.

###

[2022-04-14 00:14] systemride commented on #3331
I had the same issue. It looks like upgrading to the latest version `19.6.5` resolves the issue for me.

[2022-04-14 10:40] asafkorem commented on #2499
If you still have a problem, please open a new issue.

[2022-04-14 15:02] cortisiko commented on #3331
@systemride ahh yes thank you, updating to version 19.6.5 did solve my issue. Will close this issue.

[2022-04-14 15:42] sajadghawami commented on #3246
@papa-jake

thanks for pasting this here!
I am indeed experiencing the same problem, but cant fix it.

In the above snippet you wrote `GLOBAL` ... is this a typo? should this be `global`? Because uppercase global will be undefined.. but lowercase does not seem to work.

Thanks!

[2022-04-15 07:10] FrozenPyrozen commented on #2436
Got the same issue
[code]

[2022-04-15 21:55] cortisiko opened #3335 "[Android] Detox can't seem to connect to the test apps!"
### What happened?

I am having a problem running detox on android. The app builds successfully on my emulator but for some reason all the tests fail. Below is the error I receive:

[code]

I did some searching through your GitHub issues and noticed this person encountered the same issue as me: https://github.com/wix/Detox/issues/3233

I went ahead and updated the [DetoxTest.java file ](https://gi

[2022-04-16 17:46] ball-hayden commented on #3207
I've left some thoughts on https://github.com/wix/DetoxSync/pull/33, although I still haven't managed to get to the bottom of the fault.

[2022-04-16 17:48] ball-hayden commented on #3207
My conclusion is that anyone not seeing this is just lucky - the memory management in `DetoxSync` around timer tracking is dodgy.

Certain races cause DetoxSync's `NSTimer` spy to attempt to trigger callbacks on objects that don't exist anymore.

[2022-04-17 10:44] asafkorem commented on #3319
Resolved here https://github.com/wix/Detox/pull/3337#issue-1206332985

I understand that it still doesn't work after that fix?

[2022-04-17 11:10] ball-hayden commented on #3319
Correct

[2022-04-18 19:34] xiongemi opened #3338 "[Android + React Native 0.68.1]The app has not responded to the network requests"
### What happened?

got an error with android for react native 0.68.1, works fine for ios.

error:
[code]

i have added
[code]
to both android/app/src/debug/AndroidManifest.xml and android/app/src/main/AndroidManifest.xml

### What was the expected behaviour?

should work on android

### Was it tested on latest Detox?

- [X] I have tested this issue on the latest Detox release and it still reprodu

[2022-04-19 09:36] ball-hayden commented on #3319
I'm just trying this again, and I'm now finding that Detox doesn't seem to be initializing (despite it being added as a framework and being embedded).

[2022-04-19 11:22] ball-hayden commented on #3207
Okay. I'm giving up for now - this has had a week of my time we can't afford to spend any more on this.

https://github.com/wix/Detox/issues/3319 is preventing me from debugging further within our app, and everything I've thrown at https://github.com/wix/DetoxSync/pull/33 has left me without any further ideas.

For now, I'm adding the `--retry` flag to our runs - we'll just have to take the hit on

[2022-04-19 14:40] shamilovtim commented on #3207
Wish I could help but I've had no luck reproducing signal 11 locally so I'm flying blind

[2022-04-19 14:54] finalight opened #3341 "Backend API has valid response, but Detox is not getting the response (with Flipper installed)"
### What happened?

I am running Detox on iOS, with backend (expressJS) running in localhost separately

I logged both the backend and frontend response body

When I run the detox test, the backend gave valid response body, but the frontend receives it `undefined`, even though the statusCode is 200

When i run without detox test, the network request is working fine.

I am not sure what am I missin

[2022-04-19 15:30] ball-hayden commented on #3207
Me neither @shamilovtim - I've only been able to go off CI runs.

[2022-04-19 20:24] ball-hayden commented on #3319
Ah. Found the problem for that one:

[2022-04-20 08:17] finalight commented on #3341
how can i fix the port on the detox? the port seems to be randomized

[2022-04-20 08:22] asafkorem commented on #3341
Please provide and check your logs using `--loglevel =trace` to get Detox port while running, also what's the backend port you're trying to communicate with?

[2022-04-20 08:26] asafkorem commented on #3341
Also, can you receive messages outside the app while the tests are running?

What module do you use to handle the network requests? Is it possible you're somehow mocking it in your code ([see mocking guide](https://wix.github.io/Detox/docs/guide/mocking/))?

[2022-04-20 08:37] finalight commented on #3341
i did a trace log but it might not be helpful, i will do it again later on
my backend port is on 3001, the detox seems to be using the port in the 50xxx range, as what I've checked using flipper network (yes i have flipper installed)

i am not sure what you meant by receve messages outside the app..

i am using axios to make network request, and I am not mocking the network request

[2022-04-20 08:44] asafkorem commented on #3341
@finalight this may help: https://github.com/wix/Detox/issues/2700#issuecomment-826471598

[2022-04-20 08:47] asafkorem commented on #3338
Thanks for the report @xiongemi.

Is there any activity indicator or animation running on app launch?
Also, can you follow our [dealing with synchronization issues doc](https://wix.github.io/Detox/docs/troubleshooting/synchronization)? Can you please run the tests with `--debug-synchronization 500 ` and provide the logs?

[2022-04-20 11:09] asafkorem commented on #3208
No, we don't have any plans to use EarlGrey 2 for that.
I did not get to check ionic at all, this sounds very interesting. Thanks :+1:

[2022-04-20 14:39] paryanihitesh commented on #3335
Any updates on this?

[2022-04-20 14:58] finalight commented on #3341
i not sure why would i want to do this since i already have a separate backend running

i am not doing a monorepo where it includes both mobile and backend source code together

[2022-04-20 15:32] finalight commented on #3341
i manage to find out the root cause; flipper is causing the issue.

is there anyway to run detox even with flipper installed?

[2022-04-20 15:39] asafkorem commented on #3341
@finalight what version of Flipper are you using?

[2022-04-20 15:41] finalight commented on #3341
0.142

[2022-04-20 16:02] asafkorem commented on #3341
I'm not familiar with any issue of Detox & Flipper running together.
There's this old issue of Detox & Flipper: https://github.com/facebook/flipper/issues/1674, although it also seems to be resolved in v0.71: https://github.com/facebook/flipper/pull/1810

I'll try to reproduce this myself since I have no idea what could be causing the problem, probably next week. Running detox tests without Flippe

[2022-04-20 17:08] Zakini commented on #3236
This ought to be mentioned in the setup guide. [Step 5](https://wix.github.io/Detox/docs/introduction/android/#5-create-a-detox-test-class) only mentions adding a copy of `DetoxTest.java`, not any of the files that depends on.

[2022-04-20 19:28] xiongemi commented on #3338
@asafkorem there is no activity indicator. i can see the app launches in simulator, but test still failed.
The error i got:
`No virtual method addReactInstanceEventListener`

[code]

the log with --debug-synchronization true:
[code]

[2022-04-20 20:35] MuckT commented on #3330
@karimdjemai For our deep links we had to terminate the app prior to launching for it to work correctly on Android.
[code]

[2022-04-21 10:28] karimdjemai commented on #3330
@MuckT Thanks for the info, sadly this doesn't fix the problem for me!

[2022-04-21 11:42] ggilchrist-ledger commented on #2022
I am seeing this bug too. The tests fail (which I'm expecting) and the github step doesn't automatically finish. I raised a similar bug for the android emulator action thinking it might have been an issue with that [here](https://github.com/ReactiveCircus/android-emulator-runner/issues/243). The full error after the end of the test is:

[code]

[2022-04-21 15:31] ball-hayden commented on #3319
I did manage to get this to run, in the end.

The solution was to go through Detox, and all the nested XCode Projects (DetoxSync, Fishhook, etc) and exclude the `arm64` architecture. That coerced XCode into building Detox for `x86_64` and allowed the app to load the framework.

Detox then correctly attached to the server and I could run tests.

[2022-04-21 17:13] BrentWardOx opened #3342 "Detox fails unless Android emulator is running prior to test execution - Exceeded timeout of 300000ms while handling jest-circus "setup" event"
### What happened?

I followed the Detox setup guide for a simple React Native test app I am working on. I managed to setup an Android Emulator which is compatible with Detox, and my first test works great!

The only issue is that my Android Emulator _**must**_ be running before I execute my `detox test` command. Otherwise, running `detox test` launches my Android Emulator and hangs. The error mes

[2022-04-22 07:26] istelmakh commented on #2712
[code]

[2022-04-24 13:57] hajermay commented on #3338
Hello same problem
any update please ??

[2022-04-25 04:53] karna419 opened #3343 "Android Test Error: uses-sdk:minSdkVersion 18 cannot be smaller than version 21 declared in library"
### What happened?

I followed the guideline and tried testing in React Native Android in RN0.64.3. Added Gradle minSdkVersion to 18 as detox official guide suggested having at least 18. This is what I get in cli.

[code]

### What was the expected behaviour?

Should be able to built detox test in react native android

### Was it tested on latest Detox?

- [X] I have tested this issue on the lates

[2022-04-25 09:14] d4vidi opened #3344 "[Epic] React Native 68 compliance"
- [x] iOS compliance: test project
- [x] #3490
- [x] #3470
- [ ] #3492
- [x] #3480

TODO: New architecture

[2022-04-25 09:18] jaheikki commented on #3196
I have tested that the following works for iOS but not for Android: "const multipleMatchedElements = await element(by.text('Multiple')).getAttributes();" (=clip from Detox documentation https://wix.github.io/Detox/docs/api/actions-on-element#getattributes. And Btw the documentation does not say this is iOS only...).

I have detox version 19.5.7.

Problem with Android is: "matches multiple views in

[2022-04-25 10:56] medbenmoussa commented on #3338
hello i have same problem
any update ??

[2022-04-25 11:31] hajermay commented on #3338
@medbenmoussa  i used the react-native 0.67  instead
and it works I think the problem is with the last react native version

[2022-04-25 11:52] medbenmoussa commented on #3338
@hajermay  I will try with that's thank u so much .

[2022-04-25 14:03] d4vidi opened #3346 "Introduce pure XCUITest Detox operations"

[2022-04-25 14:03] d4vidi opened #3347 "Introduce all non-XCUITest target operations"

[2022-04-25 14:17] d4vidi opened #3348 "[Epic] Detox 20 Breaking Changes"
## Description

This is a meta-PR to put miles with all the planned major and breaking changes and roll them out when ready.

## Implemented:

- [x] https://github.com/wix/Detox/issues/2469
- [x] https://github.com/wix/Detox/pull/3289
    - [x] check `specs` docs, because the feature looks historically underdocumented... 🤔
- [x] https://github.com/wix/Detox/pull/3286
- [x] #3539
- [x] JS: set requ

[2022-04-25 14:20] d4vidi opened #3349 "JS: Retire `ios.none` driver (succeeded by `behavior: 'manual'`)"

[2022-04-25 14:20] d4vidi opened #3350 "JS: Undeprecate `device.relaunchApp()`"

[2022-04-25 14:21] d4vidi opened #3351 "JS: Drop heavy legacy config support"
TODO: elaborate which sections we want to simplify

[2022-04-25 14:22] d4vidi opened #3352 "JS: retire appLaunchArgs { permanent: boolean } signature"

[2022-04-25 14:22] d4vidi opened #3353 "Android: adding GenyMotion artifactory to apps' repositories list in `build.gradle` (instead of bundling the lib inside Detox' aar)"

[2022-04-25 14:23] d4vidi opened #3354 "[Detox 20] JS: migrate to jest globalSetup, globalTeardown configuration"
## Description

Implement the new entity, **Detox root context**:
* it should be created once, by using the resolved config (based on environment variables, CLI arguments, and `.detoxrc` files);
* it should manage the entire test session, running the test runner (`jest`) as many times as needed;
* it should be able to communicate with the workers in both directions including broadcast.

Remove old

[2022-04-25 14:29] d4vidi opened #3355 "JS: Remove legacy config syntax (kebab-case)"

[2022-04-25 15:41] d4vidi commented on #3338
Looks like we have an issue with RN .68 (integs. of Detox with new RN releases are often not trivial). Please track #3344

[2022-04-25 15:41] #3338 closed

[2022-04-25 15:44] d4vidi commented on #3196
@jaheikki That sounds exactly right. Keep track of this for resolution.

[2022-04-25 17:36] alekhinen commented on #3341
hey everyone, just wanted to chime and say that my team has been experiencing the exact same issue. like @finalight said, this bug has to do with flipper.

we are running `react-native@0.67.4` and had `flipper@0.142.0`. bumping down to `0.99.0` fixes the issue for us. for reference, we no longer reference a specific flipper version in our podfile – see https://github.com/react-native-community/rn-

[2022-04-25 18:13] isaac-tribal commented on #3220
Amazing!!! This is precisely the fix, separating the gradlew tasks into two instead one.

`"build": "cd android && ./gradlew assembleRelease && ./gradlew assembleAndroidTest -DtestBuildType=release && cd .."
`

[2022-04-26 14:43] d4vidi commented on #2022
@ggilchrist-ledger it is a github-action issue, indeed (i.e. not related to Detox).

[2022-04-26 14:47] d4vidi commented on #3330
@karimdjemai what do you do in order to extract the url in your app's (js) code?

[2022-04-27 07:05] d4vidi commented on #3342
@BrentWardOx happy to hear that setting up the first test went well!
Please try running the emulator launching line manually and report back the results:
[code]

Also, let's switch this to stack overflow.

[2022-04-27 07:05] #3342 closed

[2022-04-27 07:31] d4vidi commented on #3220
@shawn-fetanat Happy to hear the build was successful. Your new problem might be a bug with Windows or `MINGW64` in particular. Could you report that on as a bug?

[2022-04-27 07:33] MiguelAraCo commented on #3270
I also encountered this issue. In our case there's an endless animation that we can't mock at the beginning of our application that prevents `launchApp` from ever resolving.

[2022-04-27 09:19] asafkorem commented on #3341
@finalight are you still experiencing this issue?

[2022-04-27 13:47] karimdjemai commented on #3330
@d4vidi Thank you for looking into this!

We pass a linking prop to the NavigationContainer, where the different urls are handled in the ```getStateFromPath```
method (as is described here: https://reactnavigation.org/docs/navigation-container/#linkinggetstatefrompath).

When using detox this is unfortunately not called, but it fails before that.

When testing deep linking for android outside of d

[2022-04-27 13:59] jonathanmos commented on #3335
Are you calling `device.launchApp()` in your test?
Could you please post a link to the problematic test suite?

[2022-04-27 14:18] jonathanmos commented on #3272
I don't know whether we will have the capacity to implement this in the near future, but it looks like it could be done with an api to the [emulator cmdline](https://androidstudio.googleblog.com/2019/09/emulator-29112-stable.html) flags without requiring superuser (although only on 29+)

[2022-04-27 15:00] mikehardy commented on #3344
Just saw this myself today and headed over to see if anyone else had logged it.

Here's the stack on android

[code]

Here's your commit with the diff that broke Detox+RN68+ https://github.com/facebook/react-native/commit/ce74aa4ed335d4c36ce722d47937b582045e05c4

Commit log is pretty helpful:

[code]

Here's your call site https://github.com/wix/Detox/blob/679ac4c131104e8f34dd5b42eb9984b67d72e287/

[2022-04-27 15:29] DerrickAfrifa opened #3358 "Detox tests hang with pending items on dispatch queue"
### Description

I am writing e2e tests on Detox to test a Firebase app. It looks like the call to `firebase.auth().signInWithPhoneNumber(number)` dispatches some items on the dispatch queue but these items don't ever seem to be dequeued and therefore the tests cannot proceed. My hunch is that there is a network request being made by the sign in call that never resolves. Here is the log:
Here is t

[2022-04-27 16:18] mikehardy commented on #3344
Hey guess what! It's just a typing change on their part for the listener type. Basically it appears to be a Java "binary compatibility break" but the code still works based on my testing, as long as you install Detox as a compile dependency so you recompile it to get the new type signature of the listener for the API you are calling.

@xiongemi you logged the other issue for react-native 0.68+ - i

[2022-04-27 17:42] #3352 closed, assigned to noomorph

[2022-04-27 21:39] BrentWardOx commented on #3342
@d4vidi Thanks for the suggestion! I ran the `emulator` command you posted, and it launched my emulator just fine. Given that, I managed to solve the issue with a simple workaround:

```emulator @Pixel_5_API_32 & until adb shell true; do sleep .5; done && detox test```

^ This command launches the emulator in a background process, starts a while loop which waits for the emulator to be available, a

[2022-04-28 09:38] MaxJadav commented on #2895
"detox": "^19.6.7",
"react-native": "0.67.2",
M1 Xcode Version 13.3  simulator iOS 15.4
![Screenshot 2022-04-28 at 2 36 05 PM](https://user-images.githubusercontent.com/31030098/165724237-969b4332-483c-49a9-ae2f-3844caff9084.png)

[2022-04-28 11:53] thelazurite-cell commented on #3344
Hey! was also having this issue and this resolved it for me. Thank you 👍🏻

[2022-04-28 12:12] mikehardy commented on #2895
@MaxJadav that looks more like the whole command failed. What happened when you cut out the /usr/bin/xcrun command line and pasted it in + ran it directly? did that work at all?
I have definitely run detox on a mac (intel and m1) and it's working with ios15 no problem.

[2022-04-28 12:15] mikehardy commented on #3344
@d4vidi looks like we have confirmation from two people (myself and @thelazurite-cell) that Detox does not currently seem to need a forward port just to work on RN68, though it will need a recompile + rn68-specific binary distribution to handle the listener interface hierarchy / java binary compatibility break.

There *are* changes in RN68 that would be good to adopt in order to be ready for the "

[2022-04-28 12:17] bviebahn commented on #2895
@MaxJadav I recently had the same error and fixed it by upgrading detox from 19.4.1 to 19.6.4. Not sure if this helps though since you are already on 19.6.7...

[2022-04-28 12:22] mikehardy commented on #2895
All I can say is that both these repos use detox and they're both working right now, intel or m1 mac - linking in to their e2e test/example apps in case that helps

https://github.com/invertase/react-native-google-mobile-ads/tree/main/RNGoogleMobileAdsExample
https://github.com/invertase/react-native-firebase/blob/main/tests/

The github workflows for both projects exercise them all the time (with

[2022-04-28 13:23] karna419 commented on #3343
I still have the issue. I appended

`subprojects{
    afterEvaluate {
        android {
            buildToolsVersion = "29.0.3"
            compileSdkVersion = 30
            defaultConfig {
                minSdkVersion = 18
                targetSdkVersion 30
            }
        }
    }
}`

to `android/build.gradle` file. Curious why detox forcing to use minSdkVersion=18 while recent RN needs

[2022-04-28 13:45] mkurczewski commented on #3335
I had the same issue. But as I'm using Nx under the hood, I did the whole configuration of Detox manually to be sure it's up to date. My result is that iOS testing works fine, but Android still fails.

I'm opening an android emulator and then starting tests. They close the app first (for some reason?) and are not able to open it again.

I'm "launching" the app before tests in `test-setup.ts`

[cod

[2022-04-28 15:42] d4vidi commented on #2895
@MaxJadav your report is painfully short of information. Please reach out either through a separate issue, providing more details, or join our Discord.

[2022-04-28 15:44] mikehardy commented on #3344
Just wait till you try to support fabric / new architecture 😂, multiple aars one per version probably in detox future

[2022-04-28 21:33] donatoaguirre24 commented on #3209
Hi @d4vidi, I tried using `-DtestBuildType=debug` with my release build type but I get the following error (on CircleCi):

[code]

Config:

[code]

Any ideas? Thanks in advance!

[2022-04-29 08:02] frenberg commented on #2895
Are you sure about what version of detox you acctually have in your node_modules? did you run npm ls detox to se what that says?

[2022-04-29 08:19] dbilgin commented on #2895
Also getting the issue @MaxJadav is experiencing somehow all of a sudden but it seems to happen on other versions of iOS as well, not just 15. The app doesn't even get installed and it seems to fail on the termination step. Also it's not on M1 macs only. I also have one where the same tests run just fine, but so far I couldn't figure out what the problem could be.

[2022-04-29 09:30] Erko21 opened #3364 "Command failed: jest --config e2e/config.json --testNamePattern '^((?!:ios:).)*$' e2e"
### Description

When i try to run detox test, I always getting an error:

[code]

### Your environment

Detox version: 19.6.5
React Native version: 0.67.3
Node version: 16.14.0
Device model: android.emulator :Pixel_5_API_30
OS: windows
Test-runner (select one): jest-circus

[2022-04-29 10:28] sjransom commented on #3364
Which version of `jest-circus` are you using?

I had a similar issue with the latest version so downgraded which fixed this for me:
`"jest-circus": "27.5.1"`

[2022-04-29 10:41] MaxJadav commented on #2895
Thank you. This error happen when upgrade detox version. After remove from node module and reinstall, clean. Working fine now.

[2022-04-29 10:53] jahglow opened #3365 "typeText crashes detox with proguard on Android"
### What happened?

[code]

trying to execute `typeText` on an input, an app in production mode with detox installed as [compiling dependency](https://wix.github.io/Detox/docs/introduction/android/#setting-detox-up-as-a-compiling-dependency)

This [was said to be resolved](https://github.com/wix/Detox/issues/3010#issuecomment-940952256) in 18.2.2

and adding proguard `-keep class kotlin.collection

[2022-05-01 06:09] #3269 closed

[2022-05-01 08:19] d4vidi commented on #3319
@asafkorem should we consider any follow-up actions here?
@ball-hayden please close the issue if all is well 😄

[2022-05-01 08:23] d4vidi commented on #3270
@jonathanmos should this be accepted? (triage=>accept)

[2022-05-01 08:59] #3350 closed

[2022-05-01 11:25] d4vidi commented on #3236
Thanks @Zakini. I've updated the [test-butler](https://wix.github.io/Detox/docs/next/introduction/android/#8-test-butler-support-optional) section to reference the blogpost.

[2022-05-01 11:36] d4vidi commented on #3365
@jahglow We have proguard running continuously on our Detox selt-test, which compiles Detox. It works because the `-keep class kotlin.collections.** { *; }` rule has been integarted to Detox's `proguard-rules-app.pro` file. Have you by any chance forgotten to [apply it in your proguard rules set](https://wix.github.io/Detox/docs/introduction/android/#7-proguard-minification-obfuscation)?

[2022-05-01 11:46] d4vidi commented on #3344
Sounds like a proper challenge 😅

[2022-05-01 11:51] d4vidi commented on #3343
Try to apply [this](https://wix.github.io/Detox/docs/troubleshooting/building-the-app#problem-minsdkversion-mistmatch) code specifically.
Detox doesn't force the SDK version per se. It is typically determined under your project's `build.gradle`.

[2022-05-01 13:18] d4vidi commented on #2895
@asafkorem does that make sense?

[2022-05-01 13:21] d4vidi commented on #3364
So indeed this looks like something that could be Windows-specific.
@noomorph could we add this to the pool?

[2022-05-01 13:26] asafkorem commented on #2895
@d4vidi it's the same issue I reported here: https://developer.apple.com/forums/thread/699615

It was resolved [here](https://github.com/wix/Detox/pull/3205), way before v19.6.7, so I guess that the version listed in your package.json wasn't really installed at the time of the bug report @MaxJadav.

[2022-05-01 13:28] d4vidi commented on #3209
@donatoaguirre24 something's causing the app APK and _test_ APK to have different signatures. I'm not sure what's happening because normally a debug APK's not supposed to be signed at all (unless you have a custom configuration in your `build.gradle` that specifies that). I would try to hard delete all build and APK directories and try again from scratch.

Also, strikes me odd that you have a grad

[2022-05-01 13:46] asafkorem commented on #3319
@ball-hayden the only Xcode project where we have `"EXCLUDED_ARCHS[sdk=iphonesimulator*]" = "arm64"` in the build settings, is the example app project ([example.xcodeproj](https://github.com/wix/Detox/blob/bb687dd390a4fc9bcc6b46e80974207aef7b3fd6/detox/test/ios/example.xcodeproj/project.pbxproj#L799))

[2022-05-01 13:54] asafkorem commented on #3319
@ball-hayden can you try to exclude "arm64" only in your project's xcodeproj file?

[2022-05-01 14:50] d4vidi commented on #3342
That's okay but not ideal. Technically, it's better to have Detox manage your test device allocation.

[2022-05-02 07:58] asafkorem opened #3366 "(WIP) Support regex in matchers"
### Describe your idea

#### Support regular expression in Detox matchers
Specifically in `by.text()`, `by.label()`.
This can be useful since text and labels may include dynamic content (e.g. date).

Also, I suggest to change the current API, from:
https://github.com/wix/Detox/blob/246317d3ee5b7587bb966c78204b5def5b72dfaf/detox/index.d.ts#L804

To:
[code]

---

#### Usage example

This code will f

[2022-05-02 08:00] asafkorem commented on #1441
This might be relevant today, I started a new issue https://github.com/wix/Detox/issues/3366.

[2022-05-02 08:14] noomorph commented on #3366
Why not dynamically recognize `instanceof Regexp` versus string?

[2022-05-02 08:35] asafkorem commented on #3366
Sounds great, let's do it this way.

[2022-05-02 08:52] noomorph commented on #3366
@asafkorem the only pitfall I see is that we might need to standardize RegExp mechanisms between iOS/Android/JS...

<table>
<td>
<img width=300 src=https://user-images.githubusercontent.com/1962469/166209143-90048c25-cf1b-4c5e-b613-b55fc574c84d.png>
</td>
<td>
<img src=https://user-images.githubusercontent.com/1962469/166209174-597d49b0-9746-4d5a-8341-b0510405d892.png>
</td>
</table>

[2022-05-02 09:46] #3346 closed

[2022-05-02 10:14] asafkorem opened #3367 "XCUITest: app synchronization with load / reload React Native."

[2022-05-02 14:33] d4vidi opened #3368 "[Multiapps] Finalize JS architecture"
Put results under https://github.com/wix/Detox/discussions/3345

[2022-05-02 14:33] d4vidi opened #3369 "[Multiapps] Introduce 1st test: Real app switching (android only)"
- Create a secondary app (maybe a subset of the test app, possibly an app flavour)
- Test case:
  - Launch main test app
  - `device.selectApp('app2')`
  - Verify app2 is in foreground

[2022-05-02 14:34] d4vidi opened #3370 "[Multiapps] Introduce 2nd test: On-the-fly app switching"

[2022-05-03 01:15] ovlesser commented on #3341
This issue might be due to conflict between dependencies. Like in our project, we had similar issue after upgrading detox to 19.x.x, that the RN code was unable to receive valid response although it looks all good on the iOS native layer. After investigation, we found that is because the conflict between NewRelic and Detox.

[2022-05-03 07:33] d4vidi commented on #3366
@noomorph that is spot on. We've somehow manged to overcome that in the context of the URL's blacklist - we could revisit and hopefully replicate.

[2022-05-03 07:38] d4vidi commented on #3366
Nevertheless I'd like this kind of any API to come with a warning of some sort, that would explains that ideally, whichever text we trying to match should be deterministic to the point it can be predetermined down to the character.
Of course, this is not always the case in unmocked tests, but generally this should be the preferred situation.

[2022-05-03 08:19] hongkheng commented on #3341
Commenting on behalf of @finalight, tried with flipper version `0.128.0` and network requests are able to be made. The recent releases of flipper removed rsockets ref: https://github.com/facebook/flipper/issues/3554 due to Xcode 13.3. If this is the problem we might not be able to run detox tests in debug mode.

[2022-05-03 08:57] #3349 closed

[2022-05-03 09:00] #3355 closed

[2022-05-03 13:26] mmeksasi opened #3374 "Test not working on android but works perfectly on ios"
### What happened?

**On IOS Everything is working fine.**

**On debug android the test is passing but when the test finish the app get closed**

**on release android the test is not passing and I'm getting this error:**

DetoxRuntimeError: Test Failed: '(view has effective visibility <VISIBLE> and view.getGlobalVisibleRect() covers at least <75> percent of the view's area)' doesn't match the sele

[2022-05-03 13:30] ball-hayden commented on #3319
@asafkorem I did try changing it in only the project's xcodeproj file, and that didn't seem to be enough.

Happy enough with excluding arm64 as a workaround though.

[2022-05-03 23:39] lisa-gogo opened #3375 "How to tap backbutton arrow created by react navigation ?"
### Description

There are two buttons on this page.
One is on the top-left, which was created by react-navigation.
One is just 'confirmation' button.
I trying tapping the first top back button.

I use the code
[code]
not working, no match element for 'header-back;

I then use the code
[code]
not working too, it clicks 'confirmation button ' on the button page. not the top back button I want.

###

[2022-05-04 08:13] Erko21 commented on #3364
I have "jest-circus": "^28.0.3"

[2022-05-04 08:22] #3374 closed

[2022-05-04 09:51] Livijn commented on #3240
Any update on this?

[2022-05-04 16:21] geeklazy opened #3376 "Unable to get text for nested elements"
### Description

I have the below screen elements and components defined in react-native tsx file alongwith there test-ids

[code]

I need to get the text of the element identified under test-id = {TEST_ID.activity.energiserItem.name} .

I tried with
[code]
and it returns _**undefined**_

Considering the above skeleton of code, I need to get the text of the selected item identified using **_TEST_I

[2022-05-04 16:53] dklymenk commented on #3342
I am running into a similar issue, but only with a release build.

In debug mode detox starts the emulator, pushes the build and all the tests pass.
In release mode detox starts the emulator, but doesn't install the detox build and the test subsequently times out.

Similarly to the OP, if I start the emulator in advance, the app installs and the tests pass.

[2022-05-04 18:17] dklymenk commented on #3342
Seems to be the case only with google play images. The issue is not reproducible with AOSP.

@BrentWardOx you don't mention the flavor of the android image in your issue, so in case you used googled images, give AOSP images a try.

[2022-05-04 20:08] BrentWardOx commented on #3342
@dklymenk Thanks for the suggestion! I was using an emulator with Android API 32 (Google APIs), which was a Google Play Image.

<img width="1050" alt="image" src="https://user-images.githubusercontent.com/90654819/166817009-db5936a4-270d-45ee-b281-b1e939ca3338.png">

However, I created a new emulator using Android 12.0 (Android Open Source Project, API 31) and my results are the same: running `det

[2022-05-04 20:10] dklymenk commented on #3342
@BrentWardOx Give API28 a try. I found that anything above that has that issue.

[2022-05-04 21:25] BrentWardOx commented on #3342
@dklymenk Yep, that works! Switching my Emulator to target AOSP API 28 works great. Thank you!

[2022-05-05 14:40] noomorph commented on #3364
@d4vidi, I don't plan to have this `testNamePattern` anymore in Detox 20. We can do it in runtime via test environment.

[2022-05-05 16:11] donatoaguirre24 commented on #3209
@d4vidi thanks for answering. I tried using `assembleStatingAndroidTest` but I got:

`org.gradle.execution.TaskSelectionException: Task 'assembleStatingAndroidTest' not found in root project ...`

We're using product flavors so we followed [this doc](https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md#using-product-flavors).

[2022-05-05 17:22] #3375 closed

[2022-05-05 21:28] Krishnag09 commented on #3335
I am having the same issue where i am able to run the tests on IOS but getting the same error with Android, details below

    detox: "^19.5.7",
    emulator:Pixel_4_API_30

This is how my test starts
`describe('Login Tests', () => {
	beforeAll(async () => {
		await device.launchApp({
			permissions: {
				userTracking: 'YES',
				location: 'always',
				notifications: 'YES',
				reminders: 'YES',

[2022-05-06 02:07] henrique-in opened #3378 "I'm getting an error when trying to run tests"
### Description

I'm trying to integrate some e2e tests into my react native (expo bare) mobile project. I'm following the instructions found on the detox [Getting Started](https://wix.github.io/Detox/docs/introduction/getting-started) page. I'm able to successfully build my project, but everytime I attempt the detox test command:

detox test --configuration ios.sim.debug

**I get the following er

[2022-05-06 04:29] stefanocdn commented on #3378
Same here

[2022-05-06 08:50] joseluissb commented on #3378
Hello, I got the same problem and I fixed it by downgrading to Jest 27. Hope it helps!

[2022-05-06 12:11] pateljoel commented on #3335
@Krishnag09  I have the same issues, it works on iOS but always on the Android emulator it never works.

When running detox on the Android emulator, the app opens for a while and does nothing and then crashes with the same error message:

"Detox can't seem to connect to the test apps!"

[2022-05-06 14:00] dhavallogistic opened #3379 "Detox - Android not working with Git action - CI"
### What happened?

I work in React native project and with it I have connect Detox test case flow.
I have created all test scenario and it's working fine with local terminal.
I have requirement to connect with Git action - CI flow and while integrating with it I am facing issue of .

A. _ERROR   | x86_64 emulation currently requires hardware acceleration!_ while Step no. 6 (Start Android emulator

[2022-05-06 14:13] joseluissb commented on #3378
It seems you are passing an invalid object into the "beforeEach", but it looks unrelated to the incompatibility with Jest 28.

[2022-05-06 18:04] henrique-in commented on #3378
,Thank you, get it resolved

[2022-05-06 18:04] #3378 closed

[2022-05-06 18:49] noomorph commented on #3378
@henrique-in, indeed, the latest Detox version should fix the issue.

[2022-05-07 15:14] JordanBrion commented on #2885
I got the same issue. I just noticed that another process was using the same port number. Stopping it solved the problem.

[2022-05-08 06:56] MrRio commented on #3344
Is there a rough timeline on basic 0.68 support? (Not the optional fabric/non-bridge stuff)

[2022-05-08 07:56] asafkorem commented on #3240
We had some issues with _react-native-geolocation_ on CI, and locally. Probably because there's some incompatability issue with iOS 14: https://github.com/react-native-geolocation/react-native-geolocation/pull/168, this repo is not maintained so we may want to think about what can be done about it. Maybe there's already a fork 🤔

See https://github.com/wix/Detox/pull/2891#issuecomment-983363088

[2022-05-08 14:32] d4vidi commented on #3344
Roughly a matter of weeks. I'm afraid we are caught up by other things at the moment.

[2022-05-08 15:25] #3379 closed

[2022-05-08 22:34] mikehardy commented on #3344
@MrRio to confirm: you have integrated Detox in the source method and you still have a problem? Because as far as I was able to see, if you integrate it in the optional source style, there were no problems, it works/worked with 0.68

[2022-05-09 07:06] d4vidi commented on #3335
@mkurczewski this is why -
[code]

Your app crashes immediately. You might to check the device (emulator) logs using `adb logcat`.

[2022-05-09 07:07] #3335 closed

[2022-05-09 08:29] d4vidi opened #3380 "XCUITest: Whitebox-side matchers"

[2022-05-09 13:19] d4vidi opened #3381 "dummy"
### Describe your idea

asdasd

[2022-05-09 20:51] vjoby-wavefin commented on #3208
our app's login module is inside a web view which works for android but i'm eagerly waiting for detox team to release the same support in webview for ios as well

[2022-05-10 07:29] d4vidi commented on #3375
@lisa-gogo please share your solution, if you have one 🙏🏻

[2022-05-10 07:37] d4vidi commented on #3209
Typo - should have been `assembleStagingAndroidTest`. In any case, my suggestion is still the same... I think you should try to revisit your signing configs in `build.gradle` and maybe inspect the signatures of the two APK's using SDK tools such as the [apksigner](https://developer.android.com/studio/command-line/apksigner).