[2018-03-10 05:27] gameunite opened #617 "reloadReactNative crashes the app"
#### Description
I just followed the getting started guide and put it on my app and it crashed here:

`1) "before each" hook for "should have password field"`

#### Steps to Reproduce
- Install and setup redux-persist and react-native-navigation
- Call the app like this
[code]
- Run test and call `await device.reloadReactNative();`

If I remove the reloadReactNative, it works perfectly.
If I remov

[2018-03-10 12:12] #590 closed

[2018-03-10 12:46] rotemmiz commented on #590
For the sake of history, this was indeed a bug, which was handled in #604, by changing the way notifications and urls are being sent while application is in background.

[2018-03-10 19:11] rotemmiz commented on #617
What version of react native are you using ?
Is this debug or release build ?

[2018-03-11 05:24] gameunite commented on #617
@rotemmiz I'm using react-native 0.54.0. I just tried it on Release build and it works fine. So it just crashes on Debug build.

Btw, It has to have this. Because it works fine in the first run but failed on the second.
[code]

[2018-03-11 09:02] LeoNatan commented on #615
Could you please enable synchronization debug (as described in the documentation) and post the log output here?

[2018-03-11 09:15] LeoNatan commented on #617
Could you please check with a completely new project of this reproduces for you?

[2018-03-11 10:56] #5 closed

[2018-03-11 17:08] LeoNatan commented on #615
Could be a bug in our end in the start up logic. I will look into this soon.

[2018-03-11 17:32] LeoNatan commented on #606
Ping
@DanielMSchmidt What will happen if I remove it from package.json inside generation?

[2018-03-11 17:41] DanielMSchmidt commented on #606
You will gain the possibility to check in unformatted code I guess

[2018-03-11 18:14] LeoNatan commented on #606
OK, thanks

[2018-03-11 18:15] #606 closed

[2018-03-11 19:28] rotemmiz commented on #594
Does your CI support x86 emulators? Are you using x86 or ARM emulators ?
ARM emulators are terribly slow, and you might get this 3 minute timeout just because it takes it super long time to init the ARM emulator. Try a (much) higher timeout and see.

Re x86 emulators, Travis currently does not support that, this is the reason we don't run Android e2e in CI... We are working on creating a proprieta

[2018-03-11 22:18] LeoNatan commented on #615
This remains open. Something in the tools prevents me from from being able to effectively debug this.

[2018-03-11 23:24] etaiklein commented on #615
Here's running with the debug-synch flag. The output seems the same :/
[code]

[2018-03-12 09:06] rohitpkumar commented on #524
@juddey I am facing the same issue, when i run _detox test -c android.emu.debug_ , i get error

 1) "before all" hook

  0 passing (2m)
  1 failing

  1) "before all" hook:
     Error: Timeout of 120000ms exceeded. For async tests and hooks, ensure "done()" is called; if returning a Promise, ensure it resolves.

**Version details:**

- Detox - 7.0.1
- Node - 8.9.4
- Device - Nexus_5X_API_24
- Ubun

[2018-03-12 10:54] LeoNatan opened #619 "detox clean-framework-cache && detox build-framework-cache broken for internal development"
I make changes to the native code, run the command in the title in the test project directory and something is being built, but not what I expect (my most recent changes).

This is blocking me from doing any native development for Detox.

[2018-03-12 10:54] LeoNatan commented on #619
This is blocking at least #615

[2018-03-12 10:54] LeoNatan commented on #619
@rotemmiz

[2018-03-12 13:27] maartenschumacher opened #620 "Android tap action fails silently"
#### Description

I'm trying to get my tests running on android, getting stuck on an issue where a tap doesn't have an effect on the emulator, making the next expectation fail. What's strange is that I can't reproduce the issue when I only run the affected test suite (with mocha `describe.only`). The bug only happens when I run all the test suites. I reload RN between each suite.

Since the unresp

[2018-03-12 13:49] rotemmiz commented on #608
Detox Android idling resources are not compatible with changes made in RN 51, we are working on finding a solution for that. In the meantime, Detox Android does not support RN >=51 !

[2018-03-12 13:53] rotemmiz commented on #620
We have sync issues with Detox Android on RN>=51.
You can follow #608 for updates.

[2018-03-12 15:00] Karniej commented on #95
Any information when the testing on real android devices will be ready?

[2018-03-12 19:54] LeoNatan commented on #620
Closing this issue for now. Feel free to reopen if issue still reproduces after #608 is fixed

[2018-03-12 19:54] #620 closed

[2018-03-13 00:30] juddey commented on #524
@rohitpkumar While the error message is the same as what I had, its a catch all message that will fire when the tests fail with a timeout.  I suspect that the root cause of what you are seeing is something different.

I can't help on this right now, so I'd open a stackoverflow issue tagged with [detox] so someone who has time can help you resolve it. Good luck! :+1:

[2018-03-13 12:12] ArnonZ opened #622 "Support UserActivity"
Enable associating external links to an app so it can trigger the opening/ be associated with it and triggered via an external link. For example and invite link to an app.

[2018-03-13 13:39] rotemmiz commented on #524
Did you create the Android test class?
https://github.com/wix/detox/blob/master/detox/test/android/app/src/androidTest/java/com/example/DetoxTest.java

[2018-03-13 15:02] adam-stasiak commented on #578
@LeoNatan Could you give any advice how to workaround this issue? Huge blocker for my team.

[2018-03-13 15:33] LeoNatan commented on #578
Sorry, I am the iOS guy. 😜
We are having some major Android issues and are looking into them. We have not had time to explore Expo, so I cannot say wether those issues are related or not. Pinging @rotemmiz

[2018-03-13 16:01] nezaidu commented on #164
Any progress?

[2018-03-14 01:55] rohitpkumar commented on #524
@rotemmiz Yes, i have created that. Please find screenshot.

![detoxtest java](https://user-images.githubusercontent.com/11595530/37379247-b2b5234c-2758-11e8-9eff-57039c702d3c.png)

[2018-03-14 12:15] LeoNatan commented on #622
Thanks.
I'll look into this soon.

[2018-03-14 14:19] Dupleks commented on #513
Hey @LeoNatan, just create a new AndroidManifest.xml file in your androidTest folder and add the next  - https://gist.github.com/Dupleks/d356541b8b8f45e063aa82066429a426
Works for me without any problem.
Thanks.

[2018-03-14 14:29] rotemmiz commented on #513
Manifest has almost no meaning as build.gradle generates and overrides most of this configuration.

Try that on the test project's build.gradle

[2018-03-14 14:29] LeoNatan commented on #513
@jeremyeaton89 I am not sure we'd be open to accepting it. Android is challenging us in many ways, and I am not sure adding support for such an older version is something we can take.

[2018-03-14 15:05] Dupleks commented on #513
@rotemmiz I checked this solution on the test project. Changed minSdk to 16 and checked that project is no compiled. Then I added AndroidManifest to androidTest folder and build compiled without any problem.

[2018-03-14 18:16] LeoNatan commented on #601
Fixed in a branch, will be closed eventually once branch lands.

[2018-03-14 19:13] YahyaQandel opened #624 "android detox issue with jest + emulator"
Hello ,
I have a problem that consumed more than 4 hours .

after finishing detox android configuration with gradle and finally it builds successfully , i tried to run the tests with detox test .. but it fails with this error on the snapshot

**Timeout - Async callback was not invoked within the 30000ms timeout specified by jest.setTimeout.**

i have tried using multiple emulator versions ( gennym

[2018-03-14 19:25] rotemmiz commented on #624
Your project uses RN v54, which currently is not supported, we are trying to fix synchronization issues with modern versions of RN, but currently RN51 do not work with Detox.

Please follow this issue https://github.com/wix/detox/issues/608

[2018-03-14 19:25] #624 closed

[2018-03-14 19:35] rotemmiz commented on #619
This is handled in #621

[2018-03-14 19:36] chrmod commented on #594
@rotemmiz this report is about running on developer station not in CI. So yes, I've tested with x86 emulator and with ARM one. In both cases tests finish to, before emulator even finish loading android. So app in not even installed.

This issue is potentially related: https://github.com/wix/detox/issues/524 - though I was able to run tests on MacOS, only Linux is a problem.

[2018-03-14 20:26] #613 closed

[2018-03-14 20:44] #619 closed

[2018-03-14 22:49] #216 closed

[2018-03-14 22:49] #289 closed

[2018-03-14 22:49] #337 closed

[2018-03-14 22:49] #357 closed

[2018-03-14 22:49] #466 closed

[2018-03-14 23:48] #413 closed

[2018-03-14 23:48] #486 closed

[2018-03-14 23:49] #515 closed

[2018-03-14 23:49] #507 closed

[2018-03-15 18:57] aricgemco commented on #608
Just to confirm.

- Detox for Android is not compatible with RN>=51

- react-native-navigation is only compatible with RN>=51

So currently we cannot use RNN and Detox for Android?

[2018-03-16 12:54] AFGhazy commented on #60
Is this resolved yet ?

[2018-03-16 13:13] BenBach commented on #488
Did you guys find a solution for this?

[2018-03-16 13:17] rotemmiz commented on #60
The thing @guyca mentioned was resolved here: https://github.com/wix/react-native-navigation/blob/v2/e2e/init.js

Regarding the preStart script, I find it to be a confusing and a bad pattern. If you need something to be initiated or controlled, sovit from inside the test script.

[2018-03-16 13:17] #60 closed

[2018-03-16 20:22] ksmahesh commented on #608
Hey @guyca @rotemmiz
I was using detox for react native 50.3 and it worked really well. So thanks!

I do have some questions regarding whats mentioned here on this issue:
1. When support is added for RN >=51 will it support RN 54? Or is the support added only to 51?
2. Is there any ETA on when this support for higher version will be available? Even if its a alpha/beta release?

[2018-03-16 23:55] RossKinsella commented on #589
`element(by.id('button')).swipeDown` looks like a good solution for my current issue: https://stackoverflow.com/questions/49330906/detox-flatlist-not-scrolling

[2018-03-17 06:06] #484 closed

[2018-03-17 19:48] #454 closed

[2018-03-18 09:42] rotemmiz commented on #608
I went over [0.49-stable - 0.50-stable diff](https://github.com/facebook/react-native/compare/0.49-stable...0.50-stable#diff-1d3690cf582e38497658eba8a3ba2665R41), and found a few possible culprits.

Implement lazy discovery for ViewManagers.
https://github.com/facebook/react-native/commit/da30b047037a1b4a97159b22abfd5244ecfaee19

HeadlessJsTaskService is expected to run on UI thread
https://github

[2018-03-18 10:49] simonracz commented on #608
FYI, I can work on this full time from Tuesday.

[2018-03-18 10:59] #617 closed

[2018-03-18 12:29] AvivRubys commented on #395
I can confirm @machour's findings, I have the same issue and the culprit is the `WebSettings` line for me aswell in `react-native-device-info`.
Anything we can do further to help diagnose this?

[2018-03-18 14:12] NazarYablonskiy opened #627 "scripts/postinstall.sh not found"
Hi,
I'm getting following
(CI, Linux, detox@7.2.0)

[code]

Let me know if you need more details.
Thanks!

[2018-03-19 05:11] ericketts commented on #608
I seem to be experiencing 2 separate issues on my app using RN 0.54.2 (and react-native-navigation 1.1.0), where neither are the issue from the OP (I can make this a different ticket if that's more helpful):
* The app installs, the `isReady` event fires, and the app never responds with a `ready` event, leading to the detox client hanging
* The app installs, `isReady` fires, `ready` fires, but the

[2018-03-19 16:25] blumendorf opened #629 "Issue with setLocation (PR #532)"
We are experiencing an issue with setLocation from PR #532 (https://github.com/wix/detox/pull/532).

The problem seems to be that the iOS simulator and fbsimctl use localised number formats.
Meaning comma separated locations fail on our CI and dot separated locations fail locally (on a German machine).

I.E.
`fbsimctl 417785CA-BB31-44D1-92FC-8D6F7A866562 set_location 12.345 12.345` works on our co

[2018-03-19 16:34] rotemmiz commented on #629
Do you have the same fbsimctl version on both machines?

[2018-03-19 16:40] blumendorf commented on #629
yes, fbsimctl HEAD-1aef0d0 on both machines.

[2018-03-19 16:42] rotemmiz commented on #629
Ho my, what a confusing API :(

[2018-03-19 16:43] blumendorf commented on #629
Yeah! Also very annoying when copy'n'pasting locations in the simulator for testing.

[2018-03-19 16:44] blumendorf commented on #629
Quick fix: Change your region to US in System Preferences.

[2018-03-19 21:33] peterpme commented on #147
What docs do ya'll want? I have this working and updated for SDK 25

[2018-03-19 21:55] peterpme commented on #236
See https://github.com/wix/detox/pull/630

[2018-03-20 08:28] rotemmiz commented on #627
Where is this output from ?
Please be more descriptive in the first place, and follow the template.

[2018-03-20 08:29] simonracz commented on #608
@ericketts Thanks for your comment. I also suspect we accumulated more than one issue.

[2018-03-20 11:07] rotemmiz commented on #629
I suggest you open an issue in https://github.com/facebook/FBSimulatorControl.

[2018-03-20 11:48] LeoNatan commented on #629
I wonder if we can somehow do it ourselves. Get the decimal delimiter from the current system locale and then try to replace any other possible delimiters with the system locale one.

[2018-03-20 11:49] LeoNatan commented on #629
Or maybe we can put some environment var that would replace the fbsimctl locale with en_US. That would be preferable.

[2018-03-20 15:25] LeoNatan commented on #296
I think this was implemented already.

[2018-03-20 15:28] LeoNatan commented on #551
Device shake has landed for iOS.

[2018-03-20 15:28] #551 closed

[2018-03-20 15:29] grabbou commented on #551
Great. Been waiting for this for so long! Thanks, looks like it's time to
prototype some tests this week.

On Tue, 20 Mar 2018 at 16:28 Leo Natan <notifications@github.com> wrote:

[2018-03-20 15:32] rotemmiz commented on #296
Yes, sorry for missing the question :(

[2018-03-20 15:33] LeoNatan commented on #164
We'll look at this soon. Thanks

[2018-03-20 15:37] taylesworth commented on #615
We are evaluating using detox but this is a blocking issue for us.

[2018-03-20 15:39] LeoNatan commented on #615
Hang in there, we'll fix this shortly

[2018-03-20 15:39] LeoNatan commented on #615
The blocking issue I had with development has been resolved, so I will take a look again.

[2018-03-20 16:26] rotemmiz commented on #296
It wasn't actually, waiting for our Jenkins setup since Travis CI doesn't support nested virtualization yet (for x86 Android emulators).

Reopening :(

[2018-03-20 16:30] LeoNatan commented on #296
💩

[2018-03-20 17:33] #615 closed

[2018-03-20 19:39] LeoNatan commented on #629
OK, I looked how Xcode fakes the locale of apps for debug purposes; they add `-AppleLocale en_US` to the launch arguments. This is a problem because fbsimctl parses the argument list and complain about that option.

[2018-03-20 19:59] etaiklein commented on #615
Yay! When can we expect a new release?

[2018-03-20 21:07] LeoNatan commented on #615
Soon.

[2018-03-20 21:48] rotemmiz commented on #615
Ninja magician!

[2018-03-21 00:35] AshleyRodanHP commented on #191
Its pretty clear that detox is not being compiled when installing yarn. Also _npm install detox -g_ will

after running
[code]

it fixes it for me

[2018-03-21 00:43] AshleyRodanHP commented on #191
doing some research it seems like its a yarn issue.

Same sort of issue these guys have:
https://github.com/sass/node-sass/issues/1804

[2018-03-21 09:26] GetSource1234 commented on #617
Have the same issue (RN 0.51).

[2018-03-21 11:57] LeoNatan commented on #617
@GetSource1234 Please open a new issue and follow the template to provide all relevant information.

[2018-03-21 16:14] vonovak opened #634 "add ability to get the currently active configuration in a detox test"
This is a feature request, please see [the SO question](https://stackoverflow.com/questions/49323694/how-to-get-the-currently-active-configuration-in-a-detox-test) for details.

[2018-03-21 20:18] petrogad commented on #237
@mfrachet can you provide an example of what it looks like executing this test on the command line through detox please?

[2018-03-21 23:00] petrogad commented on #237
Would love to see this as a working example. I followed the repo from @mfrachet and am getting errors of `Path must be a string. Received`. I'm certain there is a step i'm missing; would love an outline showing this.

As soon as I stumble upon how to do it i'll happily post it up for future people!

[2018-03-22 09:09] rolfb opened #635 "Perform actions on device"
It would be nice to perform gestures, swipes and taps on the device without having to find an element first.

Use case:
- Auth0 login using in-app browser.
- Scroll on device/screen
- Tap approximate location of input field
- typeText when keyboard shows
- submit using typeText?

[2018-03-22 22:25] simonbuchan commented on #570
Detox doesn't actually use module-level values that much, so It's possible to run detox in parallel by poking into the detox internals:

<details>
<summary>parallel-detox.js</summary>

[code]

</details>

You probably shouldn't do this, but it seems to work?

So the problem becomes how do you run this in the context of jest or whatever, where it expects to be calling you? In theory, you could do s

[2018-03-23 10:24] #601 closed

[2018-03-23 10:24] #622 closed

[2018-03-23 22:20] motiz88 commented on #470
@rotemmiz Would you like to reopen this issue? I'd be happy to start tinkering with the code with an eye to eventually contributing a PR.

[2018-03-23 22:35] rotemmiz commented on #470
Sure, do it! It sounds amazing if it's doable!

[2018-03-23 23:16] swaminator commented on #95
Checking in to see if there's been any progress with this?

[2018-03-23 23:32] LeoNatan commented on #95
No new progress. We've done a POC and it's technically feasible.
An actual implementation is planned, but there is no timeline.

[2018-03-24 10:16] motiz88 commented on #470
I'm looking for a way to `eval()` some JS from `DetoxManager` (be it the iOS or Android one for now). Or another way to access the value of a JS global var (`__coverage__`), JSON-encode it and send it via the socket. Any pointers?

[2018-03-24 10:29] rotemmiz commented on #470
Why not bundle it with the packager ?

[2018-03-24 10:33] motiz88 commented on #470
Is there a way for the Detox client to inject code through the packager as part of its operation?

[2018-03-24 10:37] motiz88 commented on #470
We need to specifically read this variable at `cleanup` time, after everything has run. I'm starting to think of an approach like [`react-native-eval`](https://github.com/artemyarulin/react-native-eval)'s - emitting an event through one of the existing native modules and listening for a callback from JS: https://github.com/artemyarulin/react-native-eval/blob/master/android/src/main/java/com/evalua

[2018-03-24 10:43] rotemmiz commented on #470
Not currently, only with repackager

[2018-03-24 11:01] motiz88 commented on #470
Hmm. Alternatively, maybe I can put together a standalone, pure JS solution for collecting coverage from a React Native app, and we can tackle Detox integration as a second step?

[2018-03-24 17:25] motiz88 commented on #470
OK, based on my realisation above that most of what's needed here isn't actually Detox-specific (or even React Native-specific), I've started a project I'm tentatively calling [bosphorus](https://github.com/motiz88/bosphorus#readme), which provides tools for serialising IstanbulJS coverage data from running apps over a socket connection. The architecture is, unsurprisingly, inspired by Detox itsel

[2018-03-24 17:57] rotemmiz commented on #470
Wow, this is amazing! Keeping an eye on that project.

[2018-03-24 19:43] Salakar commented on #470
Might interest you guys as a potential solution but I'm getting coverage in-process via my `bridge` module i'm working on.

TL;DR `bridge` extends on detox and allows react native code to run in process alongside the tests.  Main goal is to provide an easier way for React Native module developers to test their native modules - without hacky solutions or writing a ton of separate native android/ios

[2018-03-24 20:00] motiz88 commented on #470
Ooh, nice @Salakar! Is that conceptually/technically similar to how the "debug JS remotely" feature works? This is pretty awesome.

[2018-03-24 20:15] Salakar commented on #470
@motiz88 yep pretty much that except it automatically enables that for you and takes over as the debugger instead of chrome.

There's no visible lag or performance hit in doing so that I've noticed either - a quick FPS test I ran the other day maintained around ~55 FPS - so it is lag free and just as performant as the chrome debugger if not more.

Am hoping to have a version published by the end o

[2018-03-24 21:24] Salakar opened #637 "Add device.reactNativeDebugRemotely(bool)"
### Description

Would love to be able to toggle JS remote debugging programatically via the detox `device` api - much like `device.reloadReactNative()`. My use case is as discussed here: https://github.com/wix/detox/issues/470#issuecomment-375919561

What are your thoughts on adding in this functionality? Is this something you'd be against, it should be fairly trivial change wise and I've curated

[2018-03-25 07:13] Salakar commented on #470
@motiz88 have pushed up my playground app project with this all in if you'd like to take a look: https://github.com/invertase/react-native-firebase/tree/bridge-detox/tests-new

Includes nyc/Istanbul coverage all configured. Bridge code is is bridge dir, I just need to move it out to own repo, document it and publish to npm, but sleep first 😩

[2018-03-25 21:15] Salakar commented on #470
@motiz88 cool will keep an eye on your project as well, might be a useful thing for you; nyc/instanbul can wrap directly around detox cli commands, so as long as you can populate `global.__coverage__` it will pick it up - it's pretty much what I do between tests, I collate debugger context coverage and merge into global coverage on the node process using `istanbul-lib-coverage`

https://github.com

[2018-03-25 21:59] LeoNatan commented on #637
I cannot say I am really inclined to like this proposal.

We've had issues with `reloadReactNativeApp()` as it is. Adding more RN-specific API usually entails supporting it in a very moving target. The snippets provided are JavaScript code, but the client side of Detox is native only. We do not inject JavaScript in the client. And RN native changes a lot.

Also, what is the use-case here? We had a

[2018-03-25 22:06] LeoNatan commented on #635
Do you mean, calling these on the device object itself? I was thinking about that myself recently.

It makes sense on one hand. On the other, these APIs, I feel, encourage bad practices. Understandably, some things cannot be tested with Detox due to technical limitations, and those would greatly help. I fear, however, that people would use those APIs instead of properly using `byId()` and co.

I g

[2018-03-25 22:08] LeoNatan commented on #629
If anyone wants to step in and implement a fix for this, it would be greatly appreciated. We don't currently have the resources. It shouldn't be difficult, and all can be done in JS.

This is my current idea of how to solve:

[2018-03-26 08:59] Salakar commented on #637
@LeoNatan my original issue description does include the native code though for both platforms and also my use case as well :see_no_evil:

I do get the hesitation around additional RN functionality though as RN internal APIs seem to change every release. I've had issues myself with the reload functionality being flakey and had to swap it out for `react-native-restart` internally for the time being

[2018-03-26 09:22] LeoNatan commented on #637
Sorry, I missed the link to the comment.

Would you like to work on a PR for this feature?

[2018-03-26 10:32] Salakar commented on #637
@LeoNatan ye sure I can give it a go - just wanted to make sure it was something you guys would consider before I invested the effort into PR'ing

[2018-03-26 10:35] LeoNatan commented on #637
We are still considering how to handle community contributions properly. We don’t want to reach a place where we’ve accepted requests but then there is no one to support these features after the fact. Before you start work, let’s see what @rotemmiz has to say.

[2018-03-26 10:59] Salakar commented on #637
@LeoNatan If it helps re support - it would be a fundamental part of our testing suite for [`react-native-firebase`](https://github.com/invertase/react-native-firebase) so would be something I'd be invested in helping to keep it working. (our new WIP testing setup with bridge + detox is [here](https://github.com/invertase/react-native-firebase/tree/bridge-detox/tests-new))

[2018-03-26 11:18] Gongreg opened #640 "Allow to disable touch indicators on IOS"
We are implementing screenshot tests when running detox, there is a issue that we have to wait 500ms just to be sure that all touch indicators have disappeared. It would be nice to have an option to disable them.

[2018-03-26 13:52] mrdezzods opened #641 "Integrating detox with jest"
#### Description
I'm having an issue running detox with jest. I'm following the exact steps as in the docs `https://github.com/wix/detox/blob/master/docs/Guide.Jest.md`.
Jest throws the following error:
[code]

#### Steps to Reproduce
Create a fresh react-native app with react-native `0.52.0`, jest `^22.4.3` and detox `^7.2.0`. Follow the tutorial
#### Detox, Node, Device, Xcode and macOS Versions

[2018-03-26 13:58] LeoNatan commented on #637
Such a commitment does help a lot, thank you!

Another issues worth considering is if the RN remote debugging works in release build. We normally recommend running Detox on release builds because they are closer to what the user experiences from an app. But release builds do not use the packager, which I think is necessary for remote debugging. I could be wrong.

[2018-03-26 13:58] #641 closed

[2018-03-26 13:59] rotemmiz commented on #641
This is a JavaScript syntax error, nothing to do with Detox.
Also, this is a usage issue, fitting Stack overflow, not GitHub issues.

[2018-03-26 20:40] LeoNatan opened #642 "test issue with no labels"

[2018-03-26 20:40] #642 closed

[2018-03-26 21:01] #578 closed

[2018-03-26 21:03] #579 closed

[2018-03-27 09:12] paulvelzeboer commented on #548
All, did you fixed this issue because i have the same issue in my project:

`2018-03-27 09:52:18.873 tradingDev[15285:187505] === TrustKit: Proxy-ing NSURLSessionDelegate: Webtrekk.RequestManager
2018-03-27 09:52:18.978 tradingDev[15285:187564] === TrustKit: Proxy-ing NSURLSessionDelegate: RCTHTTPRequestHandler
2018-03-27 09:52:18.979 tradingDev[15285:187564] Swizzling Method(s) not found while sw

[2018-03-27 10:22] ArnonZ opened #644 "Detox crash due to prettyPrint in AppStateTracker"
[code]

[2018-03-27 10:28] LeoNatan commented on #644
Thanks

[2018-03-27 10:58] paulvelzeboer opened #645 "Detox failing react native app (TrustKit)"
#### Description
When testing my react native app i get an error which cause failing my test. see the logging below.

#### Detox, Node, Device, Xcode and macOS Versions
Environment:
  OS: macOS High Sierra 10.13.3
  Node: 9.5.0
  Yarn: 1.3.2
  npm: 5.6.0
  Watchman: 4.9.0
  Xcode: Xcode 9.2 Build version 9C40b
  Android Studio: 3.0 AI-171.4443003

Packages: (wanted => installed)
  react: 16.0.0 =>

[2018-03-27 12:19] LeoNatan commented on #645
I don't see anything in that log. Please post a full verbose log, not a short one.

[2018-03-27 12:20] #627 closed

[2018-03-27 12:49] auval commented on #246
@DanielZlotin @rotemmiz  Is there a plan to export toBeClickable and toBeEnabled to js? I need this as well.

[2018-03-27 14:45] AndrewFisher093 opened #647 "Test failing when launching on Android emulator with "before all" hook error"
Hello, I have an issue with launching a simple test on Android emulator.  Have I can fix this?
I'm using detox test --configuration android.emu.debug --loglevel verbose to run tests

#### Steps to Reproduce

* Detox: ^7.2.0
* React Native: 0.54.0
* Node: v9.9.0
* Android Studio: 3.0.1
* Xcode: Version 9.2
* macOS: High Sierra 10.13.3

"detox": {
    "configurations": {
      "ios.sim.debug": {

[2018-03-27 14:47] AndrewFisher093 commented on #647
detox test --configuration android.emu.debug --loglevel verbose
node_modules/.bin/mocha e2e --opts e2e/mocha.opts --configuration android.emu.debug --loglevel verbose

detox info 17:15:36: server listening on localhost:58797...
detox verb ws onOpen [object Object]
detox verb ws send: {"type":"login","params":{"sessionId":"8179c9ab-c1dc-8aee-b458-214a0f516649","role":"tester"},"messageId":0}
detox

[2018-03-28 01:18] Salakar commented on #470
Well, I just published an alpha to NPM :P https://github.com/invertase/bridge - need to document it fully but working on both platforms.

[2018-03-28 04:41] monmonja commented on #309
If anyone is still looking at this, with react native 0.54.2, detox ^7.3.2, you can do something like
[code]

then got this to work
[code]

[2018-03-28 06:36] guyca commented on #566
Still relevant

[2018-03-28 07:31] guyca commented on #566
IIRC, We're matching against the root view, not against an offscreen view.

[2018-03-28 07:34] rotemmiz commented on #566
Espresso will only interact with the matched view, the root view is not swipeable, therefore nothing will move when trying to swipe it.

[2018-03-28 08:49] guyca commented on #566
Alright, how do you suggest we simulate swiping on the screen to open a side menu?

[2018-03-28 09:10] rotemmiz commented on #566
Try matching the view you want to interact with. If it doesn't work, we may need to play a bit with espresso's assertions on the view's visibility (only interact when view is 75% visible)

[2018-03-28 09:45] askielboe opened #648 "CLI: `detox test` fails to determine a default configuration"
Seems you now have to specify the configuration manually (e.g. `detox test -c ios.sim.debug`), otherwise `detox test` crashes.

#### Description

After upgrading to detox 7.3.X, `detox test` fails with the following error:

[code]

It seems that `program.configuration` is undefined (unsurprisingly?). Setting the configuration using `detox test -c ios.sim.debug` makes `detox test` work again.

####

[2018-03-28 10:09] rotemmiz commented on #648
Thanks for reporting, this is indeed an issue caused by #639.

A workaround for this (till we publish a fix) would be to explicitly select a configuration:
`detox test -c myConfiguration`

[2018-03-28 10:45] #648 closed

[2018-03-28 11:29] paulvelzeboer commented on #645
hope this is enough log info:

[code]

[2018-03-28 11:33] LeoNatan commented on #645
In that log, I see a native crash inside RN's network handler.
Are you sure this is the same error?

[2018-03-28 13:12] paulvelzeboer commented on #645
yes its the same error and i dont know for sure if its a bug in detox... error i get:
[code]

looks like something else is going wrong...

[2018-03-28 13:23] AvivRubys opened #650 "Hard to diagnose sync issues with network requests"
#### Description
Recently I converted some iOS detox tests to android, and got stuck for a while on `Network is busy`. It turned out to be a background process sending monitoring data, which my test doesn't care about, but caused detox to hang.

This sounds like something that could easily happen to others, so I thought about just adding the busy request's URL to the `Network is busy` log.

Wanted

[2018-03-28 13:51] LeoNatan commented on #645
Could you please create a demo project, which I can debug? I am not familiar with TrustKit.

[2018-03-28 17:06] ohwillie opened #651 "Android: spawn adb ENOENT"
#### Description

Hi there, I'm experiencing what seems to be a similar issue to this one: https://github.com/wix/detox/issues/419 Detox successfully installs the debug Android app on the emulator, but then is unable to run my tests.

#### Steps to Reproduce

I followed the instructions to set up detox for Android, successfully built the debug app and androidTest app, and then ran detox test.

###

[2018-03-28 20:54] ohwillie commented on #651
Closing this—it was a PATH issue. If you're coming to this issue with the same problem—make sure you have the `adb` in your PATH:

[code]

[2018-03-28 21:20] rotemmiz commented on #651
Actually it is indeed an issue with the implementation. Detox should not rely on adb to be in path.

[2018-03-28 21:22] #651 closed

[2018-03-28 21:29] rotemmiz commented on #650
Of course, it's mandatory, we have it in iOS.
It would be great if you could extend the data extracted by [`getBusyEspressoResources`](https://github.com/wix/detox/blob/master/detox/android/detox/src/main/java/com/wix/detox/DetoxManager.java#L181)

[2018-03-28 21:48] vonovak opened #653 "device.launchApp won't give notification permissions on 7.3.2"
#### Description
I use detox for testing RN app only on ios and jest as test runner. After upgrade from 7.2.0 to 7.3.2, tests do not pass - they fail on timeout:

#### Steps to Reproduce
create an app that asks for notification permissions on start.

[code]

[code]

boot simulator, reset its content and settings,  run `detox test` and you will see that app starts, and the alert asking for notifica

[2018-03-29 00:25] ohwillie commented on #647
Detox+Android is currently incompatible with RN >= 0.50: https://github.com/wix/detox/issues/608

[2018-03-29 10:43] rotemmiz commented on #171
Thoughts on our current state, and how I see this feature:

I wasn’t able to merge the current implementation since I felt like it’s not scalable enough. Meaning, my initial approach, the one I asked  @donatas to implement (mentioned at the top of this issue), has a serious flaw. It is very hard to add a new artifacts to the system.

Android logs, for instance, were not implemented in this branch,

[2018-03-29 11:08] LeoNatan commented on #171
More considerations in the future:
* When we find time to integrate Detox Instruments with Detox, we will need a mechanism to transfer files from and to devices.
* When we decide to add support for real devices, we will need a mechanism to transfer user notifications and user activity files to the devices.
  * Android emu or device will likewise need that functionality for notifications

Before im

[2018-03-29 13:34] nezaidu commented on #536
+1

[2018-03-29 15:16] donataswix commented on #171
Agree with @rotemmiz, current implementation in https://github.com/wix/detox/tree/screenshots-and-videos should be improved. Drivers got polluted with data that could be easily contained in artifact handlers, e.g. AndroidVideoArtifact could hold current process object and handle it's creation and termination. Also, currently Device object is orchestrating recording of screenshots and videos, but t

[2018-03-30 07:55] sapjax commented on #307
`"detox": "^6.0.2",`   still encounter this problem.

[2018-03-30 12:32] LeoNatan commented on #653
On the first log, I don't see a call to `applesimutils --setPermissions`.

[2018-03-30 12:34] LeoNatan commented on #651
@rotemmiz Why was this issue not labeled correctly?

[2018-03-30 12:35] #647 closed

[2018-03-30 12:43] LeoNatan commented on #653
I'm not sure why it wouldn't go through the `setPermission` code path. https://github.com/wix/detox/blob/792a78233e0c634d42b2e605c105cd4c6f6e41de/detox/src/devices/Device.js#L84

[2018-03-30 12:46] vonovak commented on #653
I'll try do some debugging and get back to you, or create a minimal repro.

On Fri, Mar 30, 2018, 14:43 Leo Natan <notifications@github.com> wrote:

[2018-03-30 14:48] paulvelzeboer commented on #645
i will try to create an demo project with TrustKit, and i think have the same issue as:

https://github.com/wix/detox/issues/548

[2018-03-30 17:15] vonovak commented on #653
sorry, not quite sure what happened, but I cannot reproduce it any more.

[2018-03-30 17:15] #653 closed

[2018-03-30 17:16] LeoNatan commented on #653
If you reproduce again, please open a new issue. Thanks.

[2018-03-31 18:56] LeoNatan opened #655 "Use newly landed shake API in Earl Grey, rather than internal implementation"
Only once it is in a stable version of EG.

[2018-04-01 14:31] TareqElMasri commented on #99
I made the definitions, it's documented with examples, I'm waiting for the pull request to get approved, when it gets published, it will be used via `npm install @types/detox`
https://github.com/TareqElMasri/DefinitelyTyped/tree/master/types/detox

[2018-04-02 14:57] hoang17 opened #656 "WebView and Photo picker support on Android"
Hello, is there a way to use detox to automate WebView testing? A feature that Im working on is e2e upload testing. I would like to find and scroll to an Upload button in WebView, click on it, it will ask for Camera or Photo Library, choose Photo Library, select photos to upload. Right now I can not find a detox api to control WebView and Photo picker. I tried to work around the WebView but still

[2018-04-03 08:26] tuanmai opened #657 "My app close immediately when run detox test."
#### Description
I run `detox test`, it installs the app but my app close immediately. Below is the log from `tail -F $HOME/Library/Developer/CoreSimulator/Devices/F1C50CD9-9029-4152-B071-88E9B822C861/data/tmp/detox.last_launch_app_log.err`
#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.1.0
* React Native: 0.51
* Node: 8.9
* Device: Iphone 6
* Xcode: 9.0.1
* macOS: 10.12.6

#### De

[2018-04-03 09:59] jmikulka commented on #608
Hi @simonracz, any updates or ETA on this one?

[2018-04-03 21:24] etaiklein commented on #615
Thanks!

[2018-04-03 22:24] rotemmiz commented on #608
#652 Fixes the sync issues in the test project for RN50 and RN51. It will be released ASAP after review+merge.
This is not a bullet proof solution as we still struggle with synchronization of react native initialization, but it should be good enough for now.

[2018-04-04 04:25] #657 closed

[2018-04-04 08:55] jmikulka commented on #608
@rotemmiz great news, thanks a lot!

[2018-04-04 12:09] AvivRubys commented on #650
Not sure what you mean by that, it looks like `IdlingResource` is fairly limited in the data it can provide, just a boolean of is or isn't idle. Unless we add a `DetailedIdlingResource` or something similar.

My initial idea was just to modify the log in [RNExperimentalNetworkIR.java#L91](https://github.com/wix/detox/blob/master/detox/android/detox/src/main/java/com/wix/detox/espresso/RNExperiment

[2018-04-05 12:24] BenBach opened #660 "Stuck in "Waiting for window's root view controller's view to appear.""
#### Description
Detox gets stuck waiting for an element to appear. The element is visible only the screen and the testID ist set.

When running --debug-synchronization 3000 it shows `App State: undefined`

#### Steps to Reproduce
1. Waiting for an element to be visible

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.3.3
* React Native: 0.53.0
* Node: 8.6.0
* Device: iPhone 7 Simul

[2018-04-05 13:39] BenBach commented on #548
@paulvelzeboer Were you able to fix this?

[2018-04-05 23:52] LeoNatan commented on #660
It's a bug in the Detox printer. The actual message is revealed in the verbose log:

Something is ill-defined in your app.

[2018-04-05 23:56] LeoNatan commented on #660
I see you already have a question on Stack Overflow.

[2018-04-05 23:56] #660 closed

[2018-04-06 03:50] heuism opened #661 "device.launchApp won't give notification permissions on"
I just want to reopen the issue #653. It happened randomly. I thought maybe there is something wrong with the simulator or npm. So I just ignore it. But then today. I push to CI and it failed and the init phase for one test. while passed on the other test. on the same commit
![image](https://user-images.githubusercontent.com/8481265/38402614-cefa7692-39a0-11e8-8d21-b4137514a473.png)
![image](https

[2018-04-08 12:58] #444 closed

[2018-04-08 21:32] #645 closed

[2018-04-09 11:35] maciekstosio opened #663 "After run detox test getting Device.js Unexpected token ..."
#### Description

I'm following this guide and I ran into an error. I've ran detox build (and it succeeded) and then detox test which error:

[code]

#### Steps to Reproduce

Go to CLI and run `detox build & detox test`

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.3.3
* React Native:0.51.0
* Node: 7.7.3
* Device: iPhone 7
* Xcode: 9.1
* macOS: 10.12.6

#### Device and verbose De

[2018-04-09 15:17] paulbrittain commented on #656
Also interested, if your application uses OAuth how does Detox interact with the webview to log the user in?

[2018-04-09 17:51] LeoNatan commented on #663
Any reason you are using such an old Node version (7.7.3)?

Upgrading to 8.6 will fix your issue.

[2018-04-09 18:39] shahul-code opened #664 "Is there any video tutorial for detox installation process step by step?"
### For usage help, ask a question on Stack Overflow with the `detox` tag. The issues section of the project is meant for opening bug reports and enhancement requests of Detox. We use it to automatically track the [change log](https://github.com/wix/detox/blob/master/CHANGELOG.md)

### IMPORTANT: Use search before opening an issue. Duplicate issues will simply be closed.

#### Description

#### St

[2018-04-10 08:36] xcarpentier opened #665 "Add small support for WebView"
### Description
A simple way to:
* Find element by ID in webview
* Replace text

[code]

### Why?
Some authentication way use an external provider with existing web form to login. (ie. auth0, keycloak, ...)

[2018-04-10 10:02] #664 closed

[2018-04-10 23:27] stephmilovic opened #667 "TextInput label/id not getting picked up in detox"
#### Description
I am just setting up Detox and user error is possible... that being said, I think I'm doing this right. I have a TextInput element with both accessibilityLabel and testID set to email. However, detox cannot find UI element with by.id or by.label. The curious part is, I can find my identifier in xcode's view hierarchy. I'm not sure where to go from here? I've attached screenshots o

[2018-04-11 14:55] kristfal opened #669 "[Android] LaunchApp with newInstance: false fails"
#### Description

#### Steps to Reproduce

This is our code:

[code]

The above code will fail with the following notice:

[code]

Setting `newInstance: true` resolves the issue. iOS works just fine.

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.3.3
* React Native: 0.51.0
* Node: 8
* Device: Android Nexus 6 emulator (`avd -n Nexus6 -k "system-images;android-26;google_apis;x86" -b

[2018-04-11 17:32] maciekstosio commented on #663
Yes, it seems to work. I've seen 7.6 requirement in docs and i thought it will be enough. I have another issue, but I'm not sure if it's right place to ask.
My apps works that I have login page at the beginning, and after logging in there is screen that indicate data loading (downloading data in) and then it goes to dashboard. I've put id on main view of this loading screen and tried to check weat

[2018-04-11 18:38] LeoNatan commented on #663
We synchronize on network, so yes, probably.

[2018-04-12 13:48] Angry-Potato opened #670 "'element is not defined' when running detox in CI"
Thank you for this awesome lib, it works fantastically well locally!

#### Description (Detox version 7.3.3)
I am building a RN app, and testing it using Detox in Jest. I followed the setup guide in the Detox documentation (also checked the linked Medium post to make sure I set things up correctly) for running detox under Jest.

So far I have created two Detox spec files; one for the initial scree

[2018-04-12 17:27] henrikra commented on #608
I am using these dependencies:
React Native 0.52.2
react-native-navigation 1.1.377
Detox 7.3.3

I am experiencing same kind of stuff that Detox just hangs on real Android device. And in the end Jest just timeouts.

Can you guys see from the logs what is the problem? Is the problem React Native 0.52.2?

[code]

[2018-04-13 08:25] Angry-Potato commented on #670
there is a case in the circleci discuss forum that is remarkably similar, no resolution or activity there though https://discuss.circleci.com/t/wix-detox-ui-tests-dont-run-on-circleci/20920

[2018-04-13 08:32] xcarpentier opened #671 "Command failed: /usr/bin/xcrun simctl shutdown"
I'm using detox on circleci execute into a macos box.

- Detox version: 7.3.3

Stacktrace
[code]

[2018-04-13 20:36] tachtevrenidis commented on #99
did this PR ever make it in?

[2018-04-13 20:44] etaiklein opened #672 "Add support for conditional logic around elements"
This is a request to expose the ability to run code conditionally in detox tests based on the existence of elements.

For example:
[code]

[2018-04-13 21:03] DanielMSchmidt commented on #99
@tachtevrenidis There are still review comments, but it looks great otherwise 👍

[2018-04-14 06:56] kristfal commented on #670
Can you provide a non-verbose log with time stamps.

Our experience: We got tests running on AppCenter (also fairly low end build machines), and had to increase our default Jest timeout from 120s to some 520s (could probably reduce it a bit but we didn’t bother). In addition, the first test in any given suite should start with a waitFor of 20sec just in case of slowness.

[2018-04-16 10:57] Angry-Potato commented on #670
@kristfal I have struggled to attach timestamps to each detox output, closest I got is turning jest verbose mode on (time taken for each unit), and piping the test cmd to moreutils ts.

[angry-app-ts-logs.txt](https://github.com/wix/detox/files/1914950/angry-app-ts-logs.txt)

Hopefully you can see from the logs a situation much like the one you described, only the first test of the first suite is

[2018-04-16 11:12] kristfal commented on #670
@Angry-Potato I'd suggest an even higher timeout for testing, both the `waitFor` and the jest timout. Ours are:

[code]

Try doubling the initial `waitFor` timeout. If that one still doesn't pass, try a different selector (since the following tests pass)

[2018-04-16 12:01] Gongreg opened #673 "Detox 7.3.3 crashes when using bundle url"
#### Description
Detox crashes when running tests in debug mode (using bundle url instead of local bundle in the app).

This bug does not reproduce if simulator is freshly opened on packager is restarted. Only happens when running 2nd-3rd time and so on.

[code]

#### Steps to Reproduce
Start the packager.
Run detox tests.
Run detox tests again.

#### Detox, Node, Device, Xcode and macOS Versions

[2018-04-16 12:58] Angry-Potato commented on #670
@kristfal thanks for the suggestions but neither have helped (increased timeout to 60000, changed selector to one that was passing later on in the suite). It seems the first assertion / expectation fails regardless of what it is.

[2018-04-16 13:04] Angry-Potato commented on #670
to clarify, I increased the initial test screen timeout to 60000, and I have also increased the jest timeout to 520000 as you suggested.

[2018-04-16 13:16] kristfal commented on #670
Ok, that is strange, its probably not timing related then. Since all other selectors do pass, are you certain of the following:

1) The tests pass locally and you're running the same bundle on the CI
2) No code push services are interfering/updating your bundle on the CI (we got bitten by this one before)

One longshot fix: We were unable to run the debug build (that is using the js bundle served

[2018-04-16 14:52] LeoNatan commented on #673
Do restart the app or reload react native?

[2018-04-16 14:53] Gongreg commented on #673
As I said, restarting the app does help. But not always. Seems flaky

[2018-04-16 14:54] LeoNatan commented on #673
The crash is in React Native, not in Detox.

[2018-04-16 14:56] Gongreg commented on #673
It only crashes when running detox with packager.

[2018-04-16 15:40] Angry-Potato commented on #670
@kristfal I am positive the tests pass locally, and we have not integrated any code push services. I have tried with a release build as you suggest but the same issue occurs.

A hacky work-around might be to duplicate the first expectation in each suite, and wrap it in a try-catch. Far from what I would like but unable to see any other options 😢

[2018-04-16 15:54] LeoNatan commented on #673
Can't reproduce your issue. I wasn't able to last time we talked about it either.
Please create a demo project and see if you can reproduce there.

[2018-04-16 20:55] LeoNatan commented on #672
You can try/catch assertions and branch from that to the rest of your logic.

[2018-04-16 20:58] #672 closed

[2018-04-16 21:00] rotemmiz commented on #672
Tests with branches are bad tests in my opinion.
A test should have a predictable input, and a predictable output.
If it branches it's not one test, but two.

Try making your input predictable by mocking what needs to be mocked.

[2018-04-17 05:53] shockdesign commented on #516
@rborn Sorry, your `debugImplementation` should be `androidTestImplementation` but that should work with just `project(path: ":detox"))` and no configuration

[2018-04-17 07:16] Angry-Potato commented on #670
@kristfal I have reproduced the issue in this repo https://github.com/Angry-Potato/detox-testing

[2018-04-17 07:29] Angry-Potato commented on #670
though to repro, you need to run a macos build in circleci 😬

[2018-04-17 08:45] paulbrittain commented on #665
Is this not supported by detox?

[2018-04-17 09:35] Angry-Potato commented on #670
I updated the https://github.com/Angry-Potato/detox-testing repo's readme to consolidate the issue tracking around this

[2018-04-17 10:07] rborn commented on #516
@shockdesign I managed to fix it, but I don't remember what I did, it was me doing some stupid thing (more than sure I was changing stuff in the wrong place). Thanks for the reply and sorry for not getting back in time 😔

[2018-04-17 11:26] aharon87 opened #674 "cant run detox-cli"
Hi,
After installing detox-cli, I tried to run **detox -h** and I've got **detox is not installed in this directory**

Does anyone come across this problem?

thank you

[2018-04-17 13:52] #674 closed

[2018-04-17 15:29] TareqElMasri commented on #99
Goodnews everyone, the PR made it successfully, now the maintainers need to create npm package for `@types/detox` using  [Types publisher tool](https://github.com/Microsoft/types-publisher)
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25005#issuecomment-381774947

[2018-04-17 19:14] rotemmiz commented on #671
Does this also happen locally ?
I have a hunch it's a circleci thing.
Try starting up a simulator, then shutting it down, regardless of Detox, see if circleCI likes it...

[code]

[2018-04-17 19:49] rotemmiz commented on #674
You only installed detox-cli. You need to install detox a dependncy of you project.

[2018-04-17 20:53] rotemmiz commented on #99
Hooray! Let's add this to docs and close this issue.

[2018-04-18 12:03] compojoom commented on #524
I'm running into the same error on RN 0.55
[code]

The VM is started, the app is also being started - I see that it connects to the packager and downloads the index.html, but it then fails to launch the main activity.
[code]

Not sure it is supposed to work at all, since this issue is open: https://github.com/wix/detox/issues/608, but it for sure works great on RN .55 with iOS emulator.

[2018-04-18 15:17] lucassus commented on #62
Migrate your specs from `mocha` to `jest` and you'll be set ;)
It seems that `jest` has build-in support for es6 imports

[2018-04-19 01:34] Brad19 opened #676 "detox api to select photo from photo library ios 11"
#### Description
We've started using Detox for our E2E test which we felt good. But one of the problems that we face now is to select the photo from photo library in ios and for android as well. At first i tried to do for IOS, but got struck at the point when i find that the View hierarchy while debugging in Xcode doesn't return any Views for IOS 11. I happen to encounter the following link which

[2018-04-19 09:28] xcarpentier commented on #671
https://discuss.circleci.com/t/macos-plan-issue-with-xcrun-simctl-shutdown/21839

[2018-04-19 09:29] gnowenegue opened #677 "Keyboard tutorial breaks tests"
#### Description
With iOS 11 and above, when typing on a fresh state of the simulator, there will be an overlay tutorial which requires users to click on "OK" to proceed. This has caused all my current tests to break when switching to iOS 11.3 simulators.

![qd92y50ct6az](https://user-images.githubusercontent.com/4962518/38983484-090324c8-43f7-11e8-8326-0257269a8735.jpg)

I can't help to notice th

[2018-04-19 10:15] lucassus commented on #179
My solution is something like:

[code]

[code]

[2018-04-19 14:01] savelichalex commented on #571
Yeah, that really frustrating. I just have started to work with `detox` and `apk` for `androidTest` is not that cli is expecting, though I followed docs

[2018-04-19 20:51] #667 closed

[2018-04-19 20:51] stephmilovic commented on #667
jk

[2018-04-19 21:52] LeoNatan commented on #676
As I explained in my comment and has been also mentioned elsewhere, `UIImagePickerController` runs in a different process, thus we cannot control it. `PHPhotoLibrary` is something completely different and has nothing to do with `UIImagePickerController`. If you use `PHPhotoLibrary` to build your own photo picker, you could make it work, but it doesn't help for `UIImagePickerController`, which most

[2018-04-19 21:52] #676 closed

[2018-04-19 21:59] LeoNatan commented on #677
We'll add it soon.

[2018-04-19 23:15] Brad19 commented on #676
@LeoNatan
Thanks for your response. But i've couple of questions to clarify
1. If I'm mocking. how does that satisfy the condition in terms of flow to select an item from image library and uploading it to wherever i want
2. Can you pls provide some example to mock image Picker API for IOS?
3. Please provide some time before closing this ticket, as it didn't exactly resolve my problem.

[2018-04-19 23:27] LeoNatan commented on #676
I'm not sure how leaving it open would help in that case. It's an OS limitation which we cannot overcome, so you have too look at workarounds.

You mock only the image picker API, where your mock returns an image. You can then proceed to do the same logic as you normally do in your app, such as update your own UI or upload. I cannot provide examples, but for React Native apps, we have a section in

[2018-04-19 23:48] Brad19 commented on #676
@LeoNatan
Thanks for your quick response. What i meant was, the issue is under discussion and not sure if it is good to close. The reason why i asked was we have a solution working for IOS 10.2 version in one the links provided above. But now we can't use that as the OS version has been upgraded to 11 and the existing solution is not working due to system limitation. So I want to know if you guys

[2018-04-20 00:11] LeoNatan commented on #676
As I have said before, there is little to nothing we can do. There are numerous things that Apple has moved out of process for user security reasons (otoh, Safari view controller, contact view controller, image picker view controller, etc.).

The only workaround (I understand it's not a full solution) is to mock this API and not use it when testing.

[2018-04-20 06:10] vignesarul opened #678 "Detox server connection fails"
#### Description
Test execution stops at **connectToServer - retrying...** loop (check adb logs).

#### Version
* Detox: 7.3.3
* React Native: 0.51.0
* Node: 9.2.1
* Device: Nexus 5 (android-22)
* OS: Ubuntu 14

#### ADB log
[code]

#### Detox logs
[code]

[2018-04-20 06:33] vignesarul commented on #678
Hi @LeoNatan Your inputs will be very much helpful.

[2018-04-20 07:24] DanielMSchmidt opened #680 "Ensure our dependencies are up-to-date"
#### Description
I would like us to keep our tools sharp, therefore I would suggest to add a tool like [Renovate](https://renovateapp.com/) to help us keep our dependencies and dev dependencies up-to-date.

What it does is scanning this repository for the package.json files and updating the dependencies for them in individual PRs.

It provides a lot of configuration options, e.g. grouping certain

[2018-04-20 14:01] LeoNatan commented on #680
What JS dependencies does Detox have that would benefit from such a system?
The most important ones are in native and those often require work to merge.

[2018-04-20 16:40] esusslin commented on #667
Lol.

[2018-04-20 17:03] esusslin commented on #667
@stephmilovic - by jk.. were you able to locate the TextInput via a selector?  Currently experiencing a similar issue

[2018-04-20 17:14] agent-0028 commented on #608
Hey folks! Having great fun trying to get Detox to work with latest react-native on Android. (Caveat: I am NOT an Android dev, so new to the whole Gradle build eco-system)

My use case is very limited, so hoping that subtle bugs won't stop me from using detox.

However, currently can't even get things to compile after following a combination of the instructions below to add detox.

https://github.

[2018-04-20 17:26] rotemmiz opened #682 "NS_REFINED_FOR_SWIFT should be ignored by generated code"
[NS_REFINED_FOR_SWIFT macro](https://github.com/google/EarlGrey/commit/499474e02cc486b65c360da362173ec77e7495ee#diff-ad85ec7ab42faaa4cd1a922503fca1caR18) was added to a few of EarlGrey's functions.

We need to make sure this is ignored by generated JS GREY* code. Till then we can not upgrade EarlGrey to a newer version.
https://github.com/DanielMSchmidt/objective-c-parser/issues/52

[2018-04-20 22:05] LeoNatan commented on #682
This is the problem with text parsing. It is just not robust enough.
An alternative solution is to use an AST parser that uses the actual compiler's AST to get metadata for classes. For example [SourceKitten](https://github.com/jpsim/SourceKitten) supports producing an AST-backed "documentation" dump of Objective-C API from a header file.

[2018-04-20 22:26] esusslin commented on #608
Hey folks!  Having a little difficultly configuring this myself:

React Native: 0.54.2
Detox: 7.3.3

Has there been any progress with this compatibility?  Any helpful workarounds?

[2018-04-21 11:15] DanielMSchmidt commented on #682
Cool solution, I will give it a try, but I will first fix the issue in our current parser, as this is the faster fix for this immediately problem :)

[2018-04-22 01:26] chadlwilson commented on #433
Still not working on latest Detox.

[2018-04-23 06:18] galfisher opened #683 "Run tests with different locales on each run"

[2018-04-23 08:08] KostasKostogloy commented on #608
What's the status of android e2e tests? I can see that you've disabled them for wix/detox on your travis config. Is it possible to run android e2e tests on travisCI at all now?

[2018-04-23 08:19] rotemmiz commented on #608
[This comment](https://github.com/wix/detox/issues/608#issuecomment-378418743) states that it works now. There is an inherit issue in RN itself which won't let us sync with reloading in a full proof way. That's the reason the issue was not closed yet.

**To avoid confusion I am now closing this issue since we already support RN50-51 on Android in Detox 7.3.3.**

Disabled tests on TravisCI has noth

[2018-04-23 08:19] #608 closed

[2018-04-23 10:24] rotemmiz commented on #683
Exactly,cwe should support this on both platforms though

[2018-04-24 06:15] DanielMSchmidt commented on #682
I fixed it in version `1.2.3` of the objective c parser, here is a PR upgrading to that version in detox: https://github.com/wix/detox/pull/684

For the long run, what would be your preferred way:

1) First move every part of detox that relates to native code over to generated code and tackle the underlying parser afterwards
2) First try to exchange our hand-built parser with the solution you foun

[2018-04-24 07:35] DanielMSchmidt commented on #682
@rotemmiz and I decided for solution 2, so I did the initial research. I think we can translate the output of SourceKitten over to the structure we need:

- Classes can be found as `"key.kind" : "sourcekitten.source.lang.objc.decl.protocol",`
- Methods can be found as `"key.kind" : "sourcekitten.source.lang.objc.decl.method.instance",`
	- Mehthodname is `"key.name"`
	- Comment is `"key.doc.comment

[2018-04-24 20:17] DanielMSchmidt opened #688 "Explore SourceKitten as an opportunity for parsing Objective-C code"
We can translate the output of SourceKitten over to the structure we need:

- Classes can be found as "key.kind" : "sourcekitten.source.lang.objc.decl.protocol",
- Methods can be found as "key.kind" : "sourcekitten.source.lang.objc.decl.method.instance",
	- Methodname is "key.name"
	- Comment is "key.doc.comment"
	- Parameters are key.doc.parameters
		- Name of a parameter: name
		- Type of a para

[2018-04-24 23:32] wildseansy commented on #155
I'm using the latest version of detox (7.3.3), and this still seems to be an issue.  I get 'detox-server wss 08:01:45: role=testee not connected, cannot fw action (sessionId=abcdef)'

When I run with the detox testing tools, (ios.none), it all works.

[2018-04-24 23:33] LeoNatan commented on #688
I think return type and maybe param types are empty when the type is `id`.

[2018-04-24 23:35] LeoNatan commented on #155
Please open a new issue and provide all required information. Thanks

[2018-04-24 23:43] wildseansy opened #689 "Test"
#### Description
I set up detox using the recommended instructions. My project builds

When I run using detox 5.5.1, I get the exception below
Stack trace from detox.last_launch_app_log.err:
[code]

#### Steps to Reproduce

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.3.3 (also tried with 5.5.1)
* React Native: 55.3
* Node: v8.9.4
* Device: iPhone 7 (iOS 11.3)
* Xcode: 9.3
* macO

[2018-04-25 01:25] LeoNatan commented on #689
In your app, do you make use of SocketRocket?

[2018-04-25 01:51] wildseansy commented on #689
yeah, we use socket rocket

[2018-04-25 02:51] LeoNatan commented on #689
Great, that explains your issue. I will look how to fix soon.

[2018-04-25 02:58] wildseansy commented on #689
Thanks @LeoNatan appreciate the help.  Our dependency is
[code]

[2018-04-25 05:01] LeoNatan commented on #689
I added a fix. I have no way to test.

Just know that 0.5.1 of Socket Rocket is very old and there is mode modern API. The people that manage it now seem to forgot to add some tags. Facebook is not strong on versioning 🙄

[2018-04-25 07:47] DanielMSchmidt commented on #688
Could be, will try what happens with non-id types. Although we normally need the id typed information, too, so that we can validate that we really get an action or a matcher as parameter

[2018-04-25 08:02] LeoNatan commented on #688
`id` is a "anyobject" type, so it really doesn't matter. By default in Objective C, if type is not provided, it is assumed to be `id`.

So for

[code]

Both here are `id`.

[2018-04-25 10:03] yogeshthanvi commented on #9
Can anyone give me an example to approve location permission

[2018-04-25 10:04] LeoNatan commented on #9
RTFM

[2018-04-25 10:35] noomorph commented on #171
Hello to all interested,

I indeed started my work on the feature, and the current challenge is to refactor it properly.

As it was stated previously, we want to avoid tight coupling of Detox internals with the test artifacts feature, since most of it is about spawning and controlling a handful of CLI processes at the right times.

Also, we might benefit from making methods `takeScreenshot('screen

[2018-04-25 10:39] ilonashub commented on #667
I don't know if it might help someone, but I had the same issue - and turns up that my simulator was not being updated with the new bundle...  I had to turn it off and rub the build again to make it work :/

[2018-04-25 18:36] wildseansy commented on #689
In case anyone else has this issue, for now I have added the following to my Podfile for getting tests running:
[code]
this commit is the same one that [Detox points to](https://github.com/wix/detox/tree/master/detox/ios). This fixes the `[SRWebSocket sendString:error:]: unrecognized selector sent to instance` errors.

[2018-04-25 19:38] DanielMSchmidt commented on #688
I opened an issue on their side to get a bit more information on this: https://github.com/jpsim/SourceKitten/issues/516

[2018-04-25 20:39] wildseansy commented on #617
I'm having the same issue.  Will create new issue with relevant info.

[2018-04-25 21:14] wildseansy opened #691 "[iOS] when .tap() in test, device.reloadReactNative() stalls indefinitely"
#### Description
When tests don't include a tap, `device.reloadReactNative()` completes successfully. However when a call to `.tap()` is included, reloadReactNative never completes.

Similar to #488, #617, #660 - [StackOverflow post](https://stackoverflow.com/questions/49654166/app-state-undefined-and-endless-waiting-tests).  A workaround for this - you can call the following instead of `device.re

[2018-04-25 21:34] rotemmiz commented on #691
You're not using `waitFor` correctly. Please go over the docs.
You may not even need waitFor at all. Detox waits for your app to be idle before executing each line.

[2018-04-25 21:53] rotemmiz opened #692 "Explore usage of javaparser for Java code generation"
This project parses Java code to join, not sure if only Java 7 though
https://github.com/mazko/jsjavaparser/tree/master/tools/EclipseAST

This one can parse Java 9
https://github.com/javaparser/javaparser

[2018-04-25 22:20] wildseansy commented on #691
@rotemmiz thanks for the response.  I had been trying a number of variations of the test content for the `it` clause.  Basically, it doesn't matter if `waitFor` is present or not the issue still happens.  I updated the test above to be as simple as possible; it still yields the same result

The element is a `<View testID='logged_out/splash' />`.  Have also tried `<TouchableOpacity testID='logged_o

[2018-04-25 22:28] rotemmiz commented on #691
Can you please also add simulator logs?
And use --debug-synchronization to see if your application is busy after invoking tap().

[2018-04-25 23:16] wildseansy commented on #691
Added simulator logs above.
Output is extremely verbose, so I put the  complete `--debug-synchronization` logs in this file:
[debug-sync-output.txt](https://github.com/wix/detox/files/1949128/debug-sync-output.txt)

Here is the excerpt where the tap occurs (Flagged with `[debugging] AFTER tap`)
[code]

[2018-04-26 01:21] Rob117 opened #694 "Detox Port"
#### Description

Very simply, my company has some kind of admin process (most likely a virus scanner) running on port 8081. This is a problem, because in order to run detox I need to go into the project and change every internal reference to 8088 (just some other random port I can use).

When I run `react-native run-ios` I get the option to pass flag `--port=8088` to it so I don't need to manuall

[2018-04-26 01:35] Rob117 commented on #694
As an addendum, can I just build  with `react-native run-ios --port=8088` and then have detox use that build on the correct port when I run detox test?

[2018-04-26 01:49] LeoNatan commented on #689
In either case, stick with the newer SocketRocket.

[2018-04-26 04:46] markhu commented on #257
In my case, I had to replace this first line with the second:
[code]

[2018-04-26 06:57] DanielMSchmidt commented on #692
Let's give it a try 👍

[2018-04-26 11:39] DVLNarayana commented on #608
@simonracz detox 7.3.4 is supporting RN 0.55.3 can you please update the status?

[2018-04-26 13:00] DVLNarayana opened #695 "App is installed on the android emulator but unable to launch and app run the test cases - Detox 7.3.4"
#### Description
App is installing on the android emulator but unable to run the test cases with latest detox version 7.3.4

#### Steps to Reproduce
Done the setup as per this link https://github.com/wix/detox/blob/master/docs/Introduction.Android.md

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.3.4
* React Native: 55.3
* Node: 8.11.1
* Device: emulator :   Nexus_5X_API_25_x86
*

[2018-04-26 13:37] vonovak commented on #695
just wondering, what makes you think  RN 0.55.3 is supported? Last time I checked it wasn't.

[2018-04-26 14:29] wildseansy commented on #660
I'm seeing the same thing, but only when having a `.tap` and `reloadReactNative` after the test.  More details here: https://github.com/wix/detox/issues/691

[2018-04-26 15:00] wildseansy commented on #691
Maybe I don't understand something about how `tap` works, but wouldn't these animations block any of the `expect` lines too?  The tap has no effect in my app, it is just tapping on a view (not even a `Touchable`).  It doesn't trigger any animations.

Thus I'm confused why taking out the tap allows the rest of the lines to execute, given the tap has no direct effect...

[2018-04-26 16:43] Salakar commented on #694
@Rob117 if it helps interim, I use https://www.npmjs.com/package/patch-package to automatically patch files in node_modules - it has a postinstall hook that will auto patch on npm/yarn install - I use this on a few react native projects myself.

[2018-04-26 17:05] wildseansy commented on #691
@rotemmiz - the animations are coming from the detox [touch visualizer](https://github.com/conopsys/COSTouchVisualizer/blob/ad729c993de213ccb6be6af30c4bb5730293231c/Classes/COSTouchVisualizerWindow.m#L371) `performMorph` function.  They are not from my app.  Disabling these animations does not fix the issue.

[2018-04-26 23:45] Rob117 commented on #576
Not stale?

[2018-04-27 00:26] wildseansy commented on #691
Ok, so I figured it out.

Basically, the root view controller is first getting set via the [`Main Interface`](https://stackoverflow.com/questions/14420768/what-does-main-interface-in-xcode-actually-do) entry in the XCode project and then is updated in my `AppDelegate` to be the correct React Native view controller.  This first `Main Interface` rootViewController never comes into view, and it is im

[2018-04-27 00:26] #691 closed

[2018-04-27 00:50] #440 closed

[2018-04-27 04:27] markhu commented on #93
Note for posterity: Issue #171 is still Open unresolved as of April 2018.

[2018-04-27 06:25] Rob117 commented on #694
@Salakar Absolutely awesome, will try as a stopgap until we can hopefully get a port feature!

[2018-04-27 09:19] kristfal opened #696 "Missing package name and version"
#### Description
`package.json` is missing package name and version. This prevents `yarn` and `npm` from installing master branch or any other non-published branch/tag.

#### Steps to Reproduce
`yarn add https://github.com/wix/detox.git`

or

`
npm add https://github.com/wix/detox.git
`

#### Error

NPM
`npm ERR! Can't install git+https://github.com/wix/detox.git#866ee447bad07ba2896b79972be6dfb4e0

[2018-04-27 09:47] rotemmiz commented on #696
Detox is a multi package repo, managed with Lerna.
This is currently not supported, not sure if it ever will. Please consult yarn/npm documentation.
Moreover, we package native iOS code during prepublish stage, so the actual npm package is different than what we have on the actual repo.

[2018-04-27 09:47] #696 closed

[2018-04-27 10:29] noomorph commented on #174
**[@‌‌stale](https://github.com/apps/stale)**, this issue is still relevant. Just have checked with `detox@7.3.4`.

[2018-04-27 10:29] noomorph commented on #174
**@‌‌stale**, thanks!

[2018-04-27 10:43] noomorph commented on #694
@Rob117, I am not sure whether Detox indeed has port 8081 hard-coded.  Let's see:

[code]

The only occurrence it prints is here, but this is just a test app for Detox E2E runs on CI:
[code]

Do I miss something? Can you point, please?

[2018-04-27 10:52] rotemmiz commented on #694
@noomorph , he refers to the packager port.
react-native cli has support for running the both the packager and the app on different ports for debug builds.

All it requires is running the build command with `RCT_METRO_PORT` as env variable.

I think running detox commands with this env var set will solve your problem.

`RCT_METRO_PORT=8099 detox build {params}`
`RCT_METRO_PORT=8099 detox test {par

[2018-04-27 12:14] Joshyvarun opened #697 "Hi, currently there is an issue while dealing with slider in our app, how to run the test to move the sliders"
### For usage help, ask a question on Stack Overflow with the `detox` tag. The issues section of the project is meant for opening bug reports and enhancement requests of Detox. We use it to automatically track the [change log](https://github.com/wix/detox/blob/master/CHANGELOG.md)

### IMPORTANT: Use search before opening an issue. Duplicate issues will simply be closed.

#### Description

#### St

[2018-04-27 12:14] #697 closed

[2018-04-27 13:34] Stanok3694 commented on #627
Hi. I had the same issue now, when I tried to install detox into my RN 0.50.3 project...

PS C:\Aigh\hb-aigh-main-fe> npm i detox --save-dev

and after this I have got following error:
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! detox@7.3.4 postinstall: `scripts/postinstall.sh`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the detox@7.3.4 postinstall script.

What does it mean?

[2018-04-27 13:37] rotemmiz commented on #627
It means that Detox doesn't run on Windows currently.

[2018-04-27 22:14] wildseansy commented on #309
@monmonja - I did the same. It definitely messes up the text layout tho, unless you style the touchable with margins to match the line height etc...

[2018-04-28 14:53] DanielMSchmidt commented on #692
I looked into both options with a bit more detail, here are my findings:

### jsjavaparser

It seems nice, but it is unmainted for the last two years, I am unsure if it is really a solid solution. It is based on [PEG.js](https://github.com/pegjs/pegjs), which is pretty maintained, so I would rather try to find inspiration in the good parts of `jsjavaparser` and move it over to the `java-method-par

[2018-04-28 18:05] DanielMSchmidt commented on #692
I started the work here, take a look at my first POC: https://github.com/DanielMSchmidt/java-method-parser/pull/45

[2018-04-29 07:50] Martian2Lee opened #698 "Please include expo app setup in Introduction.GettingStarted.md"

[2018-04-29 07:52] DanielMSchmidt commented on #698
Hey, thank you for your issue. Could you please explain a bit more detailed what you would like to see? Is there a link missing or the explanation itself? Either way, it would be nice if you could provide a PR for that. If you have never done that before please tell me and I will guide you through the process 👍

[2018-04-29 07:57] Martian2Lee commented on #698
Hi @DanielMSchmidt, I used `create-react-native-app` for my project, if I want to use `detox`, how should I config my `package.json`?

[2018-04-29 07:59] menasameh commented on #9
@yogeshthanvi the options for the location permission are:

so you use it as the following
await device.launchApp({ permissions: { location: 'always' } })

[2018-04-29 08:01] DanielMSchmidt commented on #698
I think the instructions you are searching for are not yet on master. There is this PR #630 adding them to our docs. Please look there for the information you seek right now, I will ping the persons involved to get this to master.

I will close this issue as it's a duplicate of #236

[2018-04-29 08:01] #698 closed

[2018-04-29 08:02] DanielMSchmidt commented on #9
@yogeshthanvi Could you tell me where you have looked for this information? Might make sense to add this info right there to help the next person even faster 🤔

[2018-04-29 08:32] DanielMSchmidt commented on #692
Seems pretty feasible, I moved the entire "parser" over to using ASTs and the tests are green. Will do a major release and test it in detox 🤞
The only downside is that it is way slower, instead of a few seconds for the tests to run we are now at ~10 minutes. Not sure how I feel about that, let's see how it affects the generation in detox.

[2018-04-29 11:25] yogeshthanvi commented on #9
@menasameh Thanks man , love you

[2018-04-29 11:33] LeoNatan commented on #9
Please make sure to read the documentation.

[2018-04-29 17:26] cristianosantos95 commented on #695
@vonovak Where can we check the supported versions?

[2018-04-30 13:57] wildseansy commented on #689
@yogeshthanvi - did you try changing your project `package.json` to have
[code]
And then run
[code]

[2018-04-30 14:02] ismaelocaramelo opened #703 "Run tests with different languages"
#### Description
I can´t figure out a way to change the language in the device when running tests.
It would nice to have:
[code]
* Detox: 7.1.0

Thnaks

[2018-04-30 14:17] DanielMSchmidt commented on #703
Just leaving these here as pointers for the implementation:

- iOS: https://stackoverflow.com/questions/27855664/how-to-set-ios-simulator-language-when-launching-via-simctl?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
- Android: https://stackoverflow.com/questions/21712205/change-device-language-via-adb?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_ri

[2018-04-30 16:18] LeoNatan commented on #689
@yogeshthanvi Please don't hijack issues for your problems. Also, GitHub issues is not the place for general usage questions. Please use Stack Overflow. This is the second time you do this in a very short time. Please abide by our community rules.

[2018-04-30 16:25] LeoNatan commented on #682
Can this be closed? I see that the PR has been merged. We will use the other issue to track SourceKitten progress.

[2018-04-30 16:25] LeoNatan commented on #677
@DanielMSchmidt @rotemmiz If the parser has been updated, can we update EG now?

[2018-04-30 16:27] LeoNatan commented on #665
Web views are not supported and it's out of scope. Please mock your API and do not display the web views. Thanks

[2018-04-30 16:28] LeoNatan commented on #656
Web views are beyond our scope right now. Please mock APIs instead of displaying web views. Thanks

[2018-04-30 16:33] DanielMSchmidt commented on #677
What is EG? EarlGrey?

[2018-04-30 16:33] DanielMSchmidt commented on #682
Yeah, sure!

[2018-04-30 16:33] #682 closed

[2018-04-30 16:35] LeoNatan commented on #677
Yes

[2018-04-30 16:35] LeoNatan commented on #682
Thanks

[2018-04-30 16:35] LeoNatan commented on #678
Sorry, I am not the right person for Android input :)
@rotemmiz

[2018-04-30 16:39] LeoNatan commented on #663
@rotemmiz Let's bump the Node requirement.

[2018-04-30 16:40] LeoNatan commented on #661
@rotemmiz In the closed issue, I looked in the JS and didn't see a reason why it wouldn't go through the permissions codepath. Can you think of a reason why it wouldn't?

[2018-04-30 17:00] xcarpentier commented on #665
@LeoNatan, thanks for your response.

I already mocked.

I test my app with appium too and that is possible, why this is not in scope of detox project?

Thanks

[2018-04-30 18:01] LeoNatan commented on #665
Because it's a big task. Research and pull requests are welcome. We use Earl Grey on iOS and Espresso on Android; both I think support some kind of web view manipulation. If someone wants to look, we will be glad to assist.

[2018-04-30 18:31] rotemmiz commented on #661
Please provide a verbose log

[2018-04-30 22:52] rotemmiz commented on #678
When the test runner stops, the device will continue retrying to connect to it (this is by design, though not sure if we still need it).

Anyway, your error comes from code push, not sure it's related to Detox.

[code]

[2018-05-01 01:24] heuism commented on #661
thanks guys for having a look. @rotemmiz you mean the log of the test? which part of the process you are talking about? 👍

[2018-05-01 02:05] TheSavior commented on #589
Stale bot is reminding me that I'm sad that we dropped this.

I feel like I gave up on this because I don't see a path forward with a high level API that gives us the flexibility we need to test the functionality React Native is looking to test, and it sounds like Detox doesn't want to support a low level API to do this.

Is that consistent with the way your team is thinking about this? If not, an

[2018-05-01 07:02] rotemmiz commented on #661
Yes, verbose log of the test, I want to see if it launches applesimutils with correct params

[2018-05-01 08:32] doronpr opened #704 "detox test crash w/ Signal 6 in release mode"
#### Description
Detox crashes after running in release mode.

#### Steps to Reproduce

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.3.4
* React Native: 0.51.600
* Node: 8.9.1
* Device: iPhone8 Plus Simulator
* Xcode: 9
* macOS: 10.13.3

#### Device and verbose Detox logs
[code]

[2018-05-01 08:35] LeoNatan commented on #704
Thanks
This appears iOS related, it's crashing in the `NSMapTable` internals. Not sure yet why.

[2018-05-01 08:40] LeoNatan commented on #704
Could be related to thread safety. `NSMapTable` is not thread safe, so that could be the cause.

[2018-05-01 08:45] doronpr commented on #704
That would make a lot of sense since it only happens in Release mode when the app responds significantly faster and perhaps triggering a race condition. What can we do about it?

[2018-05-01 08:48] LeoNatan commented on #704
I will push a proposed fix soon, and @rotemmiz will release a new version. Let's see if my solution helps.

[2018-05-01 09:05] LeoNatan commented on #704
@rotemmiz Please release a new patch version. Thanks

[2018-05-01 18:54] FuadBalashov opened #706 "Upgrade ws to secure version"
#### Description
The [version of websocket/ws](https://github.com/wix/detox/blob/master/detox/package.json#L57) currently used by detox is 1.1.1. This version has security vulnerabilities due to its usage of Math.random() as noted in [this PR](https://github.com/websockets/ws/pull/832).

This request is to upgrade ws to a secure version (anything after 2.0.0) the current version of ws is 5.1.1.

#

[2018-05-01 18:54] FuadBalashov commented on #706
I am happy to do this upgrade if y'all will merge it.

[2018-05-01 23:37] LeoNatan commented on #706
We would appreciate a PR.

[2018-05-01 23:38] LeoNatan commented on #704
@doronpr Please update on the status when you can. If my solution didn't work, I will reopen the issue.

[2018-05-01 23:38] #704 closed

[2018-05-02 07:08] paulvelzeboer commented on #548
@BenBach nope still same issue... hopefully someone has a solution?

[2018-05-02 07:11] LeoNatan commented on #548
@paulvelzeboer In #645, I asked for an example project reproducing the issue with TrustKit. Please provide that so I can take a look.

[2018-05-02 07:12] DanielMSchmidt commented on #548
Hey @BenBach & @paulvelzeboer Could you create a demo project, so that we can reproduce and find the bug? It would be cool if it would be something like the smallest project possible that shows this error 👍  Thank you for helping us :)

[2018-05-02 07:12] DanielMSchmidt commented on #548
Ah @LeoNatan two idiots one idea ✋ 🤣

[2018-05-02 07:13] LeoNatan commented on #548
Please don’t reopen old issues. Once the demo project exists, open a new issue.

[2018-05-02 07:13] LeoNatan commented on #548
@DanielMSchmidt Hehe. I asked for a demo project twice, but I was never provided with one.

[2018-05-02 08:58] doronpr commented on #704
Solved. Thanks @LeoNatan !

[2018-05-02 09:06] Milesyan commented on #548
I wanted to provide one but I don't know how as I'm not an iOS developer... I'll try to do it next week.

[2018-05-02 09:08] LeoNatan commented on #548
I meant a React Native demo project. Please open a new issue with the project.

[2018-05-02 09:08] #548 closed

[2018-05-02 13:58] ximenean opened #709 "Running test crashes app in simulator"
I've been struggling to test a particular screen in my application and it's currently causing the test to crash the app in the simulator which results in the test suite hanging.

Here is the test that fails

[code]

The Element with the testID "ClientSummary" is a scrollview that renders underneath a modal view that displays when the screen loads initially.

If I don't disable synchronization the

[2018-05-02 16:28] swcisel commented on #709
I encountered the same issue (reloadReactNative followed by tap() would cause tests to time out), and [this](https://github.com/wix/detox/issues/691) fixed it for me.

[2018-05-02 18:01] sheminusminus opened #710 "When setting a custom specs path, incorrect --opts argument is passed to mocha"
#### Description
When updating the package.json detox configuration `specs` value to a subdirectory (instead of project root), the argument passed to mocha for `--opts` is still `e2e/mocha.opts`.

My detox configuration in package.json:

[code]

`detox test` fails on:

[code]

#### Steps to Reproduce
Change the specs path to a subdirectory of project root, move the `e2e` directory to that location

[2018-05-02 20:46] wildseansy commented on #389
I get the same issue as @pietropizzi. When I run in headless mode, my second test fails. When simulator is open, it works fine.

Output in headless mode
[code]

##### My test
[code]

[2018-05-03 07:07] ximenean commented on #709
@LeoNatan could you clarify please?

Running the detox tests with an expectation of a visible element causes the app to crash with the exception shown in the issue. This is not a crash that occurs when running the application or when expecting on a different element.

So to me it doesn't seem like it's an issue with the app itself. So it points to either detox or Earl Grey?

[2018-05-03 07:14] LeoNatan commented on #709
The crash comes from React Native.

This comes from https://github.com/facebook/react-native/blob/be379efc9b677eac039a3d241d03aa4bb10d6a64/React/Views/ScrollView/RCTScrollView.m#L515

So it looks to me like incorrect view management on the app part or RN. As far as I know, Earl Grey does not add subviews. If I’m mistaken, we can always reopen the issues.

[2018-05-03 07:16] ximenean commented on #709
@swcisel - thank you for the suggestion but there is nothing set for the main interface in xcode.

@LeoNatan - thank you for your help.

[2018-05-03 09:40] noomorph commented on #694
I wonder if we can close this one?

[2018-05-03 10:00] noomorph commented on #710
Did you use `runner-config` option in `package.json` as described here?

https://github.com/wix/detox/blob/master/docs/APIRef.Configuration.md#test-runner-configuration

[2018-05-03 10:15] ximenean commented on #709
@LeoNatan done - https://github.com/ximenean/exactlyOneSubviewCrash

If I swap out the `ScrollView` with a plain `View` in the `Main` component or if I remove the `waitFor` it does not crash.

I don't expect you to look at it any further but this is hopefully useful for you to be aware of.

[2018-05-03 10:17] LeoNatan commented on #709
The will look at it to see what’s going on.

[2018-05-03 10:53] noomorph commented on #695
Could you create a public GitHub repository that reproduces your error and link it here, please?

[2018-05-03 14:57] Ljo2017 opened #712 "Detox test overwrites mocha grep option with --grep :android: --invert"
It seems that when running detox test, the grep options in mocha.opts gets overwritten by detox test and therefore not recognised.

Detox command used:
detox test -c ios.sim.release

Log:
node_modules/.bin/mocha e2e --opts e2e/mocha.opts --configuration ios.sim.release     **--grep :android: --invert**

detox info 15:09:15: server listening on localhost:60573...
detox info 1: Searching for device

[2018-05-03 15:35] Rob117 commented on #694
The proposed solution works for me; absolutely. Marking as closed,

[2018-05-03 15:35] #694 closed

[2018-05-03 16:28] rotemmiz commented on #712
For mocha you don't need to use Detox command line tool.
You can actually just use mocha's command line directly:
`mocha e2e --opts e2e/mocha.opts --configuration ios.sim.release`

Every detox cli param is passed almost with no change.

[2018-05-03 18:15] markhu commented on #222
Would Paste text be faster than "simulated" typing? Speed is valuable when running [many] automated test cases.

[2018-05-03 18:28] markhu commented on #290
What was your work-around? I found `replaceText` at https://stackoverflow.com/questions/47536361/typetext-stops-the-detox-thread works a little better sometimes.

[2018-05-03 18:32] LeoNatan commented on #222
@markhu No, it should be the same.
Detox’ future support for Pasteboard will only be for expecting values in the pasteboard, so I don’t see how Detox can be helpful in your case. Replacing text is the fastest way to enter text.

[2018-05-03 18:39] LeoNatan commented on #671
Either way, not a Detox issue.

[2018-05-03 18:39] #671 closed

[2018-05-03 18:41] LeoNatan commented on #42
Out of scope for the project.

[2018-05-03 18:41] #42 closed

[2018-05-03 18:44] LeoNatan commented on #170
Out of scope. I also don’t think this is a good way to test non-HTML apps.

[2018-05-03 18:44] #170 closed

[2018-05-03 18:48] #210 closed

[2018-05-03 18:48] LeoNatan commented on #308
This was implemented already.

[2018-05-03 18:49] LeoNatan commented on #296
Now can we finally close this? 😓

[2018-05-03 18:49] #296 closed

[2018-05-03 18:58] LeoNatan commented on #392
Thinking about this; since setting permissions requires a reboot of the sim, launch is necessary.

[2018-05-03 18:58] #392 closed

[2018-05-03 19:29] Diego-Franco opened #713 "Any option to adopt the robot pattern"
This is a simple question, do you have a plan to adopt the robot pattern for detox?

Sample: [Robot pattern](https://dev.to/adammc331/leveraging-the-robot-pattern-for-espresso-tests)

Some times we have a lot of duplicate code, and will be nice to have clean code for unit test.

[2018-05-03 22:31] rotemmiz commented on #713
This completely up to you how to write your unit tests, you can adopt this pattern even now, it's just reformatting your test code.
You can extract any duplicate login to helper functions/drivers/whatever-else.

[2018-05-03 22:32] #713 closed

[2018-05-04 07:38] noomorph commented on #712
@Ljo2017  if you provide a function covered with integration tests that is able to merge `:platform` with an arbitrary user input, I think we could actually use it for mocha in next releases.

[2018-05-04 07:45] noomorph commented on #680
@DanielMSchmidt , maybe I'm a bit outdated on this subject and don't understand some latest things, but how do you think: maybe simple adding  `david-dm` badges already could make 80% of helpful impact for us? If yes, maybe you could prepare PR with this, of course if the repo owners will also agree to add it.

[2018-05-04 07:51] noomorph commented on #680
@LeoNatan , the positive impact that we keep track of vulnerabilities in packages we use. Honestly speaking, I don't know whether we need to worry about vulnerabilities as detox is just a tool on a dev and CI environment that is not running 24/7 publicly open. But it is a nice to have indeed.

We can recall an example with `ws` package. It is listed here:

https://david-dm.org/wix/detox?path=detox

[2018-05-04 07:58] DanielMSchmidt commented on #680
@noomorph I disagree there, the tool you linked only picks up one `package.json` it seems and I think having something telling us that we have outdated dependencies is not as helpful as something doing PRs with dependency updates.

[2018-05-04 08:01] LeoNatan commented on #680
Since Detox is a local tool meant for development, I see vuln considerations as moot. On the other hand, we should strive to push versions of open source where it improves our development experience (such as Node).

[2018-05-04 10:26] compojoom opened #714 "Can't launch android simulator"
### Description
Updated to 7.3.5 and running `detox test --configuration android.emu.debug` doesn't get past the launching of the emulator. In 7.3.3 the emulator was actually launching. (running the test on iOS works as expected)

#### Steps to Reproduce
"android.emu.debug": {
				"binaryPath": "android/app/build/outputs/apk/debug/app-debug.apk",
				"build": "pushd android && ./gradlew assembleDe

[2018-05-04 12:38] rotemmiz commented on #714
This fixes your issue
https://github.com/wix/detox/commit/25e59e60538df1fb02b464f19297c4723b136d0e

It's already in master, will be released with next version.

This is happening since there is now double space in the emulator command in case you don't pass --headless indetox params.
You can either fiddle with the file in node modules, or run in headless mode. Not ideal, but a version will be rele

[2018-05-04 12:55] compojoom opened #715 "Possible to specify Scroll start location?"
Ok, this might be considered a question and something for stackoverflow, but it's also kind of a bug/feature?

In our interface we have an absolutely positioned element over a scroll view. Trying to do scroll to Top fails. Here is a gif.
![2018-05-04 14 50 57](https://user-images.githubusercontent.com/693770/39628855-a20554fc-4faa-11e8-9026-f7b36572c643.gif)

Is there a way to specify a start posi

[2018-05-04 13:17] compojoom commented on #714
@rotemmiz - thanks. Tested and now the Emulator is launching.

The app is not launching, but at least the emulator is...

[2018-05-04 13:17] #714 closed

[2018-05-04 18:30] krazykira commented on #209
If you have a login screen then use `"\n"` at the end of the field you want the keyboard to close.

e.g:

[code]

[2018-05-04 20:55] LeoNatan commented on #715
This is something we want, but have not had time to implement. #154 #589

[2018-05-04 20:55] #715 closed

[2018-05-06 09:40] compojoom commented on #395
It took me a day to come to the same conclusion, but yea - it's RNDeviceInfo. The second I remove it from mainApplication.java and the tests start on android.

doing @machour's change also fixes the issue. Is this something that detox can go around or should we look for ways to fix this in RNDEviceInfo? I don't see anything out of the ordinary that deviceInfo does. https://developer.android.com/re

[2018-05-06 09:46] compojoom opened #716 "test runs fine on iOS, but tails on Android"
I have a simple login test:
[code]

This works fine on iOS. The user is logged in and sees the companiesScreen. The test fails on Android at the last line:
await expect(element(by.id('companiesScreen'))).toBeVisible()

If I change this to:
    await waitFor(element(by.id('companiesScreen'))).toBeVisible().withTimeout(4000)

Then it works on android as well. The navigation in our app is done by rea

[2018-05-07 04:40] rotemmiz commented on #716
What version of react native do you use?
Is there any setTimeout in your code which is set to run with delay smaller than 1500ms?

[2018-05-07 08:20] Angry-Potato opened #717 "Detox hangs on circleci"
#### Description
Installed Detox 7.3.5 in a RN project, configured with jest as the test runner. Runs fine locally, all tests pass in a speedy fashion. The tests never pass on circleci, detox appears to hang as the debug sync output reports it as forever busy. My hunch is that this is a side effect of the very low spec circleci macos box but it would be nice to have some validation.

#### Steps to

[2018-05-07 08:47] LeoNatan commented on #410
Thanks for implementing!

[2018-05-07 08:47] #410 closed

[2018-05-07 10:50] krazykira commented on #395
Any update on this as @ilonashub . i am getting the same behaviour here. the app launches but gets stuck and no tests are performed. Everything works fine when i use the emulator. btw i already did

`adb reverse tcp:8081 tcp:8081`

The log that is displayed by `detox test -c android.emu.debug - --debug-synchronization 300 -l verbose`

[code]

[2018-05-07 18:54] diegolmello commented on #717
Yeah, it's happening here too.

[2018-05-08 09:13] savelichalex commented on #571
I added new property to configuration in this [commit](https://github.com/savelichalex/detox/commit/d97883a9e9a81d95f4be610b79bced6d17b76b72). What do you think about it? Is it ready for PR or I need to add some sort of tests?

[2018-05-08 16:14] compojoom opened #718 "Detox and react-native-maps"
I'm trying to test the map functionality of our app, but I'm failing on interacting with our markers.

React-native-maps doesn't have a testID on it's markers, but there is an open Pull-request that ads it, so I decided to give it a try and see if I can make detox work with it.
https://github.com/react-community/react-native-maps/pull/1170/files

I've added the changes, I've captured a snapshot of

[2018-05-08 18:09] DanielMSchmidt opened #719 "Move IOS Driver to generated code"
As a step in the direction of purely relying on generated code for the native adapters, we need to move the iOS Driver file `detox/src/devices/IosDriver.js` to use generated code. It still uses not generated code to trigger the device rotation.

[2018-05-09 18:28] esusslin commented on #395
I am currently experiencing the exact issue @krazykira is facing.

Any update on this?

[2018-05-09 18:57] LeoNatan commented on #718
Seems like a similar issue to #250. PRs are welcome.

[2018-05-09 18:57] #718 closed

[2018-05-09 21:01] wildseansy commented on #536
another temporary workaround is you can edit the e2e/mocha.opts, and [add a `grep` argument](https://mochajs.org/#usage) to only run a test file matching a certain string

[2018-05-09 23:06] markhu commented on #617
I don't think @wildseansy 's issue #691 is similar, since it isn't about the infamous `Signal 11 was raised` issue.

    Signal 11 was raised
    ( 0   Detox                               0x000000010589b4ff _ZL16__DTXHandleCrashP11NSExceptionP8NSNumberP8NSString + 469
    1   Detox                               0x000000010589b2ab _ZL17__DTXHandleSignali + 54
    2   libsystem_platform.dylib

[2018-05-10 02:30] Milesyan opened #720 "[Android]Detox failed to run in hybrid app(the react native page is not in the first screen)"
#### Description
When I run detox in my Android hybrid app, the app launches but immediately closes.

#### Steps to Reproduce
Follow the guide for android to build apk for Android. Run tests from command line.

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: "^7.3.4"
* Node: v9.2.1
* Device: Android Emulator
* Xcode: 9.3
* macOS: 10.13.3
* react-native": "0.44.0"
The project is using

[2018-05-10 03:35] Milesyan opened #721 "Detox fails with TrustKit integrated"
#### Description
App crashed when I start to run the test in demoProject. If TrustKit is not integrated or  ```kTSKSwizzleNetworkDelegates: @YES``` is not added in trustKitConfig, everything works fine.

### Demo Project
[demoProject.zip](https://github.com/wix/detox/files/1990262/demoProject.zip)

#### Steps to Reproduce

1. yarn/npm install
2. build app with: ```detox build -c ios.sim.debug ```

[2018-05-10 12:43] LeoNatan commented on #721
Thanks!

[2018-05-10 16:44] bmakuh commented on #717
yes, we saw the same

[2018-05-11 05:36] IljaDaderko commented on #95
@LeoNatan since it can tun on a real device will it be possible to somehow integrate Detox tests into firebase test lab? Especially now with iOS support announced, could be very powerful.

[2018-05-11 07:18] Angry-Potato commented on #717
@diegolmello @bmakuh have you guys managed to work around this?

[2018-05-11 14:27] LeoNatan commented on #627
@jhen0409 Could you please open a new issue? Also, would appreciate a PR :-)

[2018-05-11 17:06] Protothor commented on #164
So, here's the hack my team used to fix this problem...
in our package.json scripts section we added a "postinstall"
[code]
and then we added the fix from PR 458 into the postinstall.js
[code]

[2018-05-11 17:07] LeoNatan commented on #95
Unfortunately we have not yet implemented real device support.

[2018-05-11 19:34] Leeds-eBooks commented on #164
An alternative option is https://github.com/ds300/patch-package which automates this process of manually patching an npm package and makes it safer by committing the patch to git.

[2018-05-11 20:26] bmakuh commented on #717
@Angry-Potato unfortunately no. We were on the two week macOS trial to try to get it running, and we were never able to before the trial ran out.

[2018-05-11 20:40] markhu commented on #716
It is important to note which version of react-native your project uses, as there have been known-incompatibilities with wix-detox from time to time. Last time I was able to use them together was RN 49.

[2018-05-12 10:06] DanielMSchmidt opened #724 "Move Android Driver to generated code"
As a step in the direction of purely relying on generated code for the native adapters, we need to move the iOS Driver file detox/src/devices/IosDriver.js to use generated code. It still uses not generated code for most of its actions, e.g. pressing home, opening from URL, setting the orientation and managing synchronization

[2018-05-12 10:09] DanielMSchmidt opened #725 "Move Android Matchers to generated code"
As a step in the direction of purely relying on generated code for the native adapters, we need to move the Android Matchers file `detox/src/android/matcher.js` to use generated code. It still uses not generated code to for the `LabelMatcher`, we need to change that.

[2018-05-12 10:12] DanielMSchmidt opened #726 "Move Android Interactions to generated code"
As a step in the direction of purely relying on generated code for the native adapters, we need to move the Android Interactions located at `detox/src/android/expect.js` to use generated code.  None of the interactions are moved to generated code, so this might potentially be a bigger task, given that CI does not work with android currently.

[2018-05-12 11:29] markhu commented on #241
Clickable links to SO:
* https://stackoverflow.com/questions/tagged/detox
* https://stackoverflow.com/questions/46550137/detox-tap-button-only-if-exists (conditional)

[2018-05-12 16:42] noomorph commented on #171
Quick update, guys. We've found a sweet spot between what is best and what is just good enough.

The work is going on in this (last and final) artifacts branch: https://github.com/wix/detox/compare/feature/test-artifacts . To great relief, there's no need to scatter work across branches - I have a focus now (at last :).

Within next couple of days, I'll create a new WIP Pull Request instead of htt

[2018-05-13 04:33] noomorph commented on #512
This issue is resolved, right? Can we close it, @rotemmiz ?

[2018-05-14 02:30] lalka-workco commented on #608
The [documentation](https://github.com/wix/detox/blob/master/docs/Introduction.Android.md) links to this ticket, and this ticket is closed but the issue is not fixed for RN >=52. Can we get a new ticket or re-open this one?

The documentation indicated it doesn't work with RN>=50 so that might need to be updated as well.

[2018-05-14 04:39] compojoom commented on #718
@LeoNatan - don't fully agree with the duplicate tag. RN-maps doesn't support testID - this is why #250 doesn't work. But I've added a testID property now and as you can see from the screenshot above - it's applied to the generated views. However detox still doesn't see the elements

What does this mean:
[code]

Does it mean that detox is seeing the element, but thinks that it isn't sufficiently v

[2018-05-14 05:51] compojoom commented on #718
Ok, to answer my question myself :) It seems that the marker exist for detox, but for some reason it's not able to see it.

This code doesn't throw an error:
`await expect(element(by.id('marker'))).toExist()`

The problem is that I can't match anything inside of it. And now by the look of it - there is no view inside of the marker. Starting to think that the marker is not a UIView, but some sort o

[2018-05-14 08:53] LeoNatan commented on #718
Is it visible on screen when attempting?

[2018-05-14 08:54] LeoNatan commented on #718
What happens if you use the Apple Maps service rather than Google?

[2018-05-14 09:02] LeoNatan commented on #718
I think in Apple Maps, the marker can be a view, but could be that in Google Maps, the marker could be a CALayer directly, or their internal vector representation.

[2018-05-14 09:04] LeoNatan commented on #718
Indeed, [`GMSMarker`](https://developers.google.com/maps/documentation/ios-sdk/reference/interface_g_m_s_marker) inherits from [`GMSOverlay`](https://developers.google.com/maps/documentation/ios-sdk/reference/interface_g_m_s_overlay), but it's just an `NSObject`.

[2018-05-14 10:02] #716 closed

[2018-05-15 11:33] akqaaditya opened #730 "What is difference between both 2"
### For usage help, ask a question on Stack Overflow with the `detox` tag. The issues section of the project is meant for opening bug reports and enhancement requests of Detox. We use it to automatically track the [change log](https://github.com/wix/detox/blob/master/CHANGELOG.md)

### IMPORTANT: Use search before opening an issue. Duplicate issues will simply be closed.

#### Description

#### St

[2018-05-15 11:36] akqaaditya opened #731 "What is difference between both 2 await expect(element(by.id('destination')).tap(); for this getting error and when trying this await expect(element(by.id('destination'))).toBeVisible().tap(); and for this also getting error"
For 1st Below is Error:
Error: Command failed: node_modules/.bin/mocha e2e --opts e2e/mocha.opts --configuration ios.sim.debug     --grep :android: --invert
    at checkExecSyncError (child_process.js:596:11)
    at Object.execSync (child_process.js:633:13)
    at runMocha (/Users/aditya.pare/ios/appofcards/node_modules/detox/local-cli/detox-test.js:105:6)
    at run (/Users/aditya.pare/ios/appofc

[2018-05-15 11:56] #731 closed

[2018-05-15 11:56] #730 closed

[2018-05-15 13:10] Angry-Potato commented on #717
@diegolmello @bmakuh I dropped to an early node 8 version, and detox now runs fine.

[2018-05-15 13:10] #717 closed

[2018-05-15 16:14] Naoto-Ida commented on #640
We have the same use-case and would love to be able to disable it.

[2018-05-15 20:51] tomatobrown opened #735 "Missing ability to pass argument when not using Mocha/Jest"
#### Description
No way of passing commandline arguments unless I use Jest or Mocha, I'm using Cucumber some functionality is limited because of this.

#### Steps to Reproduce
Include `await detox.init(config);` in the hooks file of my cucumber framework and have > 1 configuration inside of package.detox.  In this scenario, I have no way of telling detox which configuration to use.

#### Possible

[2018-05-15 21:31] tomatobrown commented on #735
nice, this works great

[2018-05-15 21:31] #735 closed

[2018-05-16 05:29] jonleighton commented on #709
I'm having the same issue.

[This ticket](https://github.com/wix/detox/issues/86#issuecomment-284388418) provides a clue:

I think the magic happens here: https://github.com/google/EarlGrey/blob/24044cf14426e6536ceeec36a6e76076881b4250/EarlGrey/Common/GREYVisibilityChecker.m#L623-L627

[2018-05-16 12:36] kormang commented on #395
@ghsdh3409 's answer fixed it for me.

I had to put:
`androidTestImplementation 'org.mockito:mockito-android:2.7.22'` to `app/build.gradle`
or for previous versions of gradle:
`androidTestCompile 'org.mockito:mockito-android:2.7.22'`

These are imports:

[code]
And at the end, I have put @ghsdh3409 's code in `DetoxTest.java` from `androidTest` directory.

(For those lazy like me, so that you don'

[2018-05-16 13:35] compojoom commented on #395
thanks @ghsdh3409 @kormang - tests are finally launching on android!

[2018-05-16 14:39] rfader opened #736 "iOS Permission - HealthKit"
#### Description

We're using HealthKit in our app, which seems like it's supported in the argument of `launchApp`. However, we are still experiencing the permission sheet showing, which times out the remaining detox tests.

#### Steps to Reproduce

The first test case runs this:
[code]
As provided below, this causes, what seems to be, the correct command to applesimutils.

Further in the app flow

[2018-05-16 15:01] JakeHiggins commented on #164
Protothor, any status on the pull request for this? it was closed 5 days ago for inactivity.

[2018-05-16 20:11] StefanWallin opened #737 "Where is the output for the UI Hierarchy?"
#### Description
When you write a test that can't find an element in a UI hierarchy, detox will output the following message mentioning that:

[code]

No such output is generated. It would've been very helpful.

#### Steps to Reproduce
1. Write a test with an expect matcher for a non-existing ID
2. Run the detox tests

#### Detox, Node, Device, Xcode and macOS Versions
* Detox: 7.3.3
* React Nativ

[2018-05-17 01:02] heuism commented on #164
@Protothor I tried the approach you put. However, It doesn't seems to be working with nested scrollview or maybe the one I am using is 1 scrollview outside and a flatlist inside? Thank you.

[2018-05-17 18:17] tastafur commented on #330
@LeoNatan I just had this problem, in the end, this was fixed?

[2018-05-17 21:43] #594 closed

[2018-05-17 22:27] baranpirincal opened #738 "Logo proposal"
Hey, my aim is make my portfolio better with contribute on open source projects in field of graphic. If you interested I can make a logo design for Detox. I can show my portfolio if you interested. I am waiting your feedback! Have a nice day.

Best Regards,
Baran Pirincal
Visual Communication Designer

[2018-05-17 22:28] rotemmiz commented on #738
YESS!!!!!!!!!!!!!!!!!!!!!!!!!!

[2018-05-17 22:32] baranpirincal commented on #738
@rotemmiz Do you have an idea or suggestion about design&decision. Should design contain letters of Detox or is it not necessary?

[2018-05-17 22:37] rotemmiz commented on #738
Not really an expert in the field, but I think the logo should be a drawing, no text.
Something that may translate into an icon or sticker in a good way.

[2018-05-17 22:41] rotemmiz commented on #738
We had a few ideas in the past, but non translated in a good way to a logo, I don't want to limit anything.
What did you have in mind ?

[2018-05-17 22:47] baranpirincal commented on #738
@rotemmiz Actually I will examine your project firstly. After that I will share my first experiments with you. If you want to show any object, metaphor or something like that you can share with me. It will be better for me

[2018-05-17 23:27] LeoNatan commented on #738
Please no juices or drinks. 😜

[2018-05-17 23:30] LeoNatan commented on #737
Hmm it used to be printed in the past. @rotemmiz ?

[2018-05-17 23:30] LeoNatan commented on #736
This is not the place for this issue. Please open a new issue on AppleSimUtils and if possible, share some code examples.

[2018-05-17 23:37] LeoNatan commented on #736
https://github.com/wix/AppleSimulatorUtils

[2018-05-17 23:37] #736 closed

[2018-05-17 23:59] LeoNatan commented on #738
BTW, thank you for offering this. We are humbled by such an offer!

[2018-05-18 03:57] ylac opened #739 "Access configuration name within spec file"
#### Description

Would be great to be able to access the configuration name from within the spec files. I currently have a test that will break in either the debug or release variant of my app because of an app rating modal that will show up after a different number of times depending on the variant.

[2018-05-18 05:22] heuism opened #740 "Detox timed out in before all"
* Detox: 7.0.1
* React Native: 0.51.0
* Node: 8.7.0
* Device: iPhone 8 Plus
* Xcode: 9.1
* macOS: CI

#### Device and verbose Detox logs
[code]

this is really random and I am unsure why? I have the comparison between the pass and the failed one. The only difference I can see is this one:
[code]
vs
[code]

Thanks

[2018-05-18 05:42] rotemmiz commented on #739
Not sure you're going the right direction. Instead if the test having knowledge of the config, split your tests, or use repackager to add mocked confog. Anyway here's how you can do it, read the comments thread as well
https://stackoverflow.com/questions/49323694/how-to-get-the-currently-active-configuration-in-a-detox-test/49426119#49426119

[2018-05-18 05:42] #739 closed

[2018-05-18 07:59] Gongreg opened #741 "Detox overrides React Native Navigation statusBarHidden"
#### Description
Detox overrides React Native Navigation statusBarHidden with true.
When app is ran through detox the status bar is visible, even though it is set to false on RNN.

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.3.3
* React Native: 0.51
* Node: 8.7.0
* Device: Iphone 7
* Xcode: 9.3.1
* macOS: 10.13.3

[2018-05-18 08:04] rotemmiz commented on #741
This doesn't make much sense. StatusBarHidden is an internal property of RNN, Detox doesn't touch it.
The bug might be cussed by something else.  Can you provide a reproucable scenario ?

[2018-05-18 08:10] jaumevn commented on #194
Hey there, I was trying to do the same, but using @anton6 didn't work for me now. Is there any other way to accomplish this? Thanks!

[2018-05-18 09:54] LeoNatan commented on #741
I don't see how that can be, as Detox does not touch that part of the UI. Please provide a demo project.

[2018-05-18 11:09] tastafur opened #742 "detox test ios travis with error: Timeout of 120000ms exceeded"
#### Description
I'm trying to run the tests on Travis. In local the tests work but tried to run the tests in travis and the typical error of `Timeout of 120000ms exceeded` occurs

#### Setup
#### package.json
[code]
#### travis.yml
[code]
#### Command npm
`"test:e2e:detox:travis": "detox build -c ios.sim.debug && detox test -c ios.sim.debug -u -l verbose"`

#### Detox, Node, Device, Xcode and mac

[2018-05-18 11:12] rotemmiz commented on #742
From your log
[code]

[2018-05-18 11:25] tastafur commented on #742
@rotemmiz thank you we have realized that it comes from this part

[2018-05-18 11:28] #742 closed

[2018-05-18 14:11] eflath commented on #635
I'm referring to
https://github.com/wix/detox/issues/103
and https://github.com/wix/detox/issues/164

some combination of these two issues had made it impossible to scroll list views in my app via detox. After typing this yesterday, though, i tried applying this PR as a patch https://github.com/wix/detox/pull/458/files as suggested in the second thread. That works for me so we're unblocked, but st

[2018-05-18 19:17] bhb commented on #289
I'm still running into this with version 7.3.7

[2018-05-18 20:52] OkancanCosar commented on #538
https://github.com/wix/detox/blob/master/docs/More.AndroidSupportStatus.md

`"android.emu.release": {
        "binaryPath": "android/app/build/outputs/apk/release/app-release.apk",
        "build": "cd android && ./gradlew assembleRelease assembleAndroidTest -DtestBuildType=release",
        "type": "android.attached",
        "name": "192.168.56.101:5555"
      }
`

[2018-05-19 09:44] #566 closed

[2018-05-19 13:10] DanielMSchmidt commented on #724
To transform the UIAutomator we need to download and generate for this part: https://android.googlesource.com/platform/frameworks/uiautomator/+/master/src/com/android/uiautomator/core/UiDevice.java#217

[2018-05-19 13:38] rotemmiz commented on #724
https://github.com/wix/detox/pull/618

[2018-05-19 13:48] DanielMSchmidt commented on #740
I get that you are using detox on CI, could you tell us which CI and how long the default timeout for cucumber is?

[2018-05-19 17:02] DanielMSchmidt opened #744 "Move generator code to babel-template"
Our current generator code is messy because building ASTs with `babel-types` is very verbose. If we switch to `babel-templates` we will have a lot less code and it's way easier to read and understand.

### Current implementation

[code]

### New implementation with `babel-template`

[code]

[2018-05-21 00:46] heuism commented on #740
@DanielMSchmidt: FYI, the CI I am running on CircleCI 1.0. and the time out for the before hook is 120 seconds for before and after, for each step I put it 60 seconds.

@rotemmiz:
Can I ask how can I get the simulator log on CI when I run detox? thank you

Also, I tried to update to latest version but the flakiness of passing and failing of the before hooks it happens and it pass and fail randomly

[2018-05-21 06:56] heuism opened #747 "Where to locate these settings"
![image](https://user-images.githubusercontent.com/8481265/40294116-91500d08-5d17-11e8-89be-708ce44adc3d.png)
Hi guys, thanks for a wonderful framework.

I just happened to find these lines when looking for updating the frameworks as

It is not a bug, just want to figure out which version of detox has these features of video and screenshots as artifacts.

Kind regards.

[2018-05-21 12:49] anton6 commented on #194
@jaumevn which iOS version? Do you know if it's the by.label or by.type part that fails to find the element?

[2018-05-22 09:38] Ljo2017 commented on #712
@noomorph we've made changes to merge the platform grep expression with the existing grep options in mocha.opts file and tried to make a pull request but got a permission denied error.

ERROR: Permission to wix/detox.git denied to Ljo2017.
fatal: Could not read from remote repository.

Could you give me access to the repository to make a pull request?

[2018-05-22 10:13] jaumevn commented on #194
It fails in the by.label part, I'm using iOS 8.2 version.

[2018-05-22 11:05] noomorph commented on #747
It is a work-in-progress feature at the moment. It is close to the finish but not stable enough to be used on CI.

If you wish to try it out locally and feel adventurous, you can try use directly this branch: https://github.com/wix/detox/tree/feature/test-artifacts?files=1

Please mind that this is an unreleased feature and I’m afraid we cannot provide a proper informational support for it.

The f

[2018-05-22 12:23] #747 closed, assigned to nobody

[2018-05-22 12:45] LeoNatan commented on #721
I see the issue. Not sure if there is much I can do, it's a problem with Earl Grey. Investigating.

[2018-05-22 12:51] baranpirincal commented on #738
@LeoNatan @rotemmiz

Hey, you're welcome. I made my first experiment, what do you think about?

I tried to make a logo design that translate into an icon or sticker as you said. However, please feel free to say any request,idea and feedback.

![detox](https://user-images.githubusercontent.com/37786733/40362632-c49224da-5dd5-11e8-9b42-1c127e842b0d.jpg)

![detox2](https://user-images.githubuserconte

[2018-05-22 13:23] LeoNatan commented on #721
PR: https://github.com/google/EarlGrey/pull/710

Detox is blocked until this is pulled and we can upgrade.

[2018-05-22 15:39] Ljo2017 commented on #712
Thanks @noomorph.
Created a PR https://github.com/wix/detox/pull/748.

[2018-05-22 21:54] wontonst opened #749 "Detox hangs after launching app, hits jest timeout"
#### Description

Detox correctly loads up and runs the app, but gets hung when the app is in the foreground. Based on #689 it's because the app is having trouble communicating with the detox server.

What is weird is that everything runs fine on x86 android 27 but does not on arm64 android 25. Device configs are pretty much identical. I need the arm64 because I'm doing CI and I want it to run on

[2018-05-23 03:18] rotemmiz commented on #749
Form the log it seems like everything works correctly. Arm emulators are somewhere between 10 to 50 times slower, is going to be a very bad experience (I wouldn't even bother try running on arm since it really is too slow).
Travis doesn't support x86 either. 😒

[2018-05-23 09:32] gomdolkim commented on #524
what I found is stuck in `Espresso.registerIdlingResources` which is deprecated.

https://github.com/wix/detox/blob/master/detox/android/detox/src/main/java/com/wix/detox/ReactNativeSupport.java#L336

when calling `setupRNQueueInterrogator` with `FIELD_JS_MSG_QUEUE`, it could reach to Espresso.registerIdlingResources. rest of things don't call it.
https://github.com/wix/detox/blob/master/detox/and

[2018-05-23 10:47] abdulkhaliquem9 opened #750 "Device farming services issue. Need to test the app on multiple android and IOS devices."
Is there any service which supports device farming to test the test suite on different devices. I am facing this problem as AWS (Amazon web services)  does not support device forming for react-native apps.

Need help! Please inform or suggest if some body is using these kind of device farming third party services for testing the detox test cases.

[2018-05-23 13:09] chyrta commented on #749
@wontonst We were using CircleCI in our project, but then decided to try Bitrise. It took more than an hour to migrate our configuration to the service. They allow to use x86 Android emulators on Linux-based containers.

[2018-05-23 16:54] wontonst commented on #749
@rotemmiz thanks for getting back to me. my thought process is I slug through this awful arm slowness, then forget about it and let the ci tests take however long they want to take. I'm also a masochist for frustrating tech issues 😃

Here are some more logs of when detox hangs, do these look normal? The line `testee not connected, cannot fw action` doesn't seem right.

[code]

[2018-05-24 11:55] LeoNatan commented on #741
Reproduced in example project.

[2018-05-24 13:04] LeoNatan commented on #741
You wound't believe. It's the touch indicator open source. 😂 Fixed

[2018-05-24 13:05] #741 closed

[2018-05-24 20:19] moQuez opened #752 "Adding the possibility to specify a test runner path besides from local ./node_modules"
#### Description

This is a simple request for allowing the user to specify a different path for the test runner. Either Jest or Mocha.

#### Steps to Reproduce

Simply don't have jest or mocha installed as a dependency locally but in another top level package.json (when working with monorepos)

#### Why?

I am working with a team that uses a monorepo and the have already jest and many other tools

[2018-05-25 13:04] moQuez commented on #752
Btw I made a PR to solve this https://github.com/wix/detox/pull/753

[2018-05-25 15:36] moQuez commented on #116
@vasyas how are you setting up the state with launcUrls? I'd like to insert an auth token on AsyncStorage so I could run tests independently from the atuh spec

[2018-05-26 18:21] #719 closed

[2018-05-27 07:36] LeoNatan commented on #738
Thanks for working on this!
We’ve discussed this a little internally and were thinking that maybe an automation robot could fit this project. What do you think?

[2018-05-27 09:35] hiepnm commented on #602
@LeoNatan I still get this error on detox 7.3.3

[2018-05-27 11:11] hiepnm commented on #524
I got this problem on both iOS and Android :(

[2018-05-27 18:34] vasyas commented on #116
@moQuez that's exactly what I was doing with launchUrls.

In my app I had a block in my bootstrap code that checks whether app was launched with launchUrl (and listens to the launchUrls changes as per RN doc). If launch url contained auth token - I initialized app state with it.

[2018-05-28 08:07] yogeshthanvi opened #754 "Is there any way to prioritise or sequencing the test file"
I am trying to execute different test cases which I have created in different test files. I want to sequence these test file so that the execution will pick the test files on the basis of sequence . It would be really great if someone can help me on this.

[2018-05-29 17:29] DanielMSchmidt opened #756 "Errors when a device is not appear late and are unclear."
#### Description

When I start the tests and don't have the right device set up I normally (read: before parallel test execution) get an error right away warning me that the device could not be started. After this new feature I get a fail reported for each item in the test suite and they all look different. Here are all of the uniquely different ones, so you can get a better picture:

[code]

####

[2018-05-29 17:40] rotemmiz commented on #756
As I stated, still missing the docs, this is only for iOS in the meantime.
Android has some issues

[2018-05-29 17:41] rotemmiz commented on #756
Mainly the handling of device creation. On iOS it's pretty simple, on Android there are endless permutations of device types we're able to create, and the we need to think what would be the best API for that.

[2018-05-29 19:03] lalka-workco opened #757 "[Android] scroll does not finish before tap occurs"
#### Description

When using the scroll/scrollTo command before a tap command the tap happens before the scroll is finished which causes the button to be clicked improperly. It appears as if the tap is happening at the same time as the scroll which means it does not trigger the onPress call.

In this scenario the button we want to tap is currently off the screen but we are trying to scroll it into

[2018-05-30 01:20] Mokto opened #758 "Detox should allow us to set configuration outside package.json"
#### Description
Hi, it would be nice to configure detox outside package.json.

I get a `Cannot read property 'configurations' of undefined` when removing the configuration from package.json.

The reason behind this is that I have a lot of configurations, running them via a matrix Travis job.

#### Detox, Node, Device, Xcode and macOS Versions

* Detox: 7.3.7
* React Native: 0.55.4
* Node: 8
* Dev

[2018-05-30 10:06] jigishred opened #759 "Unusual gradle error while running e2e tests in detox/test directory."
#### Description
I am exploring the detox code and add some project specific functionality eventually.
In the `detox/test` directory, I tried running `npm run build:android && npm run e2e:android` and it throws a gradle specific error, as far as I can understand.

#### Steps to Reproduce

- git clone git@github.com:wix/detox.git
- follow [Contributing Guide](https://github.com/wix/detox/blob/maste

[2018-05-30 10:16] rotemmiz commented on #759
It's an issue with building react native from source.

You can ignore it by either removing the following lines:
https://github.com/wix/detox/blob/master/detox/test/android/app/build.gradle#L65
https://github.com/wix/detox/blob/master/detox/test/android/settings.gradle#L8

Or run the patch in scripts/ci.android.js

[2018-05-30 13:09] moQuez commented on #164
I just used @Protothor approach but with @Leeds-eBooks patch-package recommendation... Works like a charm...

[2018-05-30 14:35] jigishred commented on #759
Thanks for the response. I will give it a try.

[2018-05-30 15:32] rotemmiz opened #761 "Android: force matchers to ignore layouts with GONE visibility"
If two labels/ids exist with the same name, where one is gone and other is visible, android matchers will match both, and throw multiple match error.
Add visibility check to matched views in
https://github.com/wix/detox/blob/master/detox/android/detox/src/main/java/com/wix/detox/espresso/DetoxMatcher.java#L35

[2018-05-30 16:45] yershalom commented on #759
Hi @jigishred ,

Please update me if it's ok

[2018-05-30 16:46] yershalom commented on #754
Hi @yogeshthanvi ,

You can give the files numbers, for example:
01-test.e2e.js
02-test.e2e.js
...

[2018-05-31 02:50] jigishred commented on #759
@rotemmiz : Your solution of ignoring the `ReactAndroid` project worked.
cc: @yershalom
Thank you.

[2018-05-31 03:01] #759 closed

[2018-05-31 04:41] heuism commented on #740
@rotemmiz, I just tried the latest one 7.3.7 and the get the device log from it as well

[code]

However, I already did Run package manager there, also bundle iOS. Most of the time it pass, sometimes it failed. I am running CircleCI 2.0
![image](https://user-images.githubusercontent.com/8481265/40761798-923f1ada-64e0-11e8-83bf-40396baa1574.png)

[2018-05-31 18:48] tomatobrown commented on #97
@rotemmiz are you saying that if we get parallel support working that we should be dependant on using Jest?

[2018-05-31 19:26] rotemmiz commented on #97
Support has just landed in master with the merge of #609 .
This has no real relation to Jest, we just made Detox process safe. The critical part of choosing a free device to run on and then commiting it to just one process is the essence of the multi sim support. Jest supports parallelization with execution of multiple processes, but there are other test runners which do the same, like AVA. Unfort

[2018-05-31 19:27] rotemmiz commented on #97
This will be shipped with Detox 7.4.0

[2018-05-31 19:27] #97 closed

[2018-06-01 10:09] Eyesonly88 commented on #210
@abdulkhaliquem9 adding a testID would find the `inputText` even if it was autofocused. However, since the library you are using doesn't have a `testID`, if I were you, I would either implement the component from scratch without needing the library or just fork the library and add a `testID` to make it easier but yeah not ideal.

[2018-06-01 12:07] akqaaditya commented on #155
I am also facing same issue could anyone provide solution
test hanginh and after sometime only 2 line output
  0 passing (2m)

  1) "before all" hook

node_modules/.bin/mocha e2e --opts e2e/mocha.opts --configuration ios.sim.debug     --grep :android: --invert

(node:38487) ExperimentalWarning: The fs.promises API is experimental
before
detox-server info 17:33:20: server listening on localhost:629

[2018-06-01 12:14] yogeshthanvi commented on #754
Thanks @yershalom

[2018-06-01 12:14] #754 closed

[2018-06-01 12:19] yogeshthanvi opened #764 "detox verb instrumentationProcess terminated due to receipt of signal null"
I am facing an issue as mentioned in subject for Android . I am executing the test cases on Android device following are the details

Android version : 7.0

react-native-cli: 2.0.1
react-native: 0.45.1

[code]

[2018-06-01 14:45] pgmemk commented on #657
@tuanmai How did you resolve it? I have exactly the same problem.

[2018-06-01 22:49] earksiinni commented on #236
I'm still getting timeouts. I've isolated the problem to `Device.js` when executing `launchApp`, which never finishes executing `await this.deviceDriver.waitUntilReady();`.

I dug into Detox's code enough to realize that it expects DetoxManager to return a `ready` signal via WebSocket, which it just never receives. That led me to another (possibly n00b) question: how the heck does DetoxManager get

[2018-06-03 05:27] tachtevrenidis commented on #695
@DVLNarayana, I don't know if this is your issue, but I was stuck at this exact error for a day or two and what got me to move past it was to rename the folder I was using for the detox test from src/test/com/xxx/DetoxTest.java to src/testAndroid/com/xxx/DetoxTest.java

[2018-06-03 07:44] baranpirincal commented on #738
@LeoNatan You're welcome. Sorry for delay, I was too busy last week. I will work on Automation robot. It would be better, have a nice day!

[2018-06-03 10:18] DanielMSchmidt opened #765 "Website publishing is not stable"
#### Description

Currently the travis job is not working properly on CI. Locally it works fine, but on CI we have this error: `Error: No sidebar file available to use for version 7.3.5. Verify that 'version-7.3.5-sidebars.json' exists.`

[2018-06-03 11:53] DanielMSchmidt commented on #765
Seems like there was the `pages/en/versions.js` file missing in older versions, we patch that in now.

[2018-06-03 21:04] rotemmiz opened #767 "Detox CLI: Replace commander with argparse"
commander has [basic parsing issues](https://github.com/tj/commander.js/issues/400) which haven't been addressed for more than 3 years!

Let's abandon it and move to something else.
argparse looks good enough, but it's open for suggestions. We need to up our game in detox-cli, code quality is not great, especially when things get a bit complicated, where we override package.json configuration etc.

[2018-06-04 09:09] yogeshthanvi commented on #417
This link is not working @antonydenyer

[2018-06-04 10:16] yogeshthanvi commented on #764
Anyone Can help on this ? I am stuck with this issue

[2018-06-04 13:21] aknackiron commented on #95
I work for Bitbar (mobile devops cloud) and we tried out Detox in our cloud successfully. We even had a post about it (link below). We believe real device execution is faster and more robust to running mobile tests. We are interested in helping to implement the cloud solution for iOS real device support once you have something working.

https://bitbar.com/its-time-to-detox-your-mobile-tests-on-bit

[2018-06-04 15:13] rotemmiz commented on #95
Hey @aknackiron,
This is exciting!
Please contact me at rotemm@wix.com so we can continue discussing this offer seriously.

[2018-06-04 15:56] mrozbarry commented on #39
Just going to chime in from detox 7.3.7, if I have `Connect Hardware Keyboard` enabled, my tests _usually_ fail, and if I disable it, the software keyboard always does the right thing. I did write a helper method to write to an input that does a tap() first, as recommended by @isnifer .

I'd prefer to have this setting enabled, since I usually run through the app manually to find where the next se

[2018-06-04 16:53] tachtevrenidis commented on #764
if there are any other logs, I need to provide, let me know!

[2018-06-04 17:04] rotemmiz commented on #764
ADB logcat would probably have the needed data to understand your issue. Seems like the app crashes

[2018-06-04 17:09] tachtevrenidis commented on #764
@rotemmiz ok will try to get that. Also the app seems to work, as I mentioned, if i just started it by tapping on it on the emulator (the app that got installed as part of detox test -c android.emu.debug).

Let me add this. When my app starts, the 'landing' screen is native (Android java) NOT an RN component. The launch of the RN component is on tap in from there. In iOS, it does not seem to matte

[2018-06-04 17:09] rotemmiz commented on #39
Hey @mrozbarry, it makes it hard for us to track progress of closed issues.
So if you have any progress regarding keyboard handling please open a new issue, or even better, if you want to offer a PR with bug fix or documentation we'll gladly accept it.

[2018-06-04 17:13] rotemmiz commented on #764
Not sure I understand what "we grab the button to tap from the launch script, simulate the tap (still inside the test)" is, but having a hybrid app that initiates RN only at a later stage may cause sync issues on Android (pretty sure we already tackled that on iOS).
Can you provide a demo project that reproduces this error?

[2018-06-04 17:19] tachtevrenidis commented on #764
I will try to get some time to generate a repo that produces this error. Sorry, I don't know why I typed 'launch script' :-) I edited the post. So we pretty much do a:
[code]
LaunchReactNativeComponent is a native button (does not come from RN) and in iOS, at least, we set its accessibility id to 'LaunchReactNativeComponent' so we can reference it inside the detox test.

I hope this helps!

[2018-06-04 17:46] rotemmiz commented on #764
I still don't understand the issue. Does the app crash on tap?
Please provide logcat output

[2018-06-04 18:39] markhu commented on #608
The ChangeLog https://github.com/wix/detox/blob/master/CHANGELOG.md#734-2018-04-25 claims to have fixed this as of Wix Detox version 7.3.4 in April 2018.

[2018-06-04 19:28] mrozbarry opened #768 "element.typeText() will fail test when hardware keyboard connected"
### For usage help, ask a question on Stack Overflow with the `detox` tag. The issues section of the project is meant for opening bug reports and enhancement requests of Detox. We use it to automatically track the [change log](https://github.com/wix/detox/blob/master/CHANGELOG.md)

### IMPORTANT: Use search before opening an issue. Duplicate issues will simply be closed.

#### Description

On the

[2018-06-04 19:29] mrozbarry commented on #768
Maybe related to https://github.com/wix/detox/issues/39 ?

[2018-06-04 19:46] rotemmiz commented on #768
This is the expected result. EarlGrey looks for software keyboard and taps on its keys to emulate text writing.
With Xcode 9, `xcrun simctl` opens simulators in headless mode by default, so attached keyboards is not really a problem if you only write tests. When developing, you will have to manage it manually.

If you don't care about emulating all tap events and want to avoid all keyboard related

[2018-06-04 22:14] mrozbarry commented on #768
Is that behaviour documented somewhere in this project? It wasn't clear to me that headless was the default (always had my simulator running), or that running in the simulator had that restriction. Even if it's documented here, but just links to EarlGrey's docs, as long as there is an easy trail for a lowly react app developer to follow.

[2018-06-05 06:04] jinshin1013 opened #769 "typeText failing on Invisible TextInput"
#### Description
I have a screen to enter received 6 digit code and the problem is that the design forced me to use device's keyboard but have custom container to show the code. Something like this.

<img width="331" alt="screen shot 2018-06-05 at 3 44 07 pm" src="https://user-images.githubusercontent.com/17612922/40957204-528c2892-68d7-11e8-97a6-ee355e43dc3f.png">

I do this by having a TextInput

[2018-06-05 07:48] abdulkhaliquem9 commented on #718
@LeoNatan  As per the reference https://stackoverflow.com/questions/29924564/using-espresso-to-unit-test-google-maps/30519001, it is not possible to test Google Maps with Espresso, We need to use UIAutomator library, that is what is mentioned in the reference. Is there any solution to test Google Map on Android.

[2018-06-05 07:48] anhpha opened #770 "Can we run detox on Ubuntu 16.04.4?"
#### Description
I want to setup detox for my React Native project. However, when running `detox init`, will consume all of my computer memory. When using system monitor tool, I saw that there are many node processes running. I checked all `detox` commands and found the same problem.

#### Steps to Reproduce

- Install detox
- Run `detox init`
Then my computer get hanged.

#### Detox, Node, Device

[2018-06-05 11:20] dat00ste opened #771 "error in clearDeviceRegistryLockFile() when running detox test"
### For usage help, ask a question on Stack Overflow with the `detox` tag. The issues section of the project is meant for opening bug reports and enhancement requests of Detox. We use it to automatically track the [change log](https://github.com/wix/detox/blob/master/CHANGELOG.md)

### IMPORTANT: Use search before opening an issue. Duplicate issues will simply be closed.

#### Description
Since de

[2018-06-05 12:29] mrozbarry opened #772 "Headless test fails tap on RCTUITextField"
#### Description

When running a test in headless mode, finding a RCTUITextField and performing `.tap()` fails with the following exception:

[code]

#### Steps to Reproduce

Write a react native test with a TextInput. `element(by.id('some-text-input-id')).tap()` will fail the test in _headless_ mode, but appears to work correctly when running in the simulator.

#### Detox, Node, Device, Xcode and

[2018-06-05 14:29] rotemmiz opened #774 "Add a mechanism to verify cli tools versions compatibility"
`applesimutils` is an example for a cli tool that is tightly coupled with Detox, and needs to be synchronized with Detox versions.

We need a way to verify that those cli tools versions are compatible with Detox.

[2018-06-05 17:13] noomorph commented on #771
If nobody takes this issue, I can try to reproduce after June 10th, after I return from vacation. Or maybe @simonbuchan might want to take a look?

[2018-06-05 19:07] simonbuchan commented on #771
Hmm, I migrated up to 7.4.0 without trouble. Looks like it just hasn't created the data directory, so if that got broken, shouldn't be too hard to track down (and maybe isn't even windows?)

[2018-06-06 00:31] pgmemk commented on #657
@LeoNatan Can you please help me out here?

[2018-06-06 03:14] noomorph commented on #771
That was actually the point I was trying to check on. Thanks much, Simon!

[2018-06-06 07:09] illyax commented on #155
If you running in expo, make sure hostType in .expo/settings.json is set to tunnel.

[2018-06-06 07:11] rotemmiz commented on #657
Please do not reply on closed issues, instead open a new issue and provide verbose script output and logs

[2018-06-06 10:47] rotemmiz commented on #770
React app? Web?  That's the wrong project, detox does not do web, it only supports native/react-native apps on iOS and Android

[2018-06-06 11:16] anhpha commented on #770
I mean my computer can create `e2e` folder when run `detox init` in other folder but hanged when run in react native app folder.

[2018-06-06 11:24] rotemmiz commented on #770
Can you please provide more details? This description is still pretty vague

[2018-06-06 12:00] #761 closed

[2018-06-07 04:28] anhpha commented on #770
I tried 3.3.7 and it worked fine. The problem occurred with detox@3.4.0 on my environment. Thank you for all helps.

[2018-06-07 04:30] noomorph commented on #770
What version, would you mind to check again? Detox is currently at 7.x, not 3.x. :)

[2018-06-07 04:35] rotemmiz commented on #770
Please treat this thread seriously, the lack of information, and woese, misleading and wrong information is disrespectful to all those who want and spend their time to try helping you.
When you have a full coherent description, open a new issue. If this is a question, please use stack overflow.

[2018-06-07 04:35] #770 closed

[2018-06-07 04:36] anhpha commented on #770
Sorry for typo mistake. It is 7.3.7.

[2018-06-07 06:58] dat00ste commented on #771
Thanks for the replies!
 Yes, the data directory is missing, when should it be created?

[2018-06-07 07:08] rotemmiz commented on #771
This is an actual issue. We need to ensure the directory will be created if doesn't exist

[2018-06-07 13:18] rborn opened #777 "Avoid/Ignore tests in node_modules (android)"
#### Description

In case there are old version tests in the node_module package (react-native-interactable) the new setup with Gradle 3 will make the test compilation  fail with
[code]
The only solution I found was to remove/rename the `node_modules/react-native-interactable/lib/android/src/androidTest` folder

Is there any way we could tell detox to avoid these folders or modules?
Thank you 🤗

#

[2018-06-07 13:45] rotemmiz commented on #777
Gradle can be configured to run tasks on specific projects.
Prefixing the project name (i.e. `app:`) will only run that specific task in the project and ignore same task in other projects.

[code]

[2018-06-07 14:16] rborn commented on #777
🙀you are my hero 🤗
Thanks!

[2018-06-07 14:16] #777 closed

[2018-06-07 15:59] zetendra opened #778 "Unable to select the date from 'UIPickerView'"
#### Description
Unable to select the date from the date picker. I am able to select the time and AM/PM

#### Steps to Reproduce
Its not working for the below case
element(by.type('UIPickerView')).setColumnToValue(0, Fri Jun 8');

Its working for the below
element(by.type('UIPickerView')).setColumnToValue(1, '11');
element(by.type('UIPickerView')).setColumnToValue(2, '22');
element(by.type('UIPick

[2018-06-08 06:13] abdulkhaliquem9 commented on #210
@Eyesonly88 got a solution for this issue on Android.
`await element(by.type('android.widget.EditText')).typeText('08902\n');`
Currently Detox test case fails if we pass 'TextView', and throws error to pass the full class name.

[2018-06-08 09:54] abdulkhaliquem9 commented on #769
@jinshin1013  try this
`await element(by.type('android.widget.EditText')).typeText('abcd');`

[2018-06-08 11:55] #516 closed

[2018-06-08 18:51] Zacqary opened #779 "detox-cli doesn't work on Yarn workspaces without nohoist"
#### Description
Running the Detox CLI inside a subfolder within a Yarn workspace throws a `detox is not installed in this directory` error. This is because it's probably looking for `node_modules/detox` in the current directory, rather than in the hoisted `node_modules` at the monorepo root.

Adding `**/detox**` to the `nohoist` config prop in `package.json` works around this issue, but it'd be h

[2018-06-08 19:14] rotemmiz commented on #779
Do you think you can create a PR to fix this?

[2018-06-09 12:31] SicutDominus commented on #608
Having this problem as well, tried a bunch of different RN and Detox versions.

I can't get RN 0.55.3, 0.51.0 or 0.50.3 working with either Detox 7.3.4 or 7.4.0.

Really want this to work as Detox looks like a great library and RN testing options are very lacking.  Hopefully the community interest means this issue gets prioritised, thanks for all your work.

[2018-06-09 14:13] simonracz commented on #608
Hi @SicutDominus ,

Based on the gradle error message, I think you are still on old gradle version in your RN project. Detox 7.0> supports only gradle 3.0.
Please take a look here : https://github.com/wix/detox/blob/master/docs/Introduction.Android.md#setup

Hope this helps.

[2018-06-10 03:14] bootstraponline commented on #589
I think exposing the low level API primitives makes sense. Appium took the approach of defining [high level touch actions](https://github.com/appium/appium/blob/master/docs/en/writing-running-appium/touch-actions.md) and that wasn't very flexible.

[2018-06-10 04:39] noomorph commented on #516
Related to: https://github.com/wix/detox/issues/774

[2018-06-10 05:48] rotemmiz commented on #516
Not really related since this is a build time dependency, the computer does a great job at stopping bad configurations/broken dependencies. Running tests however has no validation, I want to add runtime validation to versions of cli tools we use.

[2018-06-10 05:53] rotemmiz commented on #516
Though this issue is closed, I would like to address a few of the issues raised here.

There are two flavours to detox Android, one for rn44-45, and the other for 46 and up. Please make sure you read the [Android setup docs](https://github.com/wix/detox/blob/master/docs/Introduction.Android.md#choosing-the-right-build-type-in-missingdimensionstrategy).

`newOkhttpDebug` is the old API, it was chan

[2018-06-10 06:50] noomorph commented on #516
@rotemmiz , I see your point. In any case, it could be a more user-friendly error message, so maybe it's a nice-to-have one.

[2018-06-10 06:52] rotemmiz commented on #516
We have bigger problems 😣

[2018-06-10 10:55] rotemmiz commented on #771
Fixed in #781

[2018-06-10 10:55] #771 closed

[2018-06-10 10:58] rotemmiz commented on #772
Detox test suite runs in headless mode in CI, and occasionally locally as well. We could not recreate this issue.

If this issue indeed persists, please provide a working demo so we could take a look into that.
It could though, be something with Xcode 9.4.

[2018-06-10 11:03] rotemmiz commented on #778
Try to use the layout inspector and see the actual string rendered in the UI, is it exactly `Fri Jun 8` ?

[2018-06-10 15:19] zetendra commented on #778
@rotemmiz  Thank you for responding to my query.

I used iOS inspector to find the exact format of the value, i see it is "Thu, Jun 14"
I tried the same in my code, i didnt work. I am attaching the screen shots and pasting the error

`await datePicker().setColumnToValue(0, `${day}, ${month} ${date}`);`

`     Error: Error: An action failed. Please refer to the error trace below.
Exception with Act

[2018-06-10 18:49] #725 closed

[2018-06-12 11:27] ma-pe commented on #433
Please unstale, this is still an issue :)

[2018-06-12 21:51] LeoNatan commented on #97
Please open a new issue for the missing documentation.

[2018-06-13 03:41] rotemmiz commented on #97
It is part of the cli documentation
https://github.com/wix/detox/blob/master/docs/APIRef.DetoxCLI.md#test

--workers

You are right though, we need to add notes on what it actually does under the hood when running in this mode.

[2018-06-13 18:52] tomatobrown opened #787 "Documentation for Parallel Workers"
Please add some documentation around using the parallel workers, preferably a sample project using Jest and any suggestions around using some other test harness.

[2018-06-14 06:18] ericlewis commented on #488
As an FYI, if you are using Lottie, it will hang. Disabling animations on Lottie makes things work.

[2018-06-14 07:05] LeoNatan commented on #488
@ericlewis Do you mind opening a new issue for the Lottie situation and attaching a small sample project where this reproduces? Thanks

[2018-06-14 11:56] abdulkhaliquem9 opened #788 "Scroll and Swipe doesn't work after using the adb input command to simulate back."
### Scroll and Swipe are not working, after I have called the ADB command input to press the device back button on android emulator, It was working before adding these lines
`const spawn = require('child-process-promise').spawn;
  return spawn('sh', ['-c', `adb -s ${device._deviceId} shell input "keyevent 4"`]);`

I was using tapAtPoint() to press the react-native-navigation 's NavigationBar's BAC

[2018-06-15 18:40] CodingBauer commented on #155
@illyax did that, but the problem remains.
Did you managed to get expo to work with detox?

[2018-06-15 20:09] adamgeoffrion commented on #164
Is there any update on a possible fix/PR for this?

[2018-06-18 00:20] TheSavior commented on #589
@bootstraponline, I took a closer look at the link you provided to Appium's docs. It seems like everything we want to test would be possible with that API. Can you provide some more insight as to how Appium's API isn't flexible enough? What use cases does it not handle?

[2018-06-18 01:18] bootstraponline commented on #589
If the API is flexible enough, that's great.

Appium's API specifically doesn't handle the use case of using the scrolling methods from the underlying drivers (EarlGrey/Espresso) directly. If the existing API doesn't do what you want, then you're stuck. The detox approach is based on creating bindings to the native methods, this avoids a lowest common denominator situation where platform specific

[2018-06-18 04:35] gnowenegue commented on #677
Any updates on this issue?

[2018-06-18 11:35] #174 closed

[2018-06-18 12:24] illyax opened #789 "Get elements id or text or any attribute in the test."
is there any way to get the elements data (id or any other attribute) in the test?

[2018-06-18 13:48] #789 closed

[2018-06-19 01:51] lalka-workco commented on #433
Confirmed still an issue, pasted error below

`React 16.3.1`
`RN 0.55.4`
`node 9.2.0`
`Detox 7.3.7`

Error: Multiple UI elements matched for the given criteria.
    Exception with Action: {
      "Action Name" : "Scroll To Bottom content edge",
      "Element Matcher" : "(((((kindOfClass('UIScrollView') || kindOfClass('UIWebView')) && (respondsToSelector(accessibilityIdentifier)&& accessibilityID(

[2018-06-19 09:00] Gaoey opened #790 "Detox timed out after run test"
when I start testing, in log test show message
`send: {"type":"isReady","params":{},"messageId":-1000} `
then timeout
`Error: function timed out after 120000 milliseconds`
and my system.log here

[code]

here is my package.json

[code]
[code]

Any idea to fixed this?

[2018-06-19 20:29] dodgecm commented on #790
Seeing the same issue here.

[2018-06-19 20:59] rotemmiz commented on #433
The fact that @ma-pe found different behaviours in `tap` and other actions is pretty odd.
The implementation is generic for all actions, and the underlying EarlGrey implementation seems generic as well.

1. Do you have a demo project we can test this on ?
2. If not, it would be super helpful, either by adding failing tests to detox test suite, or creating a different project.
3. If all that is imp

[2018-06-20 00:41] brad-miller1 commented on #790
Having the same issue as well when trying to run IOS tests, android seems to work fine. I have been looking for a solution for days

[2018-06-20 03:07] Gaoey commented on #790
I try to remove AVConference.framework one of the above and warning gone but the app still timeout.

I following this link
https://forums.developer.apple.com/thread/92310
But didn't help.

May be Cocoapod just duplicate library?

I don't know why right now.

[2018-06-20 06:47] rotemmiz commented on #790
Please provide verbose Detox log and complete simulator log.

[2018-06-20 07:53] Gaoey commented on #790
Detox verbose

[code]

in /Users/peeravas/.npm/_logs/2018-06-20T07_46_34_336Z-debug.log
[code]
system.log
[code]

[2018-06-20 08:56] TareqElMasri commented on #99
Fellas, it's up and running
https://www.npmjs.com/package/@types/detox

[2018-06-20 09:40] DanielMSchmidt commented on #99
Awesome 👍  Let's close this issue then <3

[2018-06-20 09:40] #99 closed

[2018-06-21 07:16] Gongreg opened #792 "Fix atIndex order on IOS"
#### Description
Currently atIndex order is reverse. The first element rendered in screen has the biggest index when using atIndex. Order should be proper.

[2018-06-21 07:19] Gaoey commented on #790
Now I found the clue of this error.
because my react-native-fcm.
detox cannot launch app completely when stuck in this warning
`2018-06-21 07:14:19.415 [warn][tid:main][RCTEventEmitter.m:55] Sending `FCMTokenRefreshed` with no listeners registered.`

[2018-06-21 07:37] #673 closed

[2018-06-21 09:48] rotemmiz commented on #640
#751 still needs JS support.
Current state of this PR will allow disabling of touch indicator by adding `disableTouchIndicator`[ to launchArgs](https://github.com/wix/detox/blob/master/docs/APIRef.DeviceObjectAPI.md#7-additional-launch-arguments).
The missing piece currently is a way to preserve launch args and parameters passed to `launchApp` [upon recovery from app crash](https://github.com/wix/

[2018-06-21 17:53] #656 closed

[2018-06-21 18:47] #665 closed

[2018-06-21 23:47] #678 closed

[2018-06-22 08:28] #661 closed

[2018-06-24 10:46] #710 closed

[2018-06-24 13:13] Rob117 commented on #576
This issue has been up for a few months, I'm going to close it.

[2018-06-24 13:13] #576 closed

[2018-06-24 18:18] R1ZZU opened #795 "element is not defined"
`package.json`
[code]

`e2e/config.json`
[code]

`e2e/init.js`
[code]

Description:

I got `ReferenceError: element is not defined` error while running `detox test -c ios.sim.debug`
I also had bad luck running `detox build -c ios.sim.debug` (FoundationCore wasn't found), but after running `react-native run-ios`, `detox build -c ios.sim.debug` succeeded, but still throws this error

What is also we

[2018-06-25 09:33] LeoNatan commented on #792
The order is not controlled by Detox. It is controlled by the layout and render systems (UIKit, Android, RN). `atIndex` is inherently broken API and should not be used. Instead, you can put a test ID per row, and then pick that row with `byId`.

[2018-06-25 09:42] LeoNatan commented on #640
If it's enabled, the param should be `disable`. Naming should follow the rules of "what happens if the param is not there".

[2018-06-25 13:21] AntoineChwat opened #796 "Blank screen on android"
### Blank screen when testing detox on Android

#### Description
When I try to run a detox test on Android, my React Native app only displays a blank screen, app launches normally otherwise and detox works perfectly on iOS. I'm using the standard detox config from the docs with jest.

It looks like the app launches, it briefly shows the green bar at the top saying it loads data from the React Nati

[2018-06-25 13:43] noomorph commented on #796
@AntoineChwat , tell me please whether the issue reproduces on `detox@7.4.3` ?

Honestly, I am aware about this issue and still need to debug it. It reproduces sometimes on CI but the question that is disturbing me most is whether it is a bug introduced by version 8 or it was there in 7.

[2018-06-25 13:54] AntoineChwat commented on #796
Just tried it on version 7.4.3 and I have the exact same issue unfortunately

I also found [this](https://stackoverflow.com/questions/48310930/detox-react-native-android-launches-to-blank-screen) issue on stack which dates back to January and seems to be the exact same problem though nobody answered

[2018-06-25 15:07] noomorph commented on #796
@AntoineChwat , thanks much! I only can hope I'll get some time to investigate this, as it causes flakiness on Detox's own CI too. I don't think we want to put up with this for too long, as Detox itself declares it is fighting the flakiness.

[2018-06-25 15:28] AntoineChwat commented on #796
@noomorph No problem, hope it helps and I hope you'll find the bug as Detox looks like a really cool e2e framework which works very well on iOS but is unfortunately unusable for me as long as this bug exists

[2018-06-25 15:30] noomorph commented on #796
@AntoineChwat , hm... I'm not sure I get what you say right - do you mean you can reproduce this bug in 100 of 100 ofyour cases?

[2018-06-25 15:34] AntoineChwat commented on #796
@noomorph Yep that's exactly what I'm saying, is it a different issue from what you thought?

[2018-06-25 15:40] noomorph commented on #796
@AntoineChwat Exactly! There is a different issue when after some 10-25 tests it gets stuck in the white screen like this:

<img src="https://user-images.githubusercontent.com/1962469/41860262-e5a489ba-78a6-11e8-84da-ba43903f22f8.png" width=200 />

But a lot of tests usualy pass, as you see on the screenshot only 2 out of plenty fail.

![capture](https://user-images.githubusercontent.com/1962469/4

[2018-06-25 15:43] noomorph commented on #796
@AntoineChwat , if there's a chance you can extract your issue as a open-source repo, please do.

And one more thing, does release version work with Android+Detox on your machine? You saw you were using `android.emu.debug` configuration. What are the results with `android.emu.release`?

[2018-06-25 15:53] AntoineChwat commented on #796
@noomorph Ah I see, no my problem is different, I get that white screen as soon as I run the first test! Unfortunately I can't publish my repo but I am trying with android.emu.release, will let you know how it turns out

[2018-06-25 23:29] markhu commented on #608
Status as of June 2018:

* Detox Android is stuck back at React Native v0.51, i.e. since December 2017.
* Detox iOS works for React Native v0.55 (current as of June, 2018)

References:
* https://github.com/wix/detox/blob/master/README.md (June 2018)
* https://github.com/wix/detox/commits/master/docs/More.AndroidSupportStatus.md (Jan. 2018)

[2018-06-26 00:19] markhu commented on #695
AFAIK, Android support for Wix Detox is stuck back at React Native v0.51 circa December 2017.

[2018-06-26 03:14] noomorph commented on #796
I think that maybe the problem is that Detox does not play nicely with RN higher than 0.51 on Android, as mentioned here:
https://github.com/wix/detox/pull/773#issuecomment-400126345

[2018-06-26 03:47] Gaoey commented on #790
Now I found out what happening
because my loader are recursive when using timing in animated.

following this will resolve
https://github.com/wix/detox/issues/325#issuecomment-335548129

[2018-06-26 03:47] #790 closed

[2018-06-26 03:54] noomorph commented on #790
@Gaoey, retrospectively, did the logs contain any information about running timers or you had to figure that out solely on your own?

[2018-06-26 05:30] Gaoey commented on #790
Doesn't have any log contain this information. (Unfortunately, some log information even misled me)
and I figured it out when I was hidden in each Component in my project.

[2018-06-26 08:55] AntoineChwat commented on #796
No luck with the release apk, same issue... But yeah I'm using the latest React Native, didn't notice that compatibility issue, my bad! Are you planning to fix this any time soon?

[2018-06-26 09:07] AntoineChwat commented on #796
Okay so I downgraded to RN 0.51, obviously there are a lot of breaking changes so my app doesn't work but at least now I get a red error screen and I get a message from ReactNativeJS in Logcat telling me that it is running the application, so this is indeed the issue. Hope to see a fix some day, thanks for finding the bug though it was drving me crazy

[2018-06-26 09:59] noomorph commented on #796
@AntoineChwat , I have no information about the fix and the timeline, but I also want to believe it will be given a high priority.

[2018-06-26 13:35] yogeshthanvi commented on #764
This issue is no longer exist from my side , I am closing down this issue

[2018-06-26 13:35] #764 closed

[2018-06-26 14:13] #772 closed

[2018-06-26 19:23] xcarpentier commented on #236
@earksiinni also fall into timeout...

[2018-06-26 19:41] lalka-workco commented on #695
@DVLNarayana I am currently able to run Android on RN 0.55.4 with Detox 7.3.7. I went through my installation and verified that all the configurations per the [instructions](https://github.com/wix/detox/blob/master/docs/Introduction.Android.md) were correct. My best guess my looking at your error message might be that there is an error around Step 3.

I noticed that you not have `com.abc.samplepro

[2018-06-26 21:22] rotemmiz commented on #726
Ping

[2018-06-26 21:34] rotemmiz commented on #796
We are currently working on some internal sync issues of our app with Android on RN51, which may result in a few bug fixes. Modern RN support for Android is the next task, buti can't commit to a timetrame unfortunately.

[2018-06-27 04:42] tachtevrenidis commented on #764
@yogeshthanvi  how did you fix it?

[2018-06-27 04:44] tachtevrenidis commented on #764
@rotemmiz, I got logcat info for you:

detox log looks like this:

[code]

corresponding logcat right around the crash is:

[code]

[2018-06-27 06:00] rotemmiz commented on #796
Are you using react-native-navigation v1?

[2018-06-27 13:37] AntoineChwat commented on #796
@rotemmiz Nope, I'm not using react-native-navigation at all actually, I'm using [react-navigation](https://github.com/react-navigation/react-navigation) v2

[2018-06-27 13:44] rotemmiz commented on #796
Can you provide an example project demonstrating the issue? I want to debug it

[2018-06-27 15:17] rotemmiz commented on #576
Went over the contribution guide again. The issue you had is related to compiling react native from source (added a section about that as well).
Changed added here https://github.com/wix/detox/commit/bd11fc58e543cc4182dfaf86de10c985c7d271da

[2018-06-27 15:24] rotemmiz commented on #764
Are you running the correct Android flavour ? RN45 needs `minReactNative44` flavour

[2018-06-27 15:32] rotemmiz commented on #673
Seems like reloading react native was only tested manually in React Native.
The crash happens when Detox puts pressure on the reload mechanism. Seems like it does happen from time to time on debug builds, when Detox triggers `reloadReactNative()`, and the app is in the process of fetching data from the packager (maybe it manifests more frequently with bigger bundles, when it takes more time to dow

[2018-06-27 15:33] rotemmiz commented on #673
I have a hunch its a react native bug, there's not a lot we can do here.

[2018-06-27 15:43] tachtevrenidis commented on #764
@rotemmiz,

I have this:
[code]

in my app build file

[2018-06-27 15:45] tachtevrenidis commented on #764
and when I do a detox build, I see this:

[code]

FYI

[2018-06-27 15:53] rotemmiz commented on #764
I'm not sure what's the issue then, we moved past RN 45 a long time ago. If it's possible, try upgrading RN on your project and see if the error persists.

[2018-06-27 15:54] tachtevrenidis commented on #764
I am on 0.55...

[2018-06-27 15:54] tachtevrenidis commented on #764
Do I need to be on a specific Android SDK for the emulator that I point detox to?

[2018-06-27 15:59] rotemmiz commented on #764
No hard dependency, but try API lvl 27

[2018-06-27 16:04] tachtevrenidis commented on #764
got it working! API lvl 27 was the culprit!

[2018-06-27 16:06] rotemmiz commented on #764
What did you use before?

[2018-06-27 16:06] tachtevrenidis commented on #764
26

[2018-06-27 16:08] tachtevrenidis commented on #764
my project is set to to 27 btw:

[code]

[2018-06-27 16:08] tachtevrenidis commented on #764
oh I also changed to:

[code]

[2018-06-27 18:43] rotemmiz commented on #764
So was it configured with the right flavour ?
What was the problem? API 26 emulator or detox flavour ?

[2018-06-27 19:00] matthewrfindley opened #798 "Unable to select value picker value"
#### Description
Using detox to select a value from a picker appears to be broken on IOS.  Using a testID on a `Picker` or using `UIPickerView` have different results as seen below. This could be a result of any number of things going wrong in the dependency chain, but I figured the detox community may know the answer.  I've added a spec to the e2e tests to isolate the issue.  You can find the bra

[2018-06-27 19:36] rotemmiz commented on #787
There it is.
https://github.com/wix/detox/blob/master/docs/Guide.ParallelTestExecution.md

[2018-06-27 19:36] #787 closed

[2018-06-27 19:40] rotemmiz commented on #768
Closing the issue, reopen if docs still don't satisfy you, or even better, create a PR.

[2018-06-27 19:40] #768 closed

[2018-06-27 19:45] rotemmiz commented on #798
Did you try to inspect the view hierarchy and see what's going on ?

[2018-06-28 07:21] hkung77 commented on #695
I'm also receiving similar errors. I had to do some additional steps just to get it to compile.
Are theses steps missing from the android instructions?

I had to include the lines in app/build.gradle
[code]

Also when trying to build I wasn't able to build it using the flag ```-DtestBuildType=release``` because proguard was blocking me.

I'm on RN 0.51.1, detox: 7.4.3

error log:
[code]

[2018-06-28 09:02] Papeone opened #799 "detox test fail on android"
#### Description
detox test fail on android

#### Steps to Reproduce
1  detox build -c  android.emu.debug
2  detox test -c  android.emu.debug

#### Detox, Node, Device, Xcode and macOS Versions

* Detox:8.0.0
* React Native:0.51.1
* Node:8.11.3
* Device:Nexus_5X_API_25
* Xcode:9.3
* macOS: 10.13.4

#### Device and verbose Detox logs

[test.txt](https://github.com/wix/detox/files/2144521/test.txt)

[2018-06-28 13:52] rotemmiz commented on #799
Not enough info here, but try Emulator with API 27, does it work ?

[2018-06-28 14:03] xcarpentier opened #800 "Last detox cli"
Hi,

Thanks for awesome work on detox.

Is detox-cli need to be deployed too ?

Try to upgrade but:
success Installed "detox-cli@7.4.0" with binaries

[2018-06-28 14:04] rotemmiz commented on #800
It was not changed, just install `detox-cli`, don't specify a version

[2018-06-28 15:22] LeoNatan commented on #750
Hello,

This is not the place for such questions. This section is only for reporting Detox issues and making enhancement requests.
Also please note that Detox currently doesn’t have support for running on actual hardware devices, so this will limit the viability of a device farm for now.

Thanks

[2018-06-28 15:22] #750 closed

[2018-06-28 16:05] AntoineChwat commented on #796
Hi, unfortunately I'm working on a fairly large project (at my scale at least) and I can't share the code, if I have time I'll try to create a sample app and see if detox works with it and if it doesn't I'll share it but I doubt I'll have the time to do that though, sorry

[2018-06-28 16:32] lalka-workco commented on #799
After upgrading to Detox 8.0 I am also seeing my tests on Android timeout.

I don't have the best understanding of the entire Android connection process, but it looks like the first command is sent before the "isReady" command is received.  Unfortunately I cannot provide a sample RN app since I am working with a client under NDA.

As you can see, the command that says look for element with text 'L

[2018-06-28 16:35] rotemmiz commented on #799
Well, now that you can easily create logcat logs with artifacts manager, please provide them

[2018-06-28 17:04] lalka-workco commented on #799
I cannot generate the new artifacts. When I try to use the `--record-logs all` flag I get the following error:

[code]

Since we are using Jest I used your example file from the Docs [here](https://github.com/wix/detox/blob/master/examples/demo-react-native-jest/e2e/init.js)

I'm not sure where the `jasmine` variable is coming from but I'm not sure we use that in our code, but removing that genera

[2018-06-28 19:32] rotemmiz commented on #799
Does 0.55 works for you with Detox 7 ??
If these logs don't work, try using `adb logcat` and paste the log here.

[2018-06-28 20:23] matthewrfindley commented on #798
I will have a look at the view hierarchy and report back.

[2018-06-29 02:52] lalka-workco commented on #799
[adblog.log](https://github.com/wix/detox/files/2147588/adblog.log)

Yes, I have Android running on 7.3.7 now on another branch. I attached one test run, let me know if this is helpful. The app builds and launches to the home screen, but the first action never takes place and it timeouts.

[2018-06-29 10:01] sapjax opened #801 "Control the sequence of test files"
Like the situation in https://github.com/wix/detox/issues/754.
The E2E test is not like the unit test,  Many tests in our app depend on other tests run before.

[code]
but the solution above is not good enough:

1. look at the file name I can't recognize what is the test inside it.

2. What If I want to run some specific test files with `reuse`?

3. If I want to change the sequence, I must change

[2018-06-29 10:11] noomorph commented on #801
I honestly don't understand why you demand this from Detox.

Detox just runs on top of your preferred test runner as a handful of helper methods on steroids. How do you imagine adding this feature if Detox is not a test runner and has no direct control over the loading sequence?

In other words, if there's a feature to specify exact test suite order in Mocha and Jest, and you clearly see that Deto

[2018-06-29 10:56] noomorph commented on #801
@sapjax , as you see there are open issues like this one: https://github.com/facebook/jest/issues/6194

[2018-06-29 11:03] sapjax commented on #801
@noomorph
I just throw the question, I think this is a  common situation in an E2E test.
About the test runner (Mocha/Jest), they are just unit test runner,  so they no need to care about the sequence, most of the unit tests not depend on each other.

If the test runners can't meet the demand of E2E test.
Maybe we should found or implement a test runner which can run in a specific sequence.

Thank

[2018-06-29 12:05] noomorph commented on #801
@sapjax , sure, when a test runner is too much oriented towards unit tests, sometimes it fails to deliver features normal to any E2E test. For example, currently, there is an unsolved issue about Jest and Ctrl+C (extremely abrupt exit without a chance to clean up resources). Apparently, this is one of such issues.

Anyway, I'm trying to say that I don't see ways to implement this in Detox as long

[2018-06-29 13:38] eimius opened #802 "Print Native View Hierarchy to console during a detox test."
#### Description
When troubleshooting detox tests, sometimes I find a need to to see the view hierarchy (native). Currently I need to open xCode, run the project and check view inspector. I would like to have convenience method to print the layout/hierarchy which would be a simpler and faster way to inspect layout than to run the xCode project.

The general use case would be to call _print_ functi

[2018-06-29 14:20] matthewrfindley commented on #798
TBH, I am not sure what would be helpful for debugging here.

Both have a hierarchy of UIPickerView with UIPickerColumnView.  I would expect executing `await element(by.type('UIPickerView')).setColumnToValue(0, 'Bar');` would work for Picker as it does for choosing a time in a date picker as follows (which works) expect targeting a different column.

[code]

[2018-06-29 16:52] rotemmiz commented on #798
It may be possible that react native doesn't pass testID to native view hierarchy on one of them, but does on the other.
It may also be possible that the testID is not being added at the same hierarchy path (it me set on a wrong view, like a wrapper view).
Anyway, different UI element implementation may have different behavior. It's best to understand the native layout hierarchy with the inspector

[2018-06-29 16:59] matthewrfindley commented on #798
The test attempts 2 ways to find the element.  `by.id` causes the test to fail because if does not find the element.  This makes sense if the `testID` is not passed to a native element.  `by.type` fails because it is unable to select the value in the picker.  Given that it finds the element and the values are present I'd figure there is something else going on.

[2018-06-29 18:48] rotemmiz commented on #798
Can you check the accessibility properties of the view you're trying to match? Let's see the value in the picker

[2018-06-29 19:42] brad-miller1 opened #804 "Detox hangs on device.init() for IOS tests"

[2018-06-29 19:52] rotemmiz commented on #804
Simulator log
Log with debug sync

[2018-06-29 20:01] brad-miller1 commented on #804
Simulator logs:

[code]

[2018-06-29 21:37] carlosvega20 commented on #164
same issue here.

[2018-06-29 22:25] tachtevrenidis opened #805 "screenshot artifacts don't get created"
I am on RN 0.55 and Detox 8.0.0. I am running tests like this:

[code]
The artifacts folder is created and a subfolder with my test's name in it, but the folder is EMPTY. If I pass in --record-logs, I DO SEE the logs in the test artifacts folder.

The output from detox looks like this:
[code]

Help! :-)

[2018-06-29 22:30] tachtevrenidis commented on #805
my init.js looks like this:

[code]

[2018-06-29 23:08] carlosvega20 commented on #695
same issue here

[2018-06-29 23:14] carlosvega20 commented on #695
@hkung77 in your log at the end said:
android/app/build/outputs/apk/androidTest/release/app-release-androidTest.apk' could not be found

make sure the apk is there, in my case I found it in a parent directory instead:
android/app/build/outputs/apk/my-app.apk

[2018-06-30 07:14] noomorph commented on #805
I'm not sure if I can investigate it within the next few days. Hopefully on Monday I'll be able to take a good look at it.

The only thing that looks kinda "suspicious" to me is the `--reuse` flag in your use case. Try running without it and let's see if it helps. If (suddenly!) yes, then let's file it as a bug.

[2018-06-30 07:15] noomorph commented on #805
I'm not sure if I can investigate it within the next few days. Hopefully on Monday I'll be able to take a good look at it.

The only thing that looks kinda "suspicious" to me is the `--reuse` flag in your use case. Try running without it and let's see if it helps. If (suddenly!) yes, then let's file it as a bug.

[2018-06-30 09:41] BenBach commented on #488
@ericlewis we have the same problem :-( did you find a workaround? Would really help us

[2018-06-30 18:56] tachtevrenidis commented on #805
I tried with and without, the outcome is the same. I looked at the code a little, some observations:

1) there is a method in detox called 'takeScreenshot', that method is NEVER called (added console.log to debug)
2) video recording does not work also
3) when i run detox test, if detox has to boot a simulator, then I see a simctl instruction to the simulator, to take a screenshot but with params '

[2018-06-30 19:03] noomorph commented on #805
Yes. That helps. I had once a similar issue.

Ensure your beforeEach and afterEach statements indeed get called
in`init.js`. I know I may sound ridiculous because you supplied me with the
contents of your init file which clearly show you have these statements,
etc.

But nevertheless please put there some console.logs and check that the
Mocha adapter.beforeEach() and adapter.afterEach() gets called

[2018-06-30 19:09] tachtevrenidis commented on #805
yeap did that. If I add bogus code in there and try to run the tests, I get an error on init.js. So that makes me thing it is getting called. Also log recording is working but I am not sure this is tied to the beforeEach and afterEach using the adapter.

[2018-07-01 03:46] #720 closed

[2018-07-01 08:56] noomorph commented on #805
The thing is that only log recording can work without beforeEach and afterEach - it will be recording everything from the start till the end in startup.log file.

What kind of error do you get in init.js with your bogus code? Please post details.

[2018-07-01 17:17] tachtevrenidis commented on #805
for example, if I add this:
[code]

I get:

[code]

[2018-07-02 03:38] luisnaranjo733 commented on #683
Is there an ETA on this? I need to be able to change the language of the app between detox tests for my use case.

It would be cool if this could be achieved by calling ```device.launchApp(language)``` in beforeEach(). It seems like this would be a pretty straightforward change to enable this on iOS at least (a great starting point).

Since I'm only running my tests on an iOS simulator, I think it

[2018-07-02 03:45] Milesyan commented on #433
same issue.

[2018-07-02 05:41] luisnaranjo733 opened #807 "Provide API for taking screenshots on demand"
The artifacts API in its current form enables screenshots to be easily taken before and after each test.
What if the test wants to take a screenshot at some arbitrary point in the middle of the test?

A few scenarios where this would be valuable:

- Using detox to take screenshots of various screens for QA purposes. If the tests could control when screenshots are taken, they could navigate, take a

[2018-07-02 06:10] noomorph commented on #807
You see, my pull request in its very beginning had such an intent, thought later we came to conclusion that the scope of the change is too big and if you retrospectively take a look at the PR, it had about 100 commits and 100 changed files, succeeded by the other (not merged yet) pull request that adds unit test coverage to abstract artifact classes (plus 1500 lines approx.).

That was just too bi

[2018-07-02 07:14] noomorph commented on #805
@tachtevrenidis, could you please add something less "bogus" 😃, e.g.:

[code]

Please post your experiences.

[2018-07-02 07:41] mloureiro commented on #737
@LeoNatan not sure if this used to work in the past, but is rather confusing.
I also ended up looking for this, so I would rather remove that than mentioning but not supporting, the latter kind of seems to be a bug

[2018-07-02 13:47] luisnaranjo733 commented on #807
I can totally see how that PR might have quickly become too big in scope with all of the infrastructural changes required to enable artifacts.

But it seems to me like the heavy lifting required to enable artifacts has already been done. You can already take screenshots before and after. Is it a lot more work to expose and document the existing screenshot artifacts API to the user so they can take

[2018-07-02 14:42] tachtevrenidis commented on #805
here is an excerpt:

[code]

[2018-07-02 14:44] tachtevrenidis commented on #805
I also see this:
[code]

as I was saying earlier, I only see this 'takeScreenshot' reference if detox has to boot my simulator. If it is already booted, I don't see this.

[2018-07-02 14:51] tachtevrenidis commented on #805
I am available all day, if you need more debug info (we can chat, screen share etc if you want). Being able to generate screenshots is of high priority to us! Also, I want to thank you for taking the time to add this feature, and also taking the time to troubleshoot with me! Very appreciative!

[2018-07-02 15:17] noomorph commented on #807
Yes, generally you are right, but there's still a question how to do it within the current architecture. I think I have a fairly good idea how, but it anyway needs a PoC (maybe I'm wrong about my way to do it) , a discussion with the maintainers (maybe they won't be happy about that way), a first implementation and maybe a consequent rework after a review and a couple discussions, so it is somethi

[2018-07-02 15:18] noomorph commented on #805
Ping me tomorrow. You'll find my email in git log.

[2018-07-02 15:37] luisnaranjo733 commented on #807
That makes total sense and is a super reasonable approach. I've subscribed to this issue so I'll definitely stay tuned. Thank you for the suggestion and thank you for following up on this!

[2018-07-03 08:46] noomorph commented on #795
I added `accepted/bug` label in a sense that I'm looking forward to seeing a patch to `detox` that will prevent this misleading error to improve end-user experience in troubleshooting.

[2018-07-03 09:03] noomorph commented on #171
@rotemmiz , can we close this?

[2018-07-03 10:38] noomorph commented on #663
I think it's perfectly valid to close this issue as the https://github.com/wix/detox/commit/62da7780cac6e142d2e11757115cf206be9bfb11 has been merged already.

[2018-07-03 10:39] #663 closed

[2018-07-03 10:44] noomorph opened #809 "Implement crash handling for Android"
1. Implement `AppWillTerminateWithError` message sending in `detox/android` (implemented only on iOS).
2. This way (1) or another, improve quality of logs to help users understand what's going on in issues like these:

* https://github.com/wix/detox/issues/395
* https://github.com/wix/detox/issues/796
* https://github.com/wix/detox/issues/799 (although, it might be not related)

[2018-07-03 13:16] call17 opened #810 "After terminate process 'Ctrl+C', Detox run test on device, different from config."
#### Description
After terminate process 'Ctrl+C', Detox run test on device, different from **config.**

#### Steps to Reproduce
Config:
`  "detox": {
    "configurations": {
      "ios.sim.debug": {
        "binaryPath": "ios/build/Build/Products/Debug-iphonesimulator/mrmkmcib.app",
        "build": "xcodebuild -project ios/mrmkmcib.xcodeproj -scheme mrmkmcib -configuration Debug -sdk iphonesimul

[2018-07-03 13:18] noomorph commented on #810
@rotemmiz , can it be related to parallel runners feature?

[2018-07-03 15:56] zibs commented on #99
Super awesome! Thanks for setting this up;

My only question is how to prevent the detox types from over-riding my jest types? Since detox overrides the jest object, it seems like when I'm trying to just write normal jest tests, TS still thinks the jest object is a detox one and so it complains for all the normal jest matchers/expects etc:

`[ts] Property 'toEqual' does not exist on type 'Expect<a

[2018-07-03 16:42] matthewrfindley commented on #798
These are not from the test, but are built using the same react-native `Picker` and have the same problem outlined in the test.  Using `setColumnToValue(0, '2') or setColumnToValue(0, 'Week')` will produce the same error `"UIPickerView does not contain desired value!"`.  There does not appear to be anything out of the ordinary to me.

<img width="447" alt="screen shot 2018-07-03 at 9 38 47 am" src

[2018-07-03 18:36] #805 closed

[2018-07-03 18:37] noomorph commented on #805
@tachtevrenidis, your issue will be addressed by the next `detox@8.0.1` .

[2018-07-03 18:56] noomorph commented on #810
Looks like a bug — need to clean the device lock file on Detox terminate event.

[2018-07-04 06:14] call17 commented on #810
@noomorph I run the tests with the following command:
mocha -g '{test_suite}' test/e2e --opts test/e2e/mocha.opts --loglevel verbose
I did it, because i wanted run specific test.
Now, if I use cmd 'detox test', detox run test correctly....

P.S. Can you tell me, how to do this with like a 'detox -g'test_suite' .If is possible

[2018-07-04 07:01] noomorph commented on #810
Do you mean that your issue can be reproduced only if you run `mocha -g '{test_suite}' test/e2e --opts test/e2e/mocha.opts --loglevel verbose` and cannot if you run `detox test` ?

Monitor what happens inside with your lock file here: `~/Library/Detox/device.registry.state.lock` and check what's the difference between the aforementioned ways to run tests when they handle Ctrl+C.

P. S. No, it is c

[2018-07-04 07:58] DanielMSchmidt commented on #744
This is not stale, but not yet in development.

[2018-07-04 14:13] alimtunc commented on #164
@moQuez I tried this solution too, but got same issue..

Here is my generated patch file :

--- a/node_modules/detox/src/ios/expect.js
+++ b/node_modules/detox/src/ios/expect.js
@@ -290,16 +290,19 @@ class Element {
[code]

Maybe anyone have another solution to fix this temporarely ? Thank's

[2018-07-04 21:34] #171 closed

[2018-07-04 21:37] rotemmiz commented on #810
Does this help?
https://github.com/wix/detox/blob/master/docs/Guide.ParallelTestExecution.md#important-note

[2018-07-05 18:24] sant123 opened #813 "App binary not found - Android"
#### Description
I'm trying to run the android test but in simply breaks with this error:

![image](https://user-images.githubusercontent.com/7959437/42339753-8384cdd0-8053-11e8-9353-64eac997c4c5.png)
I have tried:

+ change the binaryPath from "android/app/build/outputs/apk/debug/app-debug.apk" to
  + android/app/build/outputs/apk/app-debug.apk
  + android/app/build/outputs/apk/app-debug-androidT

[2018-07-05 18:50] rotemmiz commented on #813
Seems like you're having issues with you build process.
Check that the build output is actually at the folder you point detox to.

[2018-07-05 18:51] #813 closed

[2018-07-05 18:54] rotemmiz commented on #804
Log with debug sync is still missing

[2018-07-05 22:20] tachtevrenidis opened #814 "Detox test run with artifacts flag '--record-videos failing' succeeds locally, fails on build server"
I am able to successfully run my tests and see the generated artifacts with Detox 8.0.0 locally on an iOS simulator but when I run the same exact tests on my build server (VSTS) the tests fail with this output:

[code]

Any idea why this is happening? I suspect this might not be a Detox issue, but if there are any ideas on what might be missing or misconfigured from my build environment (it is a c

[2018-07-06 00:09] raj8github commented on #738
Hey Guys, was just thinking as the name is DetOX, how about a logo modified from an illustration of an ox face and if we could fit in "D" as an illustration on the same, it would then need no text as well. Just by looking at the logo we could make out its Detox.

PS: I'm not an expert in Graphic / Logo Designs, just a thought struck to the mind and shared the same. Please ignore if it doesn't make

[2018-07-06 14:54] call17 commented on #810
@noomorph Yes, that's what I meant.
After ctrl + c, the lock file is not always cleaned immediately
@rotemmiz Thanks for the help.
Apparently, the defect is incorrect

[2018-07-07 00:08] jwaldrip opened #815 "Using matchers in helpers"
Is there a way to use matchers in helpers? Right now I get a not defined error.

[2018-07-07 13:52] #395 closed

[2018-07-08 21:19] rotemmiz commented on #589
@bootstraponline seems like you have something in mind, how would you define that API ?

[2018-07-09 00:34] bootstraponline commented on #589
I'd take the existing scrolling methods for EarlGrey/Espresso and make them callable via JavaScript. These are listed under gestures in the cheatsheet.

- https://github.com/google/EarlGrey/blob/master/docs/cheatsheet/cheatsheet.pdf
- https://developer.android.com/training/testing/espresso/cheat-sheet

Espresso

- scrollTo()
- swipeLeft()
- swipeRight()
- swipeUp()
- swipeDown()

EarlGrey
- grey_s

[2018-07-09 03:00] bootstraponline commented on #589
I think it'd look something like this.

### Press state on TouchableOpacity

[code]

### Testing minimumZoomScale / maximumZoomScale on scrollView

Release the pinch and take a screenshot when settled to verify that the scroll view ended at the minimumZoomScale. Do the same for maximumZoomScale

[code]

In going through the specific examples, these methods don't exist in Espresso/EarlGrey. If we h

[2018-07-09 09:18] kristfal commented on #669
This issue is not stale.

[2018-07-09 09:42] #815 closed

[2018-07-09 13:10] anchetaWern opened #816 "Installing detox nukes new React Native project"
#### Description
Not sure why, but everytime I install detox, my project folder is no longer recognized as a valid React Native project. That's a brand new React Native project which I got to run with `react-native run-ios` and `react-native run-android`. But right after installing Detox, I get this error:

[code]

I tried to execute `npm install` and then `react-native upgrade` to no avail.

####

[2018-07-09 13:22] noomorph commented on #816
Not a Detox issue.
Either stick to `yarn add` instead of `npm install`, or uninstall `yarn`.
See:  https://github.com/yarnpkg/yarn/issues/5240

[2018-07-09 13:22] #816 closed

[2018-07-09 13:32] noomorph commented on #814
@tachtevrenidis , meanwhile I'll close the issue. If there will be something Detox-specific, please re-open.

[2018-07-09 13:32] #814 closed

[2018-07-09 19:40] #804 closed

[2018-07-09 19:42] rotemmiz commented on #804
Why did you delete all comments? 😐
What was your solution?

[2018-07-09 19:49] brad-miller1 commented on #804
It is still not resolved, but I closed because my company would prefer I not post the logs. Thanks

[2018-07-09 19:50] rotemmiz commented on #804
🙁

[2018-07-10 02:37] anchetaWern commented on #816
@noomorph thanks for the quick reply! It's working now. I used yarn to install detox and mocha.
Perhaps update the getting started guide to use yarn instead of npm? https://github.com/wix/detox/blob/master/docs/Introduction.GettingStarted.md

[2018-07-10 09:00] #796 closed

[2018-07-10 09:35] a-dawg opened #817 "Detox test failing: cannot hook the emulator"
#### Description
  ● Example › should have welcome screen

    No instrumentation runner found on device emulator-5554 for package  com....

cannot figure out what's my problem here: my avd is starting well and installing the apk but when cannot start to run the first test.

#### Steps to Reproduce
detox test

#### Detox, Node, Device, Xcode and macOS Versions
* Detox: 8.0.0
* React Native: 0.49
*

[2018-07-10 11:28] suvodeep-pyne commented on #9
For ease of other users:
[code]
Quoting from https://github.com/wix/detox/blob/master/detox/test/e2e/13.permissions.test.js

[2018-07-10 11:49] #817 closed

[2018-07-10 12:57] vonovak commented on #801
having your tests depend on order in which they are executed is, imho, a really bad idea that one day will turn against you. Test should be able to run independently. You should not need to run test A to run test B. Test B should just be able to run without running A first. Apart from better isolation this brings the possibility to run tests in parallel.

[2018-07-10 13:18] OlivierFreyssinet opened #818 "Detox tests run so slow that element.tap() interpreted as a longPress()"
#### Description
Detox tests run very slowly on android emulator and it causes element.tap() to be interpreted as a longPress().

Because of this, a part of my tests can't pass even if manually, the same behavior works perfectly.
I'm running the tests on a production build, and the app itself is not that slow, at all.

To give you an idea of how slow it is: for instance, swiping in a ViewPagerAndr

[2018-07-10 13:23] sapjax commented on #801
@vonovak
Suppose I have a wallet management program, the first step is to create a wallet account. The second step is to transfer money.
So there are two test files： `createAccount.test.js` and `transfer.test.js`.

If I haven't created an account yet. How can I transfer money?

[2018-07-10 13:29] vonovak commented on #801
@sapjax the money transfer test suite will need to have a beforeEach section where the account is created

[2018-07-10 13:52] sapjax commented on #801
@vonovak
Think about a bitcoin wallet.
We need to create a new bitcoin address first,  we want to test the real process,  so the address is random.
the private key of this address must store in the App after created,  when transfer, they need the private key to sign the transaction.

If we haven't created the bitcoin address,  we don't know the wallet address and private key.

This is just an exam

[2018-07-10 21:21] GuiCavi opened #819 "[IOS] Failing to execute tests in Bitrise for debug variant"
### Description

I'm using Bitrise to run Detox tests. The build command runs ok and is a success. But the test command always fails.

---

**Running locally:**
* Command `detox test -c ios.sim.debug` without starting the packager: 'No bundle URL present' error
* Command `detox test -c ios.sim.debug` with the packager: Opens the packager and everything runs OK.

* Command `detox test -c ios.sim.re

[2018-07-11 07:22] heuism opened #821 "React Native latest version (current 0.56) support"
Hi guys,

I have just a quick question about the plan to support latest RN version (current is 0.56).

I can see in the Readme file. there is the limit in the React Native version for Detox support. I am wondering why the support for both iOS and Android is not the same? So to develop and test for both platforms should the project stay under 0.51?

And I am asking for the future plan of updating t

[2018-07-11 08:02] anchetaWern opened #822 "Cannot launch app on Android (instrumentationProcess terminated due to receipt of signal SIGTERM)"
#### Description

Trying to solve this issue for 3 days now. I've scoured the issues, and tried the [troubleshooting guide](https://github.com/wix/detox/blob/master/docs/Troubleshooting.RunningTests.md) to no avail.

The problem is that Detox seems to be having problems with launching the app on Android. It installs the app (if it isn't installed yet) but fails to launch it. Here's a [gif](https:/

[2018-07-11 09:36] OlivierFreyssinet commented on #818
Ok so quick update: I do no longer have this problem after removing one particular looped animation (a blinker).

[2018-07-11 09:36] #818 closed

[2018-07-11 10:08] KubaGL commented on #822
I have similar problem with `adb shell ps` returning error. Looks like `-AMo NAME,PID` isn't valid, `ps` takes only pid as a param (at least in adb v. 1.0.40). So far I was only able to fix this issue by editing `src/devices/android/ADB.js` and removing `-AMo NAME,PID` part.

[2018-07-11 10:37] todorone commented on #821
@heuism Detox works on RN 0.56 on iOS. No clue about Android though...

[2018-07-11 11:31] anchetaWern commented on #822
@KubaGL thanks for the help! I tried your solution but still no luck :(

I found out that my adb version is 1.0.39:

[code]

So I updated `ADB.js` to hardcode the PID which I got by executing `adb shell pidof com.rntdd`. I opened the app first before executing it:

[code]

I executed the test using the following command:

[code]

But still no luck. It's still terminating the opened app for some re

[2018-07-11 12:09] yogeshthanvi opened #823 "Detox not interacting with simulator"
(node:6040) DeprecationWarning: "--compilers" will be removed in a future version of Mocha; see https://git.io/vdcSr for more info
detox-server info 17:41:30: server listening on localhost:53599...
  Guest View
    1) "before each" hook: _callee for "#Access the different tabs"

  0 passing (96ms)
  1 failing

  1) Guest View
       "before each" hook: _callee for "#Access the different tabs":

[2018-07-12 01:54] anchetaWern commented on #822
Ok. I finally got it to work. whew!

Solution by @KubaGL worked. So I updated the `pidof` method on `node_modules/detox/src/devices/android/ADB.js`:

[code]

I also had to update `android/app/build.gradle` to use this config:

[code]

[2018-07-12 01:54] #822 closed

[2018-07-12 03:53] tedk99 commented on #821
@todorone what'd you do to make it work?

I'm getting an error related to babel (after I upgraded babel-preset-react-native to : v5,:
    TypeError: Cannot read property 'throwIfClosureRequired' of undefined (While processing preset: "../node_modules/babel-preset-react-native/index.js")

      at _default (../node_modules/babel-preset-react-native/node_modules/@babel/plugin-transform-block-scoping

[2018-07-12 08:28] thymikee commented on #804
@rotemmiz actually could we reopen? I face similar issue in a RN v0.55 project on iOS simulator (any kind).

In debug, most of the time `detox.init()` hangs (the `isReady` message doesn't get a response from WS server, to be specific). However, if I re-start packager, the init somehow succeeds, just to not being responsive when awaiting an element `by.id()` for example.
In release it doesn't ever

[2018-07-12 11:34] thymikee commented on #804
Turned out it was hanging because of infinite animation I had on a screen.

[2018-07-12 12:11] vonovak commented on #821
one user reported that they have detox working on android with RN 0.55.4 https://github.com/wix/detox/pull/773#issuecomment-404250381

[2018-07-12 12:50] neerajkumar-lad commented on #821
https://stackoverflow.com/questions/51305555/could-not-find-method-missingdimensionstrategy-for-arguments-minreactnative

[2018-07-12 15:15] brad-miller1 commented on #804
If this might help anyone, it turns out Cylance (
anti-virus) was blocking the app from connecting in my case.

[2018-07-12 15:21] noomorph commented on #804
@brad-miller1 , any ideas on how to detect such cases? Could you describe how did you come to this conclusion and what can be a symptom for this? I'd like to add some helper code that will detect this kind of issue to prevent similar bug reports in future.

[2018-07-12 15:30] brad-miller1 commented on #804
I ended up finding it in my system logs, I have to leave out some of the details, but the log message was something like this:
[code]

[2018-07-12 15:41] noomorph commented on #804
@brad-miller1 , did you check what operation got enabled after you "lifted the ban"? Was it opening detox-server on a specifc port, or detox-server to simulator communication? I'd be happy to hear any extra input, since it maybe helpful to the other users.

[2018-07-12 15:42] noomorph commented on #804
I mean it could be cool to add a stricter error handler which will throw a fatal exception instead of hanging up. :)

[2018-07-12 15:48] brad-miller1 commented on #804
Basically it was not allowing the app to connect to the detox server, it was not able to connect and therefore could not send the response that the app was ready

[2018-07-12 16:05] noomorph commented on #804
@brad-miller1 , thank you very much!!!  :+1:
I'll find some time to investigate this.

[2018-07-12 18:31] brad-miller1 commented on #804
Your welcome! It would be great if it could somehow log this type of error so it would be easier to debug! Let me know if I can provide any other info, thanks!

[2018-07-12 20:03] etaiklein opened #825 "[Docs] Screenshot comparison tool recommendations"
Any recommendations for screenshot comparison tools? This would be great to include in the docs!

I want to upload my screenshots, compare them, and come out with a static link I can send to a designer or PM!

[2018-07-13 03:13] invisal opened #826 "Mixing jest expect with detox expect."
How to mix Jest expect with Detox expect? Here is what I try to do. It seem `expect` has been override the jest `expect`.

[code]

[2018-07-13 03:20] #826 closed

[2018-07-13 07:39] kevindavee opened #827 "How can I clear redux state after finishing test"
Hi,

I just tried Detox for e2e testing UI Automation. This library is really good. I just want to ask if there is any way for me to clear redux state after finishing a test suite. In my case, I want to clear my shopping cart

Here's my code:

[code]

I'm using Jest as my test runner. Please help me if I'm doing wrong. Thanks

* Detox: 8.0.0
* React Native: 0.47.2
* Device: iOS
* Xcode: 9
* macOS:

[2018-07-13 07:52] #827 closed

[2018-07-13 10:33] neerajkumar-lad commented on #822
@anchetaWern I am also facing the same issue. Do I need to change only this line ?

`const processes = await this.shell(deviceId, `ps`); // this was previously ps -AMo NAME,PID`
I am facing still the same issue after changed as you did.

**Note: the app is getting install in the device and able to start app also.**

This is my package.json:

[code]
Please find the attached log for your reference.

[2018-07-13 11:03] noomorph commented on #822
I don't really understand things with tweaking the `adb shell ps -AMo NAME,PID` command.
If there's discrepancy in results between some versions, let's handle it.

@anchetaWern, @KubaGL could you post your `adb shell ps --version` and `adb shell ps --help` output? Mine are:

[code]

[2018-07-13 11:07] KubaGL commented on #822
@noomorph the problem is that my `adb shell ps` accepts only pid as a param, eg. when I try to run `adb shell ps --help` I get `bad pid '--help'` as an output.