[2019-04-11 10:53] #149 closed

[2019-04-11 10:58] noomorph commented on #1197
The idea makes sense. I don't see it in the very near roadmap, but `.not.` negation is a common and legit mechanism. I bet that composing a good pull request might be challenging, though if somebody feels like they can do it, go for it.

If I were to start implementing this, most likely I would examine how `jest`, `jasmine`, `chai` or other libs with expectation functions had that implemented. I h

[2019-04-11 11:07] JanithaR commented on #1257
Guys, does anyone have a suggestion/workaround to get tests running on Android for the time being?

[2019-04-11 11:26] LeoNatan commented on #1257
@d4vidi

[2019-04-11 11:28] LeoNatan commented on #149
❤

[2019-04-11 12:05] d4vidi commented on #1257
@JanithaR Please try adding this to your app's (i.e. root build.gradle) classpath:

[code]

[2019-04-11 12:08] d4vidi commented on #1257
@JanithaR last but not least, if all else fails please see whether your app declares `org.jetbrains.kotlin:kotlin-stdlib` a direct dependency. If so, please try switch it to `org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.3.0` so as to align with detox.
Currently, detox declares it a hard dependency. Perhaps I ought to allow for this to be conditional but that will take a few days to work out.

[2019-04-11 12:41] Olovorr commented on #1263
Having same issue, did you manage to solve this somehow @Elijen? If so, could you share please? (even though that this looks like jest issue).

I used `detox init -r jest` as well.

[2019-04-11 14:12] avalond commented on #1257
for react native please remove

### support  Jetpack
android.useAndroidX=true
android.enableJetifier=true

from android/gradle.properties then  work, i try this only for me

[2019-04-12 09:35] buzzb0x commented on #1263
Having the same issue and it used to display. I'd rather not switch to Mocha. Does anyone have a clue?

[2019-04-12 15:19] #1160 closed

[2019-04-12 17:30] #807 closed

[2019-04-12 19:42] Olovorr commented on #1263
@Elijen thanks, I couldn't solve it by switching Mocha but I was able to solve it in the end :)

@buzzb0x I managed to make it work by downgrading jest to version 23.6.0.

It was also kind of working if I wrapped the test in try & catch statement and just consoled the error instead of throwing. But obviously, in this case the test was false positive, I just could read the actual error in the conso

[2019-04-14 05:34] noomorph commented on #1195
Closing the issue due to absence of the feedback.

[2019-04-14 05:34] #1195 closed

[2019-04-14 09:50] noomorph commented on #939
By the way, @EdwardDrapkin, looks like I've found the issue. It was a hack in a third party lib that caused a race condition. Thanks for the feedback, anyways!

[2019-04-14 12:30] boujmil23 opened #1277 "Timeout - Async callback was not invoked"
### IMPORTANT: Use search before opening an issue. For help, ask in Stack Overflow with the `detox` tag. Duplicate issues or questions will simply be closed.

#### Description

#### Steps to Reproduce

#### Detox, Node, Device, Xcode and macOS Versions

* Detox:
* React Native:
* Node:
* Device:
* Xcode:
* macOS:

#### Device and verbose Detox logs

#### iOS build logs

[2019-04-14 13:21] LeoNatan commented on #715
Hello,
This was recently implemented. You can now provide startX and startY percentage to scroll.

[2019-04-14 14:01] LeoNatan opened #1278 "device.takeScreenshot(x) doesn't work if --take-screenshots none is specified (which is the default)"
**Describe the bug**
`device.takeScreenshot(x)` doesn't work if `--take-screenshots none` is specified (which is the default when running tests)

The `takeScreenshot` API should be independent of `--take-screenshots` as they are unrelated logically, if the implementation behind the scenes is the same.

**Environment (please complete the following information):**
 - Detox: 12.2.1

[2019-04-14 14:27] noomorph commented on #1278
Let's discuss tomorrow. In general, I agree.

I think that the best solution should be to add `manual` mode and make it by default. I'd still want as a user of Detox to have a solution do disable screenshots forcibly, as a setting, without having to hack into the codebase, if for some reason I have another build type on CI or have temporary issues with screenshots inside virtual machines. Some deg

[2019-04-14 14:29] LeoNatan commented on #1278
`manual` makes sense, but it should be the default when not specifying a param.

[2019-04-14 15:08] noomorph commented on #1278
Agree! Accepted, thanks!

[2019-04-14 15:38] sergiomap commented on #1220
Did you get it working?

[2019-04-14 15:40] joshuapinter commented on #1220
@sergiomap No.

[2019-04-15 03:44] hammadj opened #1279 "App uninstalls and reinstalls for every test file when using Jest"
**Describe the bug**
After refactoring our tests to use Jest instead of Mocha, Detox started uninstalling / reinstalling the app for every test file. This greatly slows down our tests and is not ideal.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

Any Detox setup with Jest will exhibit this behaviour while Mocha setups will not.

**Expected

[2019-04-15 05:50] noomorph commented on #1279
Do you run with `--runInBand`?

[2019-04-15 05:57] #1278 closed

[2019-04-15 06:11] #1277 closed

[2019-04-15 07:18] #1272 closed

[2019-04-15 07:25] noomorph commented on #1142
Fixed in https://github.com/wix/Detox/commit/65e1975c5164ee82658255f3ec9e44fdce412896 . Available since `detox@12.1.4`.

[2019-04-15 07:25] #1142 closed

[2019-04-15 07:29] noomorph commented on #512
Both jest and mocha can run a test using Detox CLI like this, since `detox@12.1.x`:

[code]

[2019-04-15 07:29] #512 closed

[2019-04-15 07:31] noomorph commented on #1183
@teggno, thanks for pointing that out!

I'll pick it up if nobody else does, but I think it is a good first-timer's pull request, especially given that the hints on how to implement the bugfix are already given by @teggno.

[2019-04-15 07:48] ankitsehgal94 opened #1283 "Error performing 'single click'"
The button is getting clicked and this error shows up. I dont understand, even if the button is getting clicked then why i am getting this error and no other test case will run after the test case of the button for which the detox error (Error performing 'single click') is prompting.

[2019-04-15 07:48] #1283 closed

[2019-04-15 07:52] noomorph commented on #1255
@geraniumdt, I might be a bit busy with the other issues, so if you feel the strength to make a pull request addressing this shortcoming, I'd be very grateful! If not, well, I think I'll find a spare hour somewhere in April-May for that.

[2019-04-15 07:53] noomorph commented on #1183
Partially related to #1255.

[2019-04-15 08:08] noomorph commented on #1194
Good observations. I'll make the issue pinned till we decide what to do about the things you've noticed.

[2019-04-15 08:19] giancarlo88 commented on #1266
Had a similar issue and upgrading AppleSimUtils (`brew upgrade wix/brew/applesimutils`) solved the problem.

[2019-04-15 11:41] VincentCATILLON commented on #1275
Hi @sergiomap, have you changed the `build.gradle` in your `project` (android) or in your `target` (android/app) dir ?

Our app is building fine using Detox 10 (and lastly 12), with minSdkVersion set in project dir (`android/build.gradle`). Neither manifest or target build file has been changed manually.

[2019-04-15 11:44] VincentCATILLON commented on #1233
Btw, is the current Detox release (12.3) supporting RN 0.58 ? Currently, the documentation says:

[2019-04-15 12:19] ankitsehgal94 opened #1284 "Detox is not selection elements from the screen which have tab navigator"

[2019-04-15 12:19] #1284 closed

[2019-04-15 16:07] JakeHiggins opened #1285 "Detox and TrustKit - Signal 6 was raised"
**Describe the bug**
When attempting to run Detox alongside TrustKit in iOS (using the react-native-cert-pinner npm module) `Signal 6 was raised` error is produced. This error was presented in issues: #645 and #548, but no demo project was provided.

We have also seen #721, but it does not appear to have the same error that we are seeing.

**To Reproduce**

- [X] I have tested this issue on the la

[2019-04-15 17:07] alexmngn opened #1286 "The flag --take-screenshots=all fails with React-Native 0.59.4"
**Describe the bug**

Since I've updated React-Native on my project from `0.59.1` to `0.59.4` and detox from `12.1.0` to `12.3.0`, the screenshot system doesn't seem to work anymore. I'm getting an error `/usr/bin/xcrun simctl io undefined screenshot`. More details below.

**To Reproduce**

Just run `detox test -c ios.sim.debug --take-screenshots=all`

**Environment (please complete the following

[2019-04-15 17:08] LeoNatan commented on #1285
Hello

This issue seems the same as #721.
As discussed there, we are blocked by Google (see https://github.com/google/EarlGrey/issues/709 and our PR for this specific issue—still not merged—https://github.com/google/EarlGrey/pull/710). Please comment on the Google issues to help make our fix happen.

As a workaround, please use `kTSKSwizzleNetworkDelegates: @NO`, as mentioned in the other issue.

[2019-04-15 17:11] LeoNatan commented on #721
Closing in favor of https://github.com/wix/Detox/issues/1285 which includes more information on this issue.

[2019-04-15 17:15] LeoNatan commented on #1285
I see you mention #721 in your comment. It looks to me like a similar issue, but I could be mistaken. I will test in the coming days your example project (please do not remove the repo), and will see if related or a new issue,

[2019-04-15 17:16] LeoNatan commented on #1285
Seems like the crash is exactly what is fixed here https://github.com/google/EarlGrey/pull/710/files#diff-c79d061dda0f28726f49fe56ac8a08a2R66, no?

[2019-04-15 17:18] LeoNatan commented on #1286
I don't think this is related to RN itself. Could you please try downgrading to 12.1.4 or 12.2.x to test if screenshots work there?

[2019-04-15 17:19] LeoNatan commented on #1233
I think we're still stuck with the Android version. @d4vidi Any updates?

[2019-04-15 17:20] LeoNatan commented on #1266
Closing the issue as this seems like the solution.

[2019-04-15 17:20] #1266 closed

[2019-04-15 17:25] LeoNatan commented on #526
As we've been moving more and more to integrate the server itself with the test runner process, we will not be implementing this.

[2019-04-15 17:25] #526 closed

[2019-04-15 17:29] LeoNatan commented on #1121
This should be in AppleSimUtils.

[2019-04-15 17:29] #1121 closed

[2019-04-15 17:31] noomorph commented on #1286
@alexmgn, could you attach log level = trace logs to the issue, please. There is something weird with the device udid extraction. Need to understand where the program loses it.

[2019-04-15 17:39] LeoNatan commented on #95
[This comment](https://github.com/wix/Detox/issues/95#issuecomment-448365050) mentions everything I've done in POC to get it to work on a real device, as well as challenges I've met or think will be difficult to tackle. Here is more info:

The general gist of how we inject Detox into apps on simulators is as follows:
1. Take a user's .app and install it on simulator
2. Launch app with `DYLD_INSERT

[2019-04-15 17:45] LeoNatan commented on #201
@geraniumdt Unfortunately, we do not have the capacity right now. Please consider submitting a PR if you'd like to see this feature implemented.

[2019-04-15 17:46] LeoNatan commented on #175
@noomorph This, at least partially, will be supported once the full blown arguments PR lands, right?

[2019-04-15 17:47] LeoNatan commented on #206
Closing this issue. Speaking from experience internally, there is no magic. You need to add IDs to your views, or risk flakiness by using `by.Label()`/`atIndex()`.

[2019-04-15 17:47] #206 closed

[2019-04-15 19:25] prsauer opened #1287 "React native navigation stalling"
**Describe the bug**
React-navigation navigate calls stalling out detox

Navigation calls that cause RN-N to switch navigators cause a stall --

`detox[98477] INFO:  [actions.js] Sync Timed: animateWithDuration:delay:options:animations:completion:
detox[98477] INFO:  [actions.js] Sync WXRunLoopIdlingResource: React Native thread is busy.`
loops for a very long time (minutes); it sometimes unstalls

[2019-04-15 20:14] alburdette619 opened #1288 "Detox tests hang on detox.init()"
**Describe the bug**
This is a bug that keeps showing up on Detox apparently but hasn't been addressed recently.  I am using `react-native-firebase` and specifically Crashlytics.  It seems something is causing a crash when `detox.init()` is run.  Specifically the test never gets past `deviceDriver.waitUntilReady()` in `Device.js`.  I have been over the synchronization documentation but I don't thi

[2019-04-15 20:52] hammadj commented on #1279
@noomorph Problem with `--runInBand` is that detox automatically adds the `--maxWorkers 1` option when calling jest. Jest doesn't allow specifying both `runInBand` and `maxWorkers`.

How exactly would globalSetup help with the issue? What would I be doing in the globalSetup?

[2019-04-15 22:23] LeoNatan commented on #1287
I don't see how Detox is responsible here. The RNN guys use Detox in their CI, as well as our internal projects use both RNN and Detox, and we haven't seen anything like that. The piece of log you have quoted tells you that the JS thread is busy. Look in your code to see what is the cause.

[2019-04-15 22:23] #1287 closed

[2019-04-15 22:27] LeoNatan commented on #1288
I don't see an issue in the logs you have provided. Detox uses its own exception and signal handlers to catch app crashes and report them back to the tester. That does not cause crashes in and of itself.

You claim that there is a crash, but I don't see any in the logs you have provided. Please provide the crash information so we can take a look.

[2019-04-15 22:28] LeoNatan commented on #250
Since this has been resolved in PRs, I am closing the issue. Thanks

[2019-04-15 22:28] #250 closed

[2019-04-15 22:39] LeoNatan commented on #376
Any reason not to use launch arguments? There is a similar API you can use to test whether a launch argument exists.

[2019-04-15 22:39] #376 closed

[2019-04-15 22:54] LeoNatan commented on #463
Implemented in #505

[2019-04-15 22:54] #463 closed

[2019-04-15 23:06] LeoNatan commented on #635
This will not be implemented for the time being. If scroll position is uncertain, first that's a big UX problem for you users, and second, you can use the `whileElement()` to scroll your container scroll view until the target view is visible.

[2019-04-15 23:06] #635 closed

[2019-04-15 23:08] LeoNatan commented on #644
I don't think this reproduces anymore. Closing. Feel free to open a new issue if you see another crash.

[2019-04-15 23:08] #644 closed

[2019-04-15 23:13] LeoNatan commented on #767
@noomorph Does the transition to yargs close this issue?

[2019-04-15 23:22] ashah0819 opened #1289 "detox mocking is not working"
**Describe the bug**

I am trying to mock one component in my RN project. It is running infinite animation loop so I want to  disable it in mocked version to work with detox test. I followed detox advanced mocking guide But Running RN CLI as "RN_SRC_EXT=e2e.js react-native run-ios" and detox test -c ios.sim.debug  still uses original .js file and not e2e.js file.

I tried both config versions from

[2019-04-15 23:37] alburdette619 commented on #1288
@LeoNathan, am I misunderstanding this line in the device logs?

`2019-04-15 16:02:51.078 OneVue[89023:3409363] [Crashlytics:Crash] Warning: NSUncaughtExceptionHandler is 'grey_uncaughtExceptionHandler' in '/Users/adamb/Library/Detox/ios/11e6f51c3d7c5604b4955a94547a3726d9ab1ecd/Detox.framework/Frameworks/EarlGrey.framework/EarlGrey'`

[2019-04-15 23:39] LeoNatan commented on #1288
Yes. It just warns you that the handler of uncaught exceptions (`NSUncaughtExceptionHandler`) is not their own. That's not a crash.

[2019-04-15 23:45] LeoNatan commented on #1137
@d4vidi Can you please take a look?

[2019-04-15 23:52] #1289 closed

[2019-04-16 00:00] alburdette619 commented on #1288
Okay, seems I'm mistaken on the cause here. I did this with `debug-synchronization` but got no warnings but a timeout while `detox.init` was called. I logged it as far as `deviceDriver.waitUntilReady()` in `Device.js`.

This might be entering the realm of StackOverflow, not sure. It seems like I should get synchronization issues from the debug if it were something in my code.

[2019-04-16 00:03] LeoNatan commented on #1288
What do you see on screen in the simulator app when running the test?

[2019-04-16 00:04] alburdette619 commented on #1288
The app on it's initial screen, idle. There should be nothing going on at all.

I use `react-native-screensaver`, could that have anything to do with it?

[2019-04-16 00:11] LeoNatan commented on #1288
If the app is idle (and you can interact with it, even if Detox appears stuck), means there is not a crash.
Could be that Crashlytics has some kind of conflict with Detox. Could I ask you to try to reproduce this issue on a clean RN project (`react-native init`) and see if it reproduces there? If it does, please attach the project here. If it does not, the problem lies somewhere in your code.

[2019-04-16 00:13] Leonathan commented on #1288
For some reason my email's being spammed with messages, i don't know what's happening

Obter o Outlook para Android<https://aka.ms/ghei36>

________________________________
From: Leo Natan <notifications@github.com>
Sent: Monday, April 15, 2019 9:11:45 PM
To: wix/Detox
Cc: Leonathan; Mention
Subject: Re: [wix/Detox] Detox tests crash with Crashlytics (#1288)

If the app is idle (and you can intera

[2019-04-16 00:21] LeoNatan commented on #1288
@Leonathan
You were quoted here by mistake: https://github.com/wix/Detox/issues/1288#issuecomment-483457169

Just click the unsubscribe button.

[2019-04-16 03:33] noomorph commented on #767
Yes, thanks for checking! Closing it.

[2019-04-16 03:33] #767 closed

[2019-04-16 03:50] JanithaR commented on #1257
I have already done this.

[2019-04-16 04:32] JanithaR commented on #1257
I do not have these defined in my android/gradle.properties file.

[2019-04-16 04:35] JanithaR commented on #1257
In an effort to understand how things should be configured more correctly I cloned the repo and tried to get the demo-react-native-jest project provided in the example to get to work. That also ends up in an error.

[code]

[2019-04-16 05:56] jmporchet commented on #1187
Could you be a bit more specific in the steps you use to make it work?
I'm also facing this issue and would be happy to be able to at least use detox with release builds?

[2019-04-16 06:30] noomorph commented on #1286
@alexmngn , please answer.

[2019-04-16 06:38] noomorph commented on #1279
@hammadj , I suggest to reinstall the app on the emulator/simulator in a global setup. To stop reinstalling on each suite run, make sure to follow this:

https://github.com/wix/Detox/blob/master/docs/APIRef.Configuration.md#faster-test-runs-with-app-reuse

[2019-04-16 06:52] noomorph commented on #1058
Guys, I think we might want to check if things really work there. The projects in `examples` are not being tested on Jenkins+Linux+Android, we have only [detox-demo-projects](https://jenkins-oss.wixpress.com/job/detox-demo-projects-pr/) which targets MacOS.

So, our issue reporters might be right that there's an issue with those example projects.
Personally, I could not run `examples/demo-react-na

[2019-04-16 07:05] LeoNatan commented on #1286
@noomorph The more info label is enough.

[2019-04-16 08:06] avalond commented on #1257
can you share some you config?

[2019-04-16 08:31] alexmngn commented on #1286
Seems like it was an issue with our CI, we got it running properly on another computer.

[2019-04-16 08:31] #1286 closed

[2019-04-16 09:49] rawqing opened #1291 "How can I expect the checkbox is checked?"
like this:
 `await element(by.id('checkbox')).tap();`
 `await expect(element(by.id('checkbox'))).isChecked();`

Is there an implementation?

[2019-04-16 09:49] #1291 closed

[2019-04-16 09:58] rawqing commented on #1291
Why it's closed?

[2019-04-16 09:58] JanithaR commented on #1257
../android/app/build.gradle
[code]

.../DetoxTest.java
[code]

.../android/build.gradle
[code]

../android/settings.gradle
[code]

../package.json
[code]

[2019-04-16 13:47] d4vidi commented on #1257
@JanithaR sorry, the jest demo project happened to have been broken. I've just finished fixing it. You can use the other (mocha) demo project if you like.

[2019-04-16 13:47] d4vidi commented on #1257
What about this, though? https://github.com/wix/Detox/issues/1257#issuecomment-482087911

[2019-04-16 15:55] prsauer commented on #1287
Too many console.log calls! 😢

[2019-04-16 16:06] RiiiDE opened #1292 "replaceText does not trigger TextInput's onChangeText event (multiline)"
Related with https://github.com/wix/Detox/issues/151

It now works as expected on regular TextInput's, but it is not triggering onChangeText event on multiline={true}

Detox: 12.1.4
React Native: 0.59.1
iOS: 12.1

[2019-04-16 16:43] kennym opened #1293 "Is there a reason why there's only one supported parameter in launchApp URL?"
https://github.com/wix/Detox/blame/2cd7b1a2d57eee0b9fa819e1319b557955732ef1/detox/src/devices/Device.js#L119

Why are there not more than URL params allowed?

[2019-04-16 16:46] kennym opened #1294 "URL with multiple arguments is not passed correctly to iOS"
Leo edit:

[2019-04-16 16:49] kennym commented on #1293
Duplicate of #1294

[2019-04-16 16:49] #1293 closed

[2019-04-16 17:20] kennym commented on #1294
@noomorph is this an iOS limitation? I would like to submit a PR.

[2019-04-16 17:23] LeoNatan commented on #1294
I think you are confusing things here. Your example is one URL with multiple arguments. That’s supported, you just need to support it in your code.

[2019-04-16 17:25] LeoNatan commented on #1292
If you've seen the other issue, I am not sure what you are expecting. What was said then still holds true today. It's a limitation of the framework we are using. Feel free to open an issue with Earl Grey.

[2019-04-16 17:25] #1292 closed

[2019-04-16 17:26] LeoNatan commented on #1294
Also, both operating systems support only URL as input. How would multiple URLs work anyway? It makes no sense.

[2019-04-16 17:26] kennym commented on #1294
@LeoNatan it's not - if I do `launchApp({ url: 'https://testt.com/go/?screen=BehaviorLessons&behaviorKey=helpful' }}` in the app only `https://testt.com/go/?screen=BehaviorLessons` comes through.

[2019-04-16 17:27] kennym commented on #1294
I think you're being a little quick here... I wouldn't raise this concern if I didn't have an issue...

[2019-04-16 17:27] LeoNatan commented on #1294
In that case, it's a bug.

[2019-04-16 17:27] kennym commented on #1294
ok, let me report it as a bug

[2019-04-16 17:27] LeoNatan commented on #1294
But that is ONE URL, not many. Those are arguments.

[2019-04-16 17:28] LeoNatan commented on #1294
I have changed the title.

[2019-04-16 17:28] kennym commented on #1294
Thanks.

Well, in your code you call them URL params: https://github.com/wix/Detox/blame/2cd7b1a2d57eee0b9fa819e1319b557955732ef1/detox/src/devices/Device.js#L119

[2019-04-16 17:29] LeoNatan commented on #1294
@noomorph Can you pls check how the JS handles URLs? Most likely it's an issue with encoding.

[2019-04-16 17:31] LeoNatan commented on #1294
@kennym That's something else. Please read the code. It checks that only one of `url`/`userNotification`/`userActivity` is provided.

[2019-04-16 17:33] kennym commented on #1294
@LeoNatan good catch.

[2019-04-16 18:06] noomorph commented on #1286
@alexmgn, thanks for the reply! If you reproduce it one day, please reopen and attach the log in trace mode. Maybe I'll figure it out in which edge case and race condition it happens.

[2019-04-16 18:14] LeoNatan commented on #1286
Please do not reopen issues. You may not even be able to, closed issues get locked after 3 days. Please open a new issue.

[2019-04-16 18:18] cs01 opened #1296 "device.terminateApp results in ChildProcessError"
**Describe the bug**

Calling this code (with Detox v12.3.0)
[code]
results in this
[code]
**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the last known version where the issue did not reproduce.

1. in `beforeAll` Jest method, try to terminate a

[2019-04-16 18:57] rsmelo92 opened #1297 "Detox only works with RN 0.59 when targetSdkVersion = 27"
**Describe the bug**
After update project to `RN 0.59`, Detox on `v12.3.0` won't work unless `targetSdkVersion` is set to 27.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

1. Create a project with RN 0.59.4 and Detox v12.3.0
2. Try to run Detox tests
3. Wait for app to be built
4. Wait to see if tests run

**Expected behavior**
Tests should

[2019-04-16 19:03] cihati commented on #1289
I've spent a considerable amount of time on making mocks work, read through all SO questions and GitHub issues, but did not have any luck. No matter what I try, X.e2e.js is not used, but the original X.js is... @ashah0819 @LeoNatan

[2019-04-16 21:50] LeoNatan commented on #1294
I think the issue lies here:
https://github.com/wix/Detox/blob/65e1975c5164ee82658255f3ec9e44fdce412896/detox/src/devices/ios/AppleSimUtils.js#L251

Perhaps `return _.map(launchArgs, (v, k) => `${k} "${v}"`).join(' ').trim();` would better. @kennym Would you like to test and possibly submit a PR with a fix?

[2019-04-17 01:48] JanithaR commented on #1257
Here are all the dependencies from .../android/app/build.gradle
[code]
If I'm not terribly mistaken, org.jetbrains.kotlin:kotlin-stdlib is not a direct dependency.

[2019-04-17 03:31] kennym commented on #1294
@LeoNatan I'm going to give that a try tomorrow morning.

[2019-04-17 05:00] hammadj commented on #1279
@noomorph

I tried this by adding the following to my `globalSetup.js`:
[code]

And removing the init and launchApp from the `beforeAll` hook in the `init.js` file. However, this caused every single test to fail with errors like this:
![image](https://user-images.githubusercontent.com/7143583/56262330-6740ad00-609b-11e9-815c-943e23677b96.png)

I believe this is because the globalSetup is executed

[2019-04-17 07:00] JanithaR commented on #1257
Aaand things are working after I updated /node_modules/pushwoosh-react-native-plugin/src/android/build.gradle dependency from `implementation "org.jetbrains.kotlin:kotlin-stdlib-jre7:1.1.60"` to `implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.3.0"`.

I do not think that this is a smart solution. Can I force all transitive dependencies to be using the same version across all modules?

[2019-04-17 09:26] noomorph commented on #1296
@cs01, where did you get your impression from, that `device.terminateApp` accepts an object as a first argument?

[2019-04-17 10:20] hieuTranEnouvo opened #1300 "It can't create cucumber report after running is successful"
**That is result:**
Feature: Profile screen

    Add test profile screen

  Scenario: Testing Profile Screen Items
detox[5335] INFO:  [DetoxServer.js] server listening on localhost:51247...
detox[5335] INFO:  [AppleSimUtils.js] com.reebonz.reebonz launched. The stdout and stderr logs were recreated, you can watch them with:
        tail -F /Users/hieu/Library/Developer/CoreSimulator/Devices/34D61D

[2019-04-17 10:21] #1300 closed

[2019-04-17 12:29] noomorph commented on #1294
Okay, guys, keep me in the loop if you need anything from me. If I got it right, @kennym volunteered to look into it today and you don't need my assistance at the moment. Correct me if I am wrong.

[2019-04-17 12:46] noomorph commented on #1300
@hieuTranEnouvo, I suggest you collaborate with people in #1300 and help them build `demo-react-native-cucumber` project for Detox so that people like you today will have a reference project that works out-of-the-box with Detox and Cucumber.

The issue is closed since it is a support question.

[2019-04-17 13:46] LeoNatan commented on #1300
#237

[2019-04-17 14:11] d4vidi commented on #1257
ahh kudos for that!

[2019-04-17 14:15] d4vidi commented on #1257
Yes, try explicitly adding the kotlin stdlib dep and force it:

```implementation "org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.3.0 { force = true }```

or if that doesn't work, also exclude it from `pushwoosh`:

[code]

[2019-04-17 14:25] kennym commented on #1294
@LeoNatan that fixed it!

[2019-04-17 14:51] mfrachet opened #1303 "Plugin system to hooks inside the native code in some ways"
**Is your feature request related to a problem? Please describe.**
In my company, we're actually moving to Detox in our brownfield application. The idea is to automate our E2E.

However, we also need to ensure that the different **layout and styles** don't break between different types of devices (sizes, platforms etc...) And we wanted to rely on some tools like Applitools to take screenshots and

[2019-04-17 15:29] c-j-j commented on #1289
I also had issues with mocks not working, and was able to fix by configuring `metro.config.js` to pick up the mock module file extensions instead of `rn-cli.config.js` (looks like rn-cli.config.js is for older versions of react native as far as I can tell).

I am however running on react-native 0.59.4 but maybe worth a try on 0.57.5.

[code]

Hope this helps

[2019-04-17 15:52] JanithaR commented on #1257
Ok, thanks. I will definitely try that tomorrow.

While my problem is solved by resorting to a workaround I guess still there's something could be done that's way better. Really wish I could help you guys but I need a better understanding on how these dependencies work. Perhaps update the docs highlighting this issue and mention the same steps I took to rectify it until you guys come up with a sol

[2019-04-17 17:28] ashah0819 commented on #1289
Worked after a slight change . I have to provide my custom extensions ["e2e.js"] in else part. Seems like when metro bundler is launched env.E2E is not being passed so it parses else part. But solved my problem. Thank you @c-j-j

[2019-04-17 18:48] LeoNatan commented on #1289
Guys, this discussion should have been on Stack Overflow so that it can be more easily discovered.

[2019-04-17 18:55] LeoNatan commented on #1303
I have discussed my thoughts on a native plugin system here:
https://github.com/wix/Detox/issues/1091#issuecomment-448698596

I think I close this issue in favor of #1091. While the title is more specific, the discussion there covers more customization/plugins.

[2019-04-17 18:55] #1303 closed

[2019-04-17 19:24] Elijen opened #1304 "Reopen #992, disable stale bot"
Can we have the following issue reopened as it wasn't really resolved:
https://github.com/wix/Detox/issues/992

Is there any benefit of using Stale bot apart of ignoring issues? Can we have stale bot disabled/removed?

[2019-04-17 19:41] noomorph commented on #992
@LeoNatan, is it okay if we reopen it, or you have other suggestions? I just don't know what to do in regards to this issue. :(

[2019-04-17 19:45] LeoNatan commented on #992
No. As I said in the other issue, I spoke with Rotem and we decided the current policy stands.

[2019-04-17 19:46] #992 closed

[2019-04-17 19:47] LeoNatan commented on #1304
No.

[2019-04-17 19:47] #1304 closed

[2019-04-17 19:48] LeoNatan commented on #1304
See discussion here:
https://github.com/wix/Detox/issues/1227

[2019-04-17 20:31] cs01 commented on #1296
Thanks for the response! That was a copy and paste error. It works fine when I take it out.

[2019-04-17 20:31] #1296 closed

[2019-04-17 21:11] LeoNatan opened #1305 "Bots in this repository"
Someone commented about the stale bot, so I would like to take this opportunity to discuss a little why we have these bots set up they way they are.

We have integrated this repository with 4 bots:
- [Support](https://probot.github.io/apps/support/)—we use this bot to close general support issues and point the original user to Stack Overflow and the `detox` tag there
- [No Response](https://probot

[2019-04-17 21:11] #1305 closed

[2019-04-17 21:13] LeoNatan commented on #1304
Regarding the bots we use and our rationale, see #1305

[2019-04-17 21:53] rotemmiz commented on #1220
Is your application a "brownfield" app? including both native parts and RN parts?
This happens when Detox tries to get the application context (which is expected to be a ReactApplication), but gets something else.
We need to fix that in Detox, but we need your input, or even better, a small demo project.

cc @d4vidi

[2019-04-18 00:48] cs01 opened #1306 "allow all settings to be defined without cli arguments"
**Is your feature request related to a problem? Please describe.**
Some arguments, such as `loglevel` or [cleanup](https://github.com/wix/Detox/blob/dd95ad2ba52e32b04341eaf0f351b2dad9ec960c/detox/src/Detox.js#L89), can only be defined as CLI arguments, which forces the user to use the detox-cli. While the detox cli is very convenient, we are integrating detox into a toolchain that cannot use it, y

[2019-04-18 07:24] hieuTranEnouvo opened #1309 "Detox doesn't call file abc.app in package json"
Hello friends,

I want to raise an issue about build an app of detox

When I run detox.

**My code:**
[code]

==> That can't call abc.app :(

### I must turn on a simulator(Ip-6 ) then It's created a new simulator(Detox - ip6) to run
[https://imgur.com/deGMjDw](url)

My detox: 12.3.0

[2019-04-18 07:32] noomorph commented on #1309
@hieuTranEnouvo, please read the docs.

[code]

Sorry, but these errors you make in `package.json` can't convince me to react to issues you create somehow seriously. /cc @LeoNatan

[2019-04-18 07:32] #1309 closed

[2019-04-18 08:15] LeoNatan opened #1310 "Remove unneeded tests"
As discussed offline with @noomorph, let's remove useless tests, as well as the 100% coverage requirement. Better approach is needed, rather than silly tests that only test trivial things but give no confidence that the process they test is working or not.

[2019-04-18 08:15] LeoNatan commented on #1310
First thing to remove is test snapshots 😂

[2019-04-18 08:17] LeoNatan commented on #1306
Let's follow this in #1238 as they seem to discuss the same subject.

[2019-04-18 08:20] LeoNatan commented on #1297
@d4vidi Can you please take a look?

[2019-04-18 08:23] LeoNatan commented on #1204
Does this happen only for swipe?

[2019-04-18 08:26] LeoNatan commented on #1201
It might not be possible to catch correctly on Android. As with most infinite-loop animations, we suggest mocking these screens not to have a looping animation.

It would help if you could provide a clean demo project where this reproduces.

[2019-04-18 08:28] #1200 closed

[2019-04-18 08:33] #1285 closed

[2019-04-18 08:33] LeoNatan commented on #1285
Please nudge the Google guys to accept my PR. In the mean time, use the workaround provided above.

[2019-04-18 09:36] sergiomap opened #1311 "Tests on Android doesn't load global variables"
**Describe the bug**
I'm running tests in my app for android and iOS. For iOS everything works fine, but on Android it seems doesn't load the global variables "element" and "device" at "detox.init(config);"

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

First, I run:

then:

and then I get the errors:
- ReferenceError: device is not defined
-

[2019-04-18 11:09] hieuTranEnouvo commented on #1309
I changed this code but it still doesn't call abc.app

[2019-04-18 11:53] noomorph commented on #1311
[code]

[code]

Device can't connect to Detox Server, looks like a misconfiguration issue to me. Check that you can actually access it via `ws://192.168.5.229:8099`.

[2019-04-18 11:53] #1311 closed

[2019-04-18 11:56] noomorph commented on #1294
Fixed in #1302

[2019-04-18 11:57] #1294 closed

[2019-04-18 11:59] noomorph commented on #1081
Fixed in #1083.

[2019-04-18 11:59] #1081 closed

[2019-04-18 12:14] noomorph opened #1312 "CI never (or rarely) generates CHANGELOG on publish"
**Is your feature request related to a problem? Please describe.**

Just have released `detox@12.4.0`.
However, the [CHANGELOG](https://github.com/wix/Detox/blob/master/CHANGELOG.md) still has data related to `12.2.0`.
Looks like we need to see what is broken on CI.

[2019-04-18 12:17] noomorph commented on #1058
`demo-react-native` and `demo-react-native-jest` have been fixed on Linux+Android in 12.4.0.

[2019-04-18 12:17] #1058 closed

[2019-04-18 12:21] noomorph opened #1313 "CI: add demo-projects-android build"
The demo projects are tested solely in Mac+iOS chain on CI:
https://jenkins-oss.wixpress.com/job/detox-demo-projects-pr/

To achieve parity, we might add a Linux+Android build for demo projects on CI as well.

[2019-04-18 12:23] noomorph commented on #876
Fixed in `detox@^12.1.0`.

[2019-04-18 12:23] #876 closed

[2019-04-18 12:29] LeoNatan commented on #1312
The whole changelog is unreadable. We should be making the changelog manually. Perhaps the last commit message should serve as that, and then use that to append to the changelog.

[2019-04-18 12:29] LeoNatan commented on #1312
Most likely this is broken on CI because the environment variable with the github access token is missing.

[2019-04-18 12:30] LeoNatan commented on #1313
What is the point of having the demo projects run in CI at all? They just take time and are useless. The main test suit already runs and displays viability.

[2019-04-18 12:35] noomorph commented on #588
@chadlwilson, I think it is possible already in `detox@12.4.0`, but I might be wrong in a few things (e.g. nowadays, passing custom `--testNamePattern` is still problematic), but you can do the following since 12.1.0:

`npx detox test -c ios.sim.debug e2e/device/*.test.js`

If your shell expands the glob, then all those file names will be passed through, to Jest or Mocha.

[2019-04-18 12:35] noomorph commented on #588
@chadlwilson , does that address your issue?

[2019-04-18 12:40] d4vidi commented on #1257
@JanithaR With detox, we were trying to not force library users to introduce kotlin into their projects if they don't wish to. This is why we have the `kotlin-stdlib-jdk` declared as a dependency. Now it turns out that, though ironic, we could have made it difficult for projects that _are_ already using kotlin - such as your own. I think the solution here is to cleverly make this dep conditional.

[2019-04-18 12:46] noomorph commented on #1313
1. They serve as a good starting point for anyone who wants to demonstrate a Detox+iOS or Detox+Android issue to us because they are very minimalistic and simple. The example projects are almost empty and don't have a mental overhead that `detox/test` does.

2. Demo projects can become a basis for quick smoke tests, to check for any foreseeable blocker issues with newly arriving React Native, XCod

[2019-04-18 12:49] LeoNatan commented on #1313
I'm not saying we should remove them. They are good examples of how to setup an app with Detox. But I don't see the value of running them in CI and blocking builds with them. The test suite is already running anyway, in several RN versions, so that gives enough sanity. The added redundancy in this case adds no redundancy.

[2019-04-18 12:51] noomorph commented on #1220
Might be related to #1093 ?

[2019-04-18 12:56] noomorph commented on #381
@LeoNatan, is this issue relevant? Could you test on `12.4.0`? If still yes, maybe you might add more details? Or let's just close it?

[2019-04-18 13:00] LeoNatan commented on #381
ios.none should not require a `binaryPath` in the config in order to run. The bug is that the JS code fails if that key is not found.

Here is the issue:
https://github.com/wix/Detox/blob/6c73108a223de3f6a18b36fb3339b79ce8832376/detox/src/devices/drivers/SimulatorDriver.js#L110

[2019-04-18 13:17] sergiomap commented on #1311
When I check 192.168.5.229:8099 it says "Upgrade Required". What kind of upgrade?

[2019-04-18 13:26] JakeHiggins commented on #1285
Thank you for the response and temporary solution, I will nudge the PR that is in flight!

[2019-04-18 16:30] defualt opened #1314 "React Native child with zIndex style fails toBeVisible tests"
# **Describe the bug**
There is unexpected failure of `.toBeVisible()` tests under this set of conditions
- A parent `View` has a `testID` attribute.
- That `testID` is used to select that parent `View` for the `.toBeVisible()` test.
- That parent `View` has a child `View`.
- That child `View` has `zIndex` style assigned to it.

Child height and width relative to the parent height and width change

[2019-04-18 17:11] cs01 commented on #1306
I noticed #1238 references this issue in the last checkbox, so @noomorph should either remove that reference or this issue should be re-opened. FWIW I think it makes sense to reopen this issue to separate concerns. Commits can be tagged with this issue number rather than the catch-all issue of #1238, but that is just my two cents 😄. Either way, thanks for your quick responses, much appreciated.

[2019-04-18 19:16] rsmelo92 commented on #1297
While it's not answered, here's a workaround to anyone who faces this problem:
Before build run this:
`sed -i -e 's/targetSdkVersion = 28/targetSdkVersion = 27/g' ./android/build.gradle`
After build run this to revert it:
`sed -i -e 's/targetSdkVersion = 27/targetSdkVersion = 28/g' ./android/build.gradle`

[2019-04-18 19:43] JakeHiggins commented on #1285
As a note for anyone trying this before the EarlGrey PR is accepted: adding `kTSKSwizzleNetworkDelegates: @NO` to the Info.plist will allow Detox to launch iOS, but will also cause cert pinning to stop working; just a heads up.

[2019-04-18 19:53] thomaschriskelly commented on #1254
In case it helps anyone else, my workaround for this issue is to place this before other tests:

[code]

[2019-04-18 20:37] joshuapinter commented on #1220
Correct. It was an Android app that we added React Native to.

[2019-04-18 21:24] LeoNatan commented on #1314
That's a strange issue. I will need to look at how the native hierarchy looks like to see what is going on. Thanks for the examples.

[2019-04-18 22:32] cliren opened #1315 "Testing WebViews"
I haven't seen any documentation on how to test WebViews using detox but found few issues that didn't have enough information. Our app uses a webview for login so nothing can be tested without performing a login. Can someone confirm if Testing ReactNative webviews is possible if not we may not be able to use detox and look for alternatives.

[2019-04-18 22:32] #1315 closed

[2019-04-18 22:37] cliren opened #1316 "Testing WebViews on RN iOS app"
**Describe the bug**
I haven't seen any documentation on how to test WebViews using detox but found few issues that didn't have enough information. Our app uses a webview for login so nothing can be tested without performing a login. Can someone confirm if Testing ReactNative webviews is possible if not we may not be able to use detox and look for alternatives.

**To Reproduce**

- [X ] I have tes

[2019-04-19 13:38] alburdette619 commented on #1288
Update: I tried to reproduce with a new project using the same versions of everything and could not thus far.  I changed the title to reflect what I'm seeing and will continue to try to reproduce.

[2019-04-19 16:33] alburdette619 commented on #1288
We're upgrading to RN 0.59 soon so I'm going to hold on this for the time being hoping something will fix it in the upgrade.  I cannot figure out what's going on.  I get similar output as #908 and #155 but there doesn't seem to be much in the way of a solution there.

I'm also using `react-navigation` with `react-native-gesture-handler` so I tied updating those with the changes noted in #1208 but

[2019-04-19 16:43] defualt commented on #1314
Probably related so including here instead of a separate issue:

Here are some more examples, but these involve a child element exceeding the bounds of a parent, and the excess being hidden by either scroll or overflow-hidden.

These should all pass.

## parent height 74, child height 100, overflow visible, PASSES

[code]

## parent height 74, child height 100, overflow hidden, FAILS

*overflow hi

[2019-04-19 21:58] cs01 commented on #1306
Just wanted to note that all command line arguments will fall back to checking for the equivalent camel-cased environment variables. (see detox/src/utils/argparse.js)

[2019-04-19 22:53] cs01 opened #1319 "Unable to control >1 simulator when running parallel Jest tests"
Detox: 12.4.0
Node: v8.11.1
device: iPhone 7 Plus
Xcode: 10.2
macOS: Mojave 10.14.4
jest: 24.7.1

This issue is similar to https://github.com/wix/Detox/issues/1004. When running Jest in our build system (not via detox cli) with 2 workers and 2 tests, only one simulator starts and runs. The other never starts, and the test times out.

## Only one simulator starts
This is an invocation of Jest in ou

[2019-04-19 22:53] #1319 closed

[2019-04-19 22:56] cs01 opened #1320 "Unable to control >1 simulator when running parallel Jest tests"
Detox: 12.4.0
Node: v8.11.1
device: iPhone 7 Plus
Xcode: 10.2
macOS: Mojave 10.14.4
jest: 24.7.1

This issue is similar to https://github.com/wix/Detox/issues/1004. When running Jest in our build system (not via detox cli) with 2 workers and 2 tests, only one simulator starts and runs. The other never starts, and the test times out.

## Only one simulator starts
This is an invocation of Jest in ou

[2019-04-21 16:05] chadlwilson commented on #588
@noomorph That looks quite possible. I'm not actively working with RN at the moment so don't have a setup to verify this, but it does look like #1132 and #1109 have resolved this based on my reading.

[2019-04-21 17:22] noomorph commented on #588
Thanks, Chad. If you'll see if something is broken about that, please file a new issue. Right now I'm closing this one. Good luck with your projects!

[2019-04-21 17:22] #588 closed

[2019-04-22 06:57] noomorph commented on #1320
@cs01, could you please remake the logs, but in log level trace mode? Thanks in advance

[2019-04-22 06:58] noomorph commented on #1320
And why do you remove the lock file? Not sure if I understood your reasoning behind that.

[2019-04-22 07:35] d4vidi commented on #1257
@JanithaR has any of my suggestions worked out for you?

[2019-04-22 08:26] noomorph commented on #175
Partially — yes, for sure. @simonracz wrote quite an interesting doc, and we can take some ideas from it. Let's link to #1238.

[2019-04-22 09:57] JanithaR commented on #1257
Hey, sorry I live in Sri Lanka. You might've heard the terrible news by now. I didn't have time to code. Will get back.

[2019-04-22 10:27] d4vidi commented on #1257
Yes, of course. Terrible news. Wish you guys all the best.

[2019-04-22 11:35] d4vidi opened #1323 "Publish Detox with Android packaging artifacts"
Publish Android artifacts (i.e. .aar, sources jar, javadoc jar) to npm, on top of the existing content being published today.

Initially, this was addressed [by this PR](https://github.com/wix/Detox/pull/955). However, up to date work show that it's become outdated to the point where it would make more sense to start a new (based on that work).

[2019-04-22 18:17] cs01 commented on #1320
Thank you for the quick response! I will post trace logs soon.

To ensure consistent simulator state between runs and avoid creating new simulators, as found by trial and error and then later in the [detox documentation](https://github.com/wix/Detox/blob/95ad14b66da2c968a8a4ec0283bc5a8721109526/docs/Guide.ParallelTestExecution.md#important-note).

[2019-04-23 00:33] cs01 commented on #1320
Here is the trace: https://gist.github.com/cs01/0063cf6e0cb10f3db09eb5f411a2a119

[2019-04-23 04:17] rawqing opened #1326 "Log artifacts is empty."
I use `detox test --configuration ios.sim.release --debug-synchronization --take-screenshots all --record-logs all` running detox test example app with `jest`, `test.log` artifacts always empty.
![image](https://user-images.githubusercontent.com/18608327/56553666-c897dd00-65c1-11e9-87a3-e6a893de7056.png)

[2019-04-23 08:39] noomorph commented on #1326
This is expected — the current implementation of collection device logs in iOS is not verbose, so many of the logs are indeed empty. Please check, for example, logs for `Actions should type in an element`:

<img width="640" alt="Actions should type in an element" src="https://user-images.githubusercontent.com/1962469/56566765-1d385980-65bc-11e9-9995-41da3c151b88.png">

If it is empty, let's see ho

[2019-04-23 09:02] noomorph commented on #1313
Resolved by @d4vidi . Kudos!

[2019-04-23 09:02] #1313 closed

[2019-04-23 09:07] d4vidi commented on #1313
Thanks @noomorph :) Indeed, as a part of the work I did for #1323.

@LeoNatan you're right in a sense but in _this_ particular context it's a good way to have sanity over the creation of the `aar` etc. The overhead is pretty low.

[2019-04-23 09:33] noomorph commented on #1279
@hammadj , I am still not sure if the guys from Detox team will approve my pull request to an example project, but that's basically it: https://github.com/wix/Detox/pull/1328

**WARNING: the approach you want is supported only in `-w 1` (1 worker aka `--runInBand`) mode.**

[2019-04-23 09:56] noomorph commented on #1320
So, you don't use Detox CLI. Okay.
Do you use global setup? (See for the reference: https://github.com/wix/Detox/pull/1328)

[2019-04-23 10:23] rawqing commented on #1326
@noomorph  Hello, there is no special way，it always appears.
package.json:
[code]
e2e/config.json:
[code]
e2e/init.js:
[code]
run script:
`npm run e2e:ios`

test case path:  detox/test/e2e/02.matchers.test.js ( I use detox test example ：you can find it https://github.com/wix/Detox/blob/master/detox/test/e2e/02.matchers.test.js ）

[2019-04-23 10:28] noomorph commented on #1326
If it always appears, what's the problem then?

Do you want empty logs to not appear in the folders? I'm not sure this makes sense but we can discuss this change to the behavior.

Please be more specific.

[2019-04-23 10:45] rawqing commented on #1326
In my opinion, this `test.log` file should be logged correctly, not left blank.
The log output from the console is useful for every test case,we can see the reason for the failure from this, Instead of looking at the output in the terminal.

[2019-04-23 13:01] hunzai opened #1329 "[Question] Performance Benchmark"
Hello,
I was searching for some performance comparison e.g. interactions with elements, memory usage, etc with Appium/web driver and others. Unfortunately I didn't end-up with some concrete benchmarking.
Is there any KPIs on why google/EarlGrey (used by Detox) claims to be faster then others ?

[2019-04-23 13:01] #1329 closed

[2019-04-23 17:53] cs01 commented on #1320
I don't use the global setup but I do add `beforeAll` and `beforeEach` calls. Is the global setup required? It might be a little tricky for me since we are using babel and `import`(not `require`).

It is interesting that the init and cleanup calls are done back-to-back in the `global.js` example you pointed me to. Doesn't the cleanup immediately undo the init?

[2019-04-23 22:52] rotemmiz commented on #1279
I am reopening the issue just to explain what I know about this behaviour.

The nature of Jest as a multiworker test runner is causing this behaviour.

The test runner is spinning up workers, and dispatching jobs (in that case, test files) to each of them. AFAIK, there is no way to configure an env setup file per worker, only [per test file](https://jestjs.io/docs/en/configuration#setupfilesaftere

[2019-04-23 22:54] ksavransky opened #1330 "Can't accept location permission from system alert pop up"
**Describe the bug**
Can't accept location permission from system alert pop up

**To Reproduce**

- [Y] I have tested this issue on the latest Detox release and it still reproduces

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the last known version where the issue did not reproduce.

1. Launch app from command line using detox test --configura

[2019-04-23 22:54] ksavransky commented on #1330
Test fails here:
<img width="379" alt="Screen Shot 2019-04-23 at 3 53 34 PM" src="https://user-images.githubusercontent.com/15972926/56621105-0e639e00-65e0-11e9-86dc-a0511984af1b.png">

[2019-04-23 22:55] ksavransky commented on #1330
I've tried copying the code and suggestions in the following:
https://github.com/wix/Detox/issues/9
https://github.com/wix/Detox/blob/master/detox/test/e2e/13.permissions.test.js
https://github.com/wix/Detox/blob/master/detox/test/e2e/16.location.test.js
https://github.com/wix/AppleSimulatorUtils (running command to set permission from command line before launching test)

[2019-04-23 22:58] ksavransky commented on #1330
My code:
`const detox = require('detox')
const config = require('../package.json').detox
const adapter = require('detox/runners/jest/adapter')

jest.setTimeout(120000)
jasmine.getEnv().addReporter(adapter)

beforeAll(async () => {
  await detox.init(config, { launchApp: false })
})

beforeEach(async () => {
  await adapter.beforeEach()
})

afterAll(async () => {
  await adapter.afterAll()
  await

[2019-04-23 23:03] rotemmiz commented on #1320
Hey @cs01, there's a lot of data missing here, what is the exact command params you run `jest` with?
Also, what are the env vars being passed to jest?

Try running the `demo-react-native-jest` with verbose logging, and you should see exactly how detox calls jest cli tool, you may be missing a param.

[2019-04-23 23:17] cs01 commented on #1320
I am running Jest with the following arguments:
[code]

I am passing the following config to Detox:
[code]

I tried comparing the trace output of `demo-react-native-jest` (as I pasted in my initial post), but couldn't see why the simulators were behaving differently.

[2019-04-24 01:23] LeoNatan commented on #1330
Where is the full log?

[2019-04-24 01:23] #1330 closed

[2019-04-24 03:34] noomorph commented on #1279
@hammadj, could you please create a feature request for support of single reinstall in multi worker mode? We'll continue the discussion there.

[2019-04-24 04:02] META-DREAMER opened #1331 "Support for single reinstall in Jest multi worker mode"
**Is your feature request related to a problem? Please describe.**
Carrying on from the discussion here: https://github.com/wix/Detox/issues/1279

**Describe the solution you'd like**
Detox should only install the app once per worker instead of reinstalling for every test file.

**Describe alternatives you've considered**
[There's some workarounds](https://github.com/wix/Detox/pull/1328) using `--

[2019-04-24 04:03] hammadj commented on #1279
@noomorph Created a new issue here: https://github.com/wix/Detox/issues/1331

Thanks for your time and effort on this!

[2019-04-24 21:36] hammadj commented on #1331
@rotemmiz The workaround with `--reuse` could work, but there's some caveats. With Jest, the global `beforeAll` and `afterAll` hooks will also run for each worker, so that needs to be taken into account since users will have `detox.init()` in `beforeAll` as well as `adapter.afterAll()` and `detox.cleanup()` in `afterAll`.

[2019-04-25 06:24] noomorph commented on #1326
@rawqing, I have three theses on the issue you have created:

0. The behavior you describe was expected. Hence it is not a bug. On the other hand, your narrative contains two separate feature requests.
1. You ask to hijack into test runner log subsystem (be it Mocha, Jest, Ava, Tape or whatever) so Detox pipes everything to logs. This request seems reasonable, albeit we have yet to investigate how

[2019-04-25 06:24] #1326 closed

[2019-04-25 07:21] noomorph commented on #1331
I have some ideas on this but I need to conduct my own investigation.

[2019-04-25 07:28] noomorph commented on #1320
It was a surprise to me too, but the idea is to install the app in `init` and release the lock in `cleanup`. The cleanup does not do much (and it does not uninstall anything) — don't hesitate to look up in the code:

https://github.com/wix/Detox/blob/789ded54e0a15d95e98b9dff1019b96013baebfa/detox/src/Detox.js#L80-L98

https://github.com/wix/Detox/blob/6c73108a223de3f6a18b36fb3339b79ce8832376/detox

[2019-04-25 07:35] noomorph commented on #1320
@cs01, as for your issue, I have a hunch that one of the workers hangs up waiting for a free device.
I suggest you add more `log.trace()` stuff across such places in the code to verify or reject my hypothesis.

Please try doing it yourself — I hope it is going to be fruitful and helps to locate the exact place where your code gets stuck. Afterward, we could arrange a PR that extends logging a bit

[2019-04-25 09:26] #1201 closed

[2019-04-25 12:02] Vojow opened #1334 "Before all test data initialisation using REST APi"
Hey,
I want to initialize my test data beforeAll tests and teardown it afterAll. But for some reason detox launches beforeAll hook from `init.js` every time for all files, which gives me a lot of unwanted API calls. Is it expected behavior? I'm used to a totally different approach.

[2019-04-25 12:02] #1334 closed

[2019-04-25 12:19] LeoNatan commented on #1315
This has been discussed before. Unfortunately, there is nothing we can offer. Please mock your web API so that you don’t have to display it.

[2019-04-26 00:00] milesqi opened #1335 "Detox hangs at detox.init() and failed due to timeout"
I found there is similar issue (https://github.com/wix/detox/issues/917) reported and resolved before. However, I am still seeing this issue even I remove "detox-expo-helpers". Can anyone please help?

My app is an ejected expo app.

1. here is my package.json:

  "dependencies": {
    "assets": "file:assets",
    "expo": "^32.0.0",
    "expo-localization": "^2.0.0",
    "expokit": "32.0.6",
    "

[2019-04-26 00:00] #1335 closed

[2019-04-26 02:49] rawqing commented on #95
It seems that you have a practical solution, but it is troublesome. Could you first provide a manual configuration solution, let us study together, and then consider the adaptation of the cloud test platform? I can't wait to try!
Your contribution is admirable!

[2019-04-26 06:22] noomorph commented on #1263
@Elijen, @Olovorr, @buzzb0x, thanks for bringing up the issue. It is going to be resolved by #1336.

[2019-04-26 07:44] #1263 closed

[2019-04-26 10:08] jmporchet commented on #1187
I encounter the same problem as @KowalskiP.

For reference, my app has these libraries:
detox: ^12.4.1
expokit: 32.1.1
expo: 32.0.0
react-native: 0.57.1 (expo sdk-32.0.0)
XCode: 10.1  (10B61)
macOS: Mojave 10.14.4 (18E226)
node: 11.13.0

Here's a sample repo with a status that's failing: https://github.com/jmporchet/expokit-detox-test
There are two branches, `master` with jest and `mocha` with moc

[2019-04-26 14:16] maitriyogin opened #1337 "Expo Android Docs"
Hi, I'm trying to get detox running on android with expo sdk 32.
My basic config is such
[code]
Then to run I
1. download latest Exponent.apk from expo using a variant of brents script
[code]
2. expo start
3. detox test -c android.emu.debug

Emulator starts up but then nothing...
The setup is the same as with-detox-test and the getting started.
All works amazingly on iOS ...

So, just wondering if

[2019-04-26 14:16] #1337 closed

[2019-04-26 16:55] haswalt opened #1338 "Allow disabling of post install with env var"
**Is your feature request related to a problem? Please describe.**
In certain situations, like our quick internal deployment CI, we want builds to happen as fast as possible and since no tests are run we don't want to build the detox framework. Or situations where we only build for release which requires some dev dependencies but not detox.

Building the framework for Detox takes considerable time

[2019-04-27 08:44] noomorph opened #1339 ".dtxrec are not created if the performance recording was initially started via launch args"
**Describe the bug**

If you run Detox with `--record-performance all`, Detox Instruments recording is not saved if it was started first time inside a test:

[code]

**To Reproduce**

Clone (or [download](https://github.com/noomorph/bug-reports/archive/detox/dtxrec-on-launch.zip)) and follow the README:

https://github.com/noomorph/bug-reports/tree/detox/dtxrec-on-launch/DummyApp

**Expected behav

[2019-04-27 22:37] #1204 closed

[2019-04-29 05:41] harry-nguyen-88 opened #1342 "[Detox 12.5.0] Could not find any matches for com.wix:detox:+"
**Describe the bug**
With latest version 12.5.0, when I tried to build app-debug-androidTest.apk, I have an exception:
Could not find any matches for com.wix:detox:+ as no versions of com.wix:detox are available.

I already did migration guide from 12.4.9 to 12.5.0
*To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

1. cd android
2. ./gradlew assemb

[2019-04-29 07:55] yogeshthanvi opened #1343 "Android release build not get detected though it is already build"
Detox version : 12.5.0
RN : 0.59

I build my app using detox and it is successfully build up . Now when i am trying to test the app it gives me an error that release build is not found . But the same works fine when the debug mode is been considered for testing.

Can someone look into this ?

[2019-04-29 08:33] rotemmiz commented on #1343
You are here for quite a lot of time now, you should know better on how to report an issue.
Please do not ignore the issue template, we can't understand your issues without the required data.

[2019-04-29 08:43] yogeshthanvi commented on #1343
okay sorry for the inconvenience , closing this one will fill new with proper template

[2019-04-29 08:43] #1343 closed

[2019-04-29 23:23] cs01 commented on #1320
I have definitely already looked around the detox source and learned a lot about it 😄 .

Turned out I was running my test in a config with several other [Jest projects](https://jestjs.io/docs/en/configuration#projects-array-string-projectconfig). By making my own config and calling it directly (not along with other projects), the workers didn't freeze up.

[2019-04-30 03:32] noomorph commented on #1320
Chad, please, let's do post mortem. Any wild ideas that could have helped people in your shoes to figure out they are doing something terribly wrong? :) I'd be happy to improve user-friendliness in some places for sure.

[2019-04-30 05:35] yogeshthanvi opened #1345 "Cant run detox in release mode for Android"
**Describe the bug**
In detox when we are able to build successfully the release apk for the android but when try to initiate the test on it, the detox produce an error "android release apk is not found have you build it ?"

**To Reproduce**
Detox version : 12.5.0
React Native Version : 0.59

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the las

[2019-04-30 10:35] noomorph commented on #1345
Looks weird, what you suggest:

[2019-04-30 10:36] noomorph commented on #1345
And, why don't you check `find . -name "*.apk"` to see where your apk is.

[2019-04-30 10:36] yogeshthanvi commented on #1345
My bad it’s release only mistakenly typed this

On Tue, 30 Apr 2019 at 4:05 PM, Yaroslav Serhieiev <notifications@github.com>
wrote:

--
Yogesh Thanvi
QA Team Lead
Punchh Tech India Pvt Ltd

[2019-04-30 20:13] kaiwen-zhang-ck commented on #1342
any updates on this? does detox even work with 59?

[2019-05-01 09:08] d4vidi opened #1349 "Improve Jest's console output flow"
**Is your feature request related to a problem? Please describe.**
When using Jest as the test runner, console output is hard to make sense of due to these two main issues:

1. Jest suite-level summary logs take precedence over 'plain' output, which makes them and all other logs (e.g. user in-test logging) seem cluttered.
2. Plain logs output is batched, and thus often does not show in real-time a

[2019-05-01 09:10] d4vidi commented on #1323
Update: basically done with this. Need to revisit the affect of declaring kotlin's stdlib as a dep (related to #1257).

[2019-05-01 11:54] yanivshor opened #1350 "Can you not show the Hierarchy section when having an error?"
Hi, when I run tests and get an error the iTerm gets over populated by the Hierarchy section and I can't scroll up to see the top of the error. Is it possible to not show the Hierarchy section, or reduce it?

[2019-05-01 16:28] harry-nguyen-88 commented on #1342
Well, after removing node_modules and install it again then the issue was fixed! So when upgrading from 12.4.9 to 12.5.0, we need to to do like that.

[2019-05-01 16:32] #1342 closed

[2019-05-01 17:42] admons commented on #1288
@alburdette619 Today I updated detox from 10 to 12 and xcode from 10.1 to 10.2 and then I this problem started for me too.
Going back to detox 10 didn't solve it, currently trying to install xcode 10.1, will update soon.

[2019-05-01 18:38] AlexK777 commented on #1350
This one looks like a duplicate of #992 and #1227 .

[2019-05-01 19:13] cs01 opened #1352 "Override detoxFrameworkPath"
**Is your feature request related to a problem? Please describe.**
Our CI system does not allow `postinstall` scripts to run. It also does not unzip node packages (it uses yarn pnp), so the `node_modules` source code is not available to run the post install step manually in CI.

**Describe the solution you'd like**
Add a parameter or environment variable `DETOX_FRAMEWORK_PATH` to manually define t

[2019-05-02 05:28] abury opened #1353 "Detox globals no longer available in utility functions (outside of tests)"
**Describe the bug**
Hey Team

We've recently upgraded to RN 0.59 from a much earlier version. When we first started we wrote a number of utility functions that were stored in a separate utility file. These helped us write more concise specs and provided an enhanced debugging experience:

spec:

[code]

aliases/index.js
[code]

This was working very well until updating RN. Now we see the following

[2019-05-02 06:02] rotemmiz commented on #1353
Hey @abury,
Nothing has changed in Detox in that regard. Did you also upgrade jest or node? I would investigate that direction as well.
Anyway, you can always disable global exports and require detox API manually.

[2019-05-02 06:57] viktorijasujetaite opened #1354 "Resolve class name to canonical for Android element matchers by.type()"
**Is your feature request related to a problem? Please describe.**
Searching element `by.type()` is complicated on Android, as you need to provide canonical class name. In Android Studio, only class name is visible. This means you need to add extra effort to resolve class name into canonical class name.

**Describe the solution you'd like**
Detox is able to resolve provided class name into canonic

[2019-05-02 09:00] Niryo commented on #1350
We should print the hierarchy only on --log-level verbose or trace, and keep the regular logs minimal.
I am using detox heavily and I rarely use those logs, we should definitely make them optional.

[2019-05-02 10:48] admons commented on #1288
It wasn't that, it was some library that I added (rollout.io)

[2019-05-02 15:15] punksta opened #1355 "Requires Babel "^7.0.0-0", but was loaded with "6.26.3"."
I followed the common android android guide then I builded test release apk and tried to run tests.

detox test --configuration android.emu.release

<details>
  <summary>output</summary>

[code]

</details>

package.json
<details>
  <summary>content</summary>

[code]

</details>

.babelrc

<details>
  <summary>content</summary>

[code]
</details>

[2019-05-02 15:15] #1355 closed

[2019-05-02 15:27] LeoNatan commented on #1350
This has been discussed many times and will not be accepted sorry. This is a feature we hold on high regard.

[2019-05-02 15:27] #1350 closed

[2019-05-02 21:17] abury commented on #1353
Hey @rotemmiz, thanks for the reply.
We did upgrade jest, but I've tried downgrading it and unfortunately, it didn't do anything. I'll try requiring the detox API manually 👍

[2019-05-02 22:22] abury commented on #1353
Unfortunately, that's not working either. Whilst `expect` and `element` is defined, `by` is undefined when importing it from detox. I followed the instructions from https://github.com/wix/Detox/blob/a954203828f2a466d77a148050ac133b8765df96/docs/APIRef.DetoxObjectAPI.md

I even tried importing `by` directly from ios expect:
`import { by } from '../../node_modules/detox/src/ios/expect';`

And receiv

[2019-05-02 22:52] rotemmiz commented on #1353
You're holding it wrong 😉
https://github.com/wix/Detox/blob/master/docs/APIRef.DetoxObjectAPI.md#explicit-imports-during-initialization

[2019-05-03 09:29] punksta commented on #1355
fixed by updating jest to 24

[2019-05-03 17:03] testingplusme opened #1361 "How to move on (by detox) screen where I have buttons with asking about permissions"
Hey Guys,
I like detox and I have question because I can't to move on to next step in my onboarding screen. (only to second screen I can go to third not)
I have screen something like this (it's an example but screen for app which I'm automating is quite similar)

![ALLOW APP TO NOTIFY YOU](https://user-images.githubusercontent.com/17097924/57152980-63b86000-6dd5-11e9-9bee-00d659fe533f.png)

I have

[2019-05-03 17:03] #1361 closed

[2019-05-04 08:37] Adnan48 commented on #1345
@yogeshthanvi  Did the test run for the debug version of the app ?

[2019-05-04 09:31] yogeshthanvi commented on #1345
Yes it is running for debug version

On Sat, 4 May 2019 at 2:08 PM, Adnan48 <notifications@github.com> wrote:

--
Yogesh Thanvi
QA Team Lead
Punchh Tech India Pvt Ltd

[2019-05-04 17:54] wilau2 opened #1362 "await device.takeScreenshot to return the image"
`await device.takeScreenshot('MyScreenShot');`
could return the screenshot image.
This would facilitate a lot visual regression testing

[code]

[code]

[2019-05-04 23:32] wilau2 commented on #1362
Workaround :
[code]

[2019-05-05 09:08] #1345 closed

[2019-05-05 09:28] d4vidi commented on #1257
Hi @JanithaR. I hope you are doing fairly well, given the situation.
In any case, if it matters for anything at all, I've formalized our discussion into a ['troubleshooting' subsection in the android guide](https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md#problem-kotlin-stdlib-version-conflicts). In any case, generally speaking things should be easier to work with starting Det

[2019-05-05 13:20] LeoNatan commented on #1362
This can potentially have memory issues. Loading a huge iPad Pro or iPhone XS Max screenshots in memory would be slow and memory intensive.

[2019-05-05 14:09] bintoll commented on #1350
I understand that it is closed and saw that it was discussed, however would also like to add a comment to show the developers that this feature is really wanted. I think people ask here just for some flag that will remove this log like ```--no-hierarchy``` or something like this. I think it is not a big deal to add this feature for developers and it will make the software more friendly and flexibl

[2019-05-05 14:47] Niryo commented on #1350
@bintoll, The problem occurs also with React Navigation, it's not really related.

[2019-05-06 12:34] avalond opened #1364 "how to setup with swift ios project"
how to setup with swift ios project

[2019-05-06 12:34] #1364 closed

[2019-05-06 16:18] maamounapprise opened #1365 "Detox Mocking doesn't work with release or debug"
I have latest detox 12.6.1 and latest react native 0.59.5. I am trying to mock my login screen, i followed the steps by adding rn-cli.config.js

`const defaultSourceExts = require('metro-config/src/defaults/defaults').sourceExts
module.exports = {
  resolver: {
    sourceExts: process.env.RN_SRC_EXT
                ? process.env.RN_SRC_EXT.split(',').concat(defaultSourceExts)
                : def

[2019-05-06 18:39] #1365 closed

[2019-05-06 18:44] LeoNatan commented on #1352
But if post install scripts are not running, how will this work? Will you build the Detox framework on your own? The framework is currently being build with specific parameters in the post install script, and there is further work to distinct the framework for each Detox and Xcode version because of Swift considerations.

You could just run `detox build-framework-cache` inside your e2e script to m

[2019-05-06 20:27] wilau2 commented on #1362
Can we add disclaimers of usages in the documentation?
The syntax:
``
const image = await device.takeScreenshot('MyScreenShot');
jestExpect(image).toMatchImageSnapshot();
[code]

[2019-05-06 21:35] rikardwissing opened #1366 "Android: package com.wix.detox does not exist even though it is added under dependencies"
I've followed the instructions on https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md

But when I am trying to build the project i get the following error:

[code]

I have added the following to my app build.gradle in the dependencies block:
[code]

My buildcommand is as follows:
[code]

It seems to me that androidTestImplementation is not including the modules in the project. If

[2019-05-06 21:35] #1366 closed

[2019-05-06 21:39] rikardwissing opened #1367 "package com.wix.detox does not exist even though it is added under dependencies"
I've followed the instructions on https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md

But when I am trying to build the project i get the following error:

[code]

I have added the following to my app build.gradle in the dependencies block:
[code]

My buildcommand is as follows:
[code]

It seems to me that androidTestImplementation is not including the modules in the project. If

[2019-05-06 21:53] rikardwissing commented on #1367
Ok, I figured out what I did wrong.
DetoxTest.java was supposed to be placed in src/androidTest and not src/main as I had done :/

[2019-05-06 21:53] #1367 closed

[2019-05-06 22:55] abury commented on #1353
@rotemmiz No, it was being imported properly and I followed the instructions in that link. The import direct from node_modules was just me trying to debug things.

It turned out to be a timing issue. We used to call `element` before `detox.init()` was called (thanks to an import and lazy instantiation), and it (somehow) used to work without an issue. Since updating react native, it has (rightly) b

[2019-05-06 22:55] #1353 closed

[2019-05-07 07:15] nirre7 opened #1368 "Cannot enable notification permissions"
**Describe the bug**
Cannot enable notifications.

**To Reproduce**

- [x ] I have tested this issue on the latest Detox release and it still reproduces

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the last known version where the issue did not reproduce.

1. Start an app app witch pops the notifications permission dialog

If possible, please

[2019-05-07 07:17] nirre7 commented on #1368
Similar too https://github.com/wix/Detox/issues/653

[2019-05-07 11:11] #1349 closed

[2019-05-07 11:33] d4vidi commented on #1257
Solved (at least in theory) in `12.6.3` - closing this.

[2019-05-07 11:33] #1257 closed

[2019-05-07 11:36] d4vidi opened #1369 "Integrate parallel testing using Jest in Detox CI (iOS)"
Introduce parallel test-execution in CI, for iOS, using the latest Jest tweaks made in `12.7.0`.

[2019-05-07 13:10] noomorph opened #1379 "Profiler does not record network requests even if told to (by code from Detox.framework)"
# Description

The recent pull request to Detox (["Record network and events in Detox Instruments artifacts"](https://github.com/wix/Detox/pull/1333))
should have enabled recording network requests in the integration of Detox and Detox Instruments
(introduced originally in [wix/Detox#1165](https://github.com/wix/Detox/pull/1165)).  However, it does not seem to work as intended.

**[This demo proje

[2019-05-07 13:48] LeoNatan commented on #1362
You can find the current device id in Detox somewhere. Screenshot comparison is a low priority for us. I’d rather we conserve memory and CPU time.

[2019-05-07 14:22] LeoNatan commented on #1369
Please wait with this. We had many issues and moved back to mocha. If debugability is still bad, we should remain with mocha.

[2019-05-07 14:26] LeoNatan commented on #1368
It seems like setPermission is not called. @noomorph can you pls take a look?

[2019-05-07 14:29] #1320 closed

[2019-05-07 16:12] ayelenmarie commented on #629
Hi everyone! Since I think this is related to an Issue I opened on `fbsimctl` repo ([https://github.com/facebook/idb/issues/512](url)), I'm here to comment that they implemented a new tool that includes `fbsimctl` and that supposedly fixed this Issue. It's called `idb`, it says it's still under construction but maybe it would be nice for Detox to implement it in a next release.

[2019-05-07 16:17] LeoNatan commented on #629
@ayelenmarie Thanks for letting us know! Do you mind opening an enhancement request?

[2019-05-07 17:15] ayelenmarie opened #1371 "Implement facebook/idb tool (fbsimctl replacement)"
Talking with LeoNatan in #629 I mentioned Facebook released a new tool that replaces\includes `fbsimctl` that is called `idb`. They will start monitoring and updating that repo instead of the other one and they are suggesting everyone to move to this new tool instead. So it will be great if Detox could migrate as well!

Currently it's **under construction** but as it supposedly fixes some issues t

[2019-05-07 17:15] ayelenmarie commented on #629
@LeoNatan Sure! here it is #1371

[2019-05-08 06:43] noomorph commented on #1362
@LeoNatan, I think that we might facilitate getting **a resolved path to the screenshot**.
If Detox users then decide to load&compare huge images (aka burn some memory and CPU time), then it will be entirely their responsibility.

[2019-05-08 06:45] LeoNatan commented on #1362
Perfect! Best of both worlds.

[2019-05-08 09:29] avalond opened #1372 "How to setup Detox with native swift IOS project"
How to setup Detox with native swift IOS project , Official document please add this

[2019-05-08 19:20] #1372 closed

[2019-05-09 06:14] sxqnicholas96 opened #1373 "Detox build error: More than one file was found with OS independent path 'lib/x86/libc++_shared.so'"
Hi everyone,

I’m trying to build Detox tests for ReactNative project for android and it’s throwing this error
[code]
android {
    packagingOptions {
          pickFirst '**/libjsc.so'
          pickFirst '**/libc++_shared.so'
   }
}
However for some reason, gradlew assembleAndroidTest is not using the packagingOptions to run its build which then results in `More than one file was found with OS i

[2019-05-09 06:14] #1373 closed

[2019-05-09 13:25] gedenata opened #1374 "E2E Detox build and test in React Native (Android and iOS)"
[code]

## Steps To Reproduce

1. package.json

[code]
2. e2e folder
a. ```config.json```
[code]

b. ```firstTest.spec.js```
[code]

c. ```init.js```
[code]

d. ```mocha.opts```
[code]

Describe what you expected to happen:

- [ ] ```npm run build:ios-debug```
=> status: ** BUILD SUCCESSFUL **

- [ ] ```npm run build:ios-release```
=> status: ** BUILD FAILED **
detox[807] ERROR: [cli.js] Error: Co

[2019-05-09 13:26] #1374 closed

[2019-05-09 13:28] gedenata opened #1375 "E2E Detox build and test in React Native (Android and iOS)"
[code]

## Steps To Reproduce

1. package.json

[code]
2. e2e folder
a. ```config.json```
[code]

b. ```firstTest.spec.js```
[code]

c. ```init.js```
[code]

d. ```mocha.opts```
[code]

Describe what you expected to happen:

- [x] ```npm run build:ios-debug```
=> status: ** BUILD SUCCESSFUL **

- [ ] ```npm run build:ios-release```
=> status: ** BUILD FAILED **
detox[807] ERROR: [cli.js] Error: Co

[2019-05-09 19:29] #1375 closed

[2019-05-09 19:30] LeoNatan commented on #1375
Your own project fails building.

[2019-05-09 21:59] dopatraman opened #1376 "detox command runs in an infinite loop"
I installed Detox according to this guide (I am using Expo): https://medium.com/@bogomolnyelad/how-to-test-your-react-native-app-like-a-real-user-ecfc72e9b6bc

After the install finished, I see this log indicating a symbolic link between my local bin directory and the detox `cli.js` file
[code]

When I run the symlink, the terminal hangs:
[code]

At first I thought there was an issue with the link

[2019-05-09 21:59] #1376 closed

[2019-05-10 08:54] lawrencelomax commented on #1371
Hello, one of the authors of the `idb` project here!

More than happy to give pointers/advice if you need them.

As far as the maturity of the project goes, we've been using this in production for nearly 2 years now and it's only just now that we've open sourced it.

[2019-05-10 10:01] rawqing commented on #1369
I had some problems with Mocha : https://github.com/mochajs/mocha/issues/94 ; https://github.com/ampproject/amphtml/issues/15658 , so I had to use jest

[2019-05-10 11:35] praveenkumarr88 opened #1377 "Detox can't able to run build release version"
Error: \android\app\build\outputs\apk\androidTest\debug\androidTest\app-debug-androidTest-androidTest.apk' could not be found, did you run './gradlew assembleAndroidTest' ?

node_modules\.bin\mocha e2e --opts e2e/mocha.opts --configuration android.emu.release      --grep :ios: --invert     --artifacts-location "artifacts\android.emu.release.2019-05-10 11-31-05Z"

(node:51320) DeprecationWarning: "

[2019-05-10 11:36] praveenkumarr88 commented on #1377
package.json

  "detox": {
    "test-runner": "mocha",
    "specs": "e2e",
    "runner-config": "e2e/mocha.opts",
    "configurations": {
      "android.emu.debug": {
        "binaryPath": "android/app/build/outputs/apk/debug/app-debug.apk",
        "build": "cd android && gradlew assembleDebug app:assembleAndroidTest -DtestBuildType=debug && cd..  && react-native start",
        "type": "android.

[2019-05-10 16:35] maamounapprise commented on #1377
have you signed your app?

[2019-05-10 21:15] #1377 closed

[2019-05-11 18:36] rotemmiz commented on #1371
Hey @lawrencelomax !!

Good to have you here, actually I do have a few questions:
1. One of the reason that made us ditch fbsimctl (aside from the multi simulator support introduced in Xcode9) was the fact that there were no stable releases, and the only way to install it was through brew at the repo's HEAD. I see that idb is being released regularly, and brew uses the latest version, which is gre

[2019-05-12 06:16] rotemmiz commented on #1185
Hey @RyanThomas73,

I am trying to find an example to the issue you described. The Detox test suite has [something similar](https://github.com/facebook/react-native/issues/23870) (a list view with only a few items visible, but all exist in view hierarchy), this test passes on RN57, but fails in 58 and 59 AFAIK (please correct me if I'm wrong @d4vidi).
The fact that you're using RN57 and your test

[2019-05-12 12:25] LeoNatan commented on #1379
Moved the issue to Detox, because this is where it will be fixed.

[2019-05-12 12:52] LeoNatan commented on #1379
I found the issue. It wasn't related to late framework load. It's related to swizzle order between Profiler and Earl Grey. Investigating.

[2019-05-13 07:29] praveenkumarr88 commented on #1377
Yes app is signed

[2019-05-13 09:42] lawrencelomax commented on #1371
I hear you on this as know that this has been a problem in the past. The biggest reason for this is that `fbsimctl` was very much in maintenance mode whilst we were working on `idb` itself. We're more than happy to keep changelogs and make regular releases from master.

Device App launching has some interesting constraints, including the app must be a dev build but we do support [passing environme

[2019-05-13 09:47] lawrencelomax commented on #95
@LeoNatan these are indeed similar constraints to what `idb` has to work with.

Essentially the constraints about going through a `debugserver` to get anything done w.r.t app launching on devices holds on iOS Devices.

If the detox lib is part of the App bundle, then you are able to dynamically link it, even using preloads like `DYLD_INSERT_LIBRARIES`, it's essentially a directive to `dyld` like a

[2019-05-13 13:55] jgreen210 opened #1380 "android build.gradle's wildcard dependencies means builds not reproducible / fail"
https://github.com/wix/Detox/blob/159bdbdb073afdd872780e7885204a0484bd2d78/detox/android/detox/build.gradle has the following wildcard dependencies:
[code]

This means that builds aren't reproducible.

E.g. our android detox test app builds started failing this morning (without us making a commit) with this error:

[code]

This is with:

[code]

**To Reproduce**

Probably happens for every android

[2019-05-13 14:02] jgreen210 commented on #1380
https://github.com/square/okhttp/releases/tag/parent-4.0.0-ALPHA01 was "released" on github around 8th May and more importantly here on May 12, 2019:

https://bintray.com/bintray/jcenter/com.squareup.okhttp3%3Aokhttp/4.0.0-alpha01

[2019-05-13 14:25] jgreen210 commented on #1380
Can specific versions be used in place of the wildcards? I suspect not since detox allows kotlin version to be overriden:

https://github.com/wix/Detox/blob/master/docs/Guide.Migration.md#migrating-from-detox-9xx-to-10xx

...and the above build failure shows that both okhttp and okio have dependencies on specific kotlin versions.

When compiling a library into a react-native app, the android gradl

[2019-05-13 16:08] jgreen210 commented on #1380
The use of wildcards was added in 97ec822586ea5da53bd5506729f79da4d0588867.

[2019-05-13 17:19] LeoNatan commented on #1379
Fixed

[2019-05-13 17:19] #1379 closed

[2019-05-13 17:33] doelgonzo opened #1381 "YellowBox is opening in React Native 0.59.8, making tests fail"
On React Native 0.59.8, I am seeing a weird behavior where I am running tests and YellowBox appears to not be disabled. In every previous instance (most lately 0.57), I have seen YellowBox properly disabled when running E2E tests and this was working just fine. Now, given YellowBox is not disabled, warnings pop up and the test gestures try to press where buttons would be if the warnings weren't th

[2019-05-13 17:33] #1381 closed

[2019-05-13 17:41] doelgonzo opened #1382 "Detox not disabling YellowBox when running tests on 0.59.8"
**Describe the bug**
On React Native 0.59.8, I am seeing a weird behavior where I am running tests and YellowBox appears to not be disabled. In every previous instance (most lately 0.57), I have seen YellowBox properly disabled when running E2E tests and this was working just fine. This tells me Detox is not disabling the YellowBox, or is no longer compatible with how React Native does it's warnin

[2019-05-13 22:42] LeoNatan commented on #1382
Detox makes no attempt to disable yellow boxes, nor should it. It's your responsibility, as an app owner, to do that. We always recommend building in Release so that you do not hit such issues.

[2019-05-13 22:43] #1382 closed

[2019-05-14 09:55] LeoNatan commented on #95
We decided to go that route to ease the setup and potential deployment issues of our users. They don't change their project and the system automagically adds the required Detox code in runtime.

Once we are able to sign applications with Detox for running on device (in order to add the Detox dylib inside the bundle), it will be trivial to modify the signed entitlements to allow debugger attach.

[2019-05-14 10:11] LeoNatan commented on #1371
Thanks for commenting.

We have always known that signing will be a requirement for running on device. My idea has always been to deduce the signing identity from the user's project and then attempt to sign it with the Detox framework and touched entitlements. This is probably less suitable for device labs, where the signing certificate may not be present on the machine running the test, but since

[2019-05-14 11:18] roeycollignon opened #1383 "Android gets stuck in detox.init()"
**Describe the bug**
After upgrading Detox to version 12.7.0, the App was launched but then gets stuck in detox.init()
**This bug doesn't reproduce on version 10.0.7**

**To Reproduce**
- [V] I have tested this issue on the latest Detox release and it still reproduces

**Expected behavior**
The next step should be logging in to the App

**Environment:**
 - Detox: 12.7.0
 - React Native: 0.57.5
 -

[2019-05-14 17:07] matt-oakes commented on #1383
I had this just now and it turned out to be that the Android Emulator was in Airplane Mode. You will get this "hang" if the emulator can't connect to the Detox server for some reason.

Your issue could be something else, but that fixed it for me.

[2019-05-14 20:17] calcazar opened #1384 "Description: Multiple elements were matched - waitfor Error"
**Describe the bug**
`    await waitFor(element(by.id("someID"))).toBeVisible();
    await waitFor(element(by.id(`someOtherID`)).atIndex(0))
        .toBeVisible()
        .whileElement(by.id("someID"))
        .scroll(200, "down");
`

results in

` "Description":  Multiple elements were matched:`

when there are multiple "someOtherID" elements. It looks like it's ignoring atIndex

**To Reproduce*

[2019-05-14 20:55] lucianomlima commented on #1380
@jgreen210 I'm having this exact problem only for release build. Did you resolve this problem anyway?

[2019-05-15 14:22] LeoNatan commented on #1384
We have a test in the demo suite that tests atIndex().
Please provide a clean project where this reproduces. Thanks

[2019-05-15 14:24] LeoNatan opened #1386 "nyc is broken unless a full path to mocha/other test runner is provided"
The error:

[code]

We saw the same error on @rotemmiz 's Mac.

[2019-05-15 17:07] jgreen210 commented on #1380
We increased the kotlin version to something that's compatible with the newly released okhttp version. That doesn't stop the same thing happening again, which would require something like the above PR. Not having our own npm registry, and since detox uses lerna, I'm not sure if/how I could test the PR though, so haven't tried it myself yet.

[2019-05-15 17:33] cs01 commented on #1352
We will be running Detox is an unusual environment. The motivations behind this request are

1.) we want to test at scale by leasing remote simulators on-demand. Each leased simulator runs on a shared machine that doesn't have internet access or detox source code installed. We also don't want to pollute the home directory of the machines running simulators/devices.

2.) The test will be initiated

[2019-05-15 18:29] LeoNatan commented on #1352
Thanks
Would you like to submit a PR with this? It seems like an easy think to accomplish. `${DETOX_FRAMEWORK_PATH}`

[2019-05-15 18:33] cs01 commented on #1352
Sure, I will submit the code example I gave in the initial issue description.

[2019-05-15 18:37] LeoNatan commented on #1352
Thanks

[2019-05-16 09:25] #126 closed

[2019-05-16 22:00] diegolmello opened #1391 "device.reloadReactNative crashes on RN 0.59.8"
**Describe the bug**
`device.reloadReactNative()` crashes the app on RN 0.59.8.

I saw similar issues, but none solved this one.
Also RN example on this repo is using RN 0.56.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the last known version

[2019-05-16 22:00] diegolmello commented on #1233
@LeoNatan Can you take a look at #1391?

[2019-05-16 22:33] LeoNatan commented on #1391
Thanks, I will take a look.

[2019-05-18 16:04] LeoNatan opened #1392 "Update EarlGrey to include TrustKit fixes"
[Our pull request](https://github.com/google/EarlGrey/pull/710#issuecomment-493672145) was recently accepted, and we should update EarlGret to include this fix.

[2019-05-18 16:06] LeoNatan commented on #721
Good news, our PR was accepted and we will update Earl Grey soon to include the fix. Closing in favor of #1392.

[2019-05-18 16:06] #721 closed

[2019-05-18 16:06] LeoNatan commented on #1285
Good news, our PR was accepted and we will update Earl Grey soon to include the fix. Follow #1392.

[2019-05-18 20:04] LeoNatan commented on #1391
I wonder if it's not the same as https://github.com/wix/DetoxInstruments/issues/44.
When I saw that live, it looked to me like a bug in the trampoline routine they use. I'll be investigating this soon.

[2019-05-18 21:08] joshuapinter commented on #1220
This is still an issue with brownfield apps, yes.
On May 18, 2019, 2:48 PM -0600, stale[bot] <notifications@github.com>, wrote:

[2019-05-19 09:55] LeoNatan commented on #1391
Very strange, I am unable to reproduce a crash or a stack overflow (https://github.com/wix/DetoxInstruments/issues/44), but we clearly saw one on @rotemmiz's computer.

@diegolmello Could I ask you to upload a clean project demonstrating this on your end? I am unable to reproduce in order to investigate.

[2019-05-19 11:06] LeoNatan commented on #1391
Managed to reproduced.

[2019-05-19 15:33] LeoNatan commented on #1391
https://github.com/facebook/react-native/issues/24952

[2019-05-19 15:39] wilau2 opened #1393 "Headless hardware keyboard default not working"
**Describe the bug**
When running in headless mode with parameter:
`ConnectHardwareKeyboard boolean NO`
It behaves like if the connect hardware keyboard was at true.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the last known version where the

[2019-05-19 18:19] diegolmello commented on #1391
@LeoNatan Great job, man!
It seems to be a not trivial issue though.

I kind of *have* to update RN, but I don’t want to update without test passing.
Is there any workaround to this?
Cheers.

[2019-05-19 18:26] LeoNatan commented on #1391
Wait, my issue above is only triggered if performance is recorded. Are you recording performance in detox?

[2019-05-19 22:00] diegolmello commented on #1391
@LeoNatan I'm not sure what you mean by that. I'm probably not recording performance.

Here's my config: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/update-rn-to-0.59.8/package.json#L139

Here's my init:
https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/update-rn-to-0.59.8/e2e/init.js

[2019-05-20 08:29] LeoNatan commented on #1391
It could be something else then. The only issue I am aware of is the one I linked here. Could you please create a demo project that reproduces the issue so I can take a look?

[2019-05-20 09:54] LeoNatan commented on #1393
I am not familiar with `ConnectHardwareKeyboard`, but how are you sending the argument? It doesn't seem like it was sent in the log.

[2019-05-20 11:57] d4vidi commented on #1380
Hey @jgreen210!

In Detox `12.5.0` we've introduced the ability to skip Detox compilation and use it as a precompiled artifact (i.e. a `.aar`). In essence, it ought to make Detox a dependency that's less opinionated regarding its own dependencies' versions. Would you mind following through the [migration guide](https://github.com/wix/Detox/blob/master/docs/Guide.Migration.md#migrating-from-detox-1

[2019-05-20 12:21] diegolmello commented on #1391
@LeoNatan Sure. I'll do it in a few.

[2019-05-20 12:42] nirre7 commented on #1368
I took another stab at it and it works.

Seems like this config does not work

[code]

This does work, if I don't launch the app while doing the init.
[code]

Maybe its just a noob error (I'm new to the lib so maybe this is common knowledge) or maybe you/me should update/add the docs?

Anyway it works great now. Cheers

[2019-05-20 12:53] wilau2 commented on #1393
This is set via xcode `~/Library/Preferences/com.apple.iphonesimulator.plist`
![image](https://user-images.githubusercontent.com/5473183/58022876-707aca80-7adc-11e9-8518-39a33d832250.png)

You can see that before xcode 9, detox was booting the simulator with a flag on. It seems to me that this is not working on xcode 10.

https://github.com/wix/Detox/blob/32be293774383d631d0938300175204d4222dd13/d

[2019-05-20 16:30] jgreen210 commented on #1380
Hi @d4vidi,

Applying those changes to use the aar, I was able to go back to using `ext.kotlinVersion = "1.3.0"` to set the `org.jetbrains.kotlin:kotlin-gradle-plugin` version without getting the build break we were were getting.

That means that https://github.com/wix/Detox/pull/1388 isn't required. The reactNativeVersion part could be useful in its own right though...

[2019-05-20 19:50] maxkomarychev commented on #95
hey @LeoNatan I was wondering, how big are changes which are trying to save users from in this

scenario?

there's amazing [xcodeproj](https://github.com/CocoaPods/Xcodeproj) project which lets you do pretty much anything you want with xcode project.
so is there another problem on they way if we can implement a solution which manipulates over user's project in the cloud w/o bothering a user to con

[2019-05-20 21:50] LeoNatan commented on #1368
Ah I see, hehe
Yes, if you launch the app before setting permissions, it will not work. You can also make a change of `newInstace: true` which should also work.

[2019-05-20 21:50] #1368 closed

[2019-05-20 21:50] LeoNatan commented on #1393
If you add that much argument yourself, does it work?

[2019-05-20 22:08] LeoNatan commented on #95
@maxkomarychev Yes, I am familiar with that project, thank you. We used to use xcodeproj before settling to the current system. In some ways, it was terrible (not xcodeproj, but our previous solution). Detox would make a change in the user's project; since a lot of our users are ... "Xcode challenged" (to be as politically correct as I possibly can in this late hour), they would not understand the

[2019-05-21 09:41] d4vidi commented on #1380
Glad to hear, and sorry for the trouble.
As for `reactNativeVersion`, well offhand it sounds like it could be useful for projects compiling Detox nevertheless. However I'd  have to take a deeper look into it - first trying to better understand why the wildcard is insufficient for `okHttp` etc.

[2019-05-21 10:41] stigi commented on #853
Similar issue happened to me. I tried to create a dedicated simulator for my e2e test on CI using
`xcrun simctl create "iPhone detox" com.apple.CoreSimulator.SimDeviceType.iPhone-X com.apple.CoreSimulator.SimRuntime.iOS-12-2`

The entry in my package.json looks like this:
[code]

But detox can't find the device:
[code]

even though applesimutils finds it:
[code]

### Env

- detox: 12.8.0
- applesi

[2019-05-21 14:38] thabemmz commented on #1383
I'm having the same issue as described above. Remarkably, the detox tests do run correctly when I start the `react-native` server (by running `react-native start`) in another process.

**Environment:**
* Detox: 12.8.0
* React Native: 0.59.2
* Node: 10.15.3
* Device: Nexus 6P API 28
* OS: Mac Mojave 10.14.5

**Device and Verbose Detox Logs**
Ran:
[code]

Detox:
[code]

Detox trace:
[code]

In `adb

[2019-05-21 16:43] vadimshvetsov commented on #1393
@wilau2 it looks like every developer need to set manually after clonning a repo. Is there a way to pass this argument with Detox settings?

[2019-05-21 16:45] LeoNatan commented on #1393
Does it work if passed manually?

[2019-05-21 16:51] vincenzovitale opened #1395 "iOS simulator not found after upgrading to the latest applesimutils"
**Describe the bug**
iOS simulator not found after upgrading to XCode 10.2.1 and latest applesimutils

**To Reproduce**

- I have tested this issue on the latest Detox release and it still reproduces

Provide the steps necessary to reproduce the issue. If you are seeing a regression, try to provide the last known version where the issue did not reproduce.

1. Upgrade the applesimutils
2. Open the

[2019-05-21 18:46] LeoNatan commented on #1395
Unfortunately, there is no easy way to downgrade. But I don't see how an upgraded AppleSimUtils will change the output. @rotemmiz Can you pls take a look? What could fail?

[2019-05-21 20:52] evian-pring opened #1396 "Is it possible to create keyboard events without having to specify a textField id?"
I am handling the keyboard events in Android and passing them to React-Native over the bridge. My app uses a hardware scanner, for context. But essentially, I don't use a `TextInput` in RN, but my component does listen to the data coming over the bridge.

i saw this `await element(by.id('textField')).typeText('passcode');` but I don't have an element to specify by id.

I need to simulate the keybo

[2019-05-21 21:43] juddey commented on #1297
Hit the same:

Detox: 12.7.0
React Native: 0.59.4
Node: 10.15.3
Device: Pixel_API_28_x86
OS: Ubuntu 18 (and 16 too)
[code]

[2019-05-21 22:11] LeoNatan commented on #1297
@d4vidi @rotemmiz  Please take a look

[2019-05-21 22:13] LeoNatan commented on #1393
Guys, please confirm that it works when adding the launch argument manually to `launchApp`. If we have a confirmation, we will add this argument.

[2019-05-22 04:40] juddey commented on #1297
Just to add I've dropped back to API 23 and that is working.

[2019-05-22 08:33] #1380 closed

[2019-05-22 09:28] d4vidi commented on #1380
@jgreen210 (and whoever sees this) - I've just released `12.9.0` with the associated commit, aiming at fixing these type of issues by removing `okhttp` and `okio` as explicit deps altogether. They were once needed, but no longer (at least not for RN projects).

[2019-05-22 12:45] #1275 closed

[2019-05-22 13:36] wilau2 commented on #1393
@LeoNatan I'll try that today, yesterday was crazy my bad.

[2019-05-22 15:06] #1384 closed

[2019-05-22 16:28] LeoNatan commented on #1393
Detox only supports Xcode 10 and above.

[2019-05-22 17:25] amiceli-torstar opened #1398 "Detox Crashing On Android Latest version"
**Describe the bug**
Currently right now I am working on an app that is building fine on ios, the tests work in ios. I've tested the app on an emulator and it works fine, but when I try to run it with detox, it crashes upon launch.

This is a new app that I'm working with, so I installed the latest version of detox since we haven't used it with it before.

**To Reproduce**
Open metro bundler in se

[2019-05-23 07:06] #1213 closed

[2019-05-23 08:52] roeycollignon commented on #1383
I don't really know what caused this issue, but upgrading a lot of dependencies, compileSdkVersion, targetSdkVersion, etc in build gradle (especially firebase-core and firebase-messaging) solved it for me. Hope it will help you in any way to find your problem.

[2019-05-23 09:50] vadimshvetsov commented on #1393
@wilau2 What command do you use to build and run app with parameter `ConnectHardwareKeyboard`?

[2019-05-23 10:07] LeoNatan commented on #1393
You pass it in `luanchApp`.

[2019-05-23 10:08] LeoNatan commented on #1391
Ping

[2019-05-23 10:38] hieuTranEnouvo opened #1399 "Can't RCTScrollView in Multiple UI elements matched for the given criteria."
Hello all,

I have an issue for detox when using a command :
await expect(element(by.type('RCTScrollView')).atIndex(0)).toBeVisible();
await element(by.type('RCTScrollView')).atIndex(0).scrollTo('top');

or

await element(by.type('UIPickerView')).setColumnToValue(1,"United States");

**Environment (please complete the following information):**
 - Detox:12.8
 - Xcode:12.2
 - iOS: yes
 - macOS:

Tha

[2019-05-23 11:40] kulbhushan-ucreate commented on #1398
Same here, My test cases works fine in IOS. But Not working in android.
Please give proper docs for android setup.
:)

[2019-05-23 12:01] diegolmello commented on #1391
@LeoNatan Hi, sorry for the delay.
Apparently, something messed up my tests.
Yesterday I went to the office and tested on another machine and everything worked as expected.
I'm closing this.
Thanks!

[2019-05-23 12:01] #1391 closed

[2019-05-23 12:06] LeoNatan commented on #1391
It would still be interesting to see what the crash is. Your log didn't include any crash information.

[2019-05-23 12:10] diegolmello commented on #1391
This error happened on my machine, but the same PR worked on two other machines.
I think is something on my env.
If you're still interested, let me know what I can do to help you.

[2019-05-23 12:12] LeoNatan commented on #1391
In the GIF above, I see a lot of red text when the issue happens, but the log provided doesn't seem to include that information. Could you post the error details? Thanks

[2019-05-23 12:14] diegolmello commented on #1391
It's on the log, but in the ugliest way.
Try scroll `Error: the string "Signal 11 was raised\n(\n\t0   Detox` to the right.
All of that red text is on the same line :P

[2019-05-23 12:18] LeoNatan commented on #1391
Oh I see it now. I wonder why it didn't print it properly with \n being actual endlines.
It looks like a peculiar crash.

[2019-05-23 12:23] diegolmello commented on #1391
Yep.
I'll try to setup my env again.

[2019-05-23 14:00] #1399 closed

[2019-05-23 14:03] LeoNatan commented on #1396
How does that work on actual devices and users? How is the keyboard presented to the user for events? You should try to recreate this exactly on Detox. Are you seeing some limitation? @evian-pring

[2019-05-23 17:30] BrantApps opened #1401 "Cannot find kotlin.jvm.internal.Lambda on path"
Stuggling to get my Android tests to run with the following set-up;

Detox Version: 12.7.0
Detox Kotlin Stdlib: kotlin-stdlib-jdk7
Kotlin version: 1.3.0

The app launches and then dies when trying to run the `DetoxTest.java` with;

[code]

Does anyone have any suggestions what could be wrong? I have run down the getting started guide about 10 times now just to make sure I have everything right...

[2019-05-23 17:30] #1401 closed

[2019-05-23 18:36] wilau2 commented on #1393
Tested with:
[code]
and
[code]
in my init.js
[code]
It's not working in headless mode.

I also ran:
https://github.com/evertoncunha/cocoaheads-2018-07/blob/master/fastlane/enable_simulators_keyboards.sh
Making sure everything in at 0 by default.

[2019-05-23 19:40] wilau2 commented on #1393
I've been reading:
https://www.rubydoc.info/gems/simctl/SimCtl/Command/Launch#launch_app-instance_method
It looks like there is 2 signature in the launch function and the ConnectHardwareKeyboard arg seems to be supported only by launch_device.
launch_app
launch_device

I'll try some more stuff.

[2019-05-23 22:17] evian-pring commented on #1396
As I have a hardware scanner scanning barcodes, I don't ever present the user with any keyboard. The scanner generates the keyboard events, which are handled in Android, and passed to React-Native, which just displays the scanned characters, and when it receives a newline it processes the scan.

Here is some code:
In my `React Native` app, in `MainActivity.java` I am passing an event called `onKey

[2019-05-24 00:59] SEAPUNK commented on #853
What's the workaround for this? We're trying to integrate E2E testing with Detox, but not being able to specify a device name is pretty much a blocker for us.

[2019-05-24 02:18] hieuTranEnouvo commented on #1399
update ....

[2019-05-25 05:09] noomorph commented on #853
@SEAPUNK, planned for June, as far as I am concerned.

[2019-05-26 06:45] d4vidi commented on #1398
@amiceli-torstar could you please attach your app and project (root) `build.gradle` files? For some reason, the Kotlin standard library doesn't get wired into your .apk -- I'd be happy to understand why.

[2019-05-26 06:46] d4vidi commented on #1398
[code]

[2019-05-26 09:43] LeoNatan commented on #1386
@d4vidi @rotemmiz Changed the title to better describe the problem.
As we discussed, we need to provide the correct environment vars in Detox CLI.

[2019-05-26 15:52] LeoNatan commented on #1396
How are you presenting the keyboard? I don't come from the Android world. In iOS, something needs to be the first responder for the keyboard to show up. At that point, typing on the keyboard should work on iOS. I am not familiar with how this works on Android, but assume a ~ similar concepts.

CC @rotemmiz

[2019-05-26 22:46] evian-pring commented on #1396
As I said, I'm actually not presenting the keyboard at all, because the user doesn't actually need to type anything in. I use a Zebra hardware scanner connected to the Android tablet via USB, and I scan a barcode. It generates keyboard events that I can respond to in my native Android code and send to React-Native.

I'm doing everything in Android by the way. Not sure how I would use a hardware sc

[2019-05-27 06:09] sarthakmis commented on #1331
detox test --reuse worked for me

[2019-05-27 06:12] noomorph commented on #1312
@d4vidi, since you've been working on it for some time (e.g.: https://github.com/wix/Detox/commit/f36ce8de66be1925663123a556419dface783d57) , could you give here some updates on this?

[2019-05-27 06:38] LeoNatan commented on #1396
I see now. Thanks

@rotemmiz Is it possible with adb to emit hardware keyboard events (like for example, from a Bluetooth keyboard)?

[2019-05-27 06:39] LeoNatan commented on #1312
I found a bug I. The generator. They open too many threads, and since we have many issues, that triggers a security measure in GH. It’s a known issue which was fixed on master of the generator, but there hasn’t been a new release in several years.

[2019-05-27 08:51] LeoNatan commented on #1339
This was fixed on master

[2019-05-27 08:52] #1339 closed

[2019-05-27 12:34] rotemmiz opened #1403 "Rename `--record-performance` and add more artifact collection options"
Currently, I use `--record-performance` in CI to collect network and events data on tests. Ideally, I would only like to collect that data if the test is broken, and this is not currently possible.
I think that terminology of `--record-performance` might be broken, we don't necessarily want to record performance of every test here. What this is essentially is collecting profiling data with Detox I

[2019-05-27 13:13] amiceli-torstar commented on #1398
App build.gradle (converted to txt):

[build.gradle.txt](https://github.com/wix/Detox/files/3223872/build.gradle.txt)

[2019-05-27 13:14] amiceli-torstar commented on #1398
Project root build.gradle (converted to txt)

[build.gradle.txt](https://github.com/wix/Detox/files/3223873/build.gradle.txt)

[2019-05-27 18:54] LeoNatan commented on #1403
It’s not public yet. I don’t think we need to clutter the CLI tools with internal BC.

[2019-05-27 19:01] rotemmiz commented on #1403
It is out since 12.6.1, I too would love to declutter CLI, but I'm not sure it's responsible without bumping major.

[2019-05-27 19:03] LeoNatan commented on #1403
It has not been documented. Nobody knows about it. I think we can draw the line at undocumented features.

[2019-05-27 19:20] noomorph commented on #1403
@LeoNatan, actually it has been documented in:

*
https://github.com/wix/Detox/blob/master/docs/APIRef.Artifacts.md#enabling-artifacts
* https://github.com/wix/Detox/blob/master/docs/APIRef.DetoxCLI.md#test

On Mon, May 27, 2019 at 10:03 PM Leo Natan <notifications@github.com> wrote:

[2019-05-27 19:31] LeoNatan commented on #1403
Ah. But why? It was only phase 1. Ok, so it needs BC.

[2019-05-28 08:08] jmporchet commented on #1187
Still happening with "detox": "^12.10.0" and "expokit": "32.1.2".
I updated the test repo, and I can post the logs if necessary.

[2019-05-28 10:33] noomorph commented on #1312
@LeoNatan, @rotemmiz, @d4vidi, then maybe we can switch to [semantic-release](https://github.com/semantic-release/semantic-release) eventually, with [@semantic-release/changelog](https://github.com/semantic-release/changelog) plugin?

[2019-05-28 11:03] lapto opened #1406 "Flaky test for Android if test contains scroll"
**Describe the bug**
Test involving scrolling is flaky for android if the ScrollView has clickable/touchable children.
If the scrollview contains clickable/touchable children from edge to edge, the scroll attempt will instantly trigger the onPress/onLongPress method and break the test.

**To Reproduce**
https://github.com/lapto/demoUnstableScrollDetox

Run example code for iOS to confirm that the

[2019-05-28 11:39] d4vidi commented on #1312
@noomorph yes I was trying to get more info on why the changelog generator fails on CI, and essentially I've managed to:

[code]

[2019-05-28 11:40] d4vidi commented on #1312
Not sure how this related to what @LeoNatan wrote, though

[2019-05-28 11:59] lapto commented on #1398
Your missing step 3 - Add Kotlin: https://github.com/wix/Detox/blob/master/docs/Introduction.Android.md

[code]

[2019-05-28 12:09] LeoNatan commented on #1406
@d4vidi Could this be related to our known bug?

[2019-05-28 14:57] LeoNatan commented on #1392
Reverted by @rotemmiz due to internal conflict with New Relic. I can't reproduce this issue with the latest New Relic, so awaiting internal upgrade of New Relic.

[2019-05-28 18:53] LeoNatan commented on #1392
https://github.com/wix/Detox/pull/1408

[2019-05-29 06:30] d4vidi commented on #757
Reopened because thanks to @viktorijasujetaite we now know this happens with detox `12.9.0` on RN `0.59.x`. I'll have to take a deeper look into it to know whether this is applicable with older RN versions, but in any case the bug _does_ exist - and needs to be prioritized.

[2019-05-29 06:54] d4vidi commented on #1406
@LeoNatan which one are you referring to? Anyways I checked - this seems to be an actual bug, at least in RN .59.

[2019-05-29 06:55] LeoNatan commented on #1406
I meant the blocking RN .59 bug, with the visibility.

[2019-05-29 06:57] LeoNatan commented on #1398
Guys, please test with @lapto ‘s suggestion. Thanks

[2019-05-29 07:11] d4vidi opened #1409 "(Android) Endless scrolling attempts if item not found using `waitFor`"
**Describe the bug**
With `waitFor()` + `whileElement()` over a scroll-view - namely, in a search for a specific item with repeated scrolling, the scrolling never ends if the list's end is reached without the item being found.
Eventually, the tests fails due to the global timeout.

**To Reproduce**

Happens on one of the e2e tests of the Wix app. Reproduceable by @viktorijasujetaite.

**Expected b

[2019-05-29 07:13] d4vidi commented on #1406
Oh the notorious one. Afraid not :)

[2019-05-29 07:14] lapto commented on #1406
On the current project i'm working on where we are having the issue we are still on
[code]
So its not just for newer version of RN or Detox.

[2019-05-29 08:08] noomorph commented on #1312
@d4vidi, perhaps, we could try updating Ruby to something less ancient. `ruby@2.3.0` is 4 years old.

[2019-05-29 08:46] MuhmdRaouf opened #1410 "Building iOS after changing display name."
**Describe the bug**
i am starting new react-native app but i cant build the iOS app after changing the display name in the iOS in the latest react-native build with latest detox build.

**To Reproduce**
1. Generate new react-native app ```react-native init new_project```
2. Install detox just like the [Getting Started](https://github.com/wix/Detox/blob/master/docs/Introduction.GettingStarted.md)

[2019-05-29 09:14] sbycrosz commented on #1331
Hey, we managed to solve this based on [jest-environment-puppeteer](https://github.com/smooth-code/jest-puppeteer/tree/master/packages/jest-environment-puppeteer) implementation

What we did:

1. Spawn n amount of detox web-socket servers, where n is the amount is the number of jest workers specified
1. Pass generated session (web-socket-server-url and uuid) to each test suite with the process.env

[2019-05-29 09:26] d4vidi commented on #1312
Beats me. The generator works if you run in manually on the CI agent using the CI account. Quite a mystery.

[2019-05-29 09:58] LeoNatan commented on #1312
Was speaking about this issue I think:
https://github.com/github-changelog-generator/github-changelog-generator/issues/656

This PR supposedly fixes it:
https://github.com/github-changelog-generator/github-changelog-generator/pull/661

But they haven't released a new release since 2017. 🙄

I think we should abandon github-changelog-generator.

[2019-05-29 09:59] LeoNatan commented on #1312
On my Mac, I would hit the rate limit very consistently on each run. I am sure the CI hits it also.

[2019-05-29 10:01] LeoNatan commented on #1410
`detox build` is a convenience method that runs the build command you have provided. This is not a support group for `xcodebuild`.

[2019-05-29 10:01] #1410 closed

[2019-05-29 10:03] MuhmdRaouf commented on #1410
But the code build from xcode successfully, the problem only occurs when using ```detox build```, don't you think it might be a reason !

[2019-05-29 10:05] LeoNatan commented on #1410
`detox build` is literally a pass-through of your command from package.json. Check your build command.

[2019-05-29 10:31] d4vidi commented on #1312
Well that's the reason we pass in the permissive github token, it shouldn't hit github limits (or very rarely so). Either way, the generator fails immediately before even trying to access github (ruby stuff).

[2019-05-29 10:32] LeoNatan commented on #1312
I am speaking limits with token.

[2019-05-29 10:33] LeoNatan commented on #1312
The issue even mentions that without the token, it bugs out even earlier.

[2019-05-29 10:37] d4vidi commented on #1398
@amiceli-torstar thanks. Not sure I understand, though - I don't see detox related configurations in the files you've had attached.

[2019-05-29 11:58] LeoNatan opened #1411 "Test stack overflow"
How use Detex?

[2019-05-29 11:58] #1411 closed

[2019-05-30 05:44] fungilation commented on #1181
Quoting @yungsters at https://github.com/facebook/react-native/issues/23870#issuecomment-497204209

[2019-05-30 12:53] d4vidi opened #1415 "Log collector keeps test runner from closing if `this.skip()` is used"
**Describe the bug**
In a Mocha-based testing environment, using Mocha's `this.skip()` (i.e. command for skipping tests at run-time) holds the test runner back from shutting down, if log collection has been enabled (e.g. if the `--record-logs all` cli option has been specified).

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

1. Create a suite

[2019-05-30 12:57] d4vidi commented on #1415
A partial yet deeper inspection shows that when skipping tests dynamically, Mocha invokes `before` and `beforeEach` callbacks but not any of the `after` and `afterEach` ones. This mainly keeps the Detox adapter from ever shutting registered recorders down. Illustrative log:
[code]

[2019-05-30 15:03] LeoNatan opened #1417 "Detox does not load Profiler.framework properly, since it's encrypted"
🤦‍♂️

Since Detox Instruments 1.10.10266, the included Profiler.framework is encrypted in order to obfuscate its existence and pass Apple notarization.

The current logic in Detox tests is to test if the Profiler framework is loaded by the user, and if not, load it manually:
https://github.com/wix/Detox/blob/3557263d0e6e8329382118e155c9a16ae1bcb0a6/detox/ios/Detox/DetoxInstrumentsManager.m#L76

Th

[2019-05-31 03:10] BG687 opened #1419 "Accept Permissions After Log-in Flow"
**Is your feature request related to a problem? Please describe.**
It's easy to initialize / launch an app with a set of permissions. But, if you request permissions after log-in, there is no way for the app to accept or deny a permission after it's been launched.

The tests cannot interact with the permission modals, and they block the tests. The only way to continue is to manually accept or deny

[2019-05-31 06:00] #1279 closed

[2019-05-31 09:30] chakrihacker commented on #1297
Does change https://github.com/wix/Detox/blob/3557263d0e6e8329382118e155c9a16ae1bcb0a6/detox/android/build.gradle#L5 this to 28 will help.

I am new to detox, but love to help

[2019-05-31 10:39] LeoNatan commented on #1419
This is a limitation of the system. The permission notifications, for security reasons, are presented from a system process, and Detox, which runs only in the client process, is unable to interact with. What the `setPermissions` API provides is setting global permissions for your application. Once you set them, they are in effect for the entire duration of your app's lifetime. It shouldn't matter

[2019-05-31 10:39] #1419 closed

[2019-06-01 13:03] MiloszFilimowski opened #1420 "Update Mocking Guide"
**Is your feature request related to a problem? Please describe.**
This is releated to [this](https://github.com/wix/Detox/blob/master/docs/Guide.Mocking.md).

I believe documentation on the topic of mocking is outdated. I'm quite new to React Native and it took me a while until I figured that [current version of metro](https://facebook.github.io/metro/docs/en/configuration) does not support `rn-c

[2019-06-01 16:42] LeoNatan commented on #1420
Thanks. Feel free to submit a pull request with the updates. Thank you

[2019-06-02 08:47] LeoNatan commented on #1181
Clowns 🤦‍♂️

[2019-06-02 16:20] LeoNatan commented on #1417
Fixed in https://github.com/wix/Detox/commit/9b2b60eea5a3b2ecee5c59e29618dbbaf09d7cc1.

[2019-06-02 16:20] #1417 closed

[2019-06-02 18:38] haswalt commented on #1338
Don't close, there is an open PR #1347  related to this issue.

[2019-06-02 20:18] jeromecornet opened #1422 "Detox + Expo + jest : timeout on opening the app"
**Describe the bug**
Detox tests timeout waiting for the return of app opening methods.
using the detox-expo-helpers , both reloadApp() and device.openUrl({ url }) hang while waiting for the device response.

It looks like the Device Driver deliverPayload does not return.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

Here is a repo (basicall

[2019-06-03 07:16] Esxiel commented on #1393
Environment:
Detox: 12.1.3
React Native: 57.6
Node: 10.15.1
Device: Iphone X ( tested on iPhone 6 iOs 9 as well)
Xcode: 10.2.1
iOS: 12.2
macOS: 10.14.4

@wilau2 are you implying that if you open up the simulator, the ConnectHardwareKeyboard boolean NO set in the com.apple.iphonesimulator.plist behaves properly? Since on my end, even on a freshly opened simulator, the hardware keyboard is disconnec

[2019-06-03 07:45] LeoNatan commented on #1393
Why does `launch_device` do? I am not familiar with this command.

[2019-06-03 11:12] LeoNatan commented on #1422
Please enable debug synchronization and post the log here. Thanks

[2019-06-03 12:05] jeromecornet commented on #1422
Here you go
[code]

[2019-06-03 12:12] jeromecornet commented on #1422
Here you go (sorry I had posted the wrong log in another comment I deleted):
[code]

[2019-06-03 13:02] alanunesouza opened #1424 "Detox not found testID in childrens components"
Hello,

I can not verify the existence of some TestID`s in some components themselves. What can it be? I already went from props but it does not work.

[2019-06-03 13:02] #1424 closed

[2019-06-03 16:21] LeoNatan commented on #1422
[code]
I see from the log that you are trying to use `openURL` and then your test fails. But I don't see any sync blocks. So it's something on your end. The app seems idle.

[2019-06-03 16:52] jeromecornet commented on #1422
Thanks for looking into it @LeoNatan.
What I don't understand is that both scenarios fail (not just openUrl):
- reloadApp() which calls device.launchApp({ url, ...others})
- device.launchApp({...others}), then device.openUrl({url})

The project was just created with expo init and displays the welcome screen, so there is no real code that can fail at that level. When you say 'something on your end'

[2019-06-03 16:55] jeromecornet commented on #1422
Also (this may be useful info) I have no problem using detox on the standalone built app that is generated from that project, only when trying to use detox with the expo client itself.

[2019-06-03 17:03] LeoNatan commented on #1422
My guess would be the tests, since I don't see the app being stuck in sync issues...

[2019-06-03 22:57] jeromecornet commented on #1422
Mhhh, I'm not sure what part of the test it could be:
the `init.js` file is straight out of `detox init -r jest` and
- the first test fails on the first line `await reloadApp();`
https://github.com/jeromecornet/expotest/blob/acf82781c7bc4587a8a25359e0140929ecb6a6e9/e2e/firstTest.spec.js#L7
- to make sure it isn't something weird that `detox-expo-helpers` would do, the second test fails on `await d

[2019-06-03 23:48] jeromecornet commented on #853
FYI I believe that the code in #1404 fixes this (although it raises question on the parameter name)

[2019-06-04 08:25] rotemmiz opened #1427 "Occasional ECONNREFUSED connecting to emulator via telnet"
**Describe the bug**
Every now and then we get a `ECONNREFUSED 127.0.0.1:23`, trying to connect to the android emulator in the internal CI's.

In the standard case, we expect for the device list to be as follows:
[code]
...in which case we should connect to the device via the `5554` port rather than via `23`. Yet something happens and we fall back to the `23` default.

As the emulator is listening

[2019-06-04 11:56] noomorph commented on #1427
@rotemmiz, in fact, those lines go to stderr:
[code]
So, technically, I see no difference (stdout-wise) between your first and second example.

[2019-06-04 13:17] LeoNatan commented on #1422
I am sorry, I am not familiar with expo at all. But it seems like the app is running, and I don't see anything in the log that shows me that detox is stuck in sync. Could you maybe set the sync print to something like 200 rather than 3000? But again, 3000 should still be enough to see if it is stuck.

[2019-06-04 16:18] dsobkow opened #1429 "Detox won't run Android tests"
We are having some trouble getting our Android tests to run using Detox.

We have created a complete new react native project with exactly the same dependencies and package.json structure as the Detox Jest example.

We are able to build the android packages using ```npm run build:android-debug``` and run the tests using ```npm run test:android-debug```.

During the execution we have noticed an ```

[2019-06-04 16:18] #1429 closed

[2019-06-04 16:30] tomas-petrovcin commented on #1422
It actually does the same in ejected app

[2019-06-05 07:11] LeoNatan commented on #1422
Sorry guys, I don’t know how to debug this. If someone is willing to step up and help, it would be greatly appreciated.

[2019-06-05 10:26] LeoNatan commented on #1024
:)

[2019-06-05 18:18] Srutherford2407 commented on #237
I am looking to dive into this and willing to add some examples for the cucumber test. I had a question regarding the how to run detox with the cucumber set up. Getting Detox test to look for cucumber IE the feature files etc to run. I think that was @AntaninaKaltsova question.

[2019-06-05 19:19] Srutherford2407 commented on #237
I actually figured this out, I will post a link to the updated example using Cucumber and Detox.

The only thing it is currently missing is the console print log that you currently see for the `it` statements for the `Given, When, Then`

[2019-06-06 04:13] brookemitchell commented on #1422
Our detox with expo tests stopped working after detox 12.3.0. Thanks for the minimal example, I can try and confirm tomorrow and offer something useful or confirm

[2019-06-06 13:55] noomorph commented on #1386
Shall we close it? Anyways, the `detox/test` e2e project moved to Jest.

[2019-06-06 13:57] LeoNatan commented on #1386
No, because this is a real issue in the detox CLI, unrelated to mocha or jest.

[2019-06-06 14:08] JanithaR opened #1434 "Can the device.setLocation() be used per test?"
Imagine a screen where there's a list of buildings with distance to them shown from the device's current location. This list calculates the distance on the mount and only on refresh.

This is how I have written this test,
[code]

This test succeeds,
[code]

Then I want to simulate moving closer to that building and then the user refreshing the list. So,
[code]

In this case, the distance is report

[2019-06-06 14:08] #1434 closed

[2019-06-06 14:16] rotemmiz commented on #1427
Then maybe its due to the fact that the output is not buffered, and so `stdout` has only one line?
`List of devices attached`

[2019-06-06 14:21] lukaszfryc opened #1435 "Test stalls despite synchronization turned off. Detox: UIManagerModule is busy."
**Describe the bug**
After a few successful steps, the test pauses before executing the next `.tap()` action. Android logcat shows `I Detox   : UIManagerModule is busy.`.

I run my test with `await device.disableSynchronization();`. Why is the execution stopped?

[code]

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

**Environment (please comp

[2019-06-06 14:24] noomorph commented on #1427
@rotemmiz, not likely. Exec waits till the app termination. Why are you sure it has to do with "when daemon starts"? I could not reproduce this issue by just doing what you described in the steps to reproduce.

[2019-06-06 14:54] Srutherford2407 commented on #237
@AntaninaKaltsova @byronpople  @evanjmg
Added an example for cucumber with IOS Native
https://github.com/Srutherford2407/Detox-Cucumber-Example

[2019-06-08 16:33] wilau2 commented on #1383
@roeycollignon can you be a bit more specific in the versions you upgraded to. I seem to experience the same issue.

[2019-06-09 18:14] #1398 closed

[2019-06-10 08:20] d4vidi commented on #1386
@LeoNatan wouldn't it be better to create a more specific issue, now that we've stopped using `nyc`?

[2019-06-10 08:21] LeoNatan commented on #1386
If you want to close this and create another one, sure. Or you can just change the title of this one.

[2019-06-10 16:37] aarshaw commented on #1422
Was anyone able to find a workaround for this? or a version of detox where it works?

[2019-06-11 15:36] ReshmiCode opened #1439 "Postinstall Script Fails"
**Description**
When I run `npm install detox --save-dev` on a macOS, it fails with the error:
`+ /Users/QAintern/Desktop/DetoxTest/node_modules/detox/scripts/build_universal_framework.sh /Users/QAintern/Desktop/DetoxTest/node_modules/detox/ios_src/Detox.xcodeproj /Users/QAintern/Library/Detox/ios/838672ab85f4c137dfaefa7196bfa8017ef67812
child_process.js:637
    throw err;
    ^

Error: Command fa

[2019-06-11 15:37] #1439 closed

[2019-06-11 22:04] ReshmiCode opened #1441 "Regex For Matchers"
**Is your feature request related to a problem? Please describe.**
When searching for an element with long text, I'd like to keep the test file less cluttered.

**Describe the solution you'd like**
Matchers such as by.text are able to take regular expressions or parts of the desired text.

[2019-06-11 23:49] witalobenicio opened #1442 "Not executing tests while permission dialog is visible."
**Describe the bug**
I'm using OneSignal to handle my RN app notifications, and I show request permission dialog right before the `Navigation.startSingleScreen()` method from `react-native-navigation`.
When I'm with the dialog visible on screen, my tests do not run. If I manually click on accept, my tests run ok.

**To Reproduce**

- [YES] I have tested this issue on the latest Detox release and i

[2019-06-12 12:12] noomorph commented on #1442
Have you tried launching your app with [permissions](https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#2-set-runtime-permissions)?

[2019-06-12 12:19] witalobenicio commented on #1442
@noomorph how can I do that?

[2019-06-12 14:13] ReshmiCode opened #1444 "Taps Not Working on Simulator"
**Describe the bug**
When the tap method is called, Detox attempts to tap the button (as the circle shows up) but nothing happens. If instead of tap I use multiTap(2) the button works correctly. If I click on the button on the simulator the button works correctly so tap should as well.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

**Environm

[2019-06-12 18:04] LeoNatan commented on #1441
This will probably not work with the framework we use on iOS (Earl Grey). Creating the matches on our own in order to support this is not something we will do.

[2019-06-12 18:05] #1442 closed

[2019-06-12 18:06] LeoNatan commented on #1444
Not sure what you expects us to do here. This is most likely a problem on your end, rather than Detox. Create a new, clean project, try to reproduce it, and if you can, please attach that project here.

[2019-06-12 18:12] ReshmiCode commented on #1444
@LeoNatan doesn't the tap function mimic the same thing as when I press on a button through the simulator? Why would one work but not the other?
It's not the problem of getting the wrong element because multiTap is able to replace tap and work.

[2019-06-12 18:12] LeoNatan commented on #1441
As you can see, we use Earl Grey here:
https://github.com/wix/Detox/blob/master/detox/ios/Detox/GREYMatchers%2BDetox.m
and sadly there are no matchers for regular expressions:
https://github.com/google/EarlGrey/blob/master/EarlGrey/Matcher/GREYMatchers.h

[2019-06-12 18:12] #1441 closed

[2019-06-12 18:14] LeoNatan commented on #1444
Touch events are generated using the same low-level system API as normal events are reported to the app. Since you mentioned that the touch indicator circle shows up when you `tap()`, that means the system has correctly sent the touch events. This is why I suspect a problem on your end, rather than in Detox.

[2019-06-12 18:41] ReshmiCode commented on #1444
@LeoNatan Could it have anything to do with it being the second instance of the button on the screen?
[code]
If not, since tap seems to work with other elements I'll just leave multiTap.

[2019-06-12 18:53] LeoNatan commented on #1444
Why not add a testID and match `by.id()`?

[2019-06-12 19:05] ReshmiCode commented on #1444
@LeoNatan I tried switching it to id and tap still doesn't work.

[2019-06-12 19:15] LeoNatan commented on #1444
If you see the circle touch indicator, the tap works. Your app doesn't respond to it.

[2019-06-12 19:16] LeoNatan commented on #1444
I will please direct you to Stack Overflow for more assistance, as there is not much else we can do here.

[2019-06-12 19:16] #1444 closed

[2019-06-12 19:48] witalobenicio commented on #1442
@noomorph it didn't work. Because my app is launched, dialog permission is shown, then if I allow, my tests init and `device.launchApp` is called.

[2019-06-12 21:04] rotemmiz commented on #1442
You can control app initialization on init with

[code]

https://github.com/wix/Detox/blob/master/docs/APIRef.DetoxObjectAPI.md#controlling-first-app-intialization

[2019-06-12 21:13] LeoNatan opened #1445 "Move process.log into a single file in the root of the artifacts folder"
As discussed offline, the logic should just output all process logs into a single process.log, rather than cutting it into chunks (with potential to mess up).

~The predicate should be changed into `process==$processName`, where processName is taken before start from the `CFBundleExecutable` Info.plist of the .app specified in package.json.~

[2019-06-12 21:16] LeoNatan opened #1446 "Create a watchdog for process launch"
As discussed offline, we should create a watchdog-type solution, where when a new process is launched, we wait ~10 seconds for the detox-server to send notice that the client process connected. Otherwise, fail the test.

This is to fix issues where apps crash during launch but before the crash handling code in Detox is able to run (usually during dynamic loader phase), such as what @viktorijasujet

[2019-06-13 05:40] bladey commented on #1422
Confirming 12.3.0 fixes the issue for me, don't have any solutions at this time.

[2019-06-13 11:55] Praveencena88 opened #1447 "No instrumentation runner found on device emulator-5554 for package com.serviceguideext_test"
detox[18992] DEBUG: [exec.js/EXEC_CMD, #13] C:\Users\praveen.kumar.b.ext\AppData\Local\Android\Sdk\platform-tools\adb -s emulator-5554 shell "pm list instrumentation"
detox[18992] TRACE: [exec.js/EXEC_SUCCESS, #13] instrumentation:com.android.emulator.smoketests/android.support.test.runner.AndroidJUnitRunner (target=com.android.emulator.smoketests)
instrumentation:com.serviceguide_test.test/androi

[2019-06-13 11:55] #1447 closed

[2019-06-13 12:58] hoffmabc commented on #1395
I believe you just need to install the updated Xcode software tools. I did this through the App Store and it started working again.

[2019-06-13 13:13] LeoNatan commented on #1395
There was a bug in applesimutils. Please try with last applesimutils.

[2019-06-13 22:48] funador commented on #1288
@LeoNatan Been having the same problem as well. Here is a repo with a minimal reproduction: https://github.com/funador/detox-firebase

For the `FIREBASE_API_KEY` variable combine these three strings: `AIzaSyCN7DQssZt` , `gztwd5wNTFWIi-t` , `yyR73E_zs` https://github.com/funador/detox-firebase/blob/aca8d8ccb99d0772b6eb436cebd3544de1917747/firebase.js#L3

Basically, detox never exits the init as des

[2019-06-13 23:15] LeoNatan commented on #1288
@funador What do you see on screen in the simulator when Detox is stuck? Is the app front and interactive (can you tap on elements)?

Can you please follow the guide here:
https://github.com/wix/Detox/blob/master/docs/Guide.DebuggingInXcode.md

And post the console output from Xcode?

Thanks

[2019-06-13 23:37] funador commented on #1288
@LeoNatan same behavior as above. I have full interaction with the application whether the app is connected to Firebase or not.

### Output when connected to Firebase:

[code]

### Output when not connected to firebase:
comment out `componentDidMount`

[code]

[2019-06-13 23:39] LeoNatan commented on #1288
Please provide the log from within Xcode, not the Detox log.

[2019-06-13 23:59] LeoNatan opened #1449 "Table of contents in documentation"
Right now we have these ToCs on each documentation page for the "website", but that website is outdated, to say the least, and completely broken: http://wix.github.io/Detox/ (if there is another site, I don't see it linked anywhere). Meanwhile, documentation pages on github.com look ugly.

I want to remove these ToCs from the doc pages. If possible, I'll also remove the website generation.

CC @ro

[2019-06-14 00:08] funador commented on #1288
@LeoNatan these are the logs from `Console.app` for the device. I can't see where logs are available directly in Xcode

[code]

[2019-06-14 00:10] LeoNatan commented on #1288
None of these help me.
After following the guide I linked above, you run the app by clicking Run in Xcode. In the bottom, a new pane opens, which has probably two sections. The log is on the right section of this bottom pane.

[2019-06-14 00:14] funador commented on #1288
Appreciate your patience :) are these what you are looking for?

[code]

[2019-06-14 00:18] jasonhealy opened #1450 "Detox tests don't run in Android release mode - React Native 0.59"
**Describe the bug**
Detox does not run test in Android release mode. Latest versions of both Detox + React Native. The test will hang until it hits the jest timeout and then fail.

**To Reproduce**
Create a clean install of the latest react native. Set up detox. Everything works except for release mode in Android. See example repo where issue is reproduced:
https://github.com/jasonhealy/react-nat

[2019-06-14 00:18] LeoNatan commented on #1288
Yes, that is what I was looking for, thanks.

Last line says `2019-06-13 19:13:21.285797-0500 HelloDetox[85511:4248779] [WebSocket] Action Sent: ready` which means Detox has found an idle moment and sends `ready` to the tester process. Is this all the log you get?

[2019-06-14 00:23] funador commented on #1288
Yeah sorry, this must have come in after. But that is definitely the end of the logs.

[code]

[2019-06-14 00:25] funador commented on #1288
Perhaps this line is relevant?

`2019-06-13 19:13:21.159060-0500`

Looks like it is failing on a Firebase action.

[2019-06-14 00:26] LeoNatan commented on #1288
OK, so please, when your logs stop moving, right above the log section, there is a navigation bar, and there should be a pause button. No, at the bottom of the log, you should see `(lldb) `. Type there `bt` and post the result here.

[2019-06-14 00:31] funador commented on #1288
[code]

[2019-06-14 00:32] LeoNatan commented on #1288
Hm seems normal.
The FB request fails, but that shouldn't break Detox.

[2019-06-14 00:35] funador commented on #1288
I mean.. I don't know either :) this is a scaled down version of our project with the just the minimum bits needed to reproduce. Appreciate any insight you can provide.

[2019-06-14 11:15] sergiomap opened #1451 "Add configuration options (width, height) for video artifacts"
On Android the video recording is empty if the screen resolution is set to 1440x2960. If I set the resolution to 1080x1920 the video is fine.

[2019-06-14 12:38] Villar74 commented on #1450
i have the same problem

[2019-06-14 14:25] noomorph commented on #1451
Hello, @sergiomap!
Thanks for the report.

Could you manually experiment with various CLI parameters here and report what worked out for you?
http://adbshell.com/commands/adb-shell-screenrecord

[2019-06-16 10:42] #1392 closed

[2019-06-16 13:35] jiteshwadia opened #1454 "Getting app binary not found error after running detox test"
Trying to integrate detox first time and got below error after `detox test` command:

**Error:**

[code]

**e2e - init.js file**

[code]

**Package.json file**

[code]

**firstTest.Spec.js file**

[code]

What I did but could not succeed:
- Tried changing 'iPhone X' to 'iPhone 6/7'
- Cleaning build via Xcode
- Deleting build folder of iOS/
- Creating new project again.

Version:
Xcode: 10.2.1
node

[2019-06-16 13:35] #1454 closed

[2019-06-16 17:41] d4vidi commented on #1427
@noomorph I've verified what you're saying, indeed you are right. Which means we don't know the cause for telnet issues but we do know they seem to pop up every now and then.
Please review my PR which aims at collecting more info rather than fixing this.

[2019-06-16 23:53] campbellbrobbel opened #1455 "Cannot find module @jest/reporters when running 'detox test'"
Having some trouble getting Detox setup in my React Native project.
My project configuration is as follows:

MacOS Version: 10.14.14
Xcode 10.2.1
Command Line Tools: Version 10.2.1

package.json:
[code]

Originally I was getting the following errors occurring after installing Jest and Detox as per the instructions in the Setup Guide:
![image](https://user-images.githubusercontent.com/23446206/5957

[2019-06-16 23:53] #1455 closed

[2019-06-17 08:33] swabbass opened #1456 "App is not installed on simulator in detox 12.11.0"
**Describe the bug**
Some test suits are failing because of the app isn't installed on the simulator
**To Reproduce**
just run 12.11.0
- [x ] I have tested this issue on the latest Detox release and it still reproduces

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
https://imgur.com/BFFKt3p
https://imgur.com/engzM4g
**Environment (please com

[2019-06-17 08:37] LeoNatan commented on #1456
Thanks Ward!

Looking at the log, there was no `xcrun simctl install` call at all, which explains why the system complains. Going back to a previous version worked.

[2019-06-17 08:38] LeoNatan commented on #1456
@noomorph

[2019-06-17 11:21] LeoNatan commented on #1451
Could this be a limitation of the recording system?

[2019-06-17 11:26] noomorph commented on #1451
It's a third party issue (depends on emulator, adb shell screenrecord, etc), I am just trying to figure out how can Detox help to alleviate that.

[2019-06-17 11:28] noomorph commented on #1455
I am not sure if the latest Detox codebase was tested against Jest 23. Try upgrading to Jest 24.

[2019-06-17 11:28] sergiomap commented on #1451
I tried to run:
`adb shell screenrecord sdcard/demo2.mp4 --size 1440x2960`

and got the error:

Unable to get output buffers (err=-38)
Encoder failed (err=-38)

[2019-06-17 11:35] noomorph commented on #1451
@sergiomap, please try other resolutions with the same aspect ratio (18:37), it is interesting to know if a smaller resolution below FullHD is going to work out.

[2019-06-17 15:41] sergiomap commented on #1451
Nop, didn't worked.
I just managed put it working with 16:9.

[2019-06-17 20:10] mglaze opened #1457 "Detox hangs on "Trying permissions" on CircleCI"
**Describe the bug**
Attempting to run tests on CircleCI results in a timeout in the beforeAll hook. Logs reveal the last successful entry is "Trying permissions".

I set the following in my `init.js`:

[code]
Works perfectly locally with the same environment settings.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

**Environment (please compl

[2019-06-17 21:50] joshuapinter commented on #1220
This is definitely still relevant as it essentially prevents the use of Detox on Brownfield applications.

[2019-06-17 22:15] ReshmiCode opened #1458 "Second Test File Causing Issues"
**Describe the bug**
I have two test files. One has 3 tests and the other has one. The app is not being reloaded between tests from different files. The first three tests run, then the one from the other file runs before the app gets refreshed. After this, the original three test cases run again.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

[2019-06-18 06:20] peterjuras commented on #1457
I'm facing the same issue. Our circleci build is running on Xcode 10.1.0, otherwise similar config to @mglaze

[2019-06-18 09:09] IlarionHalushka commented on #1457
Same here. Worked fine one\two weeks ago and without changing any configurations - fails with timeout on  "Trying permissions".
Circle CI config: https://github.com/RocketChat/Rocket.Chat.ReactNative/blob/37db977a22ad3da43ddd31d712e531bf8cc9ee41/.circleci/config.yml#L45
Circle CI job logs: https://circleci.com/gh/RocketChat/Rocket.Chat.ReactNative/8810

[2019-06-18 09:47] thabemmz commented on #1457
I ran into the same issue. Upgrading Detox to version `12.11.1`, which has been released 4 days ago, fixed the issue for me. It apparently had to do with an old API of AppleSimUtils being used (see https://github.com/wix/Detox/releases/tag/12.11.1).

Hope this fixes your issues as well.

[2019-06-18 11:00] IlarionHalushka commented on #1457
@thabemmz thanks! Upgrading detox to 12.11.1 solved the issue

[2019-06-18 13:17] noomorph opened #1460 "bug: timeout error on detox.cleanup() if an app had been terminated earlier in a test"
**Describe the bug**

Detox hangs up (both for Mocha and Jest, iOS and Android) if an app is terminated inside a test.
That leads to a timeout error on `await detox.cleanup()`.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

Check out branch: https://github.com/wix/Detox/tree/noomorph/fix/cleanup-terminated-app
Run: `npx detox test -c android.

[2019-06-18 13:47] ReshmiCode commented on #1458
It was happening because I imported and ran a function from the other test file.

[2019-06-18 13:47] #1458 closed

[2019-06-18 17:48] sergiomap commented on #1451
Do you have some way to record the video in a different resolution of the emulator using Detox? I mean, change the adb shell record or using other parameter.

[2019-06-18 18:11] LeoNatan commented on #1457
Why is the "I have tested this issue on the latest Detox release and it still reproduces" checkbox ticked if it clearly isn't the case?

[2019-06-18 18:11] #1457 closed

[2019-06-18 21:54] ReshmiCode opened #1461 "cannot use Swipe along with atIndex"
**Describe the bug**
You get thrown a multiple match error even when using atIndex with a swipe only on iOS. On Android it works.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

The line is
[code]

**Environment (please complete the following information):**
Detox: 12.11.0
React Native: 0.59.8
Node: 10.15.3
Device: iPhone 7
Xcode: 10.2.1
iOS:

[2019-06-19 06:56] d4vidi commented on #1220
In a nutshell, seems that we do not properly support unpure RN apps.
Nevertheless I currently find it hard to account for when we _could_ be so. I'll do my best to prioritize this.

[2019-06-19 09:05] sergiomap opened #1462 "typeText() performs a long tap"
On Android when I use typeText('text') it performs maybe a long tap because it shows 'paste' before type 'text'.
I assume that you have some tap interaction behind the typeText that is causing this behavior.

<img width="341" alt="Screenshot 2019-06-19 at 10 03 36" src="https://user-images.githubusercontent.com/7563909/59752108-a648d580-9279-11e9-9844-307f4c806400.png">

[2019-06-19 11:32] d4vidi opened #1463 "(Android) optimize waitFor() + toBeNotVisible() + withTimeout() combo"
**Describe the bug**

On android, waiting for an element to be _not_ visible, as performed by [this e2e](https://github.com/wix/Detox/blob/c5c8a519d36356bacdaafdc2aca3cfcb50e4d85c/detox/test/e2e/05.waitfor.test.js#L17), isn't optimal: it firsts waits for the timeout to expire, then performs the matching validations.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and

[2019-06-19 13:46] RyanThomas73 commented on #1185
Hi @rotemmiz

The most common example I have of this that are problematic to me are custom dialog components that use absolute positioning to cover the screen. I'll reach a point in my test where I need to confirm that my view hierarchy is in a certain state (e.g. the login form is in the hierarchy) but all of the views in the screen are completely covered by the absolute positioned views that com

[2019-06-19 18:46] LeoNatan commented on #1461
Please provide a clean project where this reproduces. I've seen this issue before, but nobody has been able to provide a clean (`react-native init`, no expo) project with this reproducing. Thanks

[2019-06-19 23:42] hammadj commented on #1331
@noomorph The solution by @sbycrosz works really well! Any way we can integrate it into detox itself?

[2019-06-20 03:18] noomorph commented on #1331
@hammadj, must have been fallen between the cracks, sorry. Looks interesting, I'll look closer.

[2019-06-20 03:43] joshuapinter commented on #1220
Thanks, @d4vidi. We had to use Appium for now but would still be interested in Detox down the road.

Cheers!

[2019-06-20 11:54] ryzizub opened #1466 "Using typescript, testMatch"
I update my jest detox tests to typescrip using this [guide](https://github.com/wix/Detox/pull/1001/commits/9eac5e340b72be1568a61e24b382f491ba7d82d3?short_path=cbce23a#diff-cbce23a2224d07fab5f34087ff6a317c) but when i do `detox test -c android.emu.dev` it will says
[code]

[2019-06-20 11:54] #1466 closed

[2019-06-20 12:50] #1409 closed

[2019-06-21 09:20] jmporchet commented on #1422
You mean downgrading to 12.3.0 makes the issue go away?
I can still reproduce this bug on 12.11.0 myself. Still have to test with 12.11.1, but based on the [commits since then](https://github.com/wix/Detox/compare/12.11.0...master) I'not expecting this to work.

[2019-06-21 10:31] noomorph commented on #1119
Resolved by #1378 .

[2019-06-21 10:31] #1119 closed

[2019-06-21 10:49] noomorph commented on #1460
Resolved in 12.11.2

[2019-06-21 10:49] #1460 closed

[2019-06-21 10:52] karthkv opened #1468 "Unable to select the date from the ios native date picker using detox"
![Ios Native calender-min](https://user-images.githubusercontent.com/15605337/59917853-af37d380-9440-11e9-8193-180e75b4717f.png)

I had tried with the below code but its not working....!

Can any one help on the below calendar to select the date, using #detox

Have explored on the element type and setTocoloumn with the below links but didn't worked.

https://github.com/wix/detox/issues/798
https:/

[2019-06-21 10:52] #1468 closed

[2019-06-21 10:56] noomorph commented on #1468
Look into Detox e2e tests suite, there is an example on how to work with the picker

[2019-06-21 12:05] karthkv commented on #1468
Yeah it worked....Thank you..!

[2019-06-21 16:58] djangofan opened #1469 "Can't find a simulator to match with..."
**Description**
A clear and concise description of what the bug is. If you are seeing a regression, try to provide the last known version where the issue did not reproduce.

Using the Ignite-CLI Bowser template,  when I try to run `yarn test:e2e`  (while I have a iPhone X simulator running;  I have Xcode 10.2.1, applesimutils 0.6.8),   I get this error.  NOTE: When I run `xcrun simctl list`, the o

[2019-06-21 17:18] #1469 closed

[2019-06-22 21:27] yaron1m commented on #1422
This also happens to me - Expo only works with detox 12.3.0.
I made a sample project - this may help who ever is trying to solve this:
[https://github.com/yaron1m/expo-detox-typescript-example](https://github.com/yaron1m/expo-detox-typescript-example)

[2019-06-23 08:47] d4vidi commented on #1427
@noomorph @rotemmiz I've retrofitted the description to fit better to what we know now.

[2019-06-23 09:28] noomorph commented on #1427
Please open then :)

[2019-06-23 15:55] d4vidi commented on #1463
@viktorijasujetaite I'm sure you'd be happy if this is fixed, as well

[2019-06-23 18:01] funador commented on #1288
For anyone stumbling across this, #1383 also shows Detox hanging when using firebase modules. So there might be an actual problem.

Appium/Firebase works with the sample app (https://github.com/funador/detox-firebase) I put together. Appium is quite painful to set up, but it does work with Firebase.

I ended up running with [Cavy](https://github.com/pixielabs/cavy/), which lacks a large chunk of t

[2019-06-23 18:34] LeoNatan commented on #1288
I have not been able to look at this. Hope to do it soon. Please do not delete that repo.

[2019-06-23 18:36] funador commented on #1288
For sure, will leave it up. Thanks @LeoNatan

[2019-06-23 18:37] LeoNatan commented on #1288
Thanks

[2019-06-24 01:16] dwilt commented on #1393
Any updates on this? We are trying to get detox running in CircleCI and are running into this same issue.

[2019-06-24 03:20] LeoNatan commented on #1393
I’ll take a look soon.

[2019-06-24 04:21] dwilt commented on #1393
Thanks @LeoNatan. I've worked around it via https://github.com/wix/Detox/issues/39#issuecomment-323515694

[2019-06-24 11:05] #1338 closed

[2019-06-24 11:38] LeoNatan commented on #1288
I found the issue. It's not an issue, but a feature 😀

The "problem":

[code]
And infinite connection open to that URL. for which Detox waits indefinitely.

The solution is to add this domain to the URL blacklist:

https://github.com/wix/detox/blob/master/docs/APIRef.DeviceObjectAPI.md#deviceseturlblacklisturls

Closing the issue as not a bug.

[2019-06-24 11:38] #1288 closed

[2019-06-24 11:39] LeoNatan commented on #1288
The above output was generated using debug code, but it should have been visible with `--debug-synchronization 200`.

[2019-06-24 12:52] LeoNatan commented on #1393
Guys, the more I think about it, the more it doesn't make sense to me.

`ConnectHardwareKeyboard` is only used by the Simulator app. Since we are talking about a headless boot, it shouldn't be read at all and the hardware keyboard should always be disconnected.

[2019-06-24 13:36] #1463 closed

[2019-06-24 14:14] LeoNatan commented on #1449
Fixed.

[2019-06-24 14:14] #1449 closed

[2019-06-24 14:19] funador commented on #1288
Awesome, thanks so much @LeoNatan, will give that a shot.

[2019-06-24 15:03] dwilt commented on #1393
That sounds good to me. Are you suggesting persisting it to being disconnected?

[2019-06-24 15:21] LeoNatan commented on #1393
I am suggesting that it is irrelevant in headless simulators.

[2019-06-24 15:28] dwilt commented on #1393
Well, it's causing an issue since the soft keyboard is disabled (and doesn't show) because the hardware one is enabled (even though it's a sim). What are you suggesting is the fix?

[2019-06-24 15:32] LeoNatan commented on #1393
Why did you decide that it's the hardware keyboard?
Have you tried taking a screenshot to make sure that keyboard doesn't indeed show? You can call [`device.takeScreenshot(name)`](https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#devicetakescreenshotname) after tapping on a text field but before trying to type. Please see if the keyboard is shown or not.

[2019-06-24 15:33] dwilt commented on #1393
Yea, let me take a video showing my screen. Will share in a second.

On Mon, Jun 24, 2019 at 8:32 AM Leo Natan <notifications@github.com> wrote:

[2019-06-24 15:54] dwilt commented on #1393
hey Leo, just looking into [how to take a screenshot](https://github.com/wix/Detox/blob/master/docs/APIRef.Artifacts.md#enabling-artifacts) now and realizing it's bit involved and since I'm pretty new to CircleCI, it might take me a while.

In the meantime, what I can say is that the errors that are showing up for me in CircleCI seem to indicate that the issue is that the soft keyboard isn't showi

[2019-06-24 16:00] LeoNatan commented on #1393
But what you are describing is the Simulator.app behavior. That’s different than the simulator runtime. Detox does not launch the app, it only boots the runtime.

To really test, kill your Simulator.app and shutdown all runtimes. Then run a detox test.

You will probably still not reproduce as we know it works. But the tests failing in CI could be many different reasons, so a screenshot would be h

[2019-06-24 16:03] dwilt commented on #1393
When you say "runtime", you mean the `xcodebuild` command, right? If I understand correctly, you mean that Detox just runs the `xcodebuild` command and it's that command that actually fires up the Simulator?

[2019-06-24 16:05] dwilt commented on #1393
BTW, I just ran the `takeScreenshot` command in CircleCI and it would seem it ran:

[code]
I just need to figure out how to access the screenshot..

[2019-06-24 16:25] LeoNatan commented on #1393
That's not the screenshot I mean. You can manually trigger a screenshot using `device.takeScreenshot(name)` in your test, so that it takes a screenshot in the right time.

I am not familiar with Circle. Do they have an artifacts folder where you can put stuff and they appear at the end?

[2019-06-24 16:27] LeoNatan commented on #1393
No. I mean simulator runtime.

When you `xcrun simctl boot`, it's the simulator runtime (OS process and daemons) that are launched, not the Simulator.app, which is used for interaction with the simulator runtime.

`xcodebuild` is for compilation, unrelated.

[2019-06-24 17:21] dwilt commented on #1393
Oh, I thought that was showing me the folder the screenshots would be put in. Here's my code:

[code]

[2019-06-24 17:29] LeoNatan commented on #1393
I think I see a problem.

Try changing your code to
[code]

[2019-06-24 18:14] vmurillo commented on #1393
I am running into this issue when running on headless mode; type Text action fails with this message

I am launching my app like this
`beforeAll(async () => {
    // reinstall app
    await device.launchApp({ delete: true, launchArgs: { ConnectHardwareKeyboard: false } })
  })`

[2019-06-24 18:29] dwilt commented on #1393
So the `tap` really is required first? If so, that should be documented better because on the home page of the docs, it suggests you can just do `typeText` without the `tap` in front of it to make sure the keyboard pops up.

All this being said, I put together a video showing our scenario and what's going on. Let me know your thoughts.

[![detox debugging](https://img.youtube.com/vi/SF9zXSf5FH8/0.

[2019-06-24 22:07] ReshmiCode commented on #1461
@LeoNatan I've made it and it reproduces. https://github.com/ReshmiCode/Detox-Test
Although I can't verify that it works on Android because the Android Test class is throwing errors such as 'Could not find any matches for com.wix:detox'

[2019-06-24 22:38] LeoNatan commented on #1461
Thanks, I will take a look at it.

[2019-06-25 01:35] dwilt commented on #1393
Update: Something I just noticed was that when I kill the simulator that I've been testing in, the issue with the keyboard goes away. But if I re-run the test without restarting the simulator, the test will fail. Here is my test code:

[code]
Notice that I'm _not_ using a `.tap()` before using `typeText` and it still works. And what's more interesting is that when it succeeds the first time after

[2019-06-25 03:06] dwilt commented on #1393
I take that back. It seems inconsistent. Here is a screenshot FYI:

![image](https://user-images.githubusercontent.com/1065539/60066300-82432500-96bb-11e9-9c0a-61d50eeccb3c.png)

[2019-06-25 03:58] LeoNatan commented on #1393
Thanks for the video!

Tap might not be necessary. (Won't help but shouldn't cause issues.)

OK, let's address the things in the video. First, local running: since you have the Simulator.app open, indeed hiding the software keyboard with CMD+K will break the test. Tap will not be able to show the software keyboard. Everything in the video is the expected behavior when Simulator.app is running.

No

[2019-06-25 07:43] LeoNatan commented on #1254
Is this not solved by latest Earl Grey?

[2019-06-25 08:04] LeoNatan opened #1476 "Move away from Earl Grey's keyboard typing mechanism"
It is known to be buggy, finicky and limited:

https://github.com/wix/Detox/issues/1393
https://github.com/wix/Detox/issues/1254
https://github.com/wix/Detox/issues/902
https://github.com/wix/Detox/issues/677
https://github.com/google/EarlGrey/issues/31

As I proposed in https://github.com/google/EarlGrey/issues/439, I think there is a better solution than tapping actual software keyboard buttons.

[2019-06-25 08:07] LeoNatan commented on #1393
Might have a solution that will fix this issue.

[2019-06-25 15:17] IlarionHalushka commented on #1450
Same problem here. Has anybody found a solution or a work-around?

[2019-06-25 15:32] noomorph commented on #1450
I have a question to the issue reporters and upvoters:

**Are you familiar with ProGuard?**

If yes, could you check you have correct configurations? Check [demo-react-native](https://github.com/wix/Detox/tree/master/examples/demo-react-native) as a reference, as we are running e2e against RN 0.59.x in release mode on Android.

There might be extra info for you in https://github.com/wix/Detox/pull

[2019-06-25 15:36] dwilt commented on #1393
Ok, another update. All of my tests are passing on CircleCI now which is great. Not sure what changed but it's awesome.

@LeoNatan It's important to note that forcing the keyboard to show (CMD+K) in a _local_ sim is required if any of your events are using the typing. What's interesting is that my _headless_ (circle) tests are passing which sounds like where @vmurillo is having issues - so not sur

[2019-06-25 15:41] rotemmiz commented on #1393
@dwilt, an unrelated question. Were you able to run Android E2E on circle CI?

[2019-06-25 15:45] dwilt commented on #1393
Here's all of my code to share so people can see what I have working in Circle:

**e2e/firstTest.spec.js**
[code]

**.circleci/config.yml**
[code]
And a gif showing it completing locally. **AGAIN, to get these to pass, I had to make sure to enable the soft keyboard via `CMD+K`. If you quit the simulator each time, the keyboard will get reset to being disabled**
![image](https://media.aircamera.com

[2019-06-25 15:46] dwilt commented on #1393
@rotemmiz we haven't tackled Android yet :sweat_smile:

[2019-06-25 20:57] ReshmiCode opened #1479 "docs: deprecated relaunchApp is used in examples"
**Describe the bug**
Following https://github.com/wix/Detox/blob/master/docs/APIRef.MockingOpenFromURL.md, when I add `await device.relaunchApp({ url: link });` I get the error `Property 'relaunchApp' does not exist on type 'Device'. Did you mean 'launchApp'?` Is the docs incorrect?

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

**Screenshots

[2019-06-25 21:12] LeoNatan commented on #1479
`relaunchApp` is a deprecated API and should not be used. That being said, it is still in the code https://github.com/wix/Detox/blob/dde00f8bf1975b6e7a26d83801bf4c15ee9a7c75/detox/src/devices/Device.js#L126 and is tested as working in our test suites. It's a problem on your end.

[2019-06-26 01:47] LeoNatan commented on #1456
@noomorph This was solved, right? Please close if no longer relevant. Thanks

[2019-06-26 02:34] noomorph commented on #1456
Resolved via #1467

[2019-06-26 02:34] #1456 closed

[2019-06-26 02:46] LeoNatan commented on #1461
Verified as a real issue. It's a problem in JS somewhere.

[2019-06-26 02:58] noomorph commented on #1479
In other words. We should update docs to minimize examples with deprecated APIs.

[2019-06-26 03:00] LeoNatan commented on #1479
That would be good.
I see in the screenshot that it’s TypeScript. Not sure who generates these bindings, but most likely they have decided not to include the deprecated API.

[2019-06-26 04:55] #1461 closed

[2019-06-26 07:27] #1479 closed

[2019-06-26 09:28] rotemmiz opened #1483 "Add `detox.setConfig()` to be able to set different configs per test suite."
**Describe the solution you'd like**
A way to pass Detox config per suite (i.e. `detox.setConfig(config)`), specifically, install different binaries per suite.
We will also need to make sure to add an option to skip installation phase during `detox.init()`

[2019-06-26 10:09] noomorph commented on #1483
Related to https://github.com/wix/Detox/issues/1238

[2019-06-26 10:13] noomorph commented on #1403
Subtask of https://github.com/wix/Detox/issues/1238 .

[2019-06-26 10:15] noomorph commented on #1038
Not relevant, I assume.

[2019-06-26 10:15] #1038 closed

[2019-06-26 10:19] noomorph commented on #1451
@sergiomap, no, we don't have other ways at the moment.

Related to #1403
Subtask of #1238

[2019-06-26 11:25] yogeshthanvi opened #1484 "Can we create test suite for detox test"
In detox if you want to run particular test file you can do through a command prompt but If somebody want to execute a business process which includes a set of test files then its bit impossible . Also a behaviour is been observed that detox run each test file though we mention skip

[2019-06-26 11:25] #1484 closed

[2019-06-26 12:23] d4vidi commented on #757
After some investigation work, seems that this isn't really the issue. I'll open one that better describe the actual problem, soon. Closing.

[2019-06-26 12:23] #757 closed

[2019-06-26 14:30] d4vidi opened #1485 "Post-waitFor-scrolling tap event is ignored"
**Describe the bug**
On Android, sometimes when a scrolling action made for the sake of finding a list item is complete (successfully - i.e item _is_ found), the action of tapping on that item immediately thereafter is ignored.

Example:

[code]

Further notes:
- Applying an additional tap (duplicate) solves the issue.
- Adding some JS sleep-time after scrolling is resolved also solves the issue.

[2019-06-26 16:51] noomorph commented on #1331
Can't look in the nearest future, sorry, maybe on Friday but not likely. Got many other tasks at the moment.

[2019-06-26 18:19] vmurillo commented on #1393
@dwilt so it just started working magically in CircleCI? There was no change in detox config in package.json ? I am currently running tests locally a pressing cmd+K to make it work, I would like to have this running on travisCI on headless mode

[2019-06-26 18:20] LeoNatan commented on #1393
With https://github.com/wix/Detox/pull/1480 this will be solved, hopefully. I will merge it now and release a version.

[2019-06-26 18:21] #1476 closed

[2019-06-26 19:03] LeoNatan commented on #1393
Please install Detox 13.0.0 and try.

[2019-06-26 19:03] #1393 closed

[2019-06-26 19:03] LeoNatan commented on #1254
Please install Detox 13.0.0 and try.

[2019-06-26 19:03] #1254 closed

[2019-06-26 19:03] LeoNatan commented on #902
Please install Detox 13.0.0 and try.

[2019-06-26 19:03] #902 closed

[2019-06-26 19:07] dwilt commented on #1393
@vmurillo yea, not that I can tell. I did not make any changes that were specific to package.json, any detox config or config.yml (for CircleCI) that I'm aware of that would've made this work.

I'm looking back at my failed CircleCI builds and as you see above, it was regarding another issue - not the keyboard. I _was_ having keyboard issues locally and then seeing failed builds on the server and

[2019-06-26 21:05] hammadj commented on #1331
@noomorph No worries, we are using it in our project successfully, no rush to integrate right away. Thanks for your attention and support on this!

[2019-06-27 08:36] noomorph commented on #1187
@LeoNatan , is it an issue because of a URL not present in blacklist?

[2019-06-27 08:38] LeoNatan commented on #1187
Closing in favor of https://github.com/wix/Detox/issues/1422

[2019-06-27 08:38] #1187 closed

[2019-06-27 08:39] LeoNatan commented on #1187
Please see my comment there with a recommendation on how to debug this.

[2019-06-27 08:42] LeoNatan commented on #1422
Please use the new debug option documented [here](https://github.com/wix/Detox/blob/master/docs/Troubleshooting.Synchronization.md#identifying-which-synchronization-mechanism-causes-us-to-wait-too-much) to see why Detox hangs on launch.

Add the `-detoxPrintBusyIdleResources YES` launch argument.
Then use `xcrun simctl spawn booted log stream --level debug --style compact --predicate "category=='E

[2019-06-27 08:44] LeoNatan commented on #23
Closing old issues. This is out of scope.

[2019-06-27 08:44] #23 closed

[2019-06-27 08:44] LeoNatan commented on #127
Closing old issues. This is out of scope.

[2019-06-27 08:44] #127 closed

[2019-06-27 08:45] LeoNatan commented on #156
Closing old issues.

[2019-06-27 08:45] #156 closed

[2019-06-27 08:48] LeoNatan commented on #144
With the pending release of EG2.0 and not sure how that will play out inside Detox, I am closing this issue for now. There has not been much of a community engagement regarding the up-streaming of the idle resources.

[2019-06-27 08:48] #144 closed

[2019-06-27 08:49] LeoNatan commented on #175
Closing this in favor of #1238

[2019-06-27 08:49] #175 closed

[2019-06-27 08:50] LeoNatan commented on #159
Closing old issues. If something is needed, please open a new enhancement request.

[2019-06-27 08:50] #159 closed

[2019-06-27 08:50] LeoNatan commented on #207
Closing old issues. This is out of scope for the project.

[2019-06-27 08:50] #207 closed

[2019-06-27 09:00] LeoNatan commented on #518
Closing old issues. The error messages we print come directly from Earl Grey. It is out of scope for the project to try and somehow change them.

[2019-06-27 09:00] #518 closed

[2019-06-27 09:01] LeoNatan commented on #565
Out of scope for the project. If someone wants to do this, great! But we will not be able to accept it here. It should be part of a community project.

[2019-06-27 09:01] #565 closed

[2019-06-27 09:04] LeoNatan commented on #470
@noomorph Isn't this something similar to what you did?

[2019-06-27 09:07] LeoNatan commented on #251
I think this is out of scope. Closing for now.

[2019-06-27 09:07] #251 closed

[2019-06-27 09:08] LeoNatan commented on #567
Closing old issues. If this is still relevant, please open a new issue with the relevant logs from a modern version of Detox. Thanks.

[2019-06-27 09:08] #567 closed

[2019-06-27 09:09] LeoNatan commented on #569
Closing old issues. This is out of scope for this project.

[2019-06-27 09:09] #569 closed

[2019-06-27 09:11] LeoNatan commented on #629
This is an old issue and I don't think really related to Detox. Closing for now.

[2019-06-27 09:11] #629 closed

[2019-06-27 09:14] LeoNatan commented on #237
Closing old issues. I think it's best to have this as a community support, as supporting Cucumber directly is out of scope for the project.

[2019-06-27 09:14] #237 closed

[2019-06-27 09:17] LeoNatan commented on #1091
This is currently out of scope for the project. We are spread thin as it is. Closing for now.

[2019-06-27 09:17] #1091 closed

[2019-06-27 09:17] LeoNatan commented on #1050
This is out of scope for the project. This should come as a community project.

[2019-06-27 09:17] #1050 closed

[2019-06-27 09:18] LeoNatan commented on #981
@d4vidi This was implemented right? Can we close the issue?

[2019-06-27 09:19] LeoNatan commented on #706
It was updated.

[2019-06-27 09:19] #706 closed

[2019-06-27 09:19] LeoNatan commented on #688
This has not advanced as we want it to, and it seems like out of scope at this point. Closing.

[2019-06-27 09:19] #688 closed

[2019-06-27 09:22] LeoNatan commented on #637
There has been no traction on this, and as I said before, I don't see us implementing support for this. Closing. If a PR is submitted, we will be willing to consider.

[2019-06-27 09:22] #637 closed

[2019-06-27 09:23] LeoNatan commented on #810
This is an old issue. Closing. If still relevant, please reproduce on a modern version of Detox and open a new issue. Thanks

[2019-06-27 09:23] #810 closed

[2019-06-27 09:24] LeoNatan commented on #947
This is out of scope for this project. This should come as a community project.

[2019-06-27 09:24] #947 closed

[2019-06-27 09:24] #560 closed

[2019-06-27 09:26] LeoNatan commented on #589
Unfortunately, I think this is out of scope, at least for now. We just don't have the resources to even start consider a solution that would be acceptable here, let alone implement. I think it's better to keep Detox focused on what it does best.

[2019-06-27 09:26] #589 closed

[2019-06-27 09:27] LeoNatan commented on #744
I think this is out of scope for the project right now.

[2019-06-27 09:27] #744 closed

[2019-06-27 09:28] LeoNatan commented on #809
This has been implemented by @d4vidi

[2019-06-27 09:28] #809 closed

[2019-06-27 09:31] LeoNatan commented on #834
It is now possible to specify a start position for X and Y, which should alleviate this problem.

https://github.com/wix/Detox/blob/master/docs/APIRef.ActionsOnElement.md#scrollpixels-direction-startpositionxnan-startpositionynan

[2019-06-27 09:31] #834 closed

[2019-06-27 09:31] LeoNatan commented on #907
This is an old discussion and I think is out of date. Closing.

[2019-06-27 09:31] #907 closed

[2019-06-27 09:32] LeoNatan commented on #901
Closing in favor of #1238

[2019-06-27 09:32] #901 closed

[2019-06-27 09:33] LeoNatan commented on #942
I think this is out of scope for the project. Closing

[2019-06-27 09:33] #942 closed

[2019-06-27 09:34] LeoNatan commented on #1093
This is an old issue. If still relevant, please reproduce on a modern version of Detox and open a new issue.

[2019-06-27 09:34] #1093 closed

[2019-06-27 09:35] LeoNatan commented on #1181
We've introduced a workaround for this and support 0.59.x.

[2019-06-27 09:35] #1181 closed

[2019-06-27 09:37] LeoNatan commented on #1182
I don't think we've seen a reproduction of this. Closing for now.

[2019-06-27 09:37] #1182 closed

[2019-06-27 09:41] LeoNatan commented on #1172
What was the user permission? While testing CircleCI, I noticed that it was not possible to use `gem install` because the system Ruby is installed in a read-only path. Instead, I used `brew install ruby` to install a friendly version, and then `gem install` should succeed.

[2019-06-27 09:42] LeoNatan commented on #1312
Removed github_changelog_generator and the Changelog.md file from the project. The tool is outdated and broken, the resulting output is a mess due to bugs in the tool.

[2019-06-27 09:42] #1312 closed

[2019-06-27 09:43] LeoNatan commented on #1233
I think this can be closed. We support 0.59.x and there are no known serious issues anymore.

[2019-06-27 09:43] #1233 closed

[2019-06-27 09:44] LeoNatan commented on #1323
This is implemented.

[2019-06-27 09:44] #1323 closed

[2019-06-27 09:45] LeoNatan commented on #1352
@cs01 Any update on the PR? Thanks

[2019-06-27 09:54] #1395 closed

[2019-06-27 09:55] #981 closed

[2019-06-27 10:55] d4vidi commented on #981
@LeoNatan yes, see referencing issue -- #1385

[2019-06-27 10:59] LeoNatan commented on #981
For the next time, please include "Closes #..." in the PR notes so that issues are closed automatically. 🙂

[2019-06-27 11:06] d4vidi commented on #981
https://media1.tenor.com/images/e5e91360089456411ef660428fb48270/tenor.gif?itemid=9900289

[2019-06-27 11:09] LeoNatan commented on #981
🤷‍♂️😉

[2019-06-27 12:11] kristfal commented on #1450
Not running proguard, still see the issue.

[2019-06-27 12:32] jasonhealy commented on #1450
I had gone through line by line every android/gradle config from the demo app including the ProGuard settings and I still got the same results. I didn't include additional config like ProGuard in my example as I wanted a minimal example.

The docs say:

which suggest that it's not required?

It's baffling - the only major differences between a clean install and the demo is that the demo uses rn-cl

[2019-06-27 14:47] elyalvarado commented on #1476
@LeoNatan will this still show the keyboard on screen?

[2019-06-27 15:02] dantesolis opened #1486 "Unable to install the brew commands."
When trying to run the following commands:

[code]

my `homebrew`  fails with the following:

[code]

I'm running on

[code]

I tried to do `brew doctor` and `brew cleanup` but still getting the same error.

Thanks

[2019-06-27 15:02] #1486 closed

[2019-06-27 15:17] mglaze opened #1487 "Pausing Tests For Debugging"
Any suggestions for how to pause a test to debug live? Maybe via Visual Studio Code?

[2019-06-27 15:17] #1487 closed

[2019-06-27 15:28] ReshmiCode opened #1488 "Rerun Failed Tests Option"
**Is your feature request related to a problem? Please describe.**
Some tests on occasion can be flaky.

**Describe the solution you'd like**
A command that reruns just the failed tests.

[2019-06-27 16:03] cs01 commented on #1352
I have been able to make it work without the change. If I need it I will make a PR but for now I am fine closing the issue.

[2019-06-27 16:03] #1352 closed

[2019-06-27 18:21] dantesolis commented on #1486
Oooops; Thanks

[2019-06-27 23:19] LeoNatan commented on #1487
You can put a sleep in the test using something like

[code]

[2019-06-27 23:29] LeoNatan commented on #470
Closing this issue. This should come from the community.

[2019-06-27 23:29] #470 closed

[2019-06-28 03:50] noomorph commented on #1488
I believe this is out of the scope of Detox, since this feature request asks for extending a test runner functionality. Anyway, the idea sounds awesome, just need to get convinced that this is something that indeed Detox-specific.

[2019-06-28 04:16] noomorph commented on #1488
See also https://mochajs.org/#retry-tests

[2019-06-28 12:45] joaobertacchi opened #1489 "`detox test` fails because of app crash when Detox Instruments is installed"
**Describe the bug**
When Detox Instruments is installed, demo-react-native and any other apps crash just after starting `detox test -c ios.sim.debug`. Tests fails after 120s (timeout). If Detox Instruments is uninstalled, app no longer crashes and detox test works as expected.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

Provide the steps

[2019-06-28 14:49] jeromecornet commented on #1422
Thanks @LeoNatan
That log was massive so I removed consecutive duplicate lines

Here's what I got:
[code]
The output of detox test shows
[code]
So it looks like it's not detecting that the app has finished loading.

Now on the other hand, I managed to find a workaround: launch expo without any app, set the live reload blacklist then call device.openURL
This test is now passing:
https://github.com/

[2019-06-28 16:51] ashah0819 opened #1490 "detox test seems to be showing cache results instead of running a new test"
**Describe the bug**
I am trying to run detox test -c ios.sim.debug and release versions and some of the tests are failing for elements not found. While two days ago everything was working fine.

 I think it's some kind of cache results because in particular test suit, the last test case is shown as passed while previous test cases are failed. But in order to reach last test case , all previous on

[2019-06-28 19:02] ashah0819 commented on #1490
Never Mind. I found the issue. Since we are using codepush with our app it was getting mixed up with local build.

[2019-06-28 19:02] #1490 closed

[2019-06-28 21:40] uioporqwerty opened #1491 "AppCenter multiple builds"
I have a question about integrating app center with Detox. Currently I have to run the following commands to build the app and then run the tests:

[code]

This happens in the `appcenter-pre-build.sh` section. However this means that the app will be built twice, once by detox and then again by the AppCenter build process. Is there a way to stop the AppCenter process as soon as the detox tests pass

[2019-06-28 21:40] #1491 closed

[2019-06-28 21:46] LeoNatan commented on #1488
This indeed sounds like a feature of the test runner, rather than Detox.

[2019-06-28 21:46] #1488 closed

[2019-06-28 21:53] LeoNatan commented on #1489
We test this scenario in CI and it succeeds.
https://jenkins-oss.wixpress.com/view/Detox/job/detox-demo-projects-ios-59-master/

I see you are building in debug. What happens if you build in release?

[2019-06-28 22:01] LeoNatan commented on #1422
Hm, it seems the load operation is not ending and that's why it's stuck. Could be that Expo is using some RN configuration or load type that we are not familiar with.

Not sure what you mean in your workaround, but I guess it's good that it exists.

Unfortunately, as I said, I don't have the resources to debug Expo. If someone can reproduce the same loading behavior in an empty example project, I'

[2019-06-28 22:03] LeoNatan commented on #1489
Also, just to make sure, which version of Detox Instruments do you have installed?

[2019-06-29 11:55] alexpchin opened #1492 "Expo + Detox + CircleCI"
For the last two days I’ve been looking for a good setup to use Expo + Detox + CircleCI so that the app can build during the CI process.

Locally, I can get Expo + Detox to work by downloading Exponent.app and placing in bin and running expo start (in a different terminal). However, expo start is blocking in Circle CI so is there an efficient way to achieve this.

I have looked at lots of examples

[2019-06-29 11:55] #1492 closed

[2019-06-30 07:39] LeoNatan commented on #1489
I found the issue. Moving the issue to Detox Instruments.

[2019-06-30 07:57] LeoNatan commented on #1051
@fedeerbes Can you please test to see if the issue still reproduces? Thanks

[2019-06-30 09:36] robertying commented on #1422
Hi @LeoNatan, where should I add `-detoxPrintBusyIdleResources YES` argument? Using `detox test -detoxPrintBusyIdleResources YES` results in unrecognized argument error.

[2019-06-30 09:37] LeoNatan commented on #1422
That's an app launch argument, not Detox. I'll explain better in the readme.

[2019-06-30 09:43] robertying commented on #1422
@LeoNatan Thanks for the quick update ;), though I still don't quite understand where `launchApp()` means. Is it a function for `init.js`?

[2019-06-30 09:46] LeoNatan commented on #1422
See docs here:
https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#devicelaunchappparams

You can specify [not to launch in `Detox.init()`](https://github.com/wix/Detox/blob/master/docs/APIRef.DetoxObjectAPI.md#controlling-first-app-intialization) and then use `Device.launchApp()` to launch your app before tests. In that method you can specify app launch arguments.

[2019-06-30 09:56] robertying commented on #1422
I'm using bare React Native with react-native-navigation and it stuck at `await device.launchApp({
      newInstance: true,
      launchArgs: "-detoxPrintBusyIdleResources YES"
    });`.

So I guess it is not an expo-specific problem.

I'm trying to get the log out to see what's happening for my project.

[2019-06-30 10:01] LeoNatan commented on #1422
That argument alone won't help you. It prints stuff in the system log. The command needed to retrieve the information is provided in the docs.

[2019-06-30 10:05] robertying commented on #1422
After examining the doc, I assume I should use `  await device.launchApp({
      newInstance: true,
      launchArgs: {
        "-detoxPrintBusyIdleResources": "YES"
      }
    });` right?

And using `xcrun simctl spawn booted log stream --level debug --style compact --predicate "category=='EarlGreyStatistics'"` only prints the following and nothing else:

[code]

Any help would be appreciated.

[2019-06-30 10:09] LeoNatan commented on #1422
Right, I assume the Detox infra appends the `-` by itself.

[2019-06-30 10:14] robertying commented on #1422
Ok. So the logs printed after `detox test` hanging for some time are the following (they just keep repeating):

[code]

And the logs printed using `detoxPrintBusyIdleResources` are the following:

A bunch of `animateWithDuration:delay:options:animations:completion` followed by a bunch of `App State -> busy (null)` and then loop again.

[code]

It may be worth mentioning that I use animation on the

[2019-06-30 10:19] robertying commented on #1422
And I found the issue!

I use `LayoutAnimation` for the first screen and it may trick detox the app is never launched completely:

[code]

Remove the animation and it worked!

@LeoNatan I'm quite new to detox. Is there a way for JS to know if we are running a test and disable animations based on that? It would solve the issue for now. Thanks!

[2019-06-30 10:21] LeoNatan commented on #1422
Please use SrackOverflow for general usage questions. This question is specifically about Expo.

[2019-06-30 14:27] d4vidi commented on #1172
I'm not 100% sure. I'll keep that in mind if I ever revisit this.

[2019-07-01 04:14] dalley8626 opened #1494 "detox e2e with custom element(calenderlist)"
I am currently using https://www.npmjs.com/package/react-native-calendar-list, and I would like to know which is the best possible matcher for this. As i think it is a custom element, therefore I would not be able to use element(by.type('UIViewPicker')).setColumnToValue(1, '6');
Where I am currently using this method element(by.id("date-picker")).tapAtPoint({x:95, y:110});

I would like to know wh

[2019-07-01 04:14] #1494 closed

[2019-07-01 04:41] LeoNatan commented on #1362
Out of scope for this project. Please feel free to submit PRs if you want to contribute.

[2019-07-01 04:41] #1362 closed

[2019-07-01 04:43] LeoNatan commented on #802
Out of scope of the project. Please submit PR if you'd like to contribute.

[2019-07-01 04:43] #802 closed

[2019-07-01 05:23] noomorph commented on #1362
I would not necessarily agree that it is out of the scope, but I've checked the possible solutions and I can confidently say it can be done with compromises and only after configuration features land.

[2019-07-01 05:31] LeoNatan commented on #1362
The problem is we are spread too thin and too many enhancement requests. Feel free to open when you have time to implement.

[2019-07-01 13:13] kristfal commented on #1450
Just an update here: It seems like there may be an underlying environmental issue causing this. A colleague of mine is able to run tests against RN0.59, while I'm not on a project with identical setups. We'll dig deeper to see if we can find any issues.

[2019-07-01 14:26] laurentS commented on #1462
I am seeing a similar behaviour with detox `13.0.0` and `13.0.1` on android emulator running on linux.
react-native
It seems to happen before, and sometimes after the actual text entry.

See the screencast below:
![screencast_ok2](https://user-images.githubusercontent.com/1745184/60443930-1a895e80-9c14-11e9-959f-c1f2cfc7b190.gif)

and the corresponding code:

        await expect(element(by.id('si

[2019-07-01 14:30] sergiomap commented on #1462
yes, is the same behavior that I'm having.

btw, which emulator are you using, genymotion or android studio? It seems very quick compared with mine.

[2019-07-01 15:30] laurentS opened #1495 "typeText behaviour seems inconsistent"
**Describe the bug**
When running the same test code several times in a row, the resulting behaviour varies when using `typeText()`. Some runs perform as expected, others don't.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it still reproduces

I am seeing this error on the code in [this commit on mapswipe](https://github.com/mapswipe/mapswipe/commit/23577e2cc21

[2019-07-01 15:39] laurentS commented on #1462
This was made using android sdk emulator version `27.3.10-4969155 (KVM 12.0.0) - android 8.0 (Oreo) API 26`. Details of my machine are in the comment above. The screencast is roughly the speed I'm seeing on screen

[2019-07-01 15:49] LeoNatan commented on #1495
I see that the first text field is not tapped or typed into. Doesn't seem like an issue with `typeText()`.

[2019-07-01 15:56] laurentS commented on #1495
@LeoNatan I'm not sure what you mean. The code that is like this:
[code]

Do you mean that I should add a `.tap()` on the first field before `.typeText()`?

[2019-07-01 16:03] LeoNatan commented on #1495
Try tapping on each text field before typing. There might be a bug there.

[2019-07-01 16:27] laurentS commented on #1495
Thanks for your super fast replies! I tried adding taps before each `typeText` and couldn't see the bug happen again.
When I removed the taps again, I had a couple of correct runs, and then this one:
The second field is missed, and its content goes into the first one (note that I swapped 2 lines in the code, see below):
![screencast_failed](https://user-images.githubusercontent.com/1745184/6045142

[2019-07-01 16:32] LeoNatan commented on #1495
Please use `tap()` for the time being. We'll take a look at it.

[2019-07-01 16:32] LeoNatan commented on #1495
@d4vidi Could you please take a look? Seems like espresso doesn't correctly tap on elements.

[2019-07-01 16:39] laurentS commented on #1495
And one more example, where the first field is overwritten by what should go in the second one (I wonder if this could be linked to #1462):

[code]
![screencast_miss_email](https://user-images.githubusercontent.com/1745184/60452239-077f8a00-9c26-11e9-88fb-b43aebf0d8fb.gif)

After moving the code around a bit, I am getting the impression that the sequence `scroll -> type` is causing problems. I hav

[2019-07-02 07:44] revh commented on #1051
Hi, first of all thanks for the great work.

It seems that the issue still reproduces also with RN 0.59.9

`await element(by.type("UIPickerView")).setColumnToValue(0, "value");`

results in

`"Description" : "UIPickerView does not contain desired value!" `

[2019-07-02 08:56] noomorph commented on #1051
Just to make sure, I wonder how this test passes then?

https://github.com/wix/Detox/blob/bdab58681ee6fb10100d43809a9c64f9ebf294c6/detox/test/e2e/17.datePicker.test.js#L7-L11

[2019-07-02 09:09] revh commented on #1051
I can see that you are using <DatePickerIOS> Component for the test, but I got the issue with <Picker> or <PickerIOS> Components.

[2019-07-02 09:15] LeoNatan commented on #1051
`DatePickerIOS` is mapped to a `UIDatePicker`, which is a wrapper around `UIPickerView`. The same API should work with both.

[2019-07-02 09:55] revh commented on #1051
Thanks for your reply, I see your point.

I tried to add into into my project the same test as the one that @noomorph quoted and the same DatePickerIOS component and everything worked as expected.
So this let me wonder if there are any subtle differences between those two Picker and DatePickerIOS implementations.

[2019-07-02 09:57] LeoNatan commented on #1051
Hmm, I think I see the problem. Earl Grey expect the picker view to implement a data source, but the clowns in RN just implement the methods and rely on undocumented behavior of iOS. Investigating.

[2019-07-02 10:38] LeoNatan commented on #1051
I'll be providing a fix soon. As a bonus, I will also simplify setting picker values in RN date pickers (selecting by id, not by class).

[2019-07-02 11:28] jasonhealy commented on #1450
@kristfal Just to add to that. I can run the example app on the same machine without any issues.

[2019-07-02 11:55] d4vidi commented on #1495
In `13.0.1` we just had an important issue fixed related to post-scroll tapping.
Nevertheless I see that more problems still remain.
@laurentS thanks for this submission.
@viktorijasujetaite have you come across anything like this?

[2019-07-02 11:58] #1051 closed

[2019-07-02 14:12] fedeerbes commented on #1051
Hi @LeoNatan, thanks for the work you did it here. Reading the above, I'll try with the new version and let you know how it goes.

[2019-07-02 14:35] LeoNatan commented on #1051
Thanks!

[2019-07-02 14:50] revh commented on #1051
I tested the new implementation and it seems to be working properly now.
Thanks @LeoNatan 🥇 👍

[2019-07-02 17:42] denissb opened #1499 "tap behaviour not consistent when using disableSynchronization"
I have a test which uses a `WebView` to login to the application (done in a hacky way by using a text input with a button + `injectedJavaScript` as WebView instrumentation is not supported).

The problem appears because the login operation inside the `WebView` happens asynchronously and breaks the Detox synchronisation, so I have to synchronise myself manually with `disableSynchronization` and `en

[2019-07-02 17:42] #1499 closed

[2019-07-02 20:48] AlexK777 opened #1500 "scrollTo Attempts to Continue Scrolling After Reaching End of View"
**Describe the bug**
`scrollTo` continues to scroll after reaching the bottom of the `ScrollView`.

**To Reproduce**
- [x] I have tested this issue on the latest Detox release and it still reproduces

1. Use a `ScrollView` in an application.
2. Attempt to `scrollTo` in a test for android. I.e `await element(by.id('someTestId')).scrollTo('bottom');`

**Video**
You can see after reaching the bottom

[2019-07-02 21:13] AlexK777 commented on #1500
This functionality works as intended in `12.11.1`, but does not work in `12.11.2` and up. I would guess it is related to #1464

[2019-07-03 06:37] JanithaR opened #1501 "How does one go about testing an offline scenario?"
I did my fair bit of Googling and others but couldn't exactly find a reliable suggestion other than
"You have to do it manually" for this but I feel like this is a very common use case and one that must be taken into account when automating e2e tests.

A typical scenario would be, there's a button which would toggle its enabled state based on the device having an active internet connection or not.

[2019-07-03 06:38] #1501 closed

[2019-07-03 06:46] noomorph commented on #1501
@JanithaR, it is a bit tricky for iOS, AFAIC.

For Android, it looks straightforward: https://stackoverflow.com/questions/10506591/turning-airplane-mode-on-via-adb

But for iOS, the responses are less optimistic: https://stackoverflow.com/questions/4808433/is-it-possible-to-disable-the-network-in-ios-simulator

![w6ehv](https://user-images.githubusercontent.com/1962469/60569222-75879680-9d77-11e9-

[2019-07-03 06:57] JanithaR commented on #1501
Oh no, not the tinfoil solution! I cracked up when I saw that. xD

The app I'm working on is an offline-first app. So there are so many things that I must ensure that behaves as per specifications when the device is offline. And that takes way too much of my time per release.

I'm at the moment thinking of introducing a toggle button in the UI of all root level components which is linked to the sa

[2019-07-03 07:22] LeoNatan commented on #1500
@d4vidi More scrolling woes :( Can you pls take a look?

[2019-07-03 07:54] #1396 closed

[2019-07-03 08:16] d4vidi commented on #1500
Yes, I'll give this high priority. @AlexK777 I assume that by `ScrollView` you're referring to react native's implementation, right?

[2019-07-03 09:55] AlexK777 commented on #1500
Yes, that is correct.

[2019-07-03 10:26] matt-paul opened #1502 "brew install applesimutils fails - merge conflict artifacts"
The bot shut a copy of this issue (as resolved) but it doesn't appear to be resolved.

[code]

Thanks

[2019-07-03 13:58] idlework commented on #1501
We are also looking for a way to test this. And it's weird that the bot closed this issue. I see this ticket as a feature request because detox doesn't contain this functionality yet.

[2019-07-03 15:07] mtt87 opened #1503 "iOS + Android detox.init() hangs"
**Describe the bug**
Detox hangs at `detox.init(config)` so test globals like `element`, `device` etc are not defined.

The last log line is
[code]

[code]

`AFTER INIT` never happens.

I tried to run `detox test --debug-synchronization 200` then with `400` and `500` and it worked a few times, completely random.

**To Reproduce**

- [x] I have tested this issue on the latest Detox release and it s

[2019-07-03 15:10] robertherber commented on #201
This would enable so many more cases in UI testing. Would love to see this!

[2019-07-03 19:02] rotemmiz commented on #1157
The original issue was with emulators created with `avdmanager create avd` and launched through CLI, not Android Studio (issue described here https://stackoverflow.com/a/47265664/930391).

I am not sure Google has solved the issue, last time I tried this, about 6 months ago, the issue was still present on macOS. Either if its solved or not in newer version, I'd rather keep this piece of code to su

[2019-07-03 20:33] #1502 closed

[2019-07-03 20:33] LeoNatan commented on #1502
What does this have to do with Detox?

[2019-07-03 20:40] LeoNatan commented on #1503
Please follow the steps here:
https://github.com/wix/Detox/blob/master/docs/Troubleshooting.Synchronization.md#identifying-which-synchronization-mechanism-causes-us-to-wait-too-much

And post the log here. Thanks

[2019-07-03 20:43] LeoNatan commented on #1501
Guys, please take these discussions to Tack Overflow so they are much more visible. There is a reason why there is a bit closing these issues.

[2019-07-03 20:53] LeoNatan commented on #1501
As for a feature request, I’m not sure there is anything to do on iOS. The network stack is shared with the underlying Mac network stack. So I fear a feature request will help in this case.

[2019-07-04 02:11] JanithaR commented on #1501
I beg to differ. StackOverflow is helpful for sure but my last couple of questions has gone unanswered for so long, experimenting on things by myself proved to be way quicker. I bet taken 10 people from here vs StackOverflow, chances are that more people here would be interested in this because they have, is or will run into this.

With that aside, I wasn't exactly asking for a feature request but

[2019-07-04 06:44] yogeshthanvi opened #1505 "Mock distance is not getting updated until you manually trigger it"
**Describe the bug**
In my application there is list of locations gets populated and show the distance from the current location. When i use detox the distance never get populated until i reset the location mocking of simulator (Debug > Locations > apple or any ) using simulator menu.
**To Reproduce**

demo cant be provided u can take example of Airbnb

If possible, please provide a small demo pro

[2019-07-04 07:43] LeoNatan commented on #1501
Fbsimctl is not used anymore. And it can’t provide you with what you want. If you really want offline mode, pull the cable out of your Mac.

The solution here is simple. Use mocking. It’s well documented, and you can notify your code that it’s offline when it’s really not. This is something you can implement right now and no features are needed for it in Detox.

Also allow me to say that your comm

[2019-07-04 08:14] LeoNatan commented on #1505
I don't see a bug here. It's a problem in your mocking. If you need a real location, use [`device.setLocation()`](https://github.com/wix/Detox/blob/master/docs/APIRef.DeviceObjectAPI.md#devicesetlocationlat-lon).

[2019-07-04 08:14] #1505 closed

[2019-07-04 09:30] JanithaR commented on #1305
I don't see the point of having the option to select 'I need help Detox' when creating an issue.
[https://imgur.com/a/abTlKjX](url)

If you guys are too busy or out of manpower then don't let people create issues that belong to this category at all just to have that tagged and closed by a bot. It creates unnecessary confusion and misunderstanding.